openapi: 3.2.0
info:
  title: Phone Blocked List API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Blocked List
paths:
  /phone/blocked_list:
    get:
      tags:
      - Blocked List
      summary: List blocked lists
      description: "Returns all the blocked lists in an acccount. A Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers). Blocked callers will hear a generic message stating that the person they are calling is not available. \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_blocked_lists:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: listBlockedList
      parameters:
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The total number of records returned from a single API call.
        required: false
        schema:
          maximum: 100
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            Blocked list returned successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocked_list:
                    type: array
                    items:
                      type: object
                      properties:
                        block_type:
                          type: string
                          description: 'The block type.

                            `inbound`: The blocked number or numbers with the specified prefix are prevented from calling in to phone users.

                            `outbound`: The phone users  are prevented from calling the blocked number or numbers with the specified prefix.'
                          example: inbound
                          enum:
                          - inbound
                          - outbound
                          - threat
                        comment:
                          maxLength: 255
                          type: string
                          description: Comments to help you identify the blocked number or prefix.
                          example: test
                        id:
                          type: string
                          description: The unique identifier of the blocked list.
                          example: 2ypsHHwTTFK-fzZJkudYwA
                        match_type:
                          type: string
                          description: 'Whether the match type for the blocked list:


                            `phoneNumber`: Indicates that only a specific phone number that is shown in the `phone_number` field is blocked.


                            `prefix`: Indicates that all numbers starting with the prefix that is shown in the `phone_number` field are blocked.'
                          example: prefix
                          enum:
                          - phoneNumber
                          - prefix
                        phone_number:
                          maxLength: 50
                          type: string
                          description: The phone number to be blocked if you passed `phoneNumber` as the value for the `match_type` field. If you passed `prefix` as the value for the `match_type` field, provide the prefix of the phone number in the `country` field. Displayed in E164 format.
                          example: '+12055558945'
                        status:
                          type: string
                          description: "Whether the blocking is active or inactive. \n`active`: The blocked list is active.\n`inactive`: The blocked list is inactive."
                          example: active
                          enum:
                          - active
                          - inactive
                  next_page_token:
                    type: string
                    description: The next page token paginates through large result sets. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: OvrVMfenVmKgsH0SqfWQ2jgUsHFGXeanCB2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records returned from a single API call.
                    example: 30
                    default: 30
                  total_records:
                    type: integer
                    description: The total number of records found for this query.
                    example: 1
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_blocked_lists:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_blocked_lists:admin
    post:
      tags:
      - Blocked List
      summary: Create a blocked list
      description: "Creates a block list and add a number to the list. \n\nA Zoom account owner or a user with the admin privilege can block phone numbers for phone users in an account. \n\nBlocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers). \n\nBlocked callers will hear a generic message stating that the person they are calling is not available. \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:blocked_list:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: addAnumberToBlockedList
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                block_type:
                  type: string
                  description: 'Whether you want the block type to be inbound or outbound.


                    `inbound`: Pass this value to prevent the blocked number or prefix from calling into the phone users.


                    `outbound`: Pass this value to prevent phone users from calling the blocked number or prefix.'
                  example: inbound
                  enum:
                  - inbound
                  - outbound
                  - threat
                comment:
                  maxLength: 255
                  type: string
                  description: Comments to help you identify the blocked number or prefix.
                  example: test
                country:
                  maxLength: 50
                  type: string
                  description: The country information. For example, entering US or CH.
                  example: US
                match_type:
                  type: string
                  description: 'This field specifies the match type for the blocked list:


                    * `phoneNumber`: Choose this option (Phone Number Match) if you want to block a specific phone number. Provide the phone number in the `phone_number` field and the country code in the `country` field.


                    * `prefix`: Choose this option (Prefix Match) if you want to block all numbers with a specific country or an area code. Enter a phone number in the `phone_number` field and in the `country` field, enter a country code as part of the prefix.'
                  example: prefix
                  enum:
                  - phoneNumber
                  - prefix
                phone_number:
                  maxLength: 50
                  type: string
                  description: The phone number to be blocked if you passed `phoneNumber` as the value for the `match_type` field. If you passed `prefix` as the value for the `match_type` field, provide the prefix of the phone number in the `country` field.
                  example: '112'
                status:
                  type: string
                  description: 'This field enables or disables the blocking. One of the following values are allowed:


                    `active`: Keep the blocking active.


                    `inactive`: Disable the blocking.'
                  example: active
                  enum:
                  - active
                  - inactive
      responses:
        '201':
          description: '**HTTP Status Code:** `201` **Created**


            Number added to the blocked list successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the blocked list.
                    example: 2ypsHHwTTFK-fzZJkudYwA
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Invalid country. <br>\n"
        '409':
          description: "**HTTP Status Code:** `409` <br>\n Conflict  \n\n "
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:blocked_list:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:blocked_list:admin
  /phone/blocked_list/{blockedListId}:
    get:
      tags:
      - Blocked List
      summary: Get blocked list details
      description: "Returns the information about a specific blocked list. \n\nA Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers). Blocked callers will hear a generic message stating that the person they are calling is not available.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:blocked_list:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: getABlockedList
      parameters:
      - name: blockedListId
        in: path
        description: The unique identifier of the blocked list.
        required: true
        schema:
          type: string
          example: uvsOCaiDQR2M-NviKFHo0w
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            Blocked list retrieved successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  block_type:
                    type: string
                    description: 'The block type.


                      * `inbound`: The blocked number or numbers with the specifie prefix are prevented from calling in to phone users.


                      * `outbound`: The phone users  are prevented from calling the blocked number or numbers with the specified prefix.'
                    example: inbound
                    enum:
                    - inbound
                    - outbound
                    - threat
                  comment:
                    maxLength: 255
                    type: string
                    description: This field provides a comment to help you identify the blocked number or prefix.
                    example: test
                  id:
                    type: string
                    description: The blocked list ID.
                    example: 2ypsHHwTTFK-fzZJkudYwA
                  match_type:
                    type: string
                    description: 'This field indicates the match type for the blocked list. The values can be one of the following:


                      * `phoneNumber`: Indicates that only a specific phone number that is shown in the `phone_number` field is blocked.


                      * `prefix`: Indicates that all numbers starting with prefix that is shown in the `phone_number` field are blocked.'
                    example: prefix
                    enum:
                    - phoneNumber
                    - prefix
                  phone_number:
                    maxLength: 50
                    type: string
                    description: The phone number or the prefix number that is blocked based on the `match_type`. Displayed in E164 format.
                    example: '+120665558945'
                  status:
                    type: string
                    description: 'This field indicates whether the blocking is active or inactive.


                      *n`active`: The blocked list is active.


                      * `inactive`: The blocked list is inactive.'
                    example: active
                    enum:
                    - active
                    - inactive
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Blocked number (Id: {blockedListId}) does not exist. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:blocked_list:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:blocked_list:admin
    delete:
      tags:
      - Blocked List
      summary: Delete a blocked list
      description: "Deletes a blocked list, which removes the associated number from the blocked list. \n\nThe number will be unblocked after the deletion. A Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won't be able to dial those numbers).\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:blocked_list:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: deleteABlockedList
      parameters:
      - name: blockedListId
        in: path
        description: The unique identifier of the blocked list.
        required: true
        schema:
          type: string
          example: uvsOCaiDQR2M-NviKFHo0w
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Blocked list deleted successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation Failed. Blocked number (Id: {blockedListId}) does not exist. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:blocked_list:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:blocked_list:admin
    patch:
      tags:
      - Blocked List
      summary: Update a blocked list
      description: 'Updates the information in the blocked list.


        A Zoom account owner or a user with admin privilege can block phone numbers for phone users in an account. Blocked numbers can be inbound (numbers will be blocked from calling in) and outbound (phone users in your account won''t be able to dial those numbers). Blocked callers hear a generic message stating that the person they are calling is not available.


        **Prerequisites:**

        * Pro or higher account plan with Zoom phone license




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:blocked_list:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateBlockedList
      parameters:
      - name: blockedListId
        in: path
        description: Unique Identifier of the Blocked List.
        required: true
        schema:
          type: string
          example: uvsOCaiDQR2M-NviKFHo0w
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                block_type:
                  type: string
                  description: 'Whether you want the block type to be inbound or outbound.

                    `inbound`: Pass this value to prevent the blocked number or prefix from calling in to phone users.

                    `outbound`: Pass this value to prevent phone users from calling the blocked number or prefix.'
                  example: outbound
                  enum:
                  - inbound
                  - outbound
                comment:
                  maxLength: 255
                  type: string
                  description: This field enables you to make a comment to identify the blocked number or prefix.
                  example: testComment
                country:
                  maxLength: 50
                  type: string
                  description: The country information. For example, entering US or CH.
                  example: CH
                match_type:
                  type: string
                  description: 'This field specifies the match type for the blocked list:


                    * `phoneNumber`: Choose this option (Phone Number Match) if you want to block a specific phone number. Provide the phone number in the `phone_number` field and the country code in the `country` field.


                    * `prefix`: Choose this option (Prefix Match) if you want to block all numbers with a specific country or an area code. Enter a phone number in the `phone_number` field and in the `country` field, enter a country code as part of the prefix.'
                  example: prefix
                  enum:
                  - phoneNumber
                  - prefix
                phone_number:
                  maxLength: 50
                  type: string
                  description: The phone number to be blocked if you passed `phoneNumber` as the value for the `match_type` field. If you passed `prefix` as the value for the `match_type` field, provide the prefix of the phone number in the `country` field.
                  example: '113'
                status:
                  type: string
                  description: 'This field enables or disables the blocking:

                    * `active`: Keep the blocking active.

                    * `inactive`: Disable the blocking.'
                  example: inactive
                  enum:
                  - active
                  - inactive
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Blocked list updated successfully.

            '
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Invalid country. <br>\n"
        '409':
          description: "**HTTP Status Code:** `409` <br>\n Conflict  \n\n "
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:blocked_list:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:blocked_list:admin
components:
  securitySchemes:
    openapi_authorization:
      type: apiKey
      name: Authorization
      in: header
    openapi_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /
          tokenUrl: ''
          refreshUrl: ''
          scopes:
            phone:read:admin: phone:read:admin
            phone:read:list_account_settings:admin: phone:read:list_account_settings:admin
            phone:write:admin: phone:write:admin
            phone:write:customized_number:admin: phone:write:customized_number:admin
            phone:read:list_customized_number:admin: phone:read:list_customized_number:admin
            phone:delete:customized_number:admin: phone:delete:customized_number:admin
            phone:write:alert_setting:admin: phone:write:alert_setting:admin
            phone:read:list_alert_settings:admin: phone:read:list_alert_settings:admin
            phone:read:alert_setting:admin: phone:read:alert_setting:admin
            phone:patch:alert_setting:admin: phone:patch:alert_setting:admin
            phone:delete:alert_setting:admin: phone:delete:alert_setting:admin
            phone:read: phone:read
            phone:read:audio: phone:read:audio
            phone:read:audio:admin: phone:read:audio:admin
            phone:write: phone:write
            phone:delete:audio: phone:delete:audio
            phone:delete:audio:admin: phone:delete:audio:admin
            phone:update:audio: phone:update:audio
            phone:update:audio:admin: phone:update:audio:admin
            phone:read:list_audios: phone:read:list_audios
            phone:read:list_audios:admin: phone:read:list_audios:admin
            phone:write:audio: phone:write:audio
            phone:write:audio:admin: phone:write:audio:admin
            phone:write:batch_audios: phone:write:batch_audios
            phone:write:batch_audios:admin: phone:write:batch_audios:admin
            phone:read:list_auto_receptionists:admin: phone:read:list_auto_receptionists:admin
            phone:write:auto_receptionist:admin: phone:write:auto_receptionist:admin
            phone:delete:auto_receptionist:admin: phone:delete:auto_receptionist:admin
            phone:update:auto_receptionist:admin: phone:update:auto_receptionist:admin
            phone:read:auto_receptionist:admin: phone:read:auto_receptionist:admin
            phone:read:auto_receptionist_call_handling_setting:admin: phone:read:auto_receptionist_call_handling_setting:admin
            phone:update:auto_receptionist_call_handling_setting:admin: phone:update:auto_receptionist_call_handling_setting:admin
            phone:delete:auto_receptionist_number:admin: phone:delete:auto_receptionist_number:admin
            phone:write:auto_receptionist_number:admin: phone:write:auto_receptionist_number:admin
            phone:update:auto_receptionist_policy:admin: phone:update:auto_receptionist_policy:admin
            phone:read:auto_receptionist_policy:admin: phone:read:auto_receptionist_policy:admin
            phone:delete:auto_receptionist_policy:admin: phone:delete:auto_receptionist_policy:admin
            phone:write:auto_receptionist_policy:admin: phone:write:auto_receptionist_policy:admin
            phone:read:auto_receptionist_setting:admin: phone:read:auto_receptionist_setting:admin
            phone:write:auto_receptionist_setting:admin: phone:write:auto_receptionist_setting:admin
            phone:update:auto_receptionist_setting:admin: phone:update:auto_receptionist_setting:admin
            phone:delete:auto_receptionist_setting:admin: phone:delete:auto_receptionist_setting:admin
            phone:read:list_billing_accounts:admin: phone:read:list_billing_accounts:admin
            phone:read:billing_account:admin: phone:read:billing_account:admin
            phone:write:blocked_list:admin: phone:write:blocked_list:admin
            phone:read:list_blocked_lists:admin: phone:read:list_blocked_lists:admin
            phone:delete:blocked_list:admin: phone:delete:blocked_list:admin
            phone:read:blocked_list:admin: phone:read:blocked_list:admin
            phone:update:blocked_list:admin: phone:update:blocked_list:admin
            phone:read:list_call_handling_settings:admin: phone:read:list_call_handling_settings:admin
            phone:update:call_handling_setting:admin: phone:update:call_handling_setting:admin
            phone:delete:call_handling_setting:admin: phone:delete:call_handling_setting:admin
            phone:write:call_handling_setting:admin: phone:write:call_handling_setting:admin
            phone_call_log:read: phone_call_log:read
            phone_call_log:read:admin: phone_call_log:read:admin
            phone:read:call_log:admin: phone:read:call_log:admin
            phone:read:list_call_logs:admin: phone:read:list_call_logs:admin
            phone:update:call_log:admin: phone:update:call_log:admin
            phone:read:ai_call_summary: phone:read:ai_call_summary
            phone:read:ai_call_summary:admin: phone:read:ai_call_summary:admin
            phone:read:list_call_logs: phone:read:list_call_logs
            phone_call_log:write: phone_call_log:write
            phone_call_log:write:admin: phone_call_log:write:admin
            phone:delete:call_log: phone:delete:call_log
            phone:delete:call_log:admin: phone:delete:call_log:admin
            phone:read:list_call_queues:admin: phone:read:list_call_queues:admin
            phone:write:call_queue:admin: phone:write:call_queue:admin
            phone:delete:call_queue:admin: phone:delete:call_queue:admin
            phone:update:call_queue:admin: phone:update:call_queue:admin
            phone:read:call_queue:admin: phone:read:call_queue:admin
            phone:read:call_queue_call_handling_setting:admin: phone:read:call_queue_call_handling_setting:admin
            phone:update:call_queue_call_handling_setting:admin: phone:update:call_queue_call_handling_setting:admin
            phone:read:call_queue_custom_group:admin: phone:read:call_queue_custom_group:admin
            phone:write:call_queue_custom_group:admin: phone:write:call_queue_custom_group:admin
            phone:update:call_queue_custom_group:admin: phone:update:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:admin: phone:delete:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:master: phone:delete:call_queue_custom_group:master
            phone:master: phone:master
            phone:read:call_queue_custom_group:master: phone:read:call_queue_custom_group:master
            phone:write:call_queue_custom_group_member:admin: phone:write:call_queue_custom_group_member:admin
            phone:delete:call_queue_custom_group_member:admin: phone:delete:call_queue_custom_group_member:admin
            phone:write:call_queue_member:admin: phone:write:call_queue_member:admin
            phone:delete:call_queue_member:admin: phone:delete:call_queue_member:admin
            phone:read:list_call_queue_members:admin: phone:read:list_call_queue_members:admin
            phone:write:call_queue_number:admin: phone:write:call_queue_number:admin
            phone:delete:call_queue_number:admin: phone:delete:call_queue_number:admin
            phone:read:call_queue_policy:admin: phone:read:call_queue_policy:admin
            phone:update:call_queue_policy:admin: phone:update:call_queue_policy:admin
            phone:write:call_queue_policy:admin: phone:write:call_queue_policy:admin
            phone:delete:call_queue_policy:admin: phone:delete:call_queue_policy:admin
            phone:read:list_call_queue_recordings:admin: phone:read:list_call_queue_recordings:admin
            phone:read:call_queue_setting:admin: phone:read:call_queue_setting:admin
            phone:write:call_queue_setting:admin: phone:write:call_queue_setting:admin
            phone:delete:call_queue_setting:admin: phone:delete:call_queue_setting:admin
            phone:update:call_queue_setting:admin: phone:update:call_queue_setting:admin
            phone:update:carrier_number:admin: phone:update:carrier_number:admin
            phone:write:carrier_number:admin: phone:write:carrier_number:admin
            phone:read:list_carrier_numbers:admin: phone:read:list_carrier_numbers:admin
            phone:delete:carrier_number:admin: phone:delete:carrier_number:admin
            phone:write:common_area:admin: phone:write:common_area:admin
            phone:read:common_area:admin: phone:read:common_area:admin
            phone:read:list_common_area_activation_codes:admin: phone:read:list_common_area_activation_codes:admin
            phone:write:apply_template_to_common_areas:admin: phone:write:apply_template_to_common_areas:admin
            phone:delete:common_area:admin: phone:delete:common_area:admin
            phone:update:common_area:admin: phone:update:common_area:admin
            phone:read:common_area_call_handling_setting:admin: phone:read:common_area_call_handling_setting:admin
            phone:update:common_area_call_handling_setting:admin: phone:update:common_area_call_handling_setting:admin
            phone:write:common_area_calling_plan:admin: phone:write:common_area_calling_plan:admin
            phone:delete:common_area_calling_plan:admin: phone:delete:common_area_calling_plan:admin
            phone:write:common_area_number:admin: phone:write:common_area_number:admin
            phone:delete:common_area_number:admin: phone:delete:common_area_number:admin
            phone:read:list_common_area_settings:admin: phone:read:list_common_area_settings:admin
            phone:update:common_area_setting:admin: phone:update:common_area_setting:admin
            phone:delete:common_area_setting:admin: phone:delete:common_area_setting:admin
            phone:write:common_area_setting:admin: phone:write:common_area_setting:admin
            phone:read:call_qos:admin: phone:read:call_qos:admin
            phone:read:default_emergency_address:admin: phone:read:default_emergency_address:admin
            phone:read:detectable_personal_location:admin: phone:read:detectable_personal_location:admin
            phone:read:location_sharing_permission:admin: phone:read:location_sharing_permission:admin
            phone:read:nomadic_emergency_services:admin: phone:read:nomadic_emergency_services:admin
            phone:read:realtime_location_devices:admin: phone:read:realtime_location_devices:admin
            phone:read:realtime_location_users:admin: phone:read:realtime_location_users:admin
            phone:read:list_tracked_locations:admin: phone:read:list_tracked_locations:admin
            phone:update:device_line_keys: phone:update:device_line_keys
            phone:update:device_line_keys:admin: phone:update:device_line_keys:admin
            phone:read:device_line_keys: phone:read:device_line_keys
            phone:read:device_line_keys:admin: phone:read:device_line_keys:admin
            phone:delete:directory:admin: phone:delete:directory:admin
            phone:read:directory:admin: phone:read:directory:admin
            phone:write:directory:admin: phone:write:directory:admin
            phone:write:emergency_address:admin: phone:write:emergency_address:admin
            phone:read:list_emergency_addresses:admin: phone:read:list_emergency_addresses:admin
            phone:read:emergency_address:admin: phone:read:emergency_address:admin
            phone:delete:emergency_address:admin: phone:delete:emergency_address:admin
            phone:update:emergency_address:admin: phone:update:emergency_address:admin
            phone:write:batch_emergency_locations:admin: phone:write:batch_emergency_locations:admin
            phone:read:list_emergency_locations:admin: phone:read:list_emergency_locations:admin
            phone:write:emergency_location:admin: phone:write:emergency_location:admin
            phone:read:emergency_location:admin: phone:read:emergency_location:admin
            phone:update:emergency_location:admin: phone:update:emergency_location:admin
            phone:delete:emergency_location:admin: phone:delete:emergency_location:admin
            phone:write:external_contact:admin: phone:write:external_contact:admin
            phone:read:list_external_contacts:admin: phone:read:list_external_contacts:admin
            phone:delete:external_contact:admin: phone:delete:external_contact:admin
            phone:read:external_contact:admin: phone:read:external_contact:admin
            phone:update:external_contact:admin: phone:update:external_contact:admin
            phone:write:send_fax: phone:write:send_fax
            phone:write:send_fax:admin: phone:write:send_fax:admin
            phone:read:list_fax_log: phone:read:list_fax_log
            phone:read:list_fax_log:admin: phone:read:list_fax_log:admin
            phone:read:fax_log:admin: phone:read:fax_log:admin
            phone:read:fax_log: phone:read:fax_log
            phone:delete:fax_log: phone:delete:fax_log
            phone:delete:fax_log:admin: phone:delete:fax_log:admin
            phone:read:list_firmware_update_rules:admin: phone:read:list_firmware_update_rules:admin
            phone:write:firmware_update_rule:admin: phone:write:firmware_update_rule:admin
            phone:delete:firmware_update_rule:admin: phone:delete:firmware_update_rule:admin
            phone:update:firmware_update_rule:admin: phone:update:firmware_update_rule:admin
            phone:read:firmware_update_rule:admin: phone:read:firmware_update_rule:admin
            phone:read:list_firmwares:admin: phone:read:list_firmwares:admin
            phone:read:list_call_pickup_groups:admin: phone:read:list_call_pickup_groups:admin
            phone:write:call_pickup_group:admin: phone:write:call_pickup_group:admin
            phone:read:call_pickup_group:admin: phone:read:call_pickup_group:admin
            phone:update:call_pickup_group:admin: phone:update:call_pickup_group:admin
            phone:delete:call_pickup_group:admin: phone:delete:call_pickup_group:admin
            phone:write:call_pickup_group_member:admin: phone:write:call_pickup_group_member:admin
            phone:read:call_pickup_group_member:admin: phone:read:call_pickup_group_member:admin
            phone:delete:call_pickup_group_member:admin: phone:delete:call_pickup_group_member:admin
            phone:update:group_policy:admin: phone:update:group_policy:admin
            phone:read:group_policy:admin: phone:read:group_policy:admin
            phone:read:group_setting:admin: phone:read:group_setting:admin
            phone:read:auto_receptionist_ivr:admin: phone:read:auto_receptionist_ivr:admin
            phone:update:auto_receptionist_ivr:admin: phone:update:auto_receptionist_ivr:admin
            phone:read:list_extension_inbound_block_rules:admin: phone:read:list_extension_inbound_block_rules:admin
            phone:read:list_extension_inbound_block_rules: phone:read:list_extension_inbound_block_rules
            phone:delete:extension_inbound_block_rule:admin: phone:delete:extension_inbound_block_rule:admin
            phone:delete:extension_inbound_block_rule: phone:delete:extension_inbound_block_rule
            phone:write:extension_inbound_block_rule:admin: phone:write:extension_inbound_block_rule:admin
            phone:write:extension_inbound_block_rule: phone:write:extension_inbound_block_rule
            phone:delete:extension_inbound_block_rule_stat:admin: phone:delete:extension_inbound_block_rule_stat:admin
            phone:read:list_extension_inbound_block_rules_stat:admin: phone:read:list_extension_inbound_block_rules_stat:admin
            phone:update:inbound_blocked_for_all:admin: phone:update:inbound_blocked_for_all:admin
            phone:delete:inbound_block_rule:admin: phone:delete:inbound_block_rule:admin
            phone:read:list_inbound_block_rules:admin: phone:read:list_inbound_block_rules:admin
            phone:write:inbound_block_rule:admin: phone:write:inbound_block_rule:admin
            phone:update:inbound_block_rule:admin: phone:update:inbound_block_rule:admin
            phone:update:line_keys: phone:update:line_keys
            phone:update:line_keys:admin: phone:update:line_keys:admin
            phone:read:line_keys: phone:read:line_keys
            phone:read:line_keys:admin: phone:read:line_keys:admin
            phone:delete:line_keys: phone:delete:line_keys
            phone:delete:line_keys:admin: phone:delete:line_keys:admin
            phone:read:list_monitoring_groups:admin: phone:read:list_monitoring_groups:admin
            phone:write:monitoring_group:admin: phone:write:monitoring_group:admin
            phone:delete:monitoring_group:admin: phone:delete:monitoring_group:admin
            phone:update:monitoring_group:admin: phone:update:monitoring_group:admin
            phone:read:monitoring_group:admin: phone:read:monitoring_group:admin
            phone:read:list_monitoring_group_members:admin: phone:read:list_monitoring_group_members:admin
            phone:write:monitoring_group_member:admin: phone:write:monitoring_group_member:admin
            phone:delete:monitoring_group_member:admin: phone:delete:monitoring_group_member:admin
            phone:read:common_area_outbound_calling_rule:admin: phone:read:common_area_outbound_calling_rule:admin
            phone:update:common_area_outbound_calling_rule:admin: phone:update:common_area_outbound_calling_rule:admin
            phone:write:common_area_outbound_calling_rule:admin: phone:write:common_area_outbound_calling_rule:admin
            phone:delete:common_area_outbound_calling_rule:admin: phone:delete:common_area_outbound_calling_rule:admin
            phone:read:list_outbound_calling_rules:admin: phone:read:list_outbound_calling_rules:admin
            phone:update:outbound_calling_rule:admin: phone:update:outbound_calling_rule:admin
            phone:write:outbound_calling_rule:admin: phone:write:outbound_calling_rule:admin
            phone:delete:outbound_calling_rule:admin: phone:delete:outbound_calling_rule:admin
            phone:update:site_outbound_calling_rule:admin: phone:update:site_outbound_calling_rule:admin
            phone:read:site_outbound_calling_rule:admin: phone:read:site_outbound_calling_rule:admin
            phone:write:site_outbound_calling_rule:admin: phone:write:site_outbound_calling_rule:admin
            phone:delete:site_outbound_calling_rule:admin: phone:delete:site_outbound_calling_rule:admin
            phone:update:user_outbound_calling_rule:admin: phone:update:user_outbound_calling_rule:admin
            phone:read:user_outbound_calling_rule:admin: phone:read:user_outbound_calling_rule:admin
            phone:write:user_outbound_calling_rule:admin: phone:write:user_outbound_calling_rule:admin
            phone:delete:user_outbound_calling_rule:admin: phone:delete:user_outbound_calling_rule:admin
            phone:read:list_devices:admin: phone:read:list_devices:admin
            phone:write:device:admin: phone:write:device:admin
            phone:write:sync_device:admin: phone:write:sync_device:admin
            phone:update:device:admin: phone:update:device:admin
            phone:delete:device:admin: phone:delete:device:admin
            phone:read:device:admin: phone:read:device:admin
            phone:write:device_extension:admin: phone:write:device_extension:admin
            phone:delete:device_extension:admin: phone:delete:device_extension:admin
            phone:update:device_provision_template:admin: phone:update:device_provision_template:admin
            phone:write:reboot_device:admin: phone:write:reboot_device:admin
            phone:write:byo_carrier_number:admin: phone:write:byo_carrier_number:admin
            phone:delete:number:admin: phone:delete:number:admin
            phone:read:list_numbers:admin: phone:read:list_numbers:admin
            phone:update:site_number:admin: phone:update:site_number:admin
            phone:read:numbers:admin: phone:read:numbers:admin
            phone:update:number:admin: phone:update:number:admin
            phone:write:user_number: phone:write:user_number
            phone:write:user_number:admin: phone:write:user_number:admin
            phone:delete:user_number: phone:delete:user_number
            phone:delete:user_number:admin: phone:delete:user_number:admin
            phone:read:list_calling_plans:admin: phone:read:list_calling_plans:admin
            phone:read:list_roles:admin: phone:read:list_roles:admin
            phone:write:role:admin: phone:write:role:admin
            phone:update:role:admin: phone:update:role:admin
            phone:read:role:admin: phone:read:role:admin
            phone:delete:role:admin: phone:delete:role:admin
            phone:read:role_member:admin: phone:read:role_member:admin
            phone:write:role_member:admin: phone:write:role_member:admin
            phone:delete:role_member:admin: phone:delete:role_member:admin
            phone:write:private_directory_member:admin: phone:write:private_directory_member:admin
            phone:read:list_private_directory_members:admin: phone:read:list_private_directory_members:admin
            phone:update:private_directory_member:admin: phone:update:private_directory_member:admin
            phone:delete:private_directory_member:admin: phone:delete:private_directory_member:admin
            phone_peering:read:admin: phone_peering:read:admin
            phone:read:list_peering_numbers:admin: phone:read:list_peering_numbers:admin
            phone_peering:write:admin: phone_peering:write:admin
            phone:write:peering_number:admin: phone:write:peering_number:admin
            phone:delete:peering_number:admin: phone:delete:peering_number:admin
            phone:update:peering_number:admin: phone:update:peering_number:admin
            phone:write:provision_template:admin: phone:write:provision_template:admin
            phone:read:list_provision_templates:admin: phone:read:list_provision_templates:admin
            phone:update:provision_template:admin: phone:update:provision_template:admin
            phone:read:provision_template:admin: phone:read:provision_template:admin
            phone:delete:provision_template:admin: phone:delete:provision_template:admin
            phone_recording:read: phone_recording:read
            phone_recording:read:admin: phone_recording:read:admin
            phone:read:call_recording: phone:read:call_recording
            phone:read:call_recording:admin: phone:read:call_recording:admin
            phone:read:recording_transcript: phone:read:recording_transcript
            phone:read:recording_transcript:admin: phone:read:recording_transcript:admin
            phone:read:list_call_recordings:admin: phone:read:list_call_recordings:admin
            phone_recording:write: phone_recording:write
            phone_recording:write:admin: phone_recording:write:admin
            phone:update:call_recording: phone:update:call_recording
            phone:update:call_recording:admin: phone:update:call_recording:admin
            phone:delete:call_recording: phone:delete:call_recording
            phone:delete:call_recording:admin: phone:delete:call_recording:admin
            phone:read:list_recordings: phone:read:list_recordings
            phone:read:list_recordings:admin: phone:read:list_recordings:admin
            phone:read:call_charges:admin: phone:read:call_charges:admin
            phone:read:fax_charges:admin: phone:read:fax_charges:admin
            phone:read:operation_logs:admin: phone:read:operation_logs:admin
            phone:read:sms_charges:admin: phone:read:sms_charges:admin
            phone:read:list_routing_rules:admin: phone:read:list_routing_rules:admin
            phone:write:routing_rule:admin: phone:write:routing_rule:admin
            phone:update:routing_rule:admin: phone:update:routing_rule:admin
            phone:read:routing_rule:admin: phone:read:routing_rule:admin
            phone:delete:routing_rule:admin: phone:delete:routing_rule:admin
            phone_sms:write: phone_sms:write
            phone_sms:write:admin: phone_sms:write:admin
            phone:read:sms_message: phone:read:sms_message
            phone:read:sms_message:admin: phone:read:sms_message:admin
            phone_sms:read: phone_sms:read
            phone_sms:read:admin: phone_sms:read:admin
            phone:read:list_sms_sessions: phone:read:list_sms_sessions
            phone:read:list_sms_sessions:admin: phone:read:list_sms_sessions:admin
            phone:read:sms_session: phone:read:sms_session
            phone:read:sms_session:admin: phone:read:sms_session:admin
            phone:read:list_sms_campaigns:admin: phone:read:list_sms_campaigns:admin
            phone:read:sms_campaign:admin: phone:read:sms_campaign:admin
            phone:write:sms_campaign_number:admin: phone:write:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status:admin: phone:read:sms_campaign_number_opt_status:admin
            phone:update:sms_campaign_number_opt_status:admin: phone:update:sms_campaign_number_opt_status:admin
            phone:delete:sms_campaign_number:admin: phone:delete:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status: phone:read:sms_campaign_number_opt_status
            phone:read:sms_consent_number_opt_status:admin: phone:read:sms_consent_number_opt_status:admin
            phone:write:setting_template:admin: phone:write:setting_template:admin
            phone:read:list_setting_templates:admin: phone:read:list_setting_templates:admin
            phone:update:setting_template:admin: phone:update:setting_template:admin
            phone:read:setting_template:admin: phone:read:setting_template:admin
            phone:update:policy:admin: phone:update:policy:admin
            phone:read:policy:admin: phone:read:policy:admin
            phone:read:list_ported_numbers:admin: phone:read:list_ported_numbers:admin
            phone:read:ported_number:admin: phone:read:ported_number:admin
            phone:update:settings:admin: phone:update:settings:admin
            phone:read:settings:admin: phone:read:settings:admin
            phone:read:list_sip_groups:admin: phone:read:list_sip_groups:admin
            phone:read:list_sip_trunks:admin: phone:read:list_sip_trunks:admin
            phone:read:list_shared_line_appearances:admin: phone:read:list_shared_line_appearances:admin
            phone:read:list_shared_line_groups:admin: phone:read:list_shared_line_groups:admin
            phone:write:shared_line_group:admin: phone:write:shared_line_group:admin
            phone:read:shared_line_group:admin: phone:read:shared_line_group:admin
            phone:read:shared_line_group_call_handling_setting:admin: phone:read:shared_line_group_call_handling_setting:admin
            phone:update:shared_line_group_call_handling_setting:admin: phone:update:shared_line_group_call_handling_setting:admin
            phone:read:shared_line_group_policy:admin: phone:read:shared_line_group_policy:admin
            phone:update:shared_line_group_policy:admin: phone:update:shared_line_group_policy:admin
            phone:read:shared_line_group_setting:admin: phone:read:shared_line_group_setting:admin
            phone:update:shared_line_group_setting:admin: phone:update:shared_line_group_setting:admin
            phone:delete:shared_line_group_setting:admin: phone:delete:shared_line_group_setting:admin
            phone:write:shared_line_group_setting:admin: phone:write:shared_line_group_setting:admin
            phone:update:shared_line_group:admin: phone:update:shared_line_group:admin
            phone:delete:shared_line_group:admin: phone:delete:shared_line_group:admin
            phone:delete:shared_line_member:admin: phone:delete:shared_line_member:admin
            phone:write:shared_line_member:admin: phone:write:shared_line_member:admin
            phone:delete:shared_line_group_number:admin: phone:delete:shared_line_group_number:admin
            phone:write:shared_line_group_number:admin: phone:write:shared_line_group_number:admin
            phone:delete:shared_line_group_policy:admin: phone:delete:shared_line_group_policy:admin
            phone:write:shared_line_group_policy:admin: phone:write:shared_line_group_policy:admin
            phone:read:list_sites:admin: phone:read:list_sites:admin
            phone:write:site:admin: phone:write:site:admin
            phone:read:site:admin: phone:read:site:admin
            phone:delete:site:admin: phone:delete:site:admin
            phone:update:site:admin: phone:update:site:admin
            phone:read:list_site_customized_number:admin: phone:read:list_site_customized_number:admin
            phone:delete:site_customized_number:admin: phone:delete:site_customized_number:admin
            phone:write:site_customized_number:admin: phone:write:site_customized_number:admin
            phone:read:site_setting:admin: phone:read:site_setting:admin
            phone:write:site_setting:admin: phone:write:site_setting:admin
            phone:delete:site_setting:admin: phone:delete:site_setting:admin
            phone:update:site_setting:admin: phone:update:site_setting:admin
            phone:read:list_users:admin: phone:read:list_users:admin
            phone:write:batch_users:admin: phone:write:batch_users:admin
            phone:update:batch_users:admin: phone:update:batch_users:admin
            phone:read:user: phone:read:user
            phone:read:user:admin: phone:read:user:admin
            phone:update:user: phone:update:user
            phone:update:user:admin: phone:update:user:admin
            phone:delete:user_call_handling_setting: phone:delete:user_call_handling_setting
            phone:delete:user_call_handling_setting:admin: phone:delete:user_call_handling_setting:admin
            phone:write:user_call_handling_setting: phone:write:user_call_handling_setting
            phone:write:user_call_handling_setting:admin: phone:write:user_call_handling_setting:admin
            phone:read:user_call_handling_setting:admin: phone:read:user_call_handling_setting:admin
            phone:read:user_call_handling_setting: phone:read:user_call_handling_setting
            phone:update:user_call_handling_setting:admin: phone:update:user_call_handling_setting:admin
            phone:update:user_call_handling_setting: phone:update:user_call_handling_setting
            phone:write:calling_plan: phone:write:calling_plan
            phone:write:calling_plan:admin: phone:write:calling_plan:admin
            phone:update:calling_plan: phone:update:calling_plan
            phone:update:calling_plan:admin: phone:update:calling_plan:admin
            phone:delete:users_calling_plan: phone:delete:users_calling_plan
            phone:delete:users_calling_plan:admin: phone:delete:users_calling_plan:admin
            phone:read:list_user_customized_number: phone:read:list_user_customized_number
            phone:read:list_user_customized_number:admin: phone:read:list_user_customized_number:admin
            phone:write:user_customized_number: phone:write:user_customized_number
            phone:write:user_customized_number:admin: phone:write:user_customized_number:admin
            phone:delete:user_customized_number: phone:delete:user_customized_number
            phone:delete:user_customized_number:admin: phone:delete:user_customized_number:admin
            phone:update:user_policy:admin: phone:update:user_policy:admin
            phone:read:user_policy:admin: phone:read:user_policy:admin
            phone:delete:user_setting: phone:delete:user_setting
            phone:delete:user_setting:admin: phone:delete:user_setting:admin
            phone:write:user_setting:admin: phone:write:user_setting:admin
            phone:write:user_setting: phone:write:user_setting
            phone:read:user_setting:admin: phone:read:user_setting:admin
            phone:read:user_setting: phone:read:user_setting
            phone:update:user_setting: phone:update:user_setting
            phone:update:user_setting:admin: phone:update:user_setting:admin
            phone:update:shared_setting: phone:update:shared_setting
            phone:update:shared_setting:admin: phone:update:shared_setting:admin
            phone:write:shared_setting: phone:write:shared_setting
            phone:write:shared_setting:admin: phone:write:shared_setting:admin
            phone:delete:shared_setting: phone:delete:shared_setting
            phone:delete:shared_setting:admin: phone:delete:shared_setting:admin
            phone_voicemail:read: phone_voicemail:read
            phone_voicemail:read:admin: phone_voicemail:read:admin
            phone:read:voicemail: phone:read:voicemail
            phone:read:voicemail:admin: phone:read:voicemail:admin
            phone:read:list_voicemails: phone:read:list_voicemails
            phone:read:list_voicemails:admin: phone:read:list_voicemails:admin
            phone_voicemail:write: phone_voicemail:write
            phone_voicemail:write:admin: phone_voicemail:write:admin
            phone:update:voicemail: phone:update:voicemail
            phone:update:voicemail:admin: phone:update:voicemail:admin
            phone:delete:voicemail: phone:delete:voicemail
            phone:delete:voicemail:admin: phone:delete:voicemail:admin
            phone:read:list_rooms:admin: phone:read:list_rooms:admin
            phone:write:room:admin: phone:write:room:admin
            phone:read:room:admin: phone:read:room:admin
            phone:delete:room:admin: phone:delete:room:admin
            phone:update:room:admin: phone:update:room:admin
            phone:write:room_calling_plan:admin: phone:write:room_calling_plan:admin
            phone:delete:room_calling_plan:admin: phone:delete:room_calling_plan:admin
            phone:write:room_phone_number:admin: phone:write:room_phone_number:admin
            phone:delete:room_phone_number:admin: phone:delete:room_phone_number:admin
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
