openapi: 3.2.0
info:
  title: Phone Inbound Blocked List API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Inbound Blocked List
paths:
  /phone/extension/{extensionId}/inbound_blocked/rules:
    get:
      tags:
      - Inbound Blocked List
      summary: List an extension's inbound block rules
      description: "Returns a list of the given extension's block rule for inbound calls and messaging. \n\nit lists inbound block rule for the given Call Queue, Auto Receptionist, Shared Line Group, Common Area, Zoom Room, or User.\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`,`phone:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_extension_inbound_block_rules:admin`,`phone:read:list_extension_inbound_block_rules`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: ListExtensionLevelInboundBlockRules
      parameters:
      - name: extensionId
        in: path
        description: The extension ID for the inbound blocked rules to fetch.
        required: true
        schema:
          type: string
          example: WfsrPERXS8inWrpH1Hi_KQ
      - name: keyword
        in: query
        description: The partial string of a phone number.
        required: false
        schema:
          type: string
          example: '11067'
      - name: match_type
        in: query
        description: 'The match type for the block rule:

          * `phoneNumber`: Only a specific phone number that is shown in the `blocked_number` field is blocked.

          * `prefix`: All numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

          * `SMS-shortCodes`:  Only a specific SMS short code that is shown in the `blocked_number` field is blocked.

          * `countryCode`: All numbers that match the country code of the `country` field are blocked.'
        required: false
        schema:
          type: string
          example: phoneNumber
          enum:
          - prefix
          - phoneNumber
          - SMS-shortCodes
          - countryCode
      - name: type
        in: query
        description: 'The block type for the block rule:

          * `block_for_other_reasons`

          * `block_as_threat`'
        required: false
        schema:
          type: string
          example: block_for_other_reasons
          enum:
          - block_for_other_reasons
          - block_as_threat
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            List inbound calls block rules successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  extension_blocked_rules:
                    type: array
                    description: The inbound blocked rules.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 'The unique identifier of the block rule. '
                          example: N9vmnIOHQMSWSL9mrz9jTw
                        match_type:
                          type: string
                          description: 'The match type for the block rule:

                            * `phoneNumber`: Indicates that only a specific phone number that is shown in the `blocked_number` field is blocked.

                            * `prefix`: Indicates that all numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

                            * `SMS-shortCodes`:  Indicates that only a specific sms short code that is shown in the `blocked_number` field is blocked.

                            * `countryCode`: Indicates that all numbers that match the country code of the `country` field are blocked.'
                          example: phoneNumber
                          enum:
                          - prefix
                          - phoneNumber
                          - SMS-shortCodes
                          - countryCode
                        phone_number:
                          type: string
                          description: 'The phone number of the block rule, the value is a combination of the `country` and `prefix_number` values.


                            * when the value of the `match_type` is `phoneNumber`, the value of `phone_number` is displayed in E164 format.

                            * when the value of the `match_type` is `prefix`, the value of `phone_number` is appended with the `country` code.

                            * when the value of the `match_type` is `countryCode`, the value of `phone_number` contains only the country calling code (e.g., `86`, `1`).'
                          example: '+120665558945'
                        type:
                          type: string
                          description: 'The block type for the block rule:

                            * block_for_other_reasons

                            * block_as_threat'
                          example: block_for_other_reasons
                          enum:
                          - block_for_other_reasons
                          - block_as_threat
                        blocked_number:
                          type: string
                          description: The block rule phone number prefix, SMS short code, or pure phone number without the country code.
                          example: '20665558945'
                        country:
                          type: string
                          description: 'The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).


                            This field is required when the value is as follows:

                            * `match_type` is `phoneNumber`, `prefix` or `countryCode`'
                          example: US
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 100
                    type: integer
                    description: The total number of records returned from a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13600` <br>\n You do not enable the block list for inbound calls and messaging policy setting. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Extension does not exist: {extensionId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read
        - phone:read:list_extension_inbound_block_rules:admin
        - phone:read:list_extension_inbound_block_rules
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        - phone:read
        x-granular-scopes:
        - phone:read:list_extension_inbound_block_rules:admin
        - phone:read:list_extension_inbound_block_rules
    post:
      tags:
      - Inbound Blocked List
      summary: Add an extension's inbound block rule
      description: "Adds the given extension's block rule for inbound calls and messaging. \n\nIt adds the inbound block rule for the given Call Queue, Auto Receptionist, Shared Line Group, Common Area, Zoom Room or User.\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`,`phone:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:extension_inbound_block_rule:admin`,`phone:write:extension_inbound_block_rule`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: AddExtensiontLevelInboundBlockRules
      parameters:
      - name: extensionId
        in: path
        description: The extension ID for the inbound blocked rules to fetch.
        required: true
        schema:
          type: string
          example: WfsrPERXS8inWrpH1Hi_KQ
      requestBody:
        content:
          application/json:
            schema:
              required:
              - match_type
              - type
              type: object
              properties:
                match_type:
                  type: string
                  description: 'The match type for the block rule:

                    * `phoneNumber`: Only a specific phone number that is shown in the `blocked_number` field is blocked.

                    * `prefix`: All numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

                    * `SMS-shortCodes`:  Only a specific SMS short code that is shown in the `blocked_number` field is blocked.

                    * `countryCode`: All numbers that match the country code of the `country` field are blocked.'
                  example: phoneNumber
                  enum:
                  - prefix
                  - phoneNumber
                  - SMS-shortCodes
                  - countryCode
                blocked_number:
                  maxLength: 50
                  type: string
                  description: "The block rule phone number prefix, SMS short code, or pure phone number without the country code.\n* When the value of the `match_type` is `prefix`, enter the prefix of the phone number without the country code. \n* When the value of the `match_type` is `phoneNumber`, enter the phone number without the country code.\n* When the value of the `match_type` is `SMS-shortCodes`, enter the SMS short code.\n* When the value of the `match_type` is `countryCode`, this field is not required and can be left empty."
                  example: '20665558945'
                type:
                  type: string
                  description: 'The block type for the block rule:

                    * block_for_other_reasons

                    * block_as_threat


                    **Note**: the value of `block_as_threat` can be available if the `block_calls_as_threat` setting is enabled in [account setting API](https://developers.zoom.us/docs/zoom-phone/apis/#operation/listZoomPhoneAccountSettings).'
                  example: block_for_other_reasons
                  enum:
                  - block_for_other_reasons
                  - block_as_threat
                country:
                  type: string
                  description: 'The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).


                    This field is required when the value is the following:

                    * `match_type` is `phoneNumber`, `prefix` or `countryCode`'
                  example: US
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**   \nCreated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 'The unique identifier of the blocked rule. '
                    example: N9vmnIOHQMSWSL9mrz9jTw
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13600` <br>\n The block list for inbound calls and messaging policy setting is not enabled. <br>\n**Error Code:** `13601` <br>\n Blocked phone number already exists:{blocked_number}. <br>\n**Error Code:** `13605` <br>\n The block calls as threat policy setting is not enabled, it is not allowed selecting 'type' as 'block_as_threat. <br>\n**Error Code:** `400` <br>\n Invalid country. <br>\n**Error Code:** `13604` <br>\n Blocked number:{blocked_number} does not match the country:{country}. <br>\n**Error Code:** `7015` <br>\n The phone number {blocked_number} is invalid. <br>\n**Error Code:** `13606` <br>\n The match type:{match_type} does not support the type:{type} in extension level. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Extension does not exist: {extensionId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write
        - phone:write:extension_inbound_block_rule:admin
        - phone:write:extension_inbound_block_rule
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        - phone:write
        x-granular-scopes:
        - phone:write:extension_inbound_block_rule:admin
        - phone:write:extension_inbound_block_rule
    delete:
      tags:
      - Inbound Blocked List
      summary: Delete an extension's inbound block rule
      description: "Deletes the given extension's blocked rule for inbound calls and messaging. \n\nUse this API to delete inbound blocked rule for the given Call Queue, Auto Receptionist, Shared Line Group, Common Area, Zoom Room or User.\n\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`,`phone:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:extension_inbound_block_rule:admin`,`phone:delete:extension_inbound_block_rule`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: DeleteExtensiontLevelInboundBlockRules
      parameters:
      - name: extensionId
        in: path
        description: The extension ID for the inbound blocked rules to fetch.
        required: true
        schema:
          type: string
          example: WfsrPERXS8inWrpH1Hi_KQ
      - name: blocked_rule_id
        in: query
        description: 'The unique identifier of the blocked rule. '
        required: true
        schema:
          type: string
          example: N9vmnIOHQMSWSL9mrz9jTw
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content** \n\nThe blocked rule deleted successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13600` <br>\n The block list for inbound calls and messaging policy setting is not enabled. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `404` <br>\n Blocked rule does not exist: {blocked_rule_id}. <br>\n**Error Code:** `404` <br>\n Extension does not exist: {extensionId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write
        - phone:delete:extension_inbound_block_rule:admin
        - phone:delete:extension_inbound_block_rule
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        - phone:write
        x-granular-scopes:
        - phone:delete:extension_inbound_block_rule:admin
        - phone:delete:extension_inbound_block_rule
  /phone/inbound_blocked/extension_rules/statistics:
    get:
      tags:
      - Inbound Blocked List
      summary: List an account's inbound blocked statistics
      description: 'Returns the list of the statistics of the extensions blocked rule for inbound calls and messaging. (e.g. Call Queue, Auto Receptionist, Shared Line Group, Common Area, Zoom Room and User)


        **Prerequisites:**

        * Pro or higher account plan with Zoom phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_extension_inbound_block_rules_stat:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: ListAccountLevelInboundBlockedStatistics
      parameters:
      - name: keyword
        in: query
        description: The partial string of a phone number.
        required: false
        schema:
          type: string
          example: '11067'
      - name: match_type
        in: query
        description: 'The match type for the block rule:

          * `phoneNumber`: Only a specific phone number that is shown in the `blocked_number` field is blocked.

          * `prefix`: All numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

          * `SMS-shortCodes`:  Only a specific SMS short code that is shown in the `blocked_number` field is blocked.

          * `countryCode`: All numbers that match the country code of the `country` field are blocked.'
        required: false
        schema:
          type: string
          example: phoneNumber
          enum:
          - prefix
          - phoneNumber
          - SMS-shortCodes
          - countryCode
      - name: type
        in: query
        description: 'The block type for the block rule:

          * block_for_other_reasons

          * block_as_threat'
        required: false
        schema:
          type: string
          example: block_for_other_reasons
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK** \n\nGet inbound blocked statistics successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  blocked_statistic:
                    type: array
                    description: The inbound blocked extension rule statistics.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 'The unique identifier of the blocked statistic. '
                          example: 2Iq1GeCiR5WczhV9QgXwFA
                        match_type:
                          type: string
                          description: 'The match type for the block rule:

                            * `phoneNumber`: Indicates that only a specific phone number that is shown in the `blocked_number` field is blocked.

                            * `prefix`: Indicates that all numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

                            * `SMS-shortCodes`:  Indicates that only a specific sms short code that is shown in the `blocked_number` field is blocked.

                            * `countryCode`: Indicates that all numbers that match the country code of the `country` field are blocked.'
                          example: phoneNumber
                          enum:
                          - prefix
                          - phoneNumber
                          - SMS-shortCodes
                          - countryCode
                        phone_number:
                          type: string
                          description: 'The phone number of the block rule. The value is a combination of the `country` and `blocked_number` values.


                            * when the value of the `match_type` is `phoneNumber`, the value of `phone_number` is displayed in E164 format.

                            * when the value of the `match_type` is `prefix`, the value of `phone_number` is appended with the `country` code.

                            * when the value of the `match_type` is `countryCode`, the value of `phone_number` contains only the country calling code (e.g., `86`, `1`).'
                          example: '+120665558945'
                        type:
                          type: string
                          description: 'The block type for the block rule:

                            * block_for_other_reasons

                            * block_as_threat

                            '
                          example: block_for_other_reasons
                          enum:
                          - block_for_other_reasons
                          - block_as_threat
                        block_count:
                          type: integer
                          description: This field counts the number of extensions (phone users, Zoom rooms, common area phones, call queues, etc.) that have marked the `phone_number` as `type` = `block_for_other_reasons`.
                          example: 3
                        threat_count:
                          type: integer
                          description: This field counts the number of extensions (phone users, Zoom rooms, common area phones, call queues, etc.) that have marked the `phone_number` as `type` = `block_as_threat`.
                          example: 2
                        blocked_number:
                          type: string
                          description: The block rule phone number prefix, SMS short code, or pure phone number without the country code.
                          example: '20665558945'
                        country:
                          type: string
                          description: 'The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).


                            This field is required when the value is as follows:

                            * `match_type` is `phoneNumber`, `prefix` or `countryCode`'
                          example: US
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    type: integer
                    description: The total number of records returned from a single API call.
                    example: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13600` <br>\n You do not enable the block list for inbound calls and messaging policy setting. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_extension_inbound_block_rules_stat:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_extension_inbound_block_rules_stat:admin
    delete:
      tags:
      - Inbound Blocked List
      summary: Delete an account's inbound blocked statistics
      description: 'Deletes the statistic of extensions blocked rule for inbound calls and messaging. (e.g. Call Queue, Auto Receptionist, Shared Line Group, Common Area, Zoom Room and User)


        **Prerequisites:**

        * Pro or higher account plan with Zoom phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:extension_inbound_block_rule_stat:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: DeleteAccountLevelInboundBlockedStatistics
      parameters:
      - name: blocked_statistic_id
        in: query
        description: The unique identifier of the blocked statistic.
        required: true
        schema:
          type: string
          example: 2Iq1GeCiR5WczhV9QgXwFA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**   \n\nThe blocked statistics deleted successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13600` <br>\n The block list for inbound calls and messaging policy setting is not enabled. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `404` <br>\n Blocked statistic does not exist: {blocked_statistic_id}.  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:extension_inbound_block_rule_stat:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:extension_inbound_block_rule_stat:admin
  /phone/inbound_blocked/extension_rules/statistics/blocked_for_all:
    patch:
      tags:
      - Inbound Blocked List
      summary: Mark a phone number as blocked for all extensions
      description: 'Promotes and applies the phone number blocked from the extension level blocked rule to the account level blocked rule. This action is contingent on the statistics of extensions blocked rule. All extensions under the current account block this phone number.


        **Prerequisites:**

        * Pro or higher account plan with Zoom phone license

        * Account owner or admin permissions



        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:inbound_blocked_for_all:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: MarkPhoneNumberAsBlockedForAllExtensions
      requestBody:
        content:
          application/json:
            schema:
              required:
              - blocked_statistic_id
              type: object
              properties:
                blocked_statistic_id:
                  type: string
                  description: The unique identifier of the blocked statistic.
                  example: 2Iq1GeCiR5WczhV9QgXwFA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**   \nBlocked for all extensions successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13600` <br>\n The block list for inbound calls and messaging policy setting is not enabled. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `404` <br>\n Blocked statistic does not exist: {blocked_statistic_id}.  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:inbound_blocked_for_all:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:inbound_blocked_for_all:admin
  /phone/inbound_blocked/rules:
    get:
      tags:
      - Inbound Blocked List
      summary: List an account's inbound block rules
      description: 'Returns a list of account level inbound block rule for inbound calls and messaging.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_inbound_block_rules:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: ListAccountLevelInboundBlockRules
      parameters:
      - name: keyword
        in: query
        description: The partial string of a phone number.
        required: false
        schema:
          type: string
          example: '11067'
      - name: match_type
        in: query
        description: 'The match type for the block rule:

          * `phoneNumber`: Indicates that only a specific phone number that is shown in the `blocked_number` field is blocked.

          * `prefix`: Indicates that all numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

          * `SMS-shortCodes`:  Indicates that only a specific SMS short code that is shown in the `blocked_number` field is blocked.

          * `countryCode`: Indicates that all numbers that match the country code of the `country` field are blocked.'
        required: false
        schema:
          type: string
          example: phoneNumber
          enum:
          - prefix
          - phoneNumber
          - SMS-shortCodes
          - countryCode
      - name: type
        in: query
        description: 'The block type for the block rule:

          * block_for_other_reasons

          * block_as_threat'
        required: false
        schema:
          type: string
          example: block_for_other_reasons
          enum:
          - block_for_other_reasons
          - block_as_threat
      - name: status
        in: query
        description: 'Whether the block rule is active or inactive.

          * `active`: The block rule is active.

          * `inactive`: The block rule is inactive.'
        required: false
        schema:
          type: string
          example: active
          enum:
          - active
          - inactive
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            List inbound calls block rules successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_blocked_rules:
                    type: array
                    description: The inbound blocked rules.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 'The unique identifier of the block rule. '
                          example: N9vmnIOHQMSWSL9mrz9jTw
                        match_type:
                          type: string
                          description: 'The match type for the block rule:

                            * `phoneNumber`: Indicates that only a specific phone number that is shown in the `blocked_number` field is blocked.

                            * `prefix`: Indicates that all numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

                            * `SMS-shortCodes`:  Indicates that only a specific sms short code that is shown in the `blocked_number` field is blocked.

                            * `countryCode`: Indicates that all numbers that match the country code of the `country` field are blocked.'
                          example: phoneNumber
                          enum:
                          - prefix
                          - phoneNumber
                          - SMS-shortCodes
                          - countryCode
                        phone_number:
                          type: string
                          description: 'The phone number of the block rule, the value is a combination of the `country` and `blocked_number` values.


                            * when the value of the `match_type` is `phoneNumber`, the value of `phone_number` is displayed in E164 format.

                            * when the value of the `match_type` is `prefix`, the value of `phone_number` is appended with the `country` code.

                            * when the value of the `match_type` is `countryCode`, the value of `phone_number` contains only the country calling code (e.g., `86`, `1`).'
                          example: '+120665558945'
                        type:
                          type: string
                          description: 'The block type for the block rule:

                            * block_for_other_reasons

                            * block_as_threat'
                          example: block_for_other_reasons
                          enum:
                          - block_for_other_reasons
                          - block_as_threat
                        status:
                          type: string
                          description: 'Whether the block rule is active or inactive.

                            * `active`: The block rule is active.

                            * `inactive`: The block rule is inactive.'
                          example: active
                          enum:
                          - active
                          - inactive
                        comment:
                          type: string
                          description: The comment of the block rule. Enter a comment to help you identify the blocked number or prefix.
                          example: test inbound block comment.
                        blocked_number:
                          type: string
                          description: The block rule phone number prefix or sms short code or pure phone number without the country code.
                          example: '20665558945'
                        country:
                          type: string
                          description: 'The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).


                            This field is required when the value is as follows:

                            * `match_type` is `phoneNumber`, `prefix` or `countryCode`'
                          example: US
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 100
                    type: integer
                    description: The total number of records returned from a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13600` <br>\n You do not enable the block list for inbound calls and messaging policy setting. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_inbound_block_rules:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_inbound_block_rules:admin
    post:
      tags:
      - Inbound Blocked List
      summary: Add an account's inbound block rule
      description: 'Adds an account level block rule for inbound calls and messaging from a phone number. As a result, all extensions block calls and messages to the phone number.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:inbound_block_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: AddAccountLevelInboundBlockRules
      requestBody:
        content:
          application/json:
            schema:
              required:
              - match_type
              - status
              - type
              type: object
              properties:
                match_type:
                  type: string
                  description: 'The match type for the block rule:

                    * `phoneNumber`: Only a specific phone number that is shown in the `blocked_number` field is blocked.

                    * `prefix`: All numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

                    * `SMS-shortCodes`:  Only a specific SMS short code that is shown in the `blocked_number` field is blocked.

                    * `countryCode`: All numbers that match the country code of the `country` field are blocked.'
                  example: phoneNumber
                  enum:
                  - prefix
                  - phoneNumber
                  - SMS-shortCodes
                  - countryCode
                blocked_number:
                  maxLength: 50
                  type: string
                  description: 'The block rule phone number prefix or SMS short code or pure phone number without the country code.

                    * When the value of the `match_type` is `prefix`, enter the prefix of the phone number without the country code.

                    * When the value of the `match_type` is `phoneNumber`, enter the phone number without the country code.

                    * When the value of the `match_type` is `SMS-shortCodes`, enter the SMS short code.

                    * When the value of the `match_type` is `countryCode`, this field is not required and can be left empty.'
                  example: '20665558945'
                type:
                  type: string
                  description: 'The block type for the block rule:

                    * `block_for_other_reasons`

                    * `block_as_threat`


                    **Note**: The value of `block_as_threat` can be available if the `block_calls_as_threat` setting is enabled in [account setting API](https://developers.zoom.us/docs/zoom-phone/apis/#operation/listZoomPhoneAccountSettings).'
                  example: block_for_other_reasons
                  enum:
                  - block_for_other_reasons
                  - block_as_threat
                comment:
                  maxLength: 50
                  type: string
                  description: "The comment of the block rule. \nEnter a comment to help you identify the blocked number, prefix, or SMS short codes."
                  example: test inbound block comment.
                status:
                  type: string
                  description: 'Whether the block rule is active or inactive.

                    * `active`: The block rule is active.

                    * `inactive`: The block rule is inactive.'
                  example: active
                  enum:
                  - active
                  - inactive
                country:
                  type: string
                  description: 'The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).


                    This field is required when the value is the following:

                    * `match_type` is `phoneNumber`, `prefix` or `countryCode`'
                  example: US
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**   \nCreated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 'The unique identifier of the blocked rule. '
                    example: N9vmnIOHQMSWSL9mrz9jTw
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13600` <br>\n The block list for inbound calls and messaging policy setting is not enabled. <br>\n**Error Code:** `13601` <br>\n Blocked phone number already exists:{blocked_number}. <br>\n**Error Code:** `13605` <br>\n The block calls as threat policy setting is not enabled. It is not allowed selecting 'type' as 'block_as_threat. <br>\n**Error Code:** `400` <br>\n Invalid country. <br>\n**Error Code:** `7015` <br>\n The phone number {blocked_number} is invalid. <br>\n**Error Code:** `13604` <br>\n Blocked number:{blocked_number} does not match the country:{country}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:inbound_block_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:inbound_block_rule:admin
    delete:
      tags:
      - Inbound Blocked List
      summary: Delete an account's inbound block rule
      description: 'Deletes the account level blocked rule for inbound calls and messaging.



        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:inbound_block_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: DeleteAccountLevelInboundBlockRules
      parameters:
      - name: blocked_rule_id
        in: query
        description: 'The unique identifier of the blocked rule. '
        required: true
        schema:
          type: string
          example: N9vmnIOHQMSWSL9mrz9jTw
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content** \n\nThe blocked rule deleted successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13600` <br>\n You do not enable the block list for inbound calls and messaging policy setting. <br>\n**Error Code:** `13602` <br>\n You can't delete or change the number, because it is marked as Blocked Number more than the 'Automatic Blocking Threshold'. <br>\n**Error Code:** `13603` <br>\n You can't delete or change the number, because it is marked as Threat Number more than the 'Automatic Threat Blocking Threshold'. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `404` <br>\n Blocked rule does not exist: {blocked_rule_id}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:inbound_block_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:inbound_block_rule:admin
  /phone/inbound_blocked/rules/{blockedRuleId}:
    patch:
      tags:
      - Inbound Blocked List
      summary: Update an account's inbound block rule
      description: 'Updates the account level block rule for inbound calls and messaging.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:inbound_block_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateAccountLevelInboundBlockRule
      parameters:
      - name: blockedRuleId
        in: path
        description: The unique identifier of the blocked rule.
        required: true
        schema:
          type: string
          example: N9vmnIOHQMSWSL9mrz9jTw
      requestBody:
        content:
          application/json:
            schema:
              required:
              - match_type
              - type
              type: object
              properties:
                match_type:
                  type: string
                  description: 'The match type for the block rule:

                    * `phoneNumber`: Indicates that only a specific phone number that is shown in the `blocked_number` field is blocked.

                    * `prefix`: Indicates that all numbers starting with the prefix that is shown in the `blocked_number` field are blocked.

                    * `SMS-shortCodes`:  Indicates that only a specific SMS short code that is shown in the `blocked_number` field is blocked.

                    * `countryCode`: Indicates that all numbers that match the country code of the `country` field are blocked.'
                  example: phoneNumber
                  enum:
                  - prefix
                  - phoneNumber
                  - SMS-shortCodes
                  - countryCode
                blocked_number:
                  type: string
                  description: 'The block rule phone number prefix or SMS short code or pure phone number without the country code.

                    * When the value of the `match_type` is `countryCode`, this field is not required and can be left empty.'
                  example: '20665558945'
                type:
                  type: string
                  description: 'The block type for the block rule:

                    * block_for_other_reasons

                    * block_as_threat


                    **Note**: The value of `block_as_threat` can be available if the `block_calls_as_threat` setting is enabled in [account setting API](https://developers.zoom.us/docs/zoom-phone/apis/#operation/listZoomPhoneAccountSettings).'
                  example: block_for_other_reasons
                  enum:
                  - block_for_other_reasons
                  - block_as_threat
                comment:
                  type: string
                  description: "The comment of the block rule. \nEnter a comment to help you identify the blocked number or prefix."
                  example: test update inbound block comment.
                status:
                  type: string
                  description: 'Whether the block rule is active or inactive.

                    * `active`: The block rule is active.

                    * `inactive`: The block rule is inactive.'
                  example: active
                  enum:
                  - active
                  - inactive
                country:
                  type: string
                  description: 'The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).


                    This field is required when the value is as follows:

                    * `match_type` is `phoneNumber`, `prefix` or `countryCode`'
                  example: US
      responses:
        '204':
          description: '**HTTP Status Code:** `204`   **No Content**


            The blocked rule updated successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13600` <br>\n The block list for inbound calls and messaging policy setting is not enabled. <br>\n**Error Code:** `13601` <br>\n Blocked phone number already exists:{blocked_number}. <br>\n**Error Code:** `13602` <br>\n You can't delete or change the number, because it is marked as Blocked Number more than the 'Automatic Blocking Threshold'. <br>\n**Error Code:** `13603` <br>\n You can't delete or change the number, because it is marked as Threat Number more than the 'Automatic Threat Blocking Threshold'. <br>\n**Error Code:** `400` <br>\n Invalid country. <br>\n**Error Code:** `7015` <br>\n The phone number {blocked_number} is invalid. <br>\n**Error Code:** `13604` <br>\n Blocked number:{blocked_number} does not match the country:{country}. <br>\n**Error Code:** `13605` <br>\n The block calls as threat policy setting is not enabled, it is not allowed selecting 'type' as 'block_as_threat. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Blocked rule does not exist: {blocked_rule_id}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:inbound_block_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:inbound_block_rule:admin
components:
  securitySchemes:
    openapi_authorization:
      type: apiKey
      name: Authorization
      in: header
    openapi_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /
          tokenUrl: ''
          refreshUrl: ''
          scopes:
            phone:read:admin: phone:read:admin
            phone:read:list_account_settings:admin: phone:read:list_account_settings:admin
            phone:write:admin: phone:write:admin
            phone:write:customized_number:admin: phone:write:customized_number:admin
            phone:read:list_customized_number:admin: phone:read:list_customized_number:admin
            phone:delete:customized_number:admin: phone:delete:customized_number:admin
            phone:write:alert_setting:admin: phone:write:alert_setting:admin
            phone:read:list_alert_settings:admin: phone:read:list_alert_settings:admin
            phone:read:alert_setting:admin: phone:read:alert_setting:admin
            phone:patch:alert_setting:admin: phone:patch:alert_setting:admin
            phone:delete:alert_setting:admin: phone:delete:alert_setting:admin
            phone:read: phone:read
            phone:read:audio: phone:read:audio
            phone:read:audio:admin: phone:read:audio:admin
            phone:write: phone:write
            phone:delete:audio: phone:delete:audio
            phone:delete:audio:admin: phone:delete:audio:admin
            phone:update:audio: phone:update:audio
            phone:update:audio:admin: phone:update:audio:admin
            phone:read:list_audios: phone:read:list_audios
            phone:read:list_audios:admin: phone:read:list_audios:admin
            phone:write:audio: phone:write:audio
            phone:write:audio:admin: phone:write:audio:admin
            phone:write:batch_audios: phone:write:batch_audios
            phone:write:batch_audios:admin: phone:write:batch_audios:admin
            phone:read:list_auto_receptionists:admin: phone:read:list_auto_receptionists:admin
            phone:write:auto_receptionist:admin: phone:write:auto_receptionist:admin
            phone:delete:auto_receptionist:admin: phone:delete:auto_receptionist:admin
            phone:update:auto_receptionist:admin: phone:update:auto_receptionist:admin
            phone:read:auto_receptionist:admin: phone:read:auto_receptionist:admin
            phone:read:auto_receptionist_call_handling_setting:admin: phone:read:auto_receptionist_call_handling_setting:admin
            phone:update:auto_receptionist_call_handling_setting:admin: phone:update:auto_receptionist_call_handling_setting:admin
            phone:delete:auto_receptionist_number:admin: phone:delete:auto_receptionist_number:admin
            phone:write:auto_receptionist_number:admin: phone:write:auto_receptionist_number:admin
            phone:update:auto_receptionist_policy:admin: phone:update:auto_receptionist_policy:admin
            phone:read:auto_receptionist_policy:admin: phone:read:auto_receptionist_policy:admin
            phone:delete:auto_receptionist_policy:admin: phone:delete:auto_receptionist_policy:admin
            phone:write:auto_receptionist_policy:admin: phone:write:auto_receptionist_policy:admin
            phone:read:auto_receptionist_setting:admin: phone:read:auto_receptionist_setting:admin
            phone:write:auto_receptionist_setting:admin: phone:write:auto_receptionist_setting:admin
            phone:update:auto_receptionist_setting:admin: phone:update:auto_receptionist_setting:admin
            phone:delete:auto_receptionist_setting:admin: phone:delete:auto_receptionist_setting:admin
            phone:read:list_billing_accounts:admin: phone:read:list_billing_accounts:admin
            phone:read:billing_account:admin: phone:read:billing_account:admin
            phone:write:blocked_list:admin: phone:write:blocked_list:admin
            phone:read:list_blocked_lists:admin: phone:read:list_blocked_lists:admin
            phone:delete:blocked_list:admin: phone:delete:blocked_list:admin
            phone:read:blocked_list:admin: phone:read:blocked_list:admin
            phone:update:blocked_list:admin: phone:update:blocked_list:admin
            phone:read:list_call_handling_settings:admin: phone:read:list_call_handling_settings:admin
            phone:update:call_handling_setting:admin: phone:update:call_handling_setting:admin
            phone:delete:call_handling_setting:admin: phone:delete:call_handling_setting:admin
            phone:write:call_handling_setting:admin: phone:write:call_handling_setting:admin
            phone_call_log:read: phone_call_log:read
            phone_call_log:read:admin: phone_call_log:read:admin
            phone:read:call_log:admin: phone:read:call_log:admin
            phone:read:list_call_logs:admin: phone:read:list_call_logs:admin
            phone:update:call_log:admin: phone:update:call_log:admin
            phone:read:ai_call_summary: phone:read:ai_call_summary
            phone:read:ai_call_summary:admin: phone:read:ai_call_summary:admin
            phone:read:list_call_logs: phone:read:list_call_logs
            phone_call_log:write: phone_call_log:write
            phone_call_log:write:admin: phone_call_log:write:admin
            phone:delete:call_log: phone:delete:call_log
            phone:delete:call_log:admin: phone:delete:call_log:admin
            phone:read:list_call_queues:admin: phone:read:list_call_queues:admin
            phone:write:call_queue:admin: phone:write:call_queue:admin
            phone:delete:call_queue:admin: phone:delete:call_queue:admin
            phone:update:call_queue:admin: phone:update:call_queue:admin
            phone:read:call_queue:admin: phone:read:call_queue:admin
            phone:read:call_queue_call_handling_setting:admin: phone:read:call_queue_call_handling_setting:admin
            phone:update:call_queue_call_handling_setting:admin: phone:update:call_queue_call_handling_setting:admin
            phone:read:call_queue_custom_group:admin: phone:read:call_queue_custom_group:admin
            phone:write:call_queue_custom_group:admin: phone:write:call_queue_custom_group:admin
            phone:update:call_queue_custom_group:admin: phone:update:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:admin: phone:delete:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:master: phone:delete:call_queue_custom_group:master
            phone:master: phone:master
            phone:read:call_queue_custom_group:master: phone:read:call_queue_custom_group:master
            phone:write:call_queue_custom_group_member:admin: phone:write:call_queue_custom_group_member:admin
            phone:delete:call_queue_custom_group_member:admin: phone:delete:call_queue_custom_group_member:admin
            phone:write:call_queue_member:admin: phone:write:call_queue_member:admin
            phone:delete:call_queue_member:admin: phone:delete:call_queue_member:admin
            phone:read:list_call_queue_members:admin: phone:read:list_call_queue_members:admin
            phone:write:call_queue_number:admin: phone:write:call_queue_number:admin
            phone:delete:call_queue_number:admin: phone:delete:call_queue_number:admin
            phone:read:call_queue_policy:admin: phone:read:call_queue_policy:admin
            phone:update:call_queue_policy:admin: phone:update:call_queue_policy:admin
            phone:write:call_queue_policy:admin: phone:write:call_queue_policy:admin
            phone:delete:call_queue_policy:admin: phone:delete:call_queue_policy:admin
            phone:read:list_call_queue_recordings:admin: phone:read:list_call_queue_recordings:admin
            phone:read:call_queue_setting:admin: phone:read:call_queue_setting:admin
            phone:write:call_queue_setting:admin: phone:write:call_queue_setting:admin
            phone:delete:call_queue_setting:admin: phone:delete:call_queue_setting:admin
            phone:update:call_queue_setting:admin: phone:update:call_queue_setting:admin
            phone:update:carrier_number:admin: phone:update:carrier_number:admin
            phone:write:carrier_number:admin: phone:write:carrier_number:admin
            phone:read:list_carrier_numbers:admin: phone:read:list_carrier_numbers:admin
            phone:delete:carrier_number:admin: phone:delete:carrier_number:admin
            phone:write:common_area:admin: phone:write:common_area:admin
            phone:read:common_area:admin: phone:read:common_area:admin
            phone:read:list_common_area_activation_codes:admin: phone:read:list_common_area_activation_codes:admin
            phone:write:apply_template_to_common_areas:admin: phone:write:apply_template_to_common_areas:admin
            phone:delete:common_area:admin: phone:delete:common_area:admin
            phone:update:common_area:admin: phone:update:common_area:admin
            phone:read:common_area_call_handling_setting:admin: phone:read:common_area_call_handling_setting:admin
            phone:update:common_area_call_handling_setting:admin: phone:update:common_area_call_handling_setting:admin
            phone:write:common_area_calling_plan:admin: phone:write:common_area_calling_plan:admin
            phone:delete:common_area_calling_plan:admin: phone:delete:common_area_calling_plan:admin
            phone:write:common_area_number:admin: phone:write:common_area_number:admin
            phone:delete:common_area_number:admin: phone:delete:common_area_number:admin
            phone:read:list_common_area_settings:admin: phone:read:list_common_area_settings:admin
            phone:update:common_area_setting:admin: phone:update:common_area_setting:admin
            phone:delete:common_area_setting:admin: phone:delete:common_area_setting:admin
            phone:write:common_area_setting:admin: phone:write:common_area_setting:admin
            phone:read:call_qos:admin: phone:read:call_qos:admin
            phone:read:default_emergency_address:admin: phone:read:default_emergency_address:admin
            phone:read:detectable_personal_location:admin: phone:read:detectable_personal_location:admin
            phone:read:location_sharing_permission:admin: phone:read:location_sharing_permission:admin
            phone:read:nomadic_emergency_services:admin: phone:read:nomadic_emergency_services:admin
            phone:read:realtime_location_devices:admin: phone:read:realtime_location_devices:admin
            phone:read:realtime_location_users:admin: phone:read:realtime_location_users:admin
            phone:read:list_tracked_locations:admin: phone:read:list_tracked_locations:admin
            phone:update:device_line_keys: phone:update:device_line_keys
            phone:update:device_line_keys:admin: phone:update:device_line_keys:admin
            phone:read:device_line_keys: phone:read:device_line_keys
            phone:read:device_line_keys:admin: phone:read:device_line_keys:admin
            phone:delete:directory:admin: phone:delete:directory:admin
            phone:read:directory:admin: phone:read:directory:admin
            phone:write:directory:admin: phone:write:directory:admin
            phone:write:emergency_address:admin: phone:write:emergency_address:admin
            phone:read:list_emergency_addresses:admin: phone:read:list_emergency_addresses:admin
            phone:read:emergency_address:admin: phone:read:emergency_address:admin
            phone:delete:emergency_address:admin: phone:delete:emergency_address:admin
            phone:update:emergency_address:admin: phone:update:emergency_address:admin
            phone:write:batch_emergency_locations:admin: phone:write:batch_emergency_locations:admin
            phone:read:list_emergency_locations:admin: phone:read:list_emergency_locations:admin
            phone:write:emergency_location:admin: phone:write:emergency_location:admin
            phone:read:emergency_location:admin: phone:read:emergency_location:admin
            phone:update:emergency_location:admin: phone:update:emergency_location:admin
            phone:delete:emergency_location:admin: phone:delete:emergency_location:admin
            phone:write:external_contact:admin: phone:write:external_contact:admin
            phone:read:list_external_contacts:admin: phone:read:list_external_contacts:admin
            phone:delete:external_contact:admin: phone:delete:external_contact:admin
            phone:read:external_contact:admin: phone:read:external_contact:admin
            phone:update:external_contact:admin: phone:update:external_contact:admin
            phone:write:send_fax: phone:write:send_fax
            phone:write:send_fax:admin: phone:write:send_fax:admin
            phone:read:list_fax_log: phone:read:list_fax_log
            phone:read:list_fax_log:admin: phone:read:list_fax_log:admin
            phone:read:fax_log:admin: phone:read:fax_log:admin
            phone:read:fax_log: phone:read:fax_log
            phone:delete:fax_log: phone:delete:fax_log
            phone:delete:fax_log:admin: phone:delete:fax_log:admin
            phone:read:list_firmware_update_rules:admin: phone:read:list_firmware_update_rules:admin
            phone:write:firmware_update_rule:admin: phone:write:firmware_update_rule:admin
            phone:delete:firmware_update_rule:admin: phone:delete:firmware_update_rule:admin
            phone:update:firmware_update_rule:admin: phone:update:firmware_update_rule:admin
            phone:read:firmware_update_rule:admin: phone:read:firmware_update_rule:admin
            phone:read:list_firmwares:admin: phone:read:list_firmwares:admin
            phone:read:list_call_pickup_groups:admin: phone:read:list_call_pickup_groups:admin
            phone:write:call_pickup_group:admin: phone:write:call_pickup_group:admin
            phone:read:call_pickup_group:admin: phone:read:call_pickup_group:admin
            phone:update:call_pickup_group:admin: phone:update:call_pickup_group:admin
            phone:delete:call_pickup_group:admin: phone:delete:call_pickup_group:admin
            phone:write:call_pickup_group_member:admin: phone:write:call_pickup_group_member:admin
            phone:read:call_pickup_group_member:admin: phone:read:call_pickup_group_member:admin
            phone:delete:call_pickup_group_member:admin: phone:delete:call_pickup_group_member:admin
            phone:update:group_policy:admin: phone:update:group_policy:admin
            phone:read:group_policy:admin: phone:read:group_policy:admin
            phone:read:group_setting:admin: phone:read:group_setting:admin
            phone:read:auto_receptionist_ivr:admin: phone:read:auto_receptionist_ivr:admin
            phone:update:auto_receptionist_ivr:admin: phone:update:auto_receptionist_ivr:admin
            phone:read:list_extension_inbound_block_rules:admin: phone:read:list_extension_inbound_block_rules:admin
            phone:read:list_extension_inbound_block_rules: phone:read:list_extension_inbound_block_rules
            phone:delete:extension_inbound_block_rule:admin: phone:delete:extension_inbound_block_rule:admin
            phone:delete:extension_inbound_block_rule: phone:delete:extension_inbound_block_rule
            phone:write:extension_inbound_block_rule:admin: phone:write:extension_inbound_block_rule:admin
            phone:write:extension_inbound_block_rule: phone:write:extension_inbound_block_rule
            phone:delete:extension_inbound_block_rule_stat:admin: phone:delete:extension_inbound_block_rule_stat:admin
            phone:read:list_extension_inbound_block_rules_stat:admin: phone:read:list_extension_inbound_block_rules_stat:admin
            phone:update:inbound_blocked_for_all:admin: phone:update:inbound_blocked_for_all:admin
            phone:delete:inbound_block_rule:admin: phone:delete:inbound_block_rule:admin
            phone:read:list_inbound_block_rules:admin: phone:read:list_inbound_block_rules:admin
            phone:write:inbound_block_rule:admin: phone:write:inbound_block_rule:admin
            phone:update:inbound_block_rule:admin: phone:update:inbound_block_rule:admin
            phone:update:line_keys: phone:update:line_keys
            phone:update:line_keys:admin: phone:update:line_keys:admin
            phone:read:line_keys: phone:read:line_keys
            phone:read:line_keys:admin: phone:read:line_keys:admin
            phone:delete:line_keys: phone:delete:line_keys
            phone:delete:line_keys:admin: phone:delete:line_keys:admin
            phone:read:list_monitoring_groups:admin: phone:read:list_monitoring_groups:admin
            phone:write:monitoring_group:admin: phone:write:monitoring_group:admin
            phone:delete:monitoring_group:admin: phone:delete:monitoring_group:admin
            phone:update:monitoring_group:admin: phone:update:monitoring_group:admin
            phone:read:monitoring_group:admin: phone:read:monitoring_group:admin
            phone:read:list_monitoring_group_members:admin: phone:read:list_monitoring_group_members:admin
            phone:write:monitoring_group_member:admin: phone:write:monitoring_group_member:admin
            phone:delete:monitoring_group_member:admin: phone:delete:monitoring_group_member:admin
            phone:read:common_area_outbound_calling_rule:admin: phone:read:common_area_outbound_calling_rule:admin
            phone:update:common_area_outbound_calling_rule:admin: phone:update:common_area_outbound_calling_rule:admin
            phone:write:common_area_outbound_calling_rule:admin: phone:write:common_area_outbound_calling_rule:admin
            phone:delete:common_area_outbound_calling_rule:admin: phone:delete:common_area_outbound_calling_rule:admin
            phone:read:list_outbound_calling_rules:admin: phone:read:list_outbound_calling_rules:admin
            phone:update:outbound_calling_rule:admin: phone:update:outbound_calling_rule:admin
            phone:write:outbound_calling_rule:admin: phone:write:outbound_calling_rule:admin
            phone:delete:outbound_calling_rule:admin: phone:delete:outbound_calling_rule:admin
            phone:update:site_outbound_calling_rule:admin: phone:update:site_outbound_calling_rule:admin
            phone:read:site_outbound_calling_rule:admin: phone:read:site_outbound_calling_rule:admin
            phone:write:site_outbound_calling_rule:admin: phone:write:site_outbound_calling_rule:admin
            phone:delete:site_outbound_calling_rule:admin: phone:delete:site_outbound_calling_rule:admin
            phone:update:user_outbound_calling_rule:admin: phone:update:user_outbound_calling_rule:admin
            phone:read:user_outbound_calling_rule:admin: phone:read:user_outbound_calling_rule:admin
            phone:write:user_outbound_calling_rule:admin: phone:write:user_outbound_calling_rule:admin
            phone:delete:user_outbound_calling_rule:admin: phone:delete:user_outbound_calling_rule:admin
            phone:read:list_devices:admin: phone:read:list_devices:admin
            phone:write:device:admin: phone:write:device:admin
            phone:write:sync_device:admin: phone:write:sync_device:admin
            phone:update:device:admin: phone:update:device:admin
            phone:delete:device:admin: phone:delete:device:admin
            phone:read:device:admin: phone:read:device:admin
            phone:write:device_extension:admin: phone:write:device_extension:admin
            phone:delete:device_extension:admin: phone:delete:device_extension:admin
            phone:update:device_provision_template:admin: phone:update:device_provision_template:admin
            phone:write:reboot_device:admin: phone:write:reboot_device:admin
            phone:write:byo_carrier_number:admin: phone:write:byo_carrier_number:admin
            phone:delete:number:admin: phone:delete:number:admin
            phone:read:list_numbers:admin: phone:read:list_numbers:admin
            phone:update:site_number:admin: phone:update:site_number:admin
            phone:read:numbers:admin: phone:read:numbers:admin
            phone:update:number:admin: phone:update:number:admin
            phone:write:user_number: phone:write:user_number
            phone:write:user_number:admin: phone:write:user_number:admin
            phone:delete:user_number: phone:delete:user_number
            phone:delete:user_number:admin: phone:delete:user_number:admin
            phone:read:list_calling_plans:admin: phone:read:list_calling_plans:admin
            phone:read:list_roles:admin: phone:read:list_roles:admin
            phone:write:role:admin: phone:write:role:admin
            phone:update:role:admin: phone:update:role:admin
            phone:read:role:admin: phone:read:role:admin
            phone:delete:role:admin: phone:delete:role:admin
            phone:read:role_member:admin: phone:read:role_member:admin
            phone:write:role_member:admin: phone:write:role_member:admin
            phone:delete:role_member:admin: phone:delete:role_member:admin
            phone:write:private_directory_member:admin: phone:write:private_directory_member:admin
            phone:read:list_private_directory_members:admin: phone:read:list_private_directory_members:admin
            phone:update:private_directory_member:admin: phone:update:private_directory_member:admin
            phone:delete:private_directory_member:admin: phone:delete:private_directory_member:admin
            phone_peering:read:admin: phone_peering:read:admin
            phone:read:list_peering_numbers:admin: phone:read:list_peering_numbers:admin
            phone_peering:write:admin: phone_peering:write:admin
            phone:write:peering_number:admin: phone:write:peering_number:admin
            phone:delete:peering_number:admin: phone:delete:peering_number:admin
            phone:update:peering_number:admin: phone:update:peering_number:admin
            phone:write:provision_template:admin: phone:write:provision_template:admin
            phone:read:list_provision_templates:admin: phone:read:list_provision_templates:admin
            phone:update:provision_template:admin: phone:update:provision_template:admin
            phone:read:provision_template:admin: phone:read:provision_template:admin
            phone:delete:provision_template:admin: phone:delete:provision_template:admin
            phone_recording:read: phone_recording:read
            phone_recording:read:admin: phone_recording:read:admin
            phone:read:call_recording: phone:read:call_recording
            phone:read:call_recording:admin: phone:read:call_recording:admin
            phone:read:recording_transcript: phone:read:recording_transcript
            phone:read:recording_transcript:admin: phone:read:recording_transcript:admin
            phone:read:list_call_recordings:admin: phone:read:list_call_recordings:admin
            phone_recording:write: phone_recording:write
            phone_recording:write:admin: phone_recording:write:admin
            phone:update:call_recording: phone:update:call_recording
            phone:update:call_recording:admin: phone:update:call_recording:admin
            phone:delete:call_recording: phone:delete:call_recording
            phone:delete:call_recording:admin: phone:delete:call_recording:admin
            phone:read:list_recordings: phone:read:list_recordings
            phone:read:list_recordings:admin: phone:read:list_recordings:admin
            phone:read:call_charges:admin: phone:read:call_charges:admin
            phone:read:fax_charges:admin: phone:read:fax_charges:admin
            phone:read:operation_logs:admin: phone:read:operation_logs:admin
            phone:read:sms_charges:admin: phone:read:sms_charges:admin
            phone:read:list_routing_rules:admin: phone:read:list_routing_rules:admin
            phone:write:routing_rule:admin: phone:write:routing_rule:admin
            phone:update:routing_rule:admin: phone:update:routing_rule:admin
            phone:read:routing_rule:admin: phone:read:routing_rule:admin
            phone:delete:routing_rule:admin: phone:delete:routing_rule:admin
            phone_sms:write: phone_sms:write
            phone_sms:write:admin: phone_sms:write:admin
            phone:read:sms_message: phone:read:sms_message
            phone:read:sms_message:admin: phone:read:sms_message:admin
            phone_sms:read: phone_sms:read
            phone_sms:read:admin: phone_sms:read:admin
            phone:read:list_sms_sessions: phone:read:list_sms_sessions
            phone:read:list_sms_sessions:admin: phone:read:list_sms_sessions:admin
            phone:read:sms_session: phone:read:sms_session
            phone:read:sms_session:admin: phone:read:sms_session:admin
            phone:read:list_sms_campaigns:admin: phone:read:list_sms_campaigns:admin
            phone:read:sms_campaign:admin: phone:read:sms_campaign:admin
            phone:write:sms_campaign_number:admin: phone:write:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status:admin: phone:read:sms_campaign_number_opt_status:admin
            phone:update:sms_campaign_number_opt_status:admin: phone:update:sms_campaign_number_opt_status:admin
            phone:delete:sms_campaign_number:admin: phone:delete:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status: phone:read:sms_campaign_number_opt_status
            phone:read:sms_consent_number_opt_status:admin: phone:read:sms_consent_number_opt_status:admin
            phone:write:setting_template:admin: phone:write:setting_template:admin
            phone:read:list_setting_templates:admin: phone:read:list_setting_templates:admin
            phone:update:setting_template:admin: phone:update:setting_template:admin
            phone:read:setting_template:admin: phone:read:setting_template:admin
            phone:update:policy:admin: phone:update:policy:admin
            phone:read:policy:admin: phone:read:policy:admin
            phone:read:list_ported_numbers:admin: phone:read:list_ported_numbers:admin
            phone:read:ported_number:admin: phone:read:ported_number:admin
            phone:update:settings:admin: phone:update:settings:admin
            phone:read:settings:admin: phone:read:settings:admin
            phone:read:list_sip_groups:admin: phone:read:list_sip_groups:admin
            phone:read:list_sip_trunks:admin: phone:read:list_sip_trunks:admin
            phone:read:list_shared_line_appearances:admin: phone:read:list_shared_line_appearances:admin
            phone:read:list_shared_line_groups:admin: phone:read:list_shared_line_groups:admin
            phone:write:shared_line_group:admin: phone:write:shared_line_group:admin
            phone:read:shared_line_group:admin: phone:read:shared_line_group:admin
            phone:read:shared_line_group_call_handling_setting:admin: phone:read:shared_line_group_call_handling_setting:admin
            phone:update:shared_line_group_call_handling_setting:admin: phone:update:shared_line_group_call_handling_setting:admin
            phone:read:shared_line_group_policy:admin: phone:read:shared_line_group_policy:admin
            phone:update:shared_line_group_policy:admin: phone:update:shared_line_group_policy:admin
            phone:read:shared_line_group_setting:admin: phone:read:shared_line_group_setting:admin
            phone:update:shared_line_group_setting:admin: phone:update:shared_line_group_setting:admin
            phone:delete:shared_line_group_setting:admin: phone:delete:shared_line_group_setting:admin
            phone:write:shared_line_group_setting:admin: phone:write:shared_line_group_setting:admin
            phone:update:shared_line_group:admin: phone:update:shared_line_group:admin
            phone:delete:shared_line_group:admin: phone:delete:shared_line_group:admin
            phone:delete:shared_line_member:admin: phone:delete:shared_line_member:admin
            phone:write:shared_line_member:admin: phone:write:shared_line_member:admin
            phone:delete:shared_line_group_number:admin: phone:delete:shared_line_group_number:admin
            phone:write:shared_line_group_number:admin: phone:write:shared_line_group_number:admin
            phone:delete:shared_line_group_policy:admin: phone:delete:shared_line_group_policy:admin
            phone:write:shared_line_group_policy:admin: phone:write:shared_line_group_policy:admin
            phone:read:list_sites:admin: phone:read:list_sites:admin
            phone:write:site:admin: phone:write:site:admin
            phone:read:site:admin: phone:read:site:admin
            phone:delete:site:admin: phone:delete:site:admin
            phone:update:site:admin: phone:update:site:admin
            phone:read:list_site_customized_number:admin: phone:read:list_site_customized_number:admin
            phone:delete:site_customized_number:admin: phone:delete:site_customized_number:admin
            phone:write:site_customized_number:admin: phone:write:site_customized_number:admin
            phone:read:site_setting:admin: phone:read:site_setting:admin
            phone:write:site_setting:admin: phone:write:site_setting:admin
            phone:delete:site_setting:admin: phone:delete:site_setting:admin
            phone:update:site_setting:admin: phone:update:site_setting:admin
            phone:read:list_users:admin: phone:read:list_users:admin
            phone:write:batch_users:admin: phone:write:batch_users:admin
            phone:update:batch_users:admin: phone:update:batch_users:admin
            phone:read:user: phone:read:user
            phone:read:user:admin: phone:read:user:admin
            phone:update:user: phone:update:user
            phone:update:user:admin: phone:update:user:admin
            phone:delete:user_call_handling_setting: phone:delete:user_call_handling_setting
            phone:delete:user_call_handling_setting:admin: phone:delete:user_call_handling_setting:admin
            phone:write:user_call_handling_setting: phone:write:user_call_handling_setting
            phone:write:user_call_handling_setting:admin: phone:write:user_call_handling_setting:admin
            phone:read:user_call_handling_setting:admin: phone:read:user_call_handling_setting:admin
            phone:read:user_call_handling_setting: phone:read:user_call_handling_setting
            phone:update:user_call_handling_setting:admin: phone:update:user_call_handling_setting:admin
            phone:update:user_call_handling_setting: phone:update:user_call_handling_setting
            phone:write:calling_plan: phone:write:calling_plan
            phone:write:calling_plan:admin: phone:write:calling_plan:admin
            phone:update:calling_plan: phone:update:calling_plan
            phone:update:calling_plan:admin: phone:update:calling_plan:admin
            phone:delete:users_calling_plan: phone:delete:users_calling_plan
            phone:delete:users_calling_plan:admin: phone:delete:users_calling_plan:admin
            phone:read:list_user_customized_number: phone:read:list_user_customized_number
            phone:read:list_user_customized_number:admin: phone:read:list_user_customized_number:admin
            phone:write:user_customized_number: phone:write:user_customized_number
            phone:write:user_customized_number:admin: phone:write:user_customized_number:admin
            phone:delete:user_customized_number: phone:delete:user_customized_number
            phone:delete:user_customized_number:admin: phone:delete:user_customized_number:admin
            phone:update:user_policy:admin: phone:update:user_policy:admin
            phone:read:user_policy:admin: phone:read:user_policy:admin
            phone:delete:user_setting: phone:delete:user_setting
            phone:delete:user_setting:admin: phone:delete:user_setting:admin
            phone:write:user_setting:admin: phone:write:user_setting:admin
            phone:write:user_setting: phone:write:user_setting
            phone:read:user_setting:admin: phone:read:user_setting:admin
            phone:read:user_setting: phone:read:user_setting
            phone:update:user_setting: phone:update:user_setting
            phone:update:user_setting:admin: phone:update:user_setting:admin
            phone:update:shared_setting: phone:update:shared_setting
            phone:update:shared_setting:admin: phone:update:shared_setting:admin
            phone:write:shared_setting: phone:write:shared_setting
            phone:write:shared_setting:admin: phone:write:shared_setting:admin
            phone:delete:shared_setting: phone:delete:shared_setting
            phone:delete:shared_setting:admin: phone:delete:shared_setting:admin
            phone_voicemail:read: phone_voicemail:read
            phone_voicemail:read:admin: phone_voicemail:read:admin
            phone:read:voicemail: phone:read:voicemail
            phone:read:voicemail:admin: phone:read:voicemail:admin
            phone:read:list_voicemails: phone:read:list_voicemails
            phone:read:list_voicemails:admin: phone:read:list_voicemails:admin
            phone_voicemail:write: phone_voicemail:write
            phone_voicemail:write:admin: phone_voicemail:write:admin
            phone:update:voicemail: phone:update:voicemail
            phone:update:voicemail:admin: phone:update:voicemail:admin
            phone:delete:voicemail: phone:delete:voicemail
            phone:delete:voicemail:admin: phone:delete:voicemail:admin
            phone:read:list_rooms:admin: phone:read:list_rooms:admin
            phone:write:room:admin: phone:write:room:admin
            phone:read:room:admin: phone:read:room:admin
            phone:delete:room:admin: phone:delete:room:admin
            phone:update:room:admin: phone:update:room:admin
            phone:write:room_calling_plan:admin: phone:write:room_calling_plan:admin
            phone:delete:room_calling_plan:admin: phone:delete:room_calling_plan:admin
            phone:write:room_phone_number:admin: phone:write:room_phone_number:admin
            phone:delete:room_phone_number:admin: phone:delete:room_phone_number:admin
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
