openapi: 3.2.0
info:
  title: Phone Call Queues API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Call Queues
paths:
  /phone/call_queue_analytics:
    get:
      tags:
      - Call Queues
      summary: List call queue analytics
      description: 'Returns the call queue analytics overview.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_call_queues:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: callqueueanalytics
      parameters:
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      - name: from
        in: query
        description: The call start time in GMT **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The earliest data available for query is from 2 years ago. If unspecified, returns data within the 24 hours.
        required: true
        schema:
          type: string
          format: date
          example: '2025-05-01'
      - name: to
        in: query
        description: The call end time in GMT **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. Queries must be within a one-year interval. If unspecified, it would be present day
        required: true
        schema:
          type: string
          format: date
          example: '2025-05-15'
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: site_id
        in: query
        description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) where the call queue is assigned.
        required: false
        schema:
          type: string
          example: lA68sMSVQ6GAUcGg_GH0nQ
      - name: call_queue_ext_ids
        in: query
        description: The call queue extension ID list.
        required: false
        schema:
          maxItems: 300
          type: array
          example: []
          items:
            type: string
            example: 8f71O6rWT8KFUGQmJIFAdQ
      - name: department
        in: query
        description: The department of which the call queue belongs.
        required: false
        schema:
          type: string
          example: IT department
      - name: cost_center
        in: query
        description: The cost center where the call queue belongs.
        required: false
        schema:
          type: string
          example: HR cost center
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**Call Queues analytics listed successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  call_queues:
                    type: array
                    description: A list with call queue historical analytics data.
                    items:
                      type: object
                      properties:
                        call_queue_id:
                          type: string
                          description: The unique identifier of the call queue.
                          example: 3PNsZB50TNev4pgBjtKeDw
                        call_queue_name:
                          type: string
                          description: The name of the call queue.
                          example: test call queue
                        call_queue_ext_id:
                          type: string
                          description: The extension of the call queue.
                          example: 8f71O6rWT8KFUGQmJIFAdQ
                        inbound_calls:
                          type: integer
                          description: The number of inbound calls.
                          example: 500
                        completed_calls:
                          type: integer
                          description: The number of completed calls.
                          example: 450
                        abandoned_calls:
                          type: integer
                          description: The number of abandoned calls.
                          example: 40
                        overflowed_calls:
                          type: integer
                          description: The number of overflowed calls.
                          example: 10
                        avg_handle_time:
                          type: integer
                          description: The average handle time for call in seconds.
                          example: 180
                        avg_wrap_up_time:
                          type: integer
                          description: The average wrap up time for calls in seconds.
                          example: 60
                        avg_in_queue_wait_time:
                          type: integer
                          description: The average call wait time in seconds.
                          example: 30
                        max_in_queue_wait_time:
                          type: integer
                          description: The max call wait time in seconds.
                          example: 120
                        outbound_calls:
                          type: integer
                          description: The number of outbound calls.
                          example: 300
                        outbound_connected_calls:
                          type: integer
                          description: The number of connected outbound calls.
                          example: 450
                        outbound_unconnected_calls:
                          type: integer
                          description: The number of unconnected outbound calls.
                          example: 30
                        site_name:
                          type: string
                          description: The name of the site for the CQ.
                          example: SJ Site
                        site_id:
                          type: string
                          description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) where the call queue is assigned.
                          example: lA68sMSVQ6GAUcGg_GH0nQ
                  from:
                    type: string
                    description: The start time and date of the log.
                    example: '2021-10-01'
                  to:
                    type: string
                    description: The end time and date of the log.
                    example: '2021-10-12'
                  page_size:
                    type: integer
                    description: The number of records returned within a single API call for each page.
                    example: 30
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: AmhfoKtF2Ey4TaPg2iZsAcmetRLs2ZY0Sk2
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation Failed <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_call_queues:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_call_queues:admin
  /phone/call_queues:
    get:
      tags:
      - Call Queues
      summary: List call queues
      description: "Call queues allow you to route incoming calls to a group of users. For instance, you can use call queues to route calls to various departments in your organization such as sales, engineering, billing, customer service etc.\n Use this API to list Call queues.\n\n\n**Prerequisites:**\n\n* Pro, Business, or Education account\n* Account owner or admin permissions\n* Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_call_queues:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`"
      operationId: listCallQueues
      parameters:
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records returned from a single API call.
        required: false
        schema:
          maximum: 100
          type: integer
          example: 30
          default: 30
      - name: site_id
        in: query
        description: Unique identifier of the site. Get it from the [List Phone Sites](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listPhoneSites) API.
        required: false
        schema:
          type: string
          example: 8f71O6rWT8KFUGQmJIFAdQ
      - name: cost_center
        in: query
        description: The call queue's cost center.
        required: false
        schema:
          type: string
          example: CQ cost center
      - name: department
        in: query
        description: The call queue's department.
        required: false
        schema:
          type: string
          example: Phone department
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            Call Queues listed successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  call_queues:
                    type: array
                    items:
                      type: object
                      properties:
                        extension_id:
                          type: string
                          description: The extension ID.
                          example: DgKe5UPTTlODBvcgmRIlPw
                        extension_number:
                          type: integer
                          description: The extension number assigned to the queue.
                          format: int64
                          example: 26000026001
                        id:
                          type: string
                          description: Unique identifier of the call queue.
                          example: 3PNsZB50TNev4pgBjtKeDw
                        name:
                          type: string
                          description: Name of the Call Queue.
                          example: ApiTA_2020_12_21_19_54_05_476
                        phone_numbers:
                          type: array
                          description: Phone number(s) assigned to the call queue.
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Unique identifier of the assigned phone number.
                                example: KsxwNLEhQ0SJ4U4Bor4ShA
                              number:
                                type: string
                                description: The phone number.
                                example: '+12058945717'
                              source:
                                type: string
                                description: Source
                                example: internal
                                enum:
                                - internal
                                - external
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 'Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) where the Call Queue is assigned. '
                              example: 8f71O6rWT8KFUGQmJIFAdQ
                            name:
                              type: string
                              description: Name of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites).
                              example: Main Site
                        status:
                          type: string
                          description: 'Status of the Call Queue.

                            `active`: Call queue is enabled and active.

                            `inactive`: Call queue is inactive. Inactive call queues cannot be called but will retain its settings and appear in the [Call Queues](https://zoom.us/pbx/page/telephone/groups#/groups) page.'
                          example: active
                          enum:
                          - active
                          - inactive
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: OvrVMfenVmKgsH0SqfWQ2jgUsHFGXeanCB2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The number of records returned from a single API call.
                    example: 30
                  total_records:
                    type: integer
                    description: The total number of records found for this query.
                    example: 1
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_call_queues:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_call_queues:admin
    post:
      tags:
      - Call Queues
      summary: Create a call queue
      description: "[Creates a call queue](https://support.zoom.us/hc/en-us/articles/360021524831-Managing-Call-Queues#h_e81faeeb-9184-429a-aaea-df49ff5ff413). Call queues allow you to route incoming calls to a group of users. For instance, you can use call queues to route calls to various departments in your organization such as sales, engineering, billing, customer service, and so on.\n You can add phone users or common areas to call queues.\n\n**Prerequisites:**\n\n* Pro, Business, or Education account\n* Account owner or admin permissions\n* Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:call_queue:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: createCallQueue
      requestBody:
        content:
          application/json:
            schema:
              required:
              - name
              - site_id
              type: object
              properties:
                cost_center:
                  type: string
                  description: The cost center name.
                  example: testCostCenter
                department:
                  type: string
                  description: The department name.
                  example: testDepartment
                description:
                  maxLength: 32
                  type: string
                  description: The description for the call queue.
                  example: testDescription
                extension_number:
                  type: integer
                  description: 'The phone extension number for the site.



                    If a site code has been [assigned](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_79ca9c8f-c97b-4486-aa59-d0d9d31a525b) to the site, provide the short extension number instead of the original extension number.'
                  format: int64
                  example: 10
                members:
                  type: object
                  properties:
                    common_area_ids:
                      maxItems: 10
                      type: array
                      description: "**Optional**\n\n The unique identifier of the [common area](https://marketplace.zoom.us/docs/api-reference/phone/methods/#operation/listCommonAreas). This can be retrieved from the [List Common Areas](https://developers.zoom.us/docs/api/rest/reference/phone/methods/#operation/listCommonAreas) API."
                      items:
                        type: string
                        example: 1pegM6NlSfCEP_jBCfX94A
                    users:
                      maxItems: 10
                      type: array
                      description: The object of the user. It provides either the 'id' (userId) field or the 'email address' of the user.
                      items:
                        type: object
                        properties:
                          email:
                            type: string
                            description: The email address of the user. It can be retrieved from the [List users](https://marketplace.zoom.us/docs/api-reference/zoom-api/methods#operation/users) API.
                            format: email
                            example: 2021050800001@testapi.com
                          id:
                            type: string
                            description: The user ID. It can be retrieved from the [List users](https://marketplace.zoom.us/docs/api-reference/zoom-api/methods#operation/users) API.
                            example: dksc_wq67sach2_3jxs
                  description: A list of one or more phone users to be included in the call queue. It provides either users or common area(s), or at least one user in the users object.
                name:
                  maxLength: 32
                  minLength: 1
                  type: string
                  description: The name of the call queue.
                  example: callhandling0001_Not_Delete
                site_id:
                  type: string
                  description: The unique identifier of the site. It's required only if [multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) have been enabled. This can be retrieved from the [List Phone Sites](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listPhoneSites) API.
                  example: lA68sMSVQ6GAUcGg_GH0nQ
      responses:
        '201':
          description: '**HTTP Status Code:** `201` **Created**


            Call queue created successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  extension_number:
                    type: integer
                    description: The extension number assigned for the call queue.
                    format: int64
                    example: 26000026010
                  id:
                    type: string
                    description: The unique identifier of the call queue.
                    example: IU8_1qAGS1Gf-3e56B_1Lw
                  name:
                    type: string
                    description: The name of the call queue.
                    example: callhandling0001_Not_Delete
                  status:
                    type: string
                    description: 'The status of the call queue.


                      `active`: Call queue is enabled and active.


                      `inactive`: Call queue is inactive. Inactive call queues cannot be called but will retain its settings and appear in the [Call Queues](https://zoom.us/pbx/page/telephone/groups#/groups) page.'
                    example: active
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation Failed.\n\nMultiple Site is disabled.\n\nSite does not exist.\n {extensionNumber} is out of range\n Exceeded the maximum number to add members per time <br>\n**Error Code:** `400` <br>\n Invalid short number length.\n Extension number {extensionNumber} is already used. <br>\n**Error Code:** `412` <br>\n The maximum number of Call Queue members is up to {maxSize}. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User not found: {userId} <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:call_queue:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:call_queue:admin
  /phone/call_queues/{callQueueId}:
    get:
      tags:
      - Call Queues
      summary: Get call queue details
      description: "Routes incoming calls to a group of users and returns information on a specific call queue. \n\nFor instance, you can use call queues to route calls to various departments in your organization such as sales, engineering, billing, customer service, and so on. \n\n\n \n**Prerequisites:**\n\n* Pro, Business, or Education account\n* Account owner or admin permissions\n* Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:call_queue:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: getACallQueue
      parameters:
      - name: callQueueId
        in: path
        description: The unique identifier of the call queue. You can retrieve it from the [List Call Queues API](https://marketplace.zoom.us/docs/api-reference/zoom-api/phone-call-queues/listcallqueues).
        required: true
        schema:
          type: string
          example: 3PNsZB50TNev4pgBjtKeDw
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            Call Queue details retrieved successfully. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  cost_center:
                    type: string
                    description: The name of the cost center.
                    example: testCostCenter
                  department:
                    type: string
                    description: The name of the department.
                    example: testDepartment
                  extension_id:
                    type: string
                    description: The extension ID.
                    example: DgKe5UPTTlODBvcgmRIlPw
                  extension_number:
                    type: integer
                    description: The extension number assigned to the call queue.
                    format: int64
                    example: 26000026001
                  id:
                    type: string
                    description: The unique identifier of the call queue.
                    example: 3PNsZB50TNev4pgBjtKeDw
                  members:
                    type: object
                    properties:
                      users:
                        maxItems: 300
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier of the user.
                              example: yNCY-HBHQ36rkXEXYTwu2g
                            level:
                              type: string
                              description: 'The level of the user. The value can be one of the following:


                                `manager`: A call queue manager has the privilege to change call queue settings, policy settings and manage recordings and voicemail inbox. There can only be one manager for each call queue.



                                `user`: Regular user without the privileges of a manager.'
                              example: user
                              enum:
                              - manager
                              - user
                            name:
                              type: string
                              description: The name of the user.
                              example: APITA AUTO
                            receive_call:
                              type: boolean
                              description: Whether the user can receive calls or not.
                              example: true
                            extension_id:
                              type: string
                              description: The extension ID of the user.
                              example: oeDyBe8zT2SzOZW6gQJXUA
                      common_areas:
                        maxItems: 300
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier of the common area.
                              example: HIlHzOEzS8ymQPFBZ-39AQ
                            name:
                              type: string
                              description: The name of the common area.
                              example: Common Area
                            extension_id:
                              type: string
                              description: The extension ID of common area.
                              example: HIlHzOEzS8ymQPFBZ-39AQ
                  name:
                    type: string
                    description: The name of the call queue.
                    example: ApiTA_2020_12_21_19_54_05_476
                  phone_numbers:
                    maxItems: 50
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the number.
                          example: KsxwNLEhQ0SJ4U4Bor4ShA
                        number:
                          type: string
                          description: The phone number.
                          example: '+12058945717'
                        source:
                          type: string
                          description: The source.
                          example: internal
                          enum:
                          - internal
                          - external
                  site:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) where the call queue is assigned.
                        example: lA68sMSVQ6GAUcGg_GH0nQ
                      name:
                        type: string
                        description: The name of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites).
                        example: ApiTA_Site_2020_07_12_00_42_50_109
                  status:
                    type: string
                    description: The status of the call queue.
                    example: active
                    enum:
                    - active
                    - inactive
                  policy:
                    type: object
                    properties:
                      voicemail_access_members:
                        maxItems: 50
                        uniqueItems: true
                        type: array
                        description: The shared voicemail access member list.
                        items:
                          allOf:
                          - type: object
                            properties:
                              access_user_id:
                                type: string
                                description: The member's ID in the shared voicemail access list determines the sharing or updating of access permissions. It must be the unique identifier of the user, or the unique identifier of the common area, depending on the access user type.
                                example: w0RChiauQeqRlv5fgxYULQ
                              access_user_type:
                                type: string
                                description: 'The extension type of a member in the shared voicemail access member list. Allowed: user | commonArea.'
                                example: commonArea
                                enum:
                                - commonArea
                                - user
                              allow_download:
                                type: boolean
                                description: Whether the member has download permissions. The default is **false**.
                                example: false
                              allow_delete:
                                type: boolean
                                description: Whether the member has delete permissions. The default is **false**.
                                example: false
                              allow_sharing:
                                type: boolean
                                description: Whether the member has the permission to share. The default is **false**.
                                example: false
                          - type: object
                            properties:
                              shared_id:
                                type: string
                                description: The shared voicemail ID.
                                example: --e8ugg0SeS-9clgrDkn2w
                    description: The call queue policy list.
                  timezone:
                    type: string
                    description: '[Timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the Call Queue.'
                    example: Pacific/Midway
                  audio_prompt_language:
                    type: string
                    description: "The language for all default audio prompts for the Call Queue. \n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                    example: en-US
                    enum:
                    - en-US
                    - en-GB
                    - es-US
                    - fr-CA
                    - da-DK
                    - de-DE
                    - es-ES
                    - fr-FR
                    - it-IT
                    - nl-NL
                    - pt-PT
                    - ja
                    - ko-KR
                    - pt-BR
                    - zh-CN
                  default_transcription_language:
                    type: string
                    description: "The default language selection for features such as voicemail and call recording.\n* `en-US` — English (US) \n* `en-GB` — English (UK) \n* `es-US` — Spanish (US) \n* `fr-CA` — French (Canada) \n* `da-DK` — Danish (Denmark) \n* `de-DE` — German (Germany) \n* `es-ES` — Spanish (Spain) \n* `fr-FR` — French (France) \n* `it-IT` — Italian (Italy) \n* `nl-NL` — Dutch (Netherlands) \n* `pt-PT` — Portuguese (Portugal) \n* `ja` — Japanese \n* `ko-KR` — Korean (Korea) \n* `pt-BR` — Portuguese (Brazil) \n* `zh-CN` — Chinese (PRC)"
                    example: en-US
                    enum:
                    - en-US
                    - en-GB
                    - es-US
                    - fr-CA
                    - da-DK
                    - de-DE
                    - es-ES
                    - fr-FR
                    - it-IT
                    - nl-NL
                    - pt-PT
                    - ja
                    - ko-KR
                    - pt-BR
                    - zh-CN
                  recording_storage_location:
                    type: string
                    description: "Where recording will be stored. Recording includes Phone recordings, voicemail, voicemail transcripts, and custom greeting prompts. \n* `US` : United States \n* `AU` : Australia \n* `CA` : Canada \n* `DE` : Germany \n* `IN` : India \n* `JP` : Japan \n* `SG` : Singapore \n* `BR` : Brazil \n* `CN` : China \n* `MX` : Mexico \n\n<b>Note:</b> \n* If the setting is locked at the Account level, it can't be updated."
                    example: US
                    enum:
                    - US
                    - AU
                    - CA
                    - DE
                    - IN
                    - JP
                    - SG
                    - BR
                    - CN
                    - MX
                  own_storage_name:
                    type: string
                    description: The name of your own storage. Use your own storage provided by Oracle Cloud Infrastructure (OCI) to store Zoom Phone recordings, voicemails, and voicemail transcripts, and custom greeting prompts.
                    example: us-oracle-storage
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13000` <br>\n The Call Queue does not exist, callQueueId:{callQueueId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:call_queue:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:call_queue:admin
    delete:
      tags:
      - Call Queues
      summary: Delete a call queue
      description: "Call queues allow you to route incoming calls to a group of users. For instance, you can use call queues to route calls to various departments in your organization such as sales, engineering, billing, customer service etc.\n Use this API to delete a Call Queue.\n \n**Prerequisites:**\n\n* Pro, Business, or Education account\n* Account owner or admin permissions\n* Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:call_queue:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: deleteACallQueue
      parameters:
      - name: callQueueId
        in: path
        description: Unique identifier of the call queue.
        required: true
        schema:
          type: string
          example: 3PNsZB50TNev4pgBjtKeDw
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Call Queue deleted successfully. '
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `400` <br>\nThe group does not exist, groupId:{callQueueId}.\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:call_queue:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:call_queue:admin
    patch:
      tags:
      - Call Queues
      summary: Update call queue details
      description: "Updates information of a specific call queue. Call queues allow you to route incoming calls to a group of users. For instance, you can use call queues to route calls to various departments in your organization such as sales, engineering, billing, customer service, and so on.\n  \n**Prerequisites:**\n\n* Pro, Business, or Education account\n* Account owner or admin permissions\n* Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:call_queue:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: updateCallQueue
      parameters:
      - name: callQueueId
        in: path
        description: The call queue ID.
        required: true
        schema:
          type: string
          example: 3PNsZB50TNev4pgBjtKeDw
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cost_center:
                  type: string
                  description: The cost center name.
                  example: Cost center
                department:
                  type: string
                  description: The department name.
                  example: Department
                description:
                  maxLength: 32
                  type: string
                  description: The description for the call queue.
                  example: Description
                extension_number:
                  type: integer
                  description: 'The phone extension number for the site.



                    If a site code has been [assigned](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_79ca9c8f-c97b-4486-aa59-d0d9d31a525b) to the site, provide the short extension number instead of the original extension number.'
                  format: int64
                  example: 10
                name:
                  maxLength: 32
                  type: string
                  description: The name of the call queue.
                  example: Call Queue
                site_id:
                  type: string
                  description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) where the call queue is assigned.
                  example: 8f71O6rWT8KFUGQmJIFAdQ
                status:
                  type: string
                  description: 'The status of the call queue. Allowed values:


                    `active`


                    `inactive`'
                  example: active
                  enum:
                  - active
                  - inactive
                timezone:
                  type: string
                  description: The [timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the call queue.
                  example: Pacific/Midway
                audio_prompt_language:
                  type: string
                  description: "The language for all default audio prompts for the Call Queue. \n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                  example: en-US
                  enum:
                  - en-US
                  - en-GB
                  - es-US
                  - fr-CA
                  - da-DK
                  - de-DE
                  - es-ES
                  - fr-FR
                  - it-IT
                  - nl-NL
                  - pt-PT
                  - ja
                  - ko-KR
                  - pt-BR
                  - zh-CN
                default_transcription_language:
                  type: string
                  description: "The default language selection for features such as voicemail and call recording.\n* `en-US` — English (US) \n* `en-GB` — English (UK) \n* `es-US` — Spanish (US) \n* `fr-CA` — French (Canada) \n* `da-DK` — Danish (Denmark) \n* `de-DE` — German (Germany) \n* `es-ES` — Spanish (Spain) \n* `fr-FR` — French (France) \n* `it-IT` — Italian (Italy) \n* `nl-NL` — Dutch (Netherlands) \n* `pt-PT` — Portuguese (Portugal) \n* `ja` — Japanese \n* `ko-KR` — Korean (Korea) \n* `pt-BR` — Portuguese (Brazil) \n* `zh-CN` — Chinese (PRC)"
                  example: en-US
                  enum:
                  - en-US
                  - en-GB
                  - es-US
                  - fr-CA
                  - da-DK
                  - de-DE
                  - es-ES
                  - fr-FR
                  - it-IT
                  - nl-NL
                  - pt-PT
                  - ja
                  - ko-KR
                  - pt-BR
                  - zh-CN
                recording_storage_location:
                  type: string
                  description: "Where the recording will be stored. Recording includes phone recordings, voicemails, voicemail transcripts, and custom greeting prompts. \n* `US` : United States \n* `AU` : Australia \n* `CA` : Canada \n* `DE` : Germany \n* `IN` : India \n* `JP` : Japan \n* `SG` : Singapore \n* `BR` : Brazil \n* `CN` : China \n* `MX` : Mexico \n\n<b>Note:</b> \n* If the setting is locked at the Account Level, it can't be updated."
                  example: US
                  enum:
                  - US
                  - AU
                  - CA
                  - DE
                  - IN
                  - JP
                  - SG
                  - BR
                  - CN
                  - MX
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Call Queue details updated successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation Failed. The group does not exist, groupId:{groupId}\n\nTimezone not found in the system. <br>\n**Error Code:** `400` <br>\n Unable to update this call queue as it is used for internal safety response team. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:call_queue:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:call_queue:admin
  /phone/call_queues/{callQueueId}/call_handling/settings:
    get:
      tags:
      - Call Queues
      summary: Get call queue call handling setting
      description: 'Returns the call handling setting of a call queue for the specified hour type.


        **Prerequisites**

        * A Business or Enterprise account

        * A Zoom Phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:call_queue_call_handling_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getCallQueueCallHandlingSetting
      parameters:
      - name: callQueueId
        in: path
        description: The call queue ID.
        required: true
        schema:
          type: string
          example: VcuQ6M7JSKO6xOVQ4ZJ2Nw
      - name: hour_type
        in: query
        description: The hour type of the call handling setting.
        required: false
        schema:
          type: string
          example: business_hours
          enum:
          - business_hours
          - closed_hours
          - holiday_hours
          - break_hours
      - name: holiday_hour_id
        in: query
        description: The holiday hour ID. Required when `hour_type` is `holiday_hours`.
        required: false
        schema:
          type: string
          example: TNxfEp2WT9emyCsAQt4qnA
      - name: break_hour_id
        in: query
        description: The break hour ID. Required when `hour_type` is `break_hours`.
        required: false
        schema:
          type: string
          example: ULfeE4mgSImyelNmTekUfg
      responses:
        '200':
          description: '**HTTP Status Code:** `200`   Call queue call handling setting retrieved successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  greeting_setting:
                    type: object
                    properties:
                      greeting_prompt:
                        type: object
                        properties:
                          audio_id:
                            type: string
                            description: The audio prompt file ID.
                            example: yCT14TwySDGVUypVlKNEyA
                          audio_name:
                            type: string
                            description: The audio prompt file name.
                            example: greeting-prompt.mp3
                        description: The audio file played when an incoming call to the call queue is answered.
                      audio_while_connecting:
                        type: object
                        properties:
                          audio_id:
                            type: string
                            description: The audio prompt file ID.
                            example: yCT14TwySDGVUypVlKNEyA
                          audio_name:
                            type: string
                            description: The audio prompt file name.
                            example: audio-while-connecting.mp3
                        description: The audio file played while the call is being routed to a queue member.
                      music_on_hold:
                        type: object
                        properties:
                          audio_id:
                            type: string
                            description: The audio prompt file ID.
                            example: yCT14TwySDGVUypVlKNEyA
                          audio_name:
                            type: string
                            description: The audio prompt file name.
                            example: music-on-hold.mp3
                        description: The music played to the caller while they are waiting in the queue.
                    description: The greeting and audio prompt settings of the call queue. Only returned when `hour_type` is `business_hours`.
                  call_distribution_setting:
                    type: object
                    properties:
                      max_wait_time:
                        type: integer
                        description: The maximum time, in seconds, that a caller waits in the queue before the overflow action runs.
                        example: 30
                        enum:
                        - 10
                        - 15
                        - 20
                        - 25
                        - 30
                        - 35
                        - 40
                        - 45
                        - 50
                        - 55
                        - 60
                        - 120
                        - 180
                        - 240
                        - 300
                        - 600
                        - 900
                        - 1200
                        - 1500
                        - 1800
                      wrap_up_time:
                        type: integer
                        description: The number of seconds a queue member is unavailable to receive a new call after handling a call.
                        example: 0
                        enum:
                        - 0
                        - 10
                        - 15
                        - 20
                        - 25
                        - 30
                        - 35
                        - 40
                        - 45
                        - 50
                        - 55
                        - 60
                        - 120
                        - 180
                        - 240
                      max_call_in_queue:
                        maximum: 60
                        minimum: 0
                        type: integer
                        description: The maximum number of calls that can be queued at the same time. When the queue is full, the overflow action runs.
                        example: 60
                      receive_calls_while_on_a_call:
                        type: boolean
                        description: Whether call queue members can receive notifications for new incoming calls while they are already on a call.
                        example: true
                      ring_mode:
                        type: string
                        description: 'The order in which queue members are rung when a call enters the queue.

                          * `simultaneous` — All queue members ring at the same time.

                          * `sequential` — Queue members ring one after another in the configured order.

                          * `rotating` — Queue members ring in a rotating order, starting from the next member after the last one who took a call.

                          * `longest_idle` — The queue member with the longest idle time rings first.

                          * `group_rotating` — Queue members are grouped into rotating groups, and groups ring in a rotating order.

                          * `custom_group_rotating` — Calls are distributed by rotating through predefined custom groups.'
                        example: simultaneous
                        enum:
                        - simultaneous
                        - sequential
                        - rotating
                        - longest_idle
                        - group_rotating
                        - custom_group_rotating
                      ring_mode_setting:
                        description: The ring mode-specific sub-settings. Only present when `ring_mode` is not `simultaneous`.
                        oneOf:
                        - title: Sequential / Rotating / Longest Idle
                          type: object
                          properties:
                            ring_duration:
                              type: integer
                              description: The number of seconds each queue member's device rings before the call is moved to the next member or to the overflow action.
                              example: 30
                              enum:
                              - 10
                              - 15
                              - 20
                              - 25
                              - 30
                              - 35
                              - 40
                              - 45
                              - 50
                              - 55
                              - 60
                            handle_multiple_calls:
                              type: boolean
                              description: Whether to distribute multiple incoming calls to different queue members instead of all members ringing for the same call.
                              example: false
                            skip_offline_device_phone_number:
                              type: boolean
                              description: Whether to skip queue members that are offline when distributing the call.
                              example: false
                          description: Only returned when `ring_mode` is `sequential`, `rotating`, or `longest_idle`.
                        - title: Group Rotating
                          type: object
                          properties:
                            ring_duration:
                              type: integer
                              description: The number of seconds each rotating group rings before the call is moved to the next group or to the overflow action.
                              example: 30
                              enum:
                              - 10
                              - 15
                              - 20
                              - 25
                              - 30
                              - 35
                              - 40
                              - 45
                              - 50
                              - 55
                              - 60
                            group_size:
                              maximum: 50
                              minimum: 2
                              type: integer
                              description: The number of queue members included in each rotating group.
                              example: 5
                          description: Only returned when `ring_mode` is `group_rotating`.
                        - title: Custom Group Rotating
                          type: object
                          properties:
                            ring_duration:
                              type: integer
                              description: The number of seconds a custom rotating group rings before the call moves to the next group or overflow action.
                              example: 30
                            custom_groups:
                              maxItems: 20
                              type: array
                              description: The custom groups.
                              items:
                                type: object
                                properties:
                                  custom_group_id:
                                    type: string
                                    description: The unique identifier of the custom group.
                                    example: 4l_dxFbRQR2YpKlcKUpsGw
                                  sequence:
                                    type: integer
                                    description: An integer representing the group's priority order (1-based). Smaller values indicate higher priority.
                                    example: 1
                                  name:
                                    type: string
                                    description: The custom group's display name.
                                    example: Custom Group 1
                                  description:
                                    type: string
                                    description: The custom group description.
                                    example: Custom Group desc
                                  members:
                                    maxItems: 50
                                    type: array
                                    description: The custom group members.
                                    items:
                                      type: object
                                      properties:
                                        extension_id:
                                          type: string
                                          description: The member's extension ID.
                                          example: GQAmmBlqTcGI3dRGv9siug
                                        name:
                                          type: string
                                          description: The extension's display name.
                                          example: User 11021
                                        extension_number:
                                          type: integer
                                          description: The extension number.
                                          example: 11201
                          description: Only returned when `ring_mode` is `custom_group_rotating`.
                      allow_members_to_set_own_business_hours:
                        type: boolean
                        description: Whether queue members are allowed to set their own business hours.
                        example: true
                    description: The call distribution settings that control how incoming calls are routed to queue members. Only returned when `hour_type` is `business_hours`.
                  call_handling_setting:
                    type: object
                    properties:
                      overflow_action:
                        type: string
                        description: 'The action that handles the call when no queue member answers, the wait time exceeds `max_wait_time`, or the queue is full.

                          * `forward_to_voicemail` — Forward to voicemail.

                          * `forward_to_extension` — Forward to another internal extension. The target extension type is identified by `forward_to_extension.extension_type`. Supported types: `user`, `callQueue`, `autoReceptionist`, `commonArea`, `sharedLineGroup`, `zoomRoom`, and `ciscoRoom/PolycomRoom`.

                          * `forward_to_external_contact` — Forward to an external contact.

                          * `forward_to_external_number` — Forward to an external phone number.

                          * `forward_to_zoom_contact_center` — Forward to a Zoom Contact Center voice flow.

                          * `play_message_then_disconnect` — Play a message and then disconnect.

                          * `disconnect` — Disconnect.

                          * `forward_to_teams` — Forward to a Microsoft Teams Resource Account. Only returned when the account has Zoom Phone for Microsoft Teams enabled.'
                        example: forward_to_voicemail
                        enum:
                        - forward_to_voicemail
                        - forward_to_extension
                        - forward_to_external_contact
                        - forward_to_external_number
                        - forward_to_zoom_contact_center
                        - play_message_then_disconnect
                        - disconnect
                        - forward_to_teams
                      overflow_action_setting:
                        description: The overflow settings for the overflow action. Only present when `overflow_action` is not `disconnect`.
                        oneOf:
                        - title: Forward to Voicemail
                          type: object
                          properties:
                            leave_voicemail_to:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: 'The voicemail target extension ID. The current call queue''s extension ID indicates the call is routed to the current call queue''s voicemail. A different extension ID indicates that the target extension''s voicemail is used. Supported extension types: user, auto receptionist, call queue, and shared line group.'
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The voicemail target extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The voicemail target extension display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The voicemail target extension type.
                                  example: user
                                  enum:
                                  - user
                                  - autoReceptionist
                                  - callQueue
                                  - sharedLineGroup
                              description: The voicemail target extension. Determines whose voicemail box receives the message.
                            connect_to_operator:
                              type: boolean
                              description: Whether to allow callers to reach an operator.
                              example: false
                            operator_extension:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: The operator's extension ID.
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The operator's extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The operator's extension display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The operator's extension type.
                                  example: user
                                  enum:
                                  - user
                                  - callQueue
                                  - autoReceptionist
                                  - commonArea
                                  - sharedLineGroup
                                  - zoomRoom
                                  - ciscoRoom/PolycomRoom
                              description: The operator's extension information. Only present when `connect_to_operator` is `true`.
                            voicemail_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: voicemail-greeting.mp3
                              description: The voicemail greeting prompt played to the caller before voicemail recording.
                            leave_voicemail_instruction:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: leave-voicemail-instruction.mp3
                              description: The leave-voicemail instruction prompt. Only returned when `connect_to_operator` is `true`.
                          description: Only returned when `overflow_action` is `forward_to_voicemail`.
                        - title: Forward to Extension
                          type: object
                          properties:
                            forward_to_extension:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: The extension ID.
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The extension display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The extension type.
                                  example: user
                                  enum:
                                  - user
                                  - callQueue
                                  - autoReceptionist
                                  - commonArea
                                  - sharedLineGroup
                                  - zoomRoom
                                  - ciscoRoom/PolycomRoom
                              description: The internal extension to forward calls to.
                          description: Only returned when `overflow_action` is `forward_to_extension`.
                        - title: Forward to External Contact
                          type: object
                          properties:
                            forward_to_external_contact:
                              type: object
                              properties:
                                external_contact_id:
                                  type: string
                                  description: The external contact's ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                external_contact_name:
                                  type: string
                                  description: The external contact's name.
                                  example: Johnson
                                external_contact_email:
                                  type: string
                                  description: The external contact's email address.
                                  example: example@example.com
                                phone_numbers:
                                  type: array
                                  description: The external contact's phone numbers.
                                  items:
                                    type: string
                                    example: '+12058945656'
                              description: The external contact to forward calls to.
                          description: Only returned when `overflow_action` is `forward_to_external_contact`.
                        - title: Forward to External Number
                          type: object
                          properties:
                            forward_phone_number:
                              type: string
                              description: The external phone number to forward calls to, in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                              example: '+12058945656'
                          description: Only returned when `overflow_action` is `forward_to_external_number`.
                        - title: Forward to Zoom Contact Center
                          type: object
                          properties:
                            zoom_contact_center_number:
                              type: string
                              description: The Zoom Contact Center entry phone number to forward calls to.
                              example: '+12058945600'
                            zoom_contact_center_flow_name:
                              type: string
                              description: The Zoom Contact Center flow display name.
                              example: Sales Inbound Flow
                          description: Only returned when `overflow_action` is `forward_to_zoom_contact_center`.
                        - title: Play a Message then Disconnect
                          type: object
                          properties:
                            message_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: message.mp3
                              description: The message audio prompt played before disconnecting.
                          description: Only returned when `overflow_action` is `play_message_then_disconnect`.
                        - title: Forward to Microsoft Teams Resource Account
                          type: object
                          properties:
                            forward_to_teams:
                              type: object
                              properties:
                                teams_app_id:
                                  type: string
                                  description: The Microsoft Teams Resource Account ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                teams_voice_app_name:
                                  type: string
                                  description: The Microsoft Teams Resource Account display name.
                                  example: Sales Teams RA
                              description: The Microsoft Teams Resource Account to forward calls to. Only available when the account has Zoom Phone for Microsoft Teams enabled.
                          description: Only returned when `overflow_action` is `forward_to_teams`.
                    description: The overflow and routing action settings of the call queue for the specified hour type. Returned for all hour types.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Call Queue does not exist: {callQueueId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:call_queue_call_handling_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:call_queue_call_handling_setting:admin
  /phone/call_queues/{callQueueId}/call_handling/settings/{hourType}:
    patch:
      tags:
      - Call Queues
      summary: Update call queue call handling setting
      description: 'Updates the call handling setting of a call queue for the specified hour type. Only the fields included in the request body are updated; omitted fields are left unchanged. Display-only fields (extension number/name, audio name, external contact name/email, Zoom Contact Center / Microsoft Teams display names) are derived on the server side and must not be sent in the request body.


        **Prerequisites:**

        * A Business or Enterprise account

        * A Zoom Phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:call_queue_call_handling_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateCallQueueCallHandlingSetting
      parameters:
      - name: callQueueId
        in: path
        description: The call queue ID.
        required: true
        schema:
          type: string
          example: VcuQ6M7JSKO6xOVQ4ZJ2Nw
      - name: hourType
        in: path
        description: The hour type of the call handling setting. `closed_hours` and `break_hours` cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`.
        required: true
        schema:
          type: string
          example: business_hours
          enum:
          - business_hours
          - closed_hours
          - holiday_hours
          - break_hours
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                holiday_hour_id:
                  type: string
                  description: The holiday hour ID. Required when `hourType` is `holiday_hours`.
                  example: TNxfEp2WT9emyCsAQt4qnA
                break_hour_id:
                  type: string
                  description: The break hour ID. Required when `hourType` is `break_hours`.
                  example: ULfeE4mgSImyelNmTekUfg
                greeting_setting:
                  type: object
                  properties:
                    greeting_prompt:
                      type: object
                      properties:
                        audio_id:
                          type: string
                          description: 'The audio prompt file ID. Send an empty string to clear the greeting prompt and use the system default.


                            Options:

                            * Empty string - Default

                            * `disable` - Disable'
                          example: yCT14TwySDGVUypVlKNEyA
                      description: The audio file played when an incoming call to the call queue is answered.
                    audio_while_connecting:
                      type: object
                      properties:
                        audio_id:
                          type: string
                          description: 'The audio prompt file ID.


                            Options:

                            * Empty string - Default

                            * `ring_tone` - Ring tone

                            * `disable` - Disable'
                          example: yCT14TwySDGVUypVlKNEyA
                      description: The audio file played while the call is being routed to a queue member.
                    music_on_hold:
                      type: object
                      properties:
                        audio_id:
                          type: string
                          description: 'The audio prompt file ID. Send an empty string to clear the music on hold.


                            Options:

                            * Empty string - Default

                            * `disable` - Disable'
                          example: yCT14TwySDGVUypVlKNEyA
                      description: The music played to the caller while they are waiting in the queue.
                  description: The greeting and audio prompt settings of the call queue. Only applicable when `hour_type` is `business_hours`.
                call_distribution_setting:
                  type: object
                  properties:
                    max_wait_time:
                      type: integer
                      description: The maximum time, in seconds, that the caller waits in the queue before the overflow action runs.
                      example: 30
                      enum:
                      - 10
                      - 15
                      - 20
                      - 25
                      - 30
                      - 35
                      - 40
                      - 45
                      - 50
                      - 55
                      - 60
                      - 120
                      - 180
                      - 240
                      - 300
                      - 600
                      - 900
                      - 1200
                      - 1500
                      - 1800
                    wrap_up_time:
                      type: integer
                      description: The number of seconds a queue member is unavailable to receive a new call after handling a call.
                      example: 0
                      enum:
                      - 0
                      - 10
                      - 15
                      - 20
                      - 25
                      - 30
                      - 35
                      - 40
                      - 45
                      - 50
                      - 55
                      - 60
                      - 120
                      - 180
                      - 240
                    max_call_in_queue:
                      maximum: 60
                      minimum: 0
                      type: integer
                      description: The maximum number of calls that can be queued at the same time. When the queue is full, the overflow action runs.
                      example: 60
                    receive_calls_while_on_a_call:
                      type: boolean
                      description: Whether call queue members can receive notifications for new incoming calls while they are already on a call.
                      example: true
                    allow_members_to_set_own_business_hours:
                      type: boolean
                      description: Whether queue members are allowed to set their own business hours.
                      example: true
                    ring_mode:
                      type: string
                      description: 'This field defines the order in which queue members receive incoming calls.

                        * `simultaneous` — All queue members ring at the same time.

                        * `sequential` — Queue members ring one after another in the configured order.

                        * `rotating` — Queue members ring in a rotating order, starting from the next member after the last one who took a call.

                        * `longest_idle` — The queue member with the longest idle time rings first.

                        * `group_rotating` — Queue members are grouped into rotating groups, and groups ring in a rotating order.

                        * `custom_group_rotating` — Calls are distributed by rotating through predefined custom groups. This endpoint is used to switch call distribution to this mode. Detailed custom group management (create/update/delete/reorder groups and members) is handled by the Custom Group OpenAPIs (/phone/call_queues/{callQueueId}/custom_groups and related sub-resources).'
                      example: simultaneous
                      enum:
                      - simultaneous
                      - sequential
                      - rotating
                      - longest_idle
                      - group_rotating
                      - custom_group_rotating
                    ring_mode_setting:
                      description: The ring mode-specific sub-settings. Only applicable when `ring_mode` is not `simultaneous`.
                      oneOf:
                      - title: Sequential / Rotating / Longest Idle
                        type: object
                        properties:
                          ring_duration:
                            type: integer
                            description: The number of seconds each queue member's device rings before the call is moved to the next member or to the overflow action.
                            example: 30
                            enum:
                            - 10
                            - 15
                            - 20
                            - 25
                            - 30
                            - 35
                            - 40
                            - 45
                            - 50
                            - 55
                            - 60
                          handle_multiple_calls:
                            type: boolean
                            description: Whether to distribute multiple incoming calls to different queue members instead of all members ringing for the same call.
                            example: false
                          skip_offline_device_phone_number:
                            type: boolean
                            description: Whether to skip queue members that are offline when distributing the call.
                            example: false
                        description: Only applicable when `ring_mode` is `sequential`, `rotating`, or `longest_idle`.
                      - title: Group Rotating
                        type: object
                        properties:
                          ring_duration:
                            type: integer
                            description: The number of seconds each rotating group rings before the call is moved to the next group or to the overflow action.
                            example: 30
                            enum:
                            - 10
                            - 15
                            - 20
                            - 25
                            - 30
                            - 35
                            - 40
                            - 45
                            - 50
                            - 55
                            - 60
                          group_size:
                            maximum: 50
                            minimum: 2
                            type: integer
                            description: The number of queue members included in each rotating group.
                            example: 5
                        description: Only applicable when `ring_mode` is `group_rotating`.
                  description: The call distribution settings that control how incoming calls are routed to queue members. Only applicable when `hour_type` is `business_hours`.
                call_handling_setting:
                  type: object
                  properties:
                    overflow_action:
                      type: string
                      description: 'The action to take when no queue member answers the call, the wait time exceeds `max_wait_time`, or the queue is full.

                        * `forward_to_voicemail` — Forward to voicemail.

                        * `forward_to_extension` — Forward to another internal extension.

                        * `forward_to_external_contact` — Forward to an external contact.

                        * `forward_to_external_number` — Forward to an external phone number.

                        * `forward_to_zoom_contact_center` — Forward to a Zoom Contact Center voice flow.

                        * `play_message_then_disconnect` — Play a message and then disconnect.

                        * `disconnect` — Disconnect.

                        * `forward_to_teams` — Forward to a Microsoft Teams Resource Account. Only available when the account has Zoom Phone for Microsoft Teams enabled.'
                      example: forward_to_voicemail
                      enum:
                      - forward_to_voicemail
                      - forward_to_extension
                      - forward_to_external_contact
                      - forward_to_external_number
                      - forward_to_zoom_contact_center
                      - play_message_then_disconnect
                      - disconnect
                      - forward_to_teams
                    overflow_action_setting:
                      description: The overflow settings for the overflow action. Only applicable when `overflow_action` is not `disconnect`.
                      oneOf:
                      - title: Forward to Voicemail
                        type: object
                        properties:
                          leave_voicemail_to:
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: 'The voicemail target extension ID. Set to the current call queue''s extension ID to leave the voicemail in the current call queue''s mailbox; set to a different extension ID to leave it in the target extension''s mailbox. Supported extension types: user, auto receptionist, call queue, and shared line group.'
                                example: jN9mb38lQTaMgxUq3Nd6ow
                            description: The voicemail target extension.
                          connect_to_operator:
                            type: boolean
                            description: Whether to allow callers to reach an operator.
                            example: false
                          operator_extension:
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: The operator extension ID.
                                example: jN9mb38lQTaMgxUq3Nd6ow
                            description: The operator extension. Only applicable when `connect_to_operator` is `true`.
                          voicemail_greeting:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID. Send an empty string to clear the greeting and use the system default.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The voicemail greeting prompt.
                          leave_voicemail_instruction:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID. Send an empty string to clear the instruction and use the system default.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The leave-voicemail instruction prompt. Only takes effect when `connect_to_operator` is `true`.
                        description: Only applicable when `overflow_action` is `forward_to_voicemail`.
                      - title: Forward to Extension
                        type: object
                        properties:
                          forward_to_extension:
                            required:
                            - extension_id
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: The internal extension ID to forward calls to.
                                example: jN9mb38lQTaMgxUq3Nd6ow
                            description: The internal extension to forward calls to.
                        description: Only applicable when `overflow_action` is `forward_to_extension`.
                      - title: Forward to External Contact
                        type: object
                        properties:
                          forward_to_external_contact:
                            required:
                            - external_contact_id
                            type: object
                            properties:
                              external_contact_id:
                                type: string
                                description: The external contact ID.
                                example: OJGi5xOFQPmrJbKg68-iWg
                            description: The external contact to forward calls to.
                        description: Only applicable when `overflow_action` is `forward_to_external_contact`.
                      - title: Forward to External Number
                        required:
                        - forward_phone_number
                        type: object
                        properties:
                          forward_phone_number:
                            type: string
                            description: The external phone number to forward calls to, in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                            example: '+12058945656'
                        description: Only applicable when `overflow_action` is `forward_to_external_number`.
                      - title: Forward to Zoom Contact Center
                        required:
                        - zoom_contact_center_number
                        type: object
                        properties:
                          zoom_contact_center_number:
                            type: string
                            description: The Zoom Contact Center entry phone number to forward calls to.
                            example: '+12058945600'
                        description: Only applicable when `overflow_action` is `forward_to_zoom_contact_center`.
                      - title: Play a Message then Disconnect
                        type: object
                        properties:
                          message_greeting:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID. Send an empty string to clear the message and use the system default.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The message audio prompt played before disconnecting.
                        description: Only applicable when `overflow_action` is `play_message_then_disconnect`.
                      - title: Forward to Microsoft Teams Resource Account
                        type: object
                        properties:
                          forward_to_teams:
                            required:
                            - teams_app_id
                            type: object
                            properties:
                              teams_app_id:
                                type: string
                                description: The Microsoft Teams Resource Account ID.
                                example: OJGi5xOFQPmrJbKg68-iWg
                            description: The Microsoft Teams Resource Account to forward calls to. Only available when the account has Zoom Phone for Microsoft Teams enabled.
                        description: Only applicable when `overflow_action` is `forward_to_teams`.
                  description: The overflow and routing action settings of the call queue for the specified hour type. Applicable to all hour types.
      responses:
        '204':
          description: '**HTTP Status Code:** `204`   Call queue call handling setting updated successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n**Error Code:** `13802` <br>\n Audio does not exist: {audioId}. <br>\n**Error Code:** `13808` <br>\n Extension does not exist: {extension_id}. <br>\n**Error Code:** `13810` <br>\n External contact does not exist: {0}. <br>\n**Error Code:** `15104` <br>\n The {hour_type} cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Call Queue does not exist: {callQueueId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:call_queue_call_handling_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:call_queue_call_handling_setting:admin
  /phone/call_queues/{callQueueId}/custom_groups:
    get:
      tags:
      - Call Queues
      summary: List custom groups of a call queue
      description: 'Returns a list of custom groups for a call queue.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:call_queue_custom_group:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: Listcustomgroupsofacallqueue
      parameters:
      - name: callQueueId
        in: path
        description: The unique identifier of the call queue.
        required: true
        schema:
          type: string
          example: 3PNsZB50TNev4pgBjtKeDw
      responses:
        '200':
          description: Custom groups of the call queue returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  custom_groups:
                    type: array
                    description: Custom groups.
                    items:
                      type: object
                      properties:
                        custom_group_id:
                          type: string
                          description: The unique identifier of the custom group.
                          example: 4l_dxFbRQR2YpKlcKUpsGw
                        sequence:
                          type: integer
                          description: An integer representing the group's priority order (1-based). Smaller values indicate higher priority.
                          example: 1
                        name:
                          type: string
                          description: The custom group display name.
                          example: Custom Group 1
                        description:
                          type: string
                          description: The custom group description.
                          example: Custom Group desc
                        members:
                          type: array
                          description: The custom group members.
                          items:
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: The member's extension ID.
                                example: GQAmmBlqTcGI3dRGv9siug
                              name:
                                type: string
                                description: The extension display name.
                                example: User 11021
[...]
