openapi: 3.2.0
info:
  title: Phone Auto Receptionists API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Auto Receptionists
paths:
  /phone/auto_receptionists:
    get:
      tags:
      - Auto Receptionists
      summary: List auto receptionists
      description: 'Returns a list of auto receptionists.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license.

        * Account owner or admin permissions.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_auto_receptionists:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`'
      operationId: listAutoReceptionists
      parameters:
      - name: page_size
        in: query
        description: The total number of records returned from a single API call.
        required: false
        schema:
          maximum: 100
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK**  \n \nList of [auto receptionists](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-auto-receptionists) retrieved successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  auto_receptionists:
                    type: array
                    items:
                      type: object
                      properties:
                        cost_center:
                          type: string
                          description: '`nullable` Cost center name.'
                          example: testCostCenter
                        department:
                          type: string
                          description: '`nullable` Department name.'
                          example: testDepartment
                        extension_id:
                          type: string
                          description: Extension ID
                          example: WfsrPERXS8inWrpH1Hi_KQ
                        extension_number:
                          type: integer
                          description: Extension number of the auto receptionist.
                          format: int64
                          example: 555550000000001
                        id:
                          type: string
                          description: The unique identifier of the auto receptionist.
                          example: nqerMCD0Tu6RPGoCpVbPtA
                        name:
                          type: string
                          description: Name of the auto receptionist.
                          example: JamieAuto
                        timezone:
                          type: string
                          description: '[Timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the Auto Receptionist.'
                          example: Pacific/Midway
                        audio_prompt_language:
                          type: string
                          description: Audio prompt language.
                          example: en-US
                        holiday_hours:
                          type: array
                          description: The holiday hours.
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The holiday ID.
                                example: i3gP6xFUTHqSFrIE6nHs7Q
                              name:
                                type: string
                                description: The name of the holiday.
                                example: Holiday 1
                              from:
                                type: string
                                description: The holiday start date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                                format: date-time
                                example: '2022-03-08T16:00:00Z'
                              to:
                                type: string
                                description: The holiday end date and time, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                                format: date-time
                                example: '2022-03-09T16:00:00Z'
                        phone_numbers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Unique identifier of the phone number.
                                example: KsxwNLEhQ0SJ4U4Bor4ShA
                              number:
                                type: string
                                description: Phone number.
                                example: '+12058945717'
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) to which the common area desk phone is assigned.
                              example: O4rBC_zEQnCVoiHfXKGKNA
                            name:
                              type: string
                              description: Name of the site.
                              example: jamietestsite
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    type: integer
                    description: Total number of records returned from a single API call.
                    example: 30
                  total_records:
                    type: integer
                    description: Total number of records found for this query.
                    example: 1
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_auto_receptionists:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_auto_receptionists:admin
    post:
      tags:
      - Auto Receptionists
      summary: Add an auto receptionist
      description: "Adds an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-) to a Zoom Phone. Auto receptionists answer calls with a personalized recording and routes calls to a phone user, call queue, common area, voicemail or an IVR system. \n\n**Prerequisites:**\n* Pro or higher account with Zoom Phone license.\n* Account owner or admin privileges \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:auto_receptionist:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: addAutoReceptionist
      requestBody:
        content:
          application/json:
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
                  description: Provide a name to help identify the auto receptionist.
                  example: JamieAuto
                site_id:
                  type: string
                  description: Unique identifier of the site where the auto receptionist is to be assigned. This field is required only if you have [multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) enabled.
                  example: O4rBC_zEQnCVoiHfXKGKNA
      responses:
        '201':
          description: '**HTTP Status Code:** `201` **Created**


            Auto receptionist added successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  extension_number:
                    type: integer
                    description: ' Extension number assigned to the auto receptionist.'
                    format: int64
                    example: 555550000000001
                  id:
                    type: string
                    description: Auto receptionist ID. The unique identifier of the auto receptionist.
                    example: nqerMCD0Tu6RPGoCpVbPtA
                  name:
                    type: string
                    description: ' Name of the auto receptionist.'
                    example: JamieAuto
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:auto_receptionist:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:auto_receptionist:admin
  /phone/auto_receptionists/{autoReceptionistId}:
    get:
      tags:
      - Auto Receptionists
      summary: Get an auto receptionist
      description: 'Returns information on a specific auto receptionist.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:auto_receptionist:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: getAutoReceptionistDetail
      parameters:
      - name: autoReceptionistId
        in: path
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK**  \n \nSuccessfully get an auto receptionist detail."
          content:
            application/json:
              schema:
                type: object
                properties:
                  cost_center:
                    type: string
                    description: '`nullable` The cost center name.'
                    example: testCostCenter
                  department:
                    type: string
                    description: '`nullable` The name of the department.'
                    example: testDepartment
                  extension_id:
                    type: string
                    description: The extension ID
                    example: WfsrPERXS8inWrpH1Hi_KQ
                  extension_number:
                    type: integer
                    description: The extension number of the auto receptionist.
                    format: int64
                    example: 555550000000001
                  name:
                    type: string
                    description: The name of the auto receptionist.
                    example: JamieAuto
                  timezone:
                    type: string
                    description: '[Timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the auto receptionist.'
                    example: Pacific/Midway
                  audio_prompt_language:
                    type: string
                    description: "The language for all default audio prompts for the auto receptionist. \n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                    example: en-US
                    enum:
                    - en-US
                    - en-GB
                    - es-US
                    - fr-CA
                    - da-DK
                    - de-DE
                    - es-ES
                    - fr-FR
                    - it-IT
                    - nl-NL
                    - pt-PT
                    - ja
                    - ko-KR
                    - pt-BR
                    - zh-CN
                  default_transcription_language:
                    type: string
                    description: "The default language selection for features such as voicemail and call recording.\n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                    example: en-US
                    enum:
                    - en-US
                    - en-GB
                    - es-US
                    - fr-CA
                    - da-DK
                    - de-DE
                    - es-ES
                    - fr-FR
                    - it-IT
                    - nl-NL
                    - pt-PT
                    - ja
                    - ko-KR
                    - pt-BR
                    - zh-CN
                  holiday_hours:
                    maxItems: 100
                    type: array
                    description: The holiday hours.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The holiday ID.
                          example: i3gP6xFUTHqSFrIE6nHs7Q
                        name:
                          type: string
                          description: The name of the holiday.
                          example: Holiday 1
                        from:
                          type: string
                          description: The holiday start date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                          format: date-time
                          example: '2022-03-08T16:00:00Z'
                        to:
                          type: string
                          description: The holiday end date and time, in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                          format: date-time
                          example: '2022-03-09T16:00:00Z'
                  phone_numbers:
                    maxItems: 50
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the phone number.
                          example: KsxwNLEhQ0SJ4U4Bor4ShA
                        number:
                          type: string
                          description: The phone number.
                          example: '+12058945717'
                  site:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) to which the common area desk phone is assigned.
                        example: O4rBC_zEQnCVoiHfXKGKNA
                      name:
                        type: string
                        description: The name of the site.
                        example: jamietestsite
                  recording_storage_location:
                    type: string
                    description: "Where the recording will be stored. Recording includes Phone recordings, voicemail, voicemail transcripts, and custom greeting prompts. \n* `US` : United States \n* `AU` : Australia \n* `CA` : Canada \n* `DE` : Germany \n* `IN` : India \n* `JP` : Japan \n* `SG` : Singapore \n* `BR` : Brazil \n* `CN` : China \n* `MX` : Mexico \n\n<b>Note:</b> \n* If the setting is locked at the Account level, it can't be updated."
                    example: US
                    enum:
                    - US
                    - AU
                    - CA
                    - DE
                    - IN
                    - JP
                    - SG
                    - BR
                    - CN
                    - MX
                  own_storage_name:
                    type: string
                    description: The name of your own storage. Use your own storage provided by Oracle Cloud Infrastructure (OCI) to store Zoom Phone recordings, voicemails, and voicemail transcripts, and custom greeting prompts.
                    example: us-oracle-storage
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation Failed. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:auto_receptionist:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:auto_receptionist:admin
    delete:
      tags:
      - Auto Receptionists
      summary: Delete a non-primary auto receptionist
      description: '[Deletes a non-primary auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-#h_1d5ffc56-6ba3-4ce5-9d86-4a1a1ee743f3).


        An auto receptionist answers calls with a personalized recording and routes calls to a phone user, call queue, common area (phone), or to a voicemail. An auto receptionist can also be set up so that it routes calls to an interactive voice response (IVR) system to allow callers to select the routing options.



        **Prerequisites:**

        * Pro or higher account with Zoom Phone license.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:auto_receptionist:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`'
      operationId: deleteAutoReceptionist
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n  **No Content**  \n \nAuto Receptionist deleted successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Unable to delete main Auto receptionist.<br><br> <br>\n**Error Code:** `404` <br>\n AutoReceptionist does not exist: {autoReceptionistId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:auto_receptionist:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:auto_receptionist:admin
    patch:
      tags:
      - Auto Receptionists
      summary: Update an auto receptionist
      description: '[Changes information](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-#h_1d5ffc56-6ba3-4ce5-9d86-4a1a1ee743f3) such as the display name and the extension number assigned to the main auto receptionist.


        An auto receptionist answers calls with a personalized recording. And it routes calls to a phone user, call queue, common area, or voicemail. An auto receptionist can also be set up so that it routes calls to an interactive voice response (IVR) system to allow callers to select the routing options.



        **Prerequisites:**

        * Pro or higher account with Zoom Phone license.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:auto_receptionist:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateAutoReceptionist
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cost_center:
                  type: string
                  description: The cost center name.
                  example: testCostCenter
                department:
                  type: string
                  description: The department name.
                  example: testDepartment
                extension_number:
                  type: integer
                  description: The extension number to be assigned to the auto receptionist. If site code is enabled, provide the short extension number instead.
                  format: int64
                  example: 555550000000001
                name:
                  maxLength: 32
                  type: string
                  description: Display name of the auto receptionist.
                  example: JamieAuto
                audio_prompt_language:
                  type: string
                  description: "The language for all default audio prompts for the Auto Receptionist. \n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                  example: en-US
                  enum:
                  - en-US
                  - en-GB
                  - es-US
                  - fr-CA
                  - da-DK
                  - de-DE
                  - es-ES
                  - fr-FR
                  - it-IT
                  - nl-NL
                  - pt-PT
                  - ja
                  - ko-KR
                  - pt-BR
                  - zh-CN
                default_transcription_language:
                  type: string
                  description: "The default language selection for features such as voicemail and call recording.\n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                  example: en-US
                  enum:
                  - en-US
                  - en-GB
                  - es-US
                  - fr-CA
                  - da-DK
                  - de-DE
                  - es-ES
                  - fr-FR
                  - it-IT
                  - nl-NL
                  - pt-PT
                  - ja
                  - ko-KR
                  - pt-BR
                  - zh-CN
                timezone:
                  type: string
                  description: The [timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the Auto Receptionist.
                  example: Pacific/Midway
                recording_storage_location:
                  type: string
                  description: "Where the recording will be stored. The recording includes Phone recordings, voicemail, voicemail transcripts, and custom greeting prompts. \n* `US` : United States \n* `AU` : Australia \n* `CA` : Canada \n* `DE` : Germany \n* `IN` : India \n* `JP` : Japan \n* `SG` : Singapore \n* `BR` : Brazil \n* `CN` : China \n* `MX` : Mexico \n\n<b>Note:</b> \n* If the setting is locked at the Account level, it can't be updated."
                  example: US
                  enum:
                  - US
                  - AU
                  - CA
                  - DE
                  - IN
                  - JP
                  - SG
                  - BR
                  - CN
                  - MX
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n  **No Content**  \n \nAuto Receptionist details updated sucessfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Extension Number must be {min} to {max} digits<br>\nValidation Failed. AutoReceptionist does not exist, AutoReceptionistId: {autoReceptionistId}<br>\nAudio prompt language is invalid:{0}<br>\nTime zone is invalid:{0}<br> <br>\n**Error Code:** `400` <br>\n Invalid short number length.<br>\nInvalid full extension number length.<br><br> <br>\n**Error Code:** `10001` <br>\n Number {extensionNumber} is a reserved extension number.<br>\nExtension number {extensionNumber} is already used.<br>\nLanguage setting is invalid. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:auto_receptionist:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:auto_receptionist:admin
  /phone/auto_receptionists/{autoReceptionistId}/call_handling/settings:
    get:
      tags:
      - Auto Receptionists
      summary: Get auto receptionist call handling setting
      description: 'Returns the call handling setting of an auto receptionist for the specified hour type.


        **Prerequisites**

        * A Business or Enterprise account

        * A Zoom Phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:auto_receptionist_call_handling_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getAutoReceptionistCallHandlingSettings
      parameters:
      - name: autoReceptionistId
        in: path
        description: The auto receptionist ID.
        required: true
        schema:
          type: string
          example: 1M9iN6myT4qVx7QbJ8z9aw
      - name: hour_type
        in: query
        description: The hour type of the call handling setting.
        required: false
        schema:
          type: string
          example: business_hours
          enum:
          - business_hours
          - closed_hours
          - holiday_hours
          - break_hours
      - name: holiday_hour_id
        in: query
        description: The holiday hour ID. Required when `hour_type` is `holiday_hours`.
        required: false
        schema:
          type: string
          example: TNxfEp2WT9emyCsAQt4qnA
      - name: break_hour_id
        in: query
        description: The break hour ID. Required when `hour_type` is `break_hours`.
        required: false
        schema:
          type: string
          example: ULfeE4mgSImyelNmTekUfg
      responses:
        '200':
          description: '**HTTP Status Code:** `200` Auto receptionist call handling setting retrieved successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  greeting_setting:
                    type: object
                    properties:
                      greeting_prompt:
                        type: object
                        properties:
                          audio_id:
                            type: string
                            description: The audio prompt file ID.
                            example: yCT14TwySDGVUypVlKNEyA
                          audio_name:
                            type: string
                            description: The audio prompt file name.
                            example: greeting-prompt.mp3
                        description: The audio file played when an incoming call to the auto receptionist is answered.
                    description: The greeting and audio prompt settings.
                  call_handling_setting:
                    type: object
                    properties:
                      routing_action:
                        type: string
                        description: 'The action to take for incoming calls during the specified hour type:

                          * `forward_to_voicemail` — Forward to the voicemail of an internal extension (the current auto receptionist by default, or another user, auto receptionist, call queue, or shared line group).

                          * `play_message_then_disconnect` — Play a message and then disconnect.

                          * `forward_to_extension` — Forward to another internal extension. The target extension type is identified by `forward_to_extension.extension_type`. Supported types: `user`, `callQueue`, `autoReceptionist`, `commonArea`, `sharedLineGroup`, `zoomRoom`, `ciscoRoom/PolycomRoom`.

                          * `forward_to_ivr` — Route the call to the auto receptionist''s interactive voice response (IVR) menu. The IVR menu is managed via a separate API.

                          * `forward_to_partner_contact_center` — Forward to a partner contact center.

                          * `forward_to_external_number` — Forward to an external phone number.

                          * `forward_to_external_contact` — Forward to an external contact.

                          * `forward_to_zoom_contact_center` — Forward to a Zoom Contact Center voice flow.

                          * `forward_to_voicemail_access` — Route the call to voicemail access so callers can check messages.

                          * `forward_to_teams` — Forward to a Microsoft Teams Resource Account. Only returned when the account has Zoom Phone for Microsoft Teams enabled.'
                        example: forward_to_voicemail
                        enum:
                        - forward_to_voicemail
                        - play_message_then_disconnect
                        - forward_to_extension
                        - forward_to_ivr
                        - forward_to_partner_contact_center
                        - forward_to_external_number
                        - forward_to_external_contact
                        - forward_to_zoom_contact_center
                        - forward_to_voicemail_access
                        - forward_to_teams
                      routing_action_setting:
                        description: The call handling setting based on the `routing_action` value. Only present when `routing_action` is `forward_to_voicemail`, `play_message_then_disconnect`, `forward_to_extension`, `forward_to_partner_contact_center`, `forward_to_external_number`, `forward_to_external_contact`, `forward_to_zoom_contact_center`, or `forward_to_teams`. Not returned when `routing_action` is `forward_to_ivr` (the IVR menu is managed via a separate API) or `forward_to_voicemail_access` (no additional setting required).
                        oneOf:
                        - title: Forward to Voicemail
                          type: object
                          properties:
                            leave_voicemail_to:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: 'The voicemail target extension ID. The current auto receptionist''s extension ID indicates the call is routed to the current auto receptionist''s voicemail. A different extension ID indicates that the target extension''s voicemail is used. Supported extension types: user, auto receptionist, call queue, and shared line group.'
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The voicemail target extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The voicemail target extension display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The voicemail target extension type.
                                  example: user
                                  enum:
                                  - user
                                  - autoReceptionist
                                  - callQueue
                                  - sharedLineGroup
                              description: The voicemail target extension. Determines whose voicemail box receives the message.
                            voicemail_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: voicemail-greeting.mp3
                              description: The voicemail greeting prompt played to the caller before voicemail recording.
                          description: Only returned when `routing_action` is `forward_to_voicemail`.
                        - title: Play a Message then Disconnect
                          type: object
                          properties:
                            message_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: message.mp3
                              description: The message audio prompt played before disconnecting.
                          description: Only returned when `routing_action` is `play_message_then_disconnect`.
                        - title: Forward to Extension
                          type: object
                          properties:
                            forward_to_extension:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: The extension ID.
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The extension display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The extension type.
                                  example: user
                                  enum:
                                  - user
                                  - callQueue
                                  - autoReceptionist
                                  - commonArea
                                  - sharedLineGroup
                                  - zoomRoom
                                  - ciscoRoom/PolycomRoom
                              description: The internal extension to forward calls to.
                          description: Only returned when `routing_action` is `forward_to_extension`.
                        - title: Forward to Partner Contact Center
                          type: object
                          properties:
                            forward_to_partner_contact_center:
                              type: object
                              properties:
                                partner_contact_center_id:
                                  type: string
                                  description: The partner contact center setting ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                partner_contact_center_name:
                                  type: string
                                  description: The partner contact center setting display name.
                                  example: ACME Contact Center
                              description: The partner contact center to forward calls to.
                          description: Only returned when `routing_action` is `forward_to_partner_contact_center`.
                        - title: Forward to External Number
                          type: object
                          properties:
                            forward_phone_number:
                              type: string
                              description: The external phone number to forward calls to, in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                              example: '+12058945656'
                          description: Only returned when `routing_action` is `forward_to_external_number`.
                        - title: Forward to External Contact
                          type: object
                          properties:
                            forward_to_external_contact:
                              type: object
                              properties:
                                external_contact_id:
                                  type: string
                                  description: The external contact's ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                external_contact_name:
                                  type: string
                                  description: The external contact's name.
                                  example: Johnson
                                external_contact_email:
                                  type: string
                                  description: The external contact's email address.
                                  example: example@example.com
                                phone_numbers:
                                  maxItems: 10
                                  type: array
                                  description: The external contact's phone numbers.
                                  items:
                                    type: string
                                    example: '+12058945656'
                              description: The external contact to forward calls to.
                          description: Only returned when `routing_action` is `forward_to_external_contact`.
                        - title: Forward to Zoom Contact Center
                          type: object
                          properties:
                            forward_to_zoom_contact_center:
                              type: object
                              properties:
                                zoom_contact_center_number:
                                  type: string
                                  description: The Zoom Contact Center voice flow's phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                                  example: '+12058945656'
                                zoom_contact_center_flow_name:
                                  type: string
                                  description: The Zoom Contact Center voice flow's display name.
                                  example: Sales Voice Flow
                              description: The Zoom Contact Center voice flow to forward calls to.
                          description: Only returned when `routing_action` is `forward_to_zoom_contact_center`.
                        - title: Forward to Microsoft Teams Resource Account
                          type: object
                          properties:
                            forward_to_teams:
                              type: object
                              properties:
                                teams_app_id:
                                  type: string
                                  description: The Microsoft Teams Resource Account ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                teams_voice_app_name:
                                  type: string
                                  description: The Microsoft Teams Resource Account display name.
                                  example: Sales Teams RA
                              description: The Microsoft Teams Resource Account to forward calls to. Only available when the account has Zoom Phone for Microsoft Teams enabled.
                          description: Only returned when `routing_action` is `forward_to_teams`.
                    description: The call handling settings.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Auto receptionist does not exist: {autoReceptionistId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:auto_receptionist_call_handling_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:auto_receptionist_call_handling_setting:admin
  /phone/auto_receptionists/{autoReceptionistId}/call_handling/settings/{hourType}:
    patch:
      tags:
      - Auto Receptionists
      summary: Update auto receptionist call handling setting
      description: 'Update the call handling setting of an auto receptionist for the specified hour type.


        **Prerequisites:**

        * A Business or Enterprise account

        * A Zoom Phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:auto_receptionist_call_handling_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateAutoReceptionistCallHandlingSettings
      parameters:
      - name: autoReceptionistId
        in: path
        description: The auto receptionist ID.
        required: true
        schema:
          type: string
          example: 1M9iN6myT4qVx7QbJ8z9aw
      - name: hourType
        in: path
        description: The hour type of the call handling setting. The `closed_hours` and `break_hours` cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`.
        required: true
        schema:
          type: string
          example: business_hours
          enum:
          - business_hours
          - closed_hours
          - holiday_hours
          - break_hours
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                holiday_hour_id:
                  type: string
                  description: The holiday hour ID. Required when `hourType` is `holiday_hours`.
                  example: TNxfEp2WT9emyCsAQt4qnA
                break_hour_id:
                  type: string
                  description: The break hour ID. Required when `hourType` is `break_hours`.
                  example: ULfeE4mgSImyelNmTekUfg
                greeting_setting:
                  type: object
                  properties:
                    greeting_prompt:
                      type: object
                      properties:
                        audio_id:
                          type: string
                          description: 'The audio prompt file ID.


                            Options:

                            * Empty string — Default

                            * `disable` — Disable'
                          example: yCT14TwySDGVUypVlKNEyA
                        audio_name:
                          type: string
                          description: The audio prompt file name.
                          example: greeting-prompt.mp3
                      description: The audio file played when an incoming call to the auto receptionist is answered.
                  description: The greeting and audio prompt settings.
                call_handling_setting:
                  type: object
                  properties:
                    routing_action:
                      type: string
                      description: 'The action to take for incoming calls during the specified hour type:

                        * `forward_to_voicemail` — Forward to the voicemail of an internal extension (the current auto receptionist by default, or another user, auto receptionist, call queue, or shared line group).

                        * `play_message_then_disconnect` — Play a message and then disconnect.

                        * `forward_to_extension` — Forward to another internal extension. The target extension type is identified by the supplied `forward_to_extension.extension_id`.

                        * `forward_to_ivr` — Route the call to the auto receptionist''s IVR menu. The IVR menu is managed via a separate API.

                        * `forward_to_partner_contact_center` — Forward to a partner contact center.

                        * `forward_to_external_number` — Forward to an external phone number.

                        * `forward_to_external_contact` — Forward to an external contact.

                        * `forward_to_zoom_contact_center` — Forward to a Zoom Contact Center voice flow.

                        * `forward_to_voicemail_access` — Route the call to voicemail access so callers can check messages.

                        * `forward_to_teams` — Forward to a Microsoft Teams resource account. Only allowed when the account has Zoom Phone for Microsoft Teams enabled.'
                      example: forward_to_voicemail
                      enum:
                      - forward_to_voicemail
                      - play_message_then_disconnect
                      - forward_to_extension
                      - forward_to_ivr
                      - forward_to_partner_contact_center
                      - forward_to_external_number
                      - forward_to_external_contact
                      - forward_to_zoom_contact_center
                      - forward_to_voicemail_access
                      - forward_to_teams
                    routing_action_setting:
                      description: The call handling setting based on the `routing_action` value. Required when `routing_action` is `forward_to_voicemail`, `play_message_then_disconnect`, `forward_to_extension`, `forward_to_partner_contact_center`, `forward_to_external_number`, `forward_to_external_contact`, `forward_to_zoom_contact_center`, or `forward_to_teams`. Omit when `routing_action` is `forward_to_ivr` or `forward_to_voicemail_access`.
                      oneOf:
                      - title: Forward to Voicemail
                        type: object
                        properties:
                          leave_voicemail_to:
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: The voicemail target extension ID. Pass an empty string or the current auto receptionist's extension ID to leave the voicemail in the current auto receptionist's voicemail box. Pass another extension ID (user, auto receptionist, call queue, or shared line group) to forward to that extension's voicemail.
                                example: jN9mb38lQTaMgxUq3Nd6ow
                            description: The voicemail target extension. Determines whose voicemail box receives the message. Mirrors the auto receptionist web UI "Leave Voicemail to" dropdown.
                          voicemail_greeting:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The voicemail greeting prompt played to the caller before voicemail recording.
                        description: Required when `routing_action` is `forward_to_voicemail`.
                      - title: Play a Message then Disconnect
                        type: object
                        properties:
                          message_greeting:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The message audio prompt played before disconnecting.
                        description: Required when `routing_action` is `play_message_then_disconnect`.
                      - title: Forward to Extension
                        type: object
                        properties:
                          forward_to_extension:
                            required:
                            - extension_id
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: 'The internal extension ID to forward calls to. Supported extension types: `user`, `callQueue`, `autoReceptionist`, `commonArea`, `sharedLineGroup`, `zoomRoom`, and `ciscoRoom/polycomRoom`.'
                                example: jN9mb38lQTaMgxUq3Nd6ow
                            description: The internal extension to forward calls to.
                        description: Required when `routing_action` is `forward_to_extension`, `forward_to_zoom_room`, `forward_to_common_area`, `forward_to_cisco_polycom_room`, `forward_to_auto_receptionist`, `forward_to_call_queue`, or `forward_to_shared_line_group`.
                      - title: Forward to Partner Contact Center
                        type: object
                        properties:
                          forward_to_partner_contact_center:
                            required:
                            - partner_contact_center_id
                            type: object
                            properties:
                              partner_contact_center_id:
                                type: string
                                description: The partner contact center setting ID.
                                example: OJGi5xOFQPmrJbKg68-iWg
                            description: The partner contact center to forward calls to.
                        description: Required when `routing_action` is `forward_to_partner_contact_center`.
                      - title: Forward to External Number
                        required:
                        - forward_phone_number
                        type: object
                        properties:
                          forward_phone_number:
                            maxLength: 16
                            type: string
                            description: The external phone number to forward calls to, in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                            example: '+12058945656'
                        description: Required when `routing_action` is `forward_to_external_number`.
                      - title: Forward to External Contact
                        type: object
                        properties:
                          forward_to_external_contact:
                            required:
                            - external_contact_id
                            type: object
                            properties:
                              external_contact_id:
                                type: string
                                description: The external contact ID.
                                example: OJGi5xOFQPmrJbKg68-iWg
                            description: The external contact to forward calls to.
                        description: Required when `routing_action` is `forward_to_external_contact`.
                      - title: Forward to Zoom Contact Center
                        type: object
                        properties:
                          forward_to_zoom_contact_center:
                            required:
                            - zoom_contact_center_number
                            type: object
                            properties:
                              zoom_contact_center_number:
                                maxLength: 16
                                type: string
                                description: The Zoom Contact Center voice flow's phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                                example: '+12058945656'
                            description: The Zoom Contact Center voice flow to forward calls to.
                        description: Required when `routing_action` is `forward_to_zoom_contact_center`.
                      - title: Forward to Microsoft Teams Resource Account
                        type: object
                        properties:
                          forward_to_teams:
                            required:
                            - teams_app_id
                            type: object
                            properties:
                              teams_app_id:
                                type: string
                                description: The Microsoft Teams resource account ID.
                                example: OJGi5xOFQPmrJbKg68-iWg
                            description: The Microsoft Teams resource account to forward calls to.
                        description: Required when `routing_action` is `forward_to_teams`. Only allowed when the account has Zoom Phone for Microsoft Teams enabled.
                  description: The call handling settings.
      responses:
        '204':
          description: '**HTTP Status Code:** `204` Auto receptionist call handling setting updated successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13802` <br>\n Audio does not exist: {audioId}. <br>\n**Error Code:** `13808` <br>\n Extension does not exist: {extension_id}. <br>\n**Error Code:** `13810` <br>\n External contact does not exist: {0}. <br>\n**Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n**Error Code:** `15104` <br>\n The {hour_type} cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Auto receptionist does not exist: {autoReceptionistId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:auto_receptionist_call_handling_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:auto_receptionist_call_handling_setting:admin
  /phone/auto_receptionists/{autoReceptionistId}/phone_numbers:
    post:
      tags:
      - Auto Receptionists
      summary: Assign phone numbers
      description: "Assigns available phone numbers to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). The available numbers can be retrieved using the List Phone Numbers API with `type` query parameter set to &quot;unassigned&quot;.\n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:auto_receptionist_number:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: assignPhoneNumbersAutoReceptionist
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_numbers:
                  type: array
                  description: Provide either the unique identifier of the Phone Number  in the `id` field or provide the phone number in the `number` field.
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique Identifier of the Phone number.
                        example: KsxwNLEhQ0SJ4U4Bor4ShA
                      number:
                        type: string
                        description: Phone number in e164 format.
                        example: '+12058945717'
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \nPhone numbers assigned successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Unable to update this number as it is used for outbound caller ID to public safety answering point.<br>\nPhone number does not exist, phonenumberId:{phonenumberId}<br>\nphoneNumber is used, phonenumberId:{phonenumberId} <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n AutoReceptionist does not exist, AutoReceptionistId: {autoReceptionId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:auto_receptionist_number:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:auto_receptionist_number:admin
    delete:
      tags:
      - Auto Receptionists
      summary: Unassign all phone numbers
      description: "Unassigns all phone numbers that were previously assigned to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:auto_receptionist_number:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: unassignAllPhoneNumsAutoReceptionist
      parameters:
      - name: autoReceptionistId
        in: path
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \nPhone numbers unassigned successfully."
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n AutoReceptionist does not exist, AutoReceptionistId: {autoReceptionId} <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:auto_receptionist_number:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:auto_receptionist_number:admin
  /phone/auto_receptionists/{autoReceptionistId}/phone_numbers/{phoneNumberId}:
    delete:
      tags:
      - Auto Receptionists
      summary: Unassign a phone number
      description: "Unassigns a specific phone number that was previously assigned to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:auto_receptionist_number:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: unassignAPhoneNumAutoReceptionist
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      - name: phoneNumberId
        in: path
        description: 'Unique Identifier of the phone number or provide the actual phone number in e164 format (example: +19995550123).'
        required: true
        schema:
          type: string
          example: KsxwNLEhQ0SJ4U4Bor4ShA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \nPhone number unassigned successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Phone number does not belong to auto receptionist. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n AutoReceptionist does not exist, AutoReceptionistId: {autoReceptionId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:auto_receptionist_number:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:auto_receptionist_number:admin
  /phone/auto_receptionists/{autoReceptionistId}/policies:
    get:
      tags:
      - Auto Receptionists
      summary: Get an auto receptionist policy
      description: 'Returns the policy setting of a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-).


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:auto_receptionist_policy:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: getAutoReceptionistsPolicy
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            Successfully retrieved the auto receptionist policy.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  voicemail_access_members:
                    uniqueItems: true
                    type: array
                    description: Shared voicemail access member list.
                    items:
                      type: object
                      properties:
                        shared_id:
                          type: string
                          description: Unique identifier of the shared voicemail that the user can access.
                          example: --e8ugg0SeS-9clgrDkn2w
                        access_user_id:
                          type: string
                          description: The member's ID in the shared voicemail access list determines the sharing or updating of access permissions. It must be the unique identifier of the user, or unique identifier of the common area depending on the access user type.
                          example: w0RChiauQeqRlv5fgxYULQ
                        access_user_type:
                          type: string
                          description: 'The extension type of the member to be added in the shared voicemail access member list. Allowed: user | commonArea.'
                          example: commonArea
                          enum:
                          - commonArea
                          - user
                        delete:
                          type: boolean
                          description: Specifies whether the user has delete permissions. The default is **false**.
                          example: false
                        download:
                          type: boolean
                          description: Specifies whether the user has download permissions. The default is **false**.
                          example: false
                  voicemail_transcription:
                    type: object
                    properties:
                      enable:
                        type: boolean
                        description: Whether to allow users to access transcriptions of voicemails from the Zoom client, the Zoom web portal and email notifications.
                        example: true
                      locked:
                        type: boolean
                        description: Whether the senior administrator allows users to modify the current settings.
                        example: true
                      locked_by:
                        type: string
                        description: Which level of administrator prohibits modifying the current settings.
                        example: site
                        enum:
                        - invalid
                        - account
                        - site
                      modified:
                        type: boolean
                        description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                        example: true
                  voicemail_notification_by_email:
                    type: object
                    properties:
                      include_voicemail_file:
                        type: boolean
                        description: Whether to include the voicemail file.
                        example: true
                      include_voicemail_transcription:
                        type: boolean
                        description: Whether to include the voicemail transcription.
                        example: false
                      forward_voicemail_to_email:
                        type: boolean
                        description: Whether to forward the voicemail to email.
                        example: true
                      enable:
                        type: boolean
                        example: true
                      locked:
                        type: boolean
                        description: Whether the senior administrator allows users to modify the current settings.
                        example: true
                      locked_by:
                        type: string
                        description: Which level of administrator prohibits modifying the current settings.
                        example: site
                        enum:
                        - invalid
                        - account
                        - site
                      modified:
                        type: boolean
                        description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                        example: true
                    description: Once enabled, users will receive email notifications when there is a new voicemail from users, call queues, auto receptionists or shared line groups. Users who disabled the shared voicemail notification by email policy will not receive notifications. Only displayed when the voicemail policy is using the new policy framework.
                  sms:
                    type: object
                    properties:
                      enable:
                        type: boolean
                        description: Whether to allow users, call queues and auto receptionists to send and receive messages. You will still need to assign a valid calling plan and phone number to each user in order for them to send and receive messages.
                        example: true
                      international_sms:
                        type: boolean
                        description: Whether the user can send and receive international messages.
                        example: true
                      international_sms_countries:
                        type: array
                        description: The country to which users can send and receive international messages. The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                        items:
                          type: string
                          example: US
                      locked:
                        type: boolean
                        description: Whether the senior administrator allows users to modify the current settings.
                        example: true
                      locked_by:
                        type: string
                        description: Which level of administrator prohibits modifying the current settings.
                        example: site
                        enum:
                        - invalid
                        - account
                        - site
                      modified:
                        type: boolean
                        description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                        example: true
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:auto_receptionist_policy:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:auto_receptionist_policy:admin
    patch:
      tags:
      - Auto Receptionists
      summary: Update an auto receptionist policy
      description: "Updates the policy setting of a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-). \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:auto_receptionist_policy:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: updateAutoReceptionistPolicy
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                voicemail_transcription:
                  type: object
                  properties:
                    enable:
                      type: boolean
                      description: Whether to allow users to access transcriptions of voicemails from the Zoom client, the Zoom web portal and email notifications.
                      example: true
                    reset:
                      type: boolean
                      description: Whether the current settings will use the phone account's settings (applicable if the current settings are using the new policy framework).
                      example: true
                voicemail_notification_by_email:
                  type: object
                  properties:
                    include_voicemail_file:
                      type: boolean
                      description: Whether to include the voicemail file.
                      example: true
                    include_voicemail_transcription:
                      type: boolean
                      description: Whether to include the voicemail transcription.
                      example: false
                    forward_voicemail_to_email:
                      type: boolean
                      description: Whether to forward the voicemail to email.
                      example: true
                    enable:
                      type: boolean
                      example: true
                    reset:
                      type: boolean
                      description: Whether the current settings will use the phone account's settings (applicable if the current settings are using the new policy framework).
                      example: true
                  description: Once enabled, users will receive email notifications when there is a new voicemail from users, call queues, auto receptionists or shared line groups. Users who disabled the shared voicemail notification by email policy will not receive notifications. Only displayed when the voicemail policy is using the new policy framework.
                sms:
                  type: object
                  properties:
                    enable:
                      type: boolean
                      description: Whether to allow users, call queues and auto receptionists to send and receive messages. You will still need to assign a valid calling plan and phone number to each user in order for them to send and receive messages.
                      example: true
                    reset:
                      type: boolean
                      description: Whether the current settings will use the phone account's settings (applicable if the current settings are using the new policy framework).
                      example: true
                    international_sms:
                      type: boolean
                      description: Whether the user can send and receive international messages.
                      example: true
                    international_sms_countries:
                      type: array
                      description: The country which users can send and receive international messages. The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      items:
                        type: string
                        example: US
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n  **No Content**  \n \nAuto receptionist policy updated successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:auto_receptionist_policy:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:auto_receptionist_policy:admin
  /phone/auto_receptionists/{autoReceptionistId}/policies/{policyType}:
    post:
      tags:
      - Auto Receptionists
      summary: Add a policy subsetting
      description: 'Adds a policy subsetting for a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-) according to the `policyType`. For example, you can use this API to set up shared access members.<br><br>**Prerequisites:**

        * Pro or higher account plan with Zoom Phone License

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:auto_receptionist_policy:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: AddPolicy
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists API](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listAutoReceptionists).
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      - name: policyType
        in: path
        description: 'Corresponds to the policy item you wish to add. Allowed values: `voice_mail`'
        required: true
        schema:
          type: string
          example: voice_mail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                voicemail_access_member:
                  type: object
                  properties:
                    access_user_id:
                      type: string
                      description: The user that is allowed to access voicemail messages for the extension.
                      example: w0RChiauQeqRlv5fgxYULQ
                    access_user_type:
                      type: string
                      description: 'The extension type of the member to be added in the shared voicemail access member list. The default type will be the user, if empty. Allowed: user | commonArea.'
                      example: commonArea
                      enum:
                      - commonArea
                      - user
                    delete:
                      type: boolean
                      description: Specifies whether the user has delete permissions. The default is **false**.
                      example: false
                    download:
                      type: boolean
                      description: Specifies whether the user has download permissions. The default is **false**.
                      example: false
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \nAuto receptionist policy created successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  voicemail_access_member:
                    type: object
                    properties:
                      shared_id:
                        type: string
                        description: Unique identifier of the shared voicemail that the user can access.
                        example: --e8ugg0SeS-9clgrDkn2w
                      access_user_id:
                        type: string
                        description: The user that is allowed to access voicemail messages for the extension.
                        example: w0RChiauQeqRlv5fgxYULQ
                      access_user_type:
                        type: string
                        description: 'The extension type of the member to be added in the shared voicemail access member list. Allowed: user | commonArea.'
                        example: commonArea
                        enum:
                        - commonArea
                        - user
                      delete:
                        type: boolean
                        description: Specifies whether the user has delete permissions. The default is **false**.
                        example: false
                      download:
                        type: boolean
                        description: Specifies whether the user has download permissions. The default is **false**.
                        example: false
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n  <br>\n**Error Code:** `429` <br>\n You can only add up to {0} {1} to access your voicemail.<br>\n\nUser does not exist: {0}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:auto_receptionist_policy:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:auto_receptionist_policy:admin
    delete:
      tags:
      - Auto Receptionists
      summary: Delete a policy subsetting
      description: 'Removes the policy subsetting for a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-) according to the `policyType`. For example, you can use this API to remove shared access members.


        **Prerequisites:**

        * Pro or higher account plan with Zoom Phone License

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:auto_receptionist_policy:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: DeletePolicy
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists](https://developers.zoom.us/docs/api/rest/reference/phone/methods/#operation/listAutoReceptionists) API.
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      - name: policyType
        in: path
        description: "This field corresponds to the policy item you wish to remove. \n\nAllowed values: `voice_mail`"
        required: true
        schema:
          type: string
          example: voice_mail
      - name: shared_ids
        in: query
        description: The unique identifier of the voicemail that the user can access. It's required only for `voice_mail` policy type.
        required: true
        schema:
          type: array
          items:
            type: string
            example: p8JVVAopTwuA0eLzSwAcwg
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Auto receptionist policy successfully deleted.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:auto_receptionist_policy:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:auto_receptionist_policy:admin
    patch:
      tags:
      - Auto Receptionists
      summary: Update a policy subsetting
      description: 'Updates the policy subsetting of a specific [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-) according to the `policyType`. For example, you can use this API to update shared access members.


        **Prerequisites**

        * Pro or higher account plan with Zoom Phone License

        * Account owner or admin permissions




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:auto_receptionist_policy:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updatePolicy
      parameters:
      - name: autoReceptionistId
        in: path
        description: The unique identifier of the auto receptionist. It can be retrieved from the [List auto receptionists ](https://developers.zoom.us/docs/api/rest/reference/phone/methods/#operation/listAutoReceptionists) API.
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      - name: policyType
        in: path
        description: "This field corresponds to the policy item you wish to modify. \n\nAllowed values: `voice_mail`"
        required: true
        schema:
          type: string
          example: voice_mail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                voicemail_access_member:
                  type: object
                  properties:
                    access_user_id:
                      type: string
                      description: The member's ID in the shared voicemail access list determines the sharing or updating of access permissions. It must be the unique identifier of the user, or the unique identifier of the common area, depending on the access user type.
                      example: w0RChiauQeqRlv5fgxYULQ
                    access_user_type:
                      type: string
                      description: 'The extension type of the member to be added in the shared voicemail access member list. The default type will be user if empty. Allowed: user | commonArea.'
                      example: commonArea
                      enum:
                      - commonArea
                      - user
                    delete:
                      type: boolean
                      description: This field specifies whether the user has delete permissions. The default is **false**.
                      example: false
                    download:
                      type: boolean
                      description: This field specifies whether the user has download permissions. The default is **false**.
                      example: false
                    share:
                      type: boolean
                      description: This field specifies whether the user has share permissions. The default is **false**.
                      example: false
                    shared_id:
                      type: string
                      description: This field is an unique identifier of the shared voicemail that the user can access.
                      example: --e8ugg0SeS-9clgrDkn2w
                  description: The setting for voicemail access members.
                  deprecated: true
                voicemail_access_members:
                  maxItems: 10
                  minItems: 1
                  type: array
                  description: The shared voicemail access member list. The number is limited to the minimum value of 10 or the number of allowed access members in the account setting.
                  items:
                    type: object
                    properties:
                      access_member_id:
                        type: string
                        description: The member ID that is allowed to access voicemail messages for the extension. It must be the unique identifier of the user or the unique identifier of the common area, depending on the access member type.
                        example: w0RChiauQeqRlv5fgxYULQ
                      access_member_type:
                        type: string
                        description: 'The extension type of the member to be added to the shared voicemail access member list. The default type is `user` if empty. Allowed: `user` | `commonArea`.'
                        example: commonArea
                        enum:
                        - commonArea
                        - user
                      delete:
                        type: boolean
                        description: Whether the user has delete permissions. The default is **false**.
                        example: false
                      download:
                        type: boolean
                        description: Whether the user has download permissions. The default is **false**.
                        example: false
                      share:
                        type: boolean
                        description: Whether the user has share permissions. The default is **false**.
                        example: false
                      shared_id:
                        type: string
                        description: The unique identifier of the shared voicemail that the user can access.
                        example: --e8ugg0SeS-9clgrDkn2w
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n  **No Content**  \n \n Auto receptionist policy updated successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:auto_receptionist_policy:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:auto_receptionist_policy:admin
  /phone/auto_receptionists/{autoReceptionistId}/settings:
    get:
      tags:
      - Auto Receptionists
      summary: Get auto receptionist settings
      description: 'Returns auto receptionist settings.


        **Prerequisites:**

        * A Pro or higher account with a Zoom Phone license.

        * Account owner or admin permissions.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:auto_receptionist_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getAutoReceptionistSettings
      parameters:
      - name: autoReceptionistId
        in: path
        description: The auto receptionist ID.
        required: true
        schema:
          type: string
          example: 1M9iN6myT4qVx7QbJ8z9aw
[...]
