openapi: 3.2.0
info:
  title: Phone Users API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Users
paths:
  /phone/users:
    get:
      tags:
      - Users
      summary: List phone users
      description: "Returns a list of all of an account's users who are assigned a Zoom Phone license.\n\n**Prerequisites** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_users:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: listPhoneUsers
      parameters:
      - name: page_size
        in: query
        description: The number of records returned from a single API call.
        required: false
        schema:
          maximum: 100
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: site_id
        in: query
        description: The unique identifier of the site. Get it from the [List Phone Sites](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listPhoneSites) API.
        required: false
        schema:
          type: string
          example: 8f71O6rWT8KFUGQmJIFAdQ
      - name: calling_type
        in: query
        description: ' The [type](https://marketplace.zoom.us/docs/api-reference/other-references/plans#zoom-phone-calling-plans) of calling plan.'
        required: false
        schema:
          type: integer
          example: 200
      - name: status
        in: query
        description: "The status of the Zoom Phone user. \n\n `pending`: The users have been assigned the Zoom Workplace license, but not been assigned Zoom Phone feature."
        required: false
        schema:
          type: string
          example: Active
          enum:
          - activate
          - deactivate
          - pending
      - name: department
        in: query
        description: The department where the user belongs.
        required: false
        schema:
          type: string
          example: Phone department
      - name: cost_center
        in: query
        description: The cost center where the user belongs.
        required: false
        schema:
          type: string
          example: Phone cost center
      - name: keyword
        in: query
        description: The partial string of user's name, extension number, or phone number.
        required: false
        schema:
          type: string
          example: test@zoom.us
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK**  \n \nPhone users retrieved successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: nav48KOj42vYPSG4f0cCdT575bZ980did22
                  page_size:
                    maximum: 300
                    type: integer
                    description: The number of records returned from a single API call.
                    example: 30
                    default: 30
                  total_records:
                    type: integer
                    description: The total records found for this query.
                    example: 45
                  users:
                    maxItems: 100
                    type: array
                    items:
                      type: object
                      properties:
                        calling_plans:
                          maxItems: 150
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the user's calling plan.
                                example: US/CA Metered Calling Plan
                              type:
                                type: integer
                                description: The type of calling plan where the user is enrolled.
                                example: 100
                              billing_account_id:
                                type: string
                                description: The billing account ID. It displays when the user is located in India.
                                example: 3WWAEiEjTj2IQuyDiKMd_A
                              billing_account_name:
                                type: string
                                description: The billing account name. It displays when the user is located in India.
                                example: Delhi billing
                              billing_subscription_id:
                                type: string
                                description: The billing subscription ID. It displays when the account supports billing multiple subscriptions.
                                example: FT-SUBREF-21168178
                              billing_subscription_name:
                                type: string
                                description: The billing subscription name. It displays when the account supports billing multiple subscriptions.Can be edited through the Billing page.
                                example: My Subscription
                        email:
                          type: string
                          description: The email address of the user.
                          format: email
                          example: 202007160003@testapi.com
                        extension_id:
                          type: string
                          description: The extension ID.
                          example: V4UobpuxRxCwN_8iNf7k4w
                        extension_number:
                          type: integer
                          description: The extension number assigned to the user's Zoom phone number.
                          format: int64
                          example: 1000001036
                        id:
                          type: string
                          description: The unique identifier of the user (userId).
                          example: w0RChiauQeqRlv5fgxYULQ
                        name:
                          type: string
                          description: The name of the user.
                          example: APITA AUTO
                        phone_user_id:
                          type: string
                          description: The Zoom phone identifier of the user.
                          example: BOSr0vUiTl61WLR-Q_7bUw
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites).
                              example: IjJ2D75SQJit1VdDvkK_mQ
                            name:
                              type: string
                              description: The name of the site.
                              example: ApiTA_Site_2020_07_12_02_33_45_707
                        status:
                          type: string
                          description: "The status of the user's Zoom Phone license. The value can be either of the following:  \n \n`activate`: Active Zoom phone user.  \n \n`deactivate`: User with Zoom phone license disabled. This type of user can't make or receive calls."
                          example: activate
                        activation_status:
                          type: string
                          description: "The activation status of the user. The value can be either of the following:  \n \n`activated`: User have been activated, this type of user can make or receive calls.\n \n`ready to activate`: User have been assigned phone license but didn't activated, this type of user can make or receive calls.\n`not ready`: User have been assigned phone license, but the user didn't confirm the invitation. This user doesn't belong to this account yet."
                          example: activated
                          enum:
                          - activated
                          - ready to activate
                          - not ready
                        phone_numbers:
                          maxItems: 10
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The phone number ID.
                                example: '---M1padRvSUtw7YihN7sA'
                              number:
                                type: string
                                description: The phone number.
                                example: '14232058798'
                        department:
                          type: string
                          description: The department where the user belongs.
                          example: Phone department
                        cost_center:
                          type: string
                          description: The cost center where the user belongs.
                          example: Phone cost center
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n The next page token is invalid or expired.\nPlease enter at least {0} valid characters. <br>\n**Error Code:** `124` <br>\n You do not have permission, because the current site `{0}` does not belong to the target sites. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Account does not exist. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_users:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_users:admin
  /phone/users/batch:
    put:
      tags:
      - Users
      summary: Update multiple users' properties in batch
      description: "Updates multiple users' properties in batch. For example, you can update the users' [site](https://support.zoom.us/hc/en-us/articles/360020809672) when `batchType` is equal to `move_site`. You can update 10 users at a time. \n\n**Prerequisites:**\n* Business, or Education account\n* Zoom Phone license \n\n\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:batch_users:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: updateUsersPropertiesInBatch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                batch_type:
                  type: string
                  description: "The type that updates in batch. \n\n You must enter `move_site`: `user_ids` and `site_id` into the current request body. \n\n `assign_pending_user`: Assign user to the Zoom Phone feature of the Zoom One license. `site_id` is not required.\n `activate`: Activate Zoom Phone feature to users, `site_id` is not required."
                  example: move_site
                  enum:
                  - move_site
                  - assign_pending_user
                  - activate
                user_ids:
                  maxItems: 10
                  type: array
                  description: The IDs of user.
                  items:
                    type: string
                    example: DYHrdpjrS3uaOf7dPkkg8w
                site_id:
                  type: string
                  description: 'The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672) where the user should be moved or assigned. '
                  example: 8f71O6rWT8KFUGQmJIFAdQ
                activation_status:
                  type: string
                  description: "The type that activates or deactivates in batch. \n\n You must enter \n\n `activate`: Activate Zoom Phone feature to users, `site_id` is not required.\n `deactivate`: Deactivate the Zoom Phone feature of users, users can not make or receive calls, `site_id` is not required."
                  example: activate
                  enum:
                  - activate
                  - deactivate
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Successfully update multiple users'' properties in batch.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Current batch type does not support, batch type:{0}. <br>\n**Error Code:** `12007` <br>\n The user in Trash cannot be assigned Zoom One license. <br>\n**Error Code:** `12008` <br>\n The Zoom Phone feature of the Zoom One license cannot be supported for users assigned to India sites. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `2001` <br>\n Account does not exist. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:batch_users:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:batch_users:admin
    post:
      tags:
      - Users
      summary: Batch add users
      description: "Adds phone users in batch. You can add up to 10 users at a time.\n\n**Prerequisites**\n* The users must be active in your [Zoom account](https://marketplace.zoom.us/docs/api-reference/zoom-api/methods#tag/Users/operation/users). \n* Pro or higher account plan with Zoom phone license\n* Account owner or admin permissions\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:batch_users:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: batchAddUsers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  maxItems: 10
                  type: array
                  items:
                    required:
                    - calling_plans
                    - email
                    - extension_number
                    type: object
                    properties:
                      email:
                        type: string
                        description: The user email. It ensures the users are active in your Zoom account.
                        example: user@example.com
                      first_name:
                        type: string
                        description: The user's first name. It ensures the users are active in your Zoom account.
                        example: Zeb
                      last_name:
                        type: string
                        description: The user's last name. It ensures the users are active in your Zoom account.
                        example: Zoomie
                      calling_plans:
                        maxItems: 150
                        type: array
                        description: "The calling plan. If the account supports billing multiple subscriptions and includes more than one type A plan, use the following format to assign a type from a specific subscription:type:billing_subscription_id or type:billing_subscription_name.   \n \n* Type &quot;AU/NZ Metered&quot; if the assigned package is &quot;Australia/New Zealand Metered Calling Plan&quot;.  \n \n* Type &quot;AU/NZ Unlimited&quot; if the assigned package is &quot;Australia/New Zealand Unlimited Calling Plan&quot;.  \n \n* Type &quot;UK/Ireland Metered&quot; if the assigned package is &quot;United Kingdom/Ireland Metered Calling Plan&quot;.  \n \n* Type &quot;UK/Ireland Unlimited&quot; if the assigned package is &quot;United Kingdom/Ireland Unlimited Calling Plan&quot;.  \n \n* Type &quot;US/CA Metered&quot; if the assigned package is &quot;United States/Canada Metered Calling Plan&quot;.  \n \n* Type &quot;US/CA Unlimited&quot; if the assigned package is &quot;United States/Canada Unlimited Calling Plan&quot;.  \n \n* Type &quot;Europe Zone A Metered&quot; if the assigned package is &quot;Europe Zone A Metered Calling Plan&quot;.  \n \n* Type &quot;Europe Zone A Unlimited&quot; if the assigned package is &quot;Europe Zone A Unlimited Calling Plan&quot;.  \n \n* Type &quot;Europe Zone B Metered&quot; if the assigned package is &quot;Europe Zone B Metered Calling Plan&quot;.  \n \n* Type &quot;Europe Zone B Unlimited&quot; if the assigned package is &quot;Europe Zone B Unlimited Calling Plan&quot;.  \n \n* Type &quot;JP Metered&quot; if the assigned package is &quot;Japan Metered Calling Plan&quot;.  \n \n* Type &quot;JP Unlimited&quot; if the assigned package is &quot;Japan Unlimited Calling Plan&quot;.  \n \n* Type &quot;IN Metered&quot; if the assigned package is &quot;India Metered Calling Plan&quot;.  \n \n* Type &quot;IN Unlimited&quot; if the assigned package is &quot;India Unlimited Calling Plan&quot;.  \n \n* Type &quot;IN Pro&quot; if the assigned package is &quot;Zoom Phone India Pro&quot;.  \n \n* Type &quot;IN International Calling Add-On&quot; if the assigned package is &quot;India International Calling Add-On&quot;.  \n \n* Type &quot;Global Select Metered&quot; if the assigned package is &quot;Global Select Metered Calling Plan&quot;.  \n \n* Type &quot;Global Select&quot; if the assigned package is &quot;Global Select Calling Plan&quot;.  \n \n* Type &quot;International Calling Add-On&quot; if the assigned package is &quot;International Calling Add-On&quot;.  \n \n* Type &quot;Beta&quot; if the assigned package is &quot;Beta Calling Plan&quot;.  \n \n* Type &quot;Pro&quot; if the assigned package is &quot;Zoom Phone Pro&quot;.  \n \n* Type &quot;Power Pack&quot; if the assigned package is &quot;Zoom Phone Power Pack&quot;.\nLeave this section blank if no package has been assigned."
                        items:
                          type: string
                          example: AU/NZ Metered or AU/NZ Metered:FT-SUBREF-21168178 or AU/NZ Metered:My SubRefer 1
                      site_code:
                        type: string
                        description: The site code. It's required if the site name is not provided or if Indian plans are assigned.
                        example: '1'
                      site_name:
                        type: string
                        description: The site name. It's required if the site code is not provided or if Indian plans are assigned.
                        example: Main Site
                      template_name:
                        type: string
                        description: The template name. Configure the user setting according to the specified template. The template must belong to the same site as the user.
                        example: account_user_template_01
                      extension_number:
                        type: string
                        description: The extension number. Do not include the site code in an extension number if the site code is enabled.
                        example: '100012345'
                      activation_status:
                        type: string
                        description: 'The activation status. Configures the activation status of user. When activation_status is not set, its value should depend on "Activate Zoom Phone users automatically" in the account settings.


                          `activate`: Activate the Zoom Phone feature, users can make or receive calls.

                          `deactivate`: Deactivate the Zoom Phone feature, users can not make or receive calls.'
                        example: activate
                        enum:
                        - activate
                        - deactivate
                      phone_numbers:
                        maxItems: 10
                        type: array
                        description: The phone numbers in E164 format. Separate multiple phone number entries with commas. Make sure that these numbers have been ported to your account as unassigned phone numbers.
                        items:
                          type: string
                          example: '+12055437350'
                      outbound_caller_id:
                        type: string
                        description: The outbound caller ID. Hides the caller ID if left blank. You can set an extension's phone number or any company number as the outbound caller ID.
                        example: '+12055437350'
                      select_outbound_caller_id:
                        type: boolean
                        description: Whether to allow this extension to change the outbound caller ID when placing calls.
                        example: true
                      sms:
                        type: boolean
                        description: Whether to enable SMS for this user.
                        example: true
                      desk_phones:
                        maxItems: 10
                        type: array
                        description: "Required: brand, model, and MAC address of each desk phone. \nOptional: provision template. Skips the provision template not supported by the device. For more information, see [supported devices](https://support.zoom.us/hc/en-us/articles/360001299063-Zoom-Voice-Supported-Devices).\n\nEach user can be assigned up to 3 desk phones.\n\nAll users must belong to the same site if a desk phone is assigned to multiple users."
                        items:
                          type: object
                          properties:
                            brand:
                              type: string
                              description: The manufacturer (brand) name of the device.
                              example: Yealink
                            model:
                              type: string
                              description: The model name of the device.
                              example: 405hd
                            mac:
                              type: string
                              description: The MAC address of the desk phone.
                              example: 80-5e-c0-3d-eb-c4
                            provision_template:
                              type: string
                              description: The provision template name. Supported by select devices.
                              example: TestProvisionTemplate
      responses:
        '201':
          description: "**HTTP Status Code:** `201`   \n \nCreated."
          content:
            application/json:
              schema:
                maxItems: 10
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      description: The imported user email.
                      example: ta_test_import_user_01@example.com
                    id:
                      type: string
                      description: The user ID.
                      example: FwOAeL4TRmqQrmF0jOfzkQ
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n User size must be less than 10.\nYou need to have administrative privileges to edit this site. <br>\n**Error Code:** `300` <br>\n Validation Failed. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Template is invalid <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:batch_users:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:batch_users:admin
  /phone/users/{userId}:
    get:
      tags:
      - Users
      summary: Get a user's profile
      description: "Returns a user's [Zoom phone](https://support.zoom.us/hc/en-us/articles/360001297663-Quickstart-Guide-for-Zoom-Phone-Administrators) profile. For user-level apps, pass [the `me` value](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis#mekeyword) instead of the `userId` parameter.\n\n**Prerequisites**\n * A Business or Enterprise account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read`,`phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:user`,`phone:read:user:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: phoneUser
      parameters:
      - name: userId
        in: path
        description: The user ID or email address of the user. For user-level apps, pass `me` as the value for userId.
        required: true
        schema:
          type: string
          example: DYHrdpjrS3uaOf7dPkkg8w
      responses:
        '200':
          description: "**HTTP Status Code:** `200`   \n User profile object returned. "
          content:
            application/json:
              schema:
                type: object
                properties:
                  calling_plans:
                    maxItems: 150
                    type: array
                    description: The calling plan of the user
                    items:
                      type: object
                      properties:
                        type:
                          type: integer
                          description: 'The [type](https://marketplace.zoom.us/docs/api-reference/other-references/plans#zoom-phone-calling-plans) of calling plan. '
                          example: 600
                        billing_account_id:
                          type: string
                          description: The billing account ID. It displays when the user is located in India.
                          example: 3WWAEiEjTj2IQuyDiKMd_A
                        billing_account_name:
                          type: string
                          description: The billing account name. It displays when the user is located in India.
                          example: Delhi billing
                        billing_subscription_id:
                          type: string
                          description: The billing subscription ID. It displays when the account supports billing multiple subscriptions.
                          example: FT-SUBREF-21168178
                        billing_subscription_name:
                          type: string
                          description: The billing subscription name. It displays when the account supports billing multiple subscriptions.Can be edited via the Billing page.
                          example: My Subscription
                  cost_center:
                    type: string
                    description: The cost center name.
                    example: testCostCenter
                  department:
                    type: string
                    description: The department's name.
                    example: testDepartment
                  email:
                    type: string
                    description: The email address of the user.
                    example: suesu_test_delete3@testapi.com
                  emergency_address:
                    type: object
                    properties:
                      address_line1:
                        type: string
                        description: The address Line 1 of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address) that contains the house number and street name.
                        example: 55 Almaden Boulevard
                      address_line2:
                        type: string
                        description: The address Line 2 of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address) that contains the building number, floor number, unit, and others.
                        example: 1002 Airport Way S
                      city:
                        type: string
                        description: The city of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                        example: SAN JOSE
                      country:
                        maxLength: 2
                        minLength: 2
                        type: string
                        description: The two-lettered country code (Alpha-2 code in ISO-3166 format) standard of the site's [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                        example: US
                      id:
                        type: string
                        description: The emergency address ID.
                        example: CCc8zYT1SN60i7uDMzDbXA
                      state_code:
                        type: string
                        description: The state code of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                        example: CA
                      zip:
                        type: string
                        description: The zip code of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                        example: '95113'
                  extension_id:
                    type: string
                    description: The extension ID.
                    example: nNGsNx2zRDyiIXWVI23FCQ
                  extension_number:
                    type: integer
                    description: The extension number.
                    format: int64
                    example: 100012347
                  id:
                    type: string
                    description: The Zoom user ID.
                    example: NL3cEpSdRc-c2t8aLoZqiw
                  phone_numbers:
                    maxItems: 10
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The phone number ID.
                          example: '---M1padRvSUtw7YihN7sA'
                        number:
                          type: string
                          description: The phone number.
                          example: '14232058798'
                  phone_user_id:
                    type: string
                    description: The Zoom phone user ID.
                    example: u7pnC468TaS46OuNoEw6GA
                  policy:
                    type: object
                    properties:
                      ad_hoc_call_recording:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether the current extension can record and save calls to the cloud.
                            example: true
                          recording_start_prompt:
                            type: boolean
                            description: Whether a prompt plays to call participants when the recording has started.
                            example: true
                          recording_transcription:
                            type: boolean
                            description: Whether the call recording transcription is enabled.
                            example: true
                          play_recording_beep_tone:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether to play the side tone beep for recorded users while recording. It displays only when ad hoc call recording policy uses the new framework.
                                example: true
                              play_beep_volume:
                                type: integer
                                description: The side tone beep volume. It displays only when `enable` is set to `true`.
                                example: 60
                                enum:
                                - 0
                                - 20
                                - 40
                                - 60
                                - 80
                                - 100
                              play_beep_time_interval:
                                type: integer
                                description: The beep time interval in seconds. It displays only when the `enable` is set to true.
                                example: 15
                                enum:
                                - 5
                                - 10
                                - 15
                                - 20
                                - 25
                                - 30
                                - 60
                                - 120
                              play_beep_member:
                                type: string
                                description: The beep sides. It displays only when the `enable` is set to true.
                                example: allMember
                                enum:
                                - allMember
                                - recordingSide
                          locked:
                            type: boolean
                            description: Whether the senior administrator allow users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                        description: A list of ad hoc call recording settings.
                      ad_hoc_call_recording_access_members:
                        maxItems: 50
                        uniqueItems: true
                        type: array
                        description: The shared ad hoc call recording access member list.
                        items:
                          allOf:
                          - type: object
                            properties:
                              access_user_id:
                                type: string
                                description: The Zoom user ID to share access permissions.
                                example: w0RChiauQeqRlv5fgxYULQ
                              allow_delete:
                                type: boolean
                                description: Whether the user has delete permissions. The default is **false**.
                                example: false
                              allow_download:
                                type: boolean
                                description: Whether the user has download permissions. The default is **false**.
                                example: false
                          - type: object
                            properties:
                              shared_id:
                                type: string
                                description: The unique identifier of the shared sub-setting that the user can access.
                                example: --e8ugg0SeS-9clgrDkn2w
                      auto_call_recording:
                        type: object
                        properties:
                          allow_stop_resume_recording:
                            type: boolean
                            description: Whether the stop of and resuming of automatic call recording is enabled.
                            example: true
                          disconnect_on_recording_failure:
                            type: boolean
                            description: Whether a call disconnects when there is an issue with automatic call recording and the call cannot reconnect after five seconds. It does **not** include emergency calls.
                            example: true
                          enable:
                            type: boolean
                            description: Whether the automatic call recording is enabled.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          recording_calls:
                            type: string
                            description: "The type of calls automatically recorded: \n* `inbound` \n* `outbound` \n* `both`"
                            example: inbound
                            enum:
                            - inbound
                            - outbound
                            - both
                          recording_explicit_consent:
                            type: boolean
                            description: "Whether the **Press 1** option that provides recording consent is enabled.\n\n<b>Deprecated:</b> This field will be deprecated in a future release. As an alternative, use the `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` to operate inbound and outbound prompt separately.\n\n<b>Note:</b> \n* if customers who opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent` and `inbound_audio_notification.recording_explicit_consent` will remain consistent. When the field is updated, the `inbound_audio_notification.recording_explicit_consent` will be also updated.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent. When the field is updated, the `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` will be also updated."
                            example: true
                            deprecated: true
                          recording_start_prompt:
                            type: boolean
                            description: "Whether a prompt plays to call participants when the recording has started.\n\n<b>Deprecated:</b> This field will be deprecated in a future release. As an alternative, use the `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` to operate inbound and outbound prompt separately.\n\n<b>Note:</b> \n* If customers who opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt` and `inbound_audio_notification.recording_start_prompt` will remain consistent. When the field is updated, the `inbound_audio_notification.recording_start_prompt` will be also updated.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent. When the field is updated, the `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` will be also updated."
                            example: true
                            deprecated: true
                          recording_transcription:
                            type: boolean
                            description: Whether the call recording transcription is enabled.
                            example: true
                          play_recording_beep_tone:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether to play the side tone beep for recorded users while recording. It displays only when auto call recording policy uses the new framework.
                                example: true
                              play_beep_volume:
                                type: integer
                                description: The side tone beep volume. It displays only when `enable` is set to `true`.
                                example: 60
                                enum:
                                - 0
                                - 20
                                - 40
                                - 60
                                - 80
                                - 100
                              play_beep_time_interval:
                                type: integer
                                description: The beep time interval in seconds. It displays only when the `enable` is set to true.
                                example: 15
                                enum:
                                - 5
                                - 10
                                - 15
                                - 20
                                - 25
                                - 30
                                - 60
                                - 120
                              play_beep_member:
                                type: string
                                description: The beep sides. It displays only when the `enable` is set to true.
                                example: allMember
                                enum:
                                - allMember
                                - recordingSide
                          inbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether a prompt plays to call participants when the recording has started for inbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                              recording_explicit_consent:
                                type: boolean
                                description: "Whether the **Press 1** option that provides recording consent for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                                example: true
                          outbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether a prompt plays to call participants when the recording has started for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                              recording_explicit_consent:
                                type: boolean
                                description: "Whether the **Press 1** option that provides recording consent for outbound call is enabled.\n\n<b>Note:</b> \n* If customers  do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                                example: true
                        description: A list of the user's automatic call recording settings.
                      auto_call_recording_access_members:
                        maxItems: 50
                        uniqueItems: true
                        type: array
                        description: The shared automatic call recording access member list.
                        items:
                          allOf:
                          - type: object
                            properties:
                              access_user_id:
                                type: string
                                description: The Zoom user ID to share access permissions.
                                example: w0RChiauQeqRlv5fgxYULQ
                              allow_delete:
                                type: boolean
                                description: Whether the user has delete permissions. The default is **false**.
                                example: false
                              allow_download:
                                type: boolean
                                description: Whether the user has download permissions. The default is **false**.
                                example: false
                          - type: object
                            properties:
                              shared_id:
                                type: string
                                description: The unique identifier of the shared sub-setting that the user can access.
                                example: --e8ugg0SeS-9clgrDkn2w
                      call_overflow:
                        type: object
                        properties:
                          call_overflow_type:
                            type: integer
                            description: "`1` - Low restriction (external numbers not allowed)\n`2` - Medium restriction (external numbers and external contacts not allowed)\n `3` - High restriction (external numbers, external contacts and internal extensions without inbound automatic call recording not allowed)\n`4` - No restriction"
                            example: 1
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                          enable:
                            type: boolean
                            description: Whether to allow the user to forward calls to other numbers.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                      call_park:
                        type: object
                        properties:
                          call_not_picked_up_action:
                            type: integer
                            description: The action when a parked call is not picked up. 100-Ring back to parker, 0-Forward to voicemail of the parker, 9-Disconnect, 50-Forward to another extension.
                            example: 9
                          enable:
                            type: boolean
                            description: Whether to allow calls placed on hold to be resumed from another location using a retrieval code.
                            example: true
                          expiration_period:
                            type: integer
                            description: A time limit for parked calls and unit minutes. After the expiration period ends, the retrieval code is no longer valid and a new code will be generated.
                            example: 10
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 15
                            - 20
                            - 25
                            - 30
                            - 35
                            - 40
                            - 45
                            - 50
                            - 55
                            - 60
                          forward_to:
                            type: object
                            properties:
                              display_name:
                                type: string
                                description: The extension's name.
                                example: test extension name
                              extension_id:
                                type: string
                                description: The extension ID.
                                example: CcrEGgmeQem1uyJsuIRKwA
                              extension_number:
                                type: integer
                                description: The extension number.
                                format: int64
                                example: 1000123477
                              extension_type:
                                type: string
                                description: "The type of extension: \n* `user` \n* `zoomRoom` \n* `commonArea`\n* `ciscoRoom/polycomRoom` \n* `autoReceptionist` \n* `sharedLineGroup` \n* `callQueue`"
                                example: user
                                enum:
                                - user
                                - zoomRoom
                                - commonArea
                                - ciscoRoom/polycomRoom
                                - autoReceptionist
                                - callQueue
                                - sharedLineGroup
                              id:
                                type: string
                                description: The ID of the extension `user`, `zoomRoom`, `commonArea`, `ciscoRoom/polycomRoom`, `autoReceptionist`, `callQueue` or `sharedLineGroup`.
                                example: fWOgOALdT1ei4vjXK-QYsA
                            description: The extension's forwarding information.
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                      call_transferring:
                        type: object
                        properties:
                          call_transferring_type:
                            type: integer
                            description: 'This field contains these settings: 1-No restriction.

                              2-Medium restriction (external numbers and external contacts not allowed).

                              3-High restriction (external numbers, unrecorded external contacts, and internal extensions without inbound automatic recording not allowed).

                              4-Low restriction (external numbers not allowed).'
                            example: 2
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                          enable:
                            type: boolean
                            description: Whether to allow user to warm or blind transfer their calls. This does not apply to warm transfer on IP Phones except for Yealink.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                      delegation:
                        type: boolean
                        description: Whether the user can use [call delegation](https://support.zoom.us/hc/en-us/articles/360032881731-Setting-up-call-delegation-shared-lines-appearance-).
                        example: true
                      elevate_to_meeting:
                        type: boolean
                        description: Whether the user can elevate their phone calls to a meeting.
                        example: true
                      emergency_address_management:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the current extension to manage its own emergency addresses.
                            example: true
                          prompt_default_address:
                            type: boolean
                            description: Whether to prompt the user to set or confirm a default address.
                            example: true
                      emergency_calls_to_psap:
                        type: boolean
                        description: When disabled, emergency calls placed by the user will not be delivered to the Public Safety Answering Point(PSAP), but still will be delivered to the Internal Safety Response Team based on the settings.
                        example: true
                      forwarding_to_external_numbers:
                        type: boolean
                        description: Whether call forwarding to external numbers is enabled. Use the `call_handling_forwarding_to_other_users` instead.
                        example: true
                        deprecated: true
                      call_handling_forwarding_to_other_users:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          call_forwarding_type:
                            type: integer
                            description: "`1` - Low restriction (external numbers not allowed)\n`2` - Medium restriction (external numbers and external contacts not allowed)\n `3` - High restriction (external numbers, external contacts and internal extensions without inbound automatic call recording not allowed)\n`4` - No restriction"
                            example: 1
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                        description: Whether to allow the user to forward calls to other numbers.
                      hand_off_to_room:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to send a call to a Zoom Room.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                      international_calling:
                        type: boolean
                        description: Whether the current extension can make international calls outside of their calling plan.
                        example: true
                      mobile_switch_to_carrier:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the user to switch from a Zoom Phone to their native carrier.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                      select_outbound_caller_id:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the current extension to change the outbound caller ID when placing calls.
                            example: true
                          allow_hide_outbound_caller_id:
                            type: boolean
                            description: Whether to allow the current extension to hide outbound caller id.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                      sms:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether the user can send and receive messages.
                            example: true
                          international_sms:
                            type: boolean
                            description: Whether the user can send and receive international messages.
                            example: true
                          international_sms_countries:
                            maxItems: 100
                            type: array
                            description: The country that can send and receive international messages. The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                            items:
                              type: string
                              example: US
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          allow_copy:
                            type: boolean
                            description: Allow users to copy message.
                            example: true
                          allow_paste:
                            type: boolean
                            description: 'Allow users to use the paste function to paste content (e.g. text or images) into SMS/MMS conversations. '
                            example: true
                      voicemail:
                        type: object
                        properties:
                          allow_delete:
                            type: boolean
                            description: This field allows the user to delete his own voicemail.
                            example: true
                          allow_download:
                            type: boolean
                            description: This field allows the user to download their voicemail.
                            example: true
                          allow_transcription:
                            type: boolean
                            description: Whether the voicemail transcription is enabled.
                            example: true
                          allow_videomail:
                            type: boolean
                            description: Whether to allow users to access, share, download, or delete the video mail
                            example: true
                          enable:
                            type: boolean
                            description: Whether the current extension can access, receive, or share voicemail.
                            example: true
                      voicemail_access_members:
                        maxItems: 50
                        type: array
                        description: The shared voicemail access member list.
                        items:
                          allOf:
                          - type: object
                            properties:
                              access_user_id:
                                type: string
                                description: The Zoom user ID to share the voicemail access permissions with.
                                example: w0RChiauQeqRlv5fgxYULQ
                              allow_delete:
                                type: boolean
                                description: Whether the user has delete permissions. The default is **false**.
                                example: false
                              allow_download:
                                type: boolean
                                description: Whether the user has download permissions. The default is **false**.
                                example: false
                              allow_sharing:
                                type: boolean
                                description: Whether the user has permission to share. The default is **false**.
                                example: false
                          - type: object
                            properties:
                              shared_id:
                                type: string
                                description: ' The unique identifier of the shared sub-setting that the user can access.'
                                example: --e8ugg0SeS-9clgrDkn2w
                      zoom_phone_on_mobile:
                        type: object
                        properties:
                          allow_calling_clients:
                            type: array
                            description: The clients in this list are allowed to make and receive calls.
                            items:
                              type: string
                              description: 'Acceptable value is:

                                ios

                                android

                                intune

                                blackberry'
                              example: ios
                              enum:
                              - ios
                              - android
                              - intune
                              - blackberry
                          allow_sms_mms_clients:
                            type: array
                            description: The clients in this list are allowed to use the SMS/MMS function.
                            items:
                              type: string
                              description: "The acceptable value is \nios\nandroid\nintune\nblackberry."
                              example: ios
                              enum:
                              - ios
                              - android
                              - intune
                              - blackberry
                          allow_calling_sms_mms:
                            type: boolean
                            description: Whether to allow calling and SMS/MMS functions on mobile.
                            example: true
                            deprecated: true
                          enable:
                            type: boolean
                            description: Whether to allow user to use Zoom Phone on mobile clients (iOS, iPad OS, and Android).
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                      personal_audio_library:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to change their own audio library.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                          allow_music_on_hold_customization:
                            type: boolean
                            description: Whether to allow music on hold customization.
                            example: true
                          allow_voicemail_and_message_greeting_customization:
                            type: boolean
                            description: Whether to allow voicemail and message greeting customization.
                            example: true
                      voicemail_transcription:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the user to access transcriptions of voicemails.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                      voicemail_notification_by_email:
                        type: object
                        properties:
                          include_voicemail_file:
                            type: boolean
                            description: Whether to include the voicemail file.
                            example: true
                          include_voicemail_transcription:
                            type: boolean
                            description: Whether to include the voicemail transcription.
                            example: false
                          enable:
                            type: boolean
                            description: If enabled, the user will receive email notifications when there is a new voicemail from users, call queues, auto receptionists, or shared line groups.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                      shared_voicemail_notification_by_email:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: If enabled, the user will receive email notification when there is a new shared voicemail.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                      check_voicemails_over_phone:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                        description: Whether the user can check voicemails of users and shared line groups over phone using a PIN code.
                      audio_intercom:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                        description: Whether the user can use audio intercom.
                      peer_to_peer_media:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                        description: Whether to allow Zoom clients to send media directly to each other. Users or devices that have certain features like recording or monitoring enabled may not be able to use the peer to peer media sharing feature.
                      e2e_encryption:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to switch their calls to `End-to-End Encryption`. If users have the `Automatic Call Recording` turned on, they will not be able to use the `End-to-End Encryption`.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                      outbound_calling:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to define calling rules to restrict the user or extension from calling specific countries, cities, or numbers.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                      outbound_sms:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to send and receive messages. You will still need to assign a valid calling plan and phone number to each user for them to send and receive messages.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                      allow_end_user_edit_call_handling:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to be able to edit their call handling settings on the web portal or enable call forwarding on the client.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                      voicemail_intent_based_prioritization:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to prioritize urgent voicemails based on predefined priority topics. Users need to have voicemail transcription policy enabled.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                      voicemail_tasks:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to extract tasks from English voicemail transcriptions. Users need to have voicemail transcription policy enabled.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - account
                            - user_group
                            - site
                      zoom_phone_on_desktop:
                        type: object
                        properties:
                          allow_calling_clients:
                            type: array
                            description: The clients in this list are allowed to make and receive calls.
                            items:
                              type: string
                              description: 'The acceptable value is:

                                mac_os

                                windows

                                vdi_client

                                linux.'
                              example: mac_os
                              enum:
                              - mac_os
                              - windows
                              - vdi_client
                              - linux
                          allow_sms_mms_clients:
                            type: array
                            description: The clients in this list are allowed to use the SMS/MMS function.
                            items:
                              type: string
                              description: "The acceptable value is \nmac_os\nwindows\nvdi_client\nlinux."
                              example: mac_os
                              enum:
                              - mac_os
                              - windows
                              - vdi_client
                              - linux
                          enable:
                            type: boolean
                            description: Whether to allow users to use Zoom Phone on desktop clients (Mac OS, Windows, VDI clinet and Linux).
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, you can reset settings to display when using the new policy framework.
                            example: true
                        description: Allows user to use Zoom Phone on desktop clients (Mac OS, Windows, VDI client and Linux).
                      online_fax:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to prioritize urgent voicemails based on predefined priority topics. Users need to have voicemail transcription policy enabled.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                          fax_notification_by_email:
                            type: boolean
                            description: Whether to enable email notifications when a new fax is received.
                            example: true
                          include_fax_as_attachment:
                            type: boolean
                            description: Whether to include fax file as email attachment.
                            example: true
                          enable_outbound_fax_transmission_report:
                            type: boolean
                            description: Whether to enable transmission report for outbound faxes.
                            example: true
                        description: The online fax policy for the user.
                      show_custom_disclaimer_when_using_zoom_phone:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether this policy is enabled.
                            example: false
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: false
                          locked_by:
                            type: string
                            description: The level of administrator that prohibits modification of the current settings.
                            example: account
                            enum:
                            - invalid
                            - account
                            - user_group
                            - site
                          display_frequency:
                            type: string
                            description: The display frequency.
                            example: first_time_only
                            enum:
                            - first_time_only
                            - every_time
                            - every_month
                            - every_quarter
                            - every_6_months
                            - every_year
                          custom_disclaimer_list:
                            type: array
                            description: The custom disclaimer list.
                            items:
                              type: object
                              properties:
                                language:
                                  type: string
                                  description: "The audio prompt language code.  \n\nEnglish: `en`  \n\nDeutsch: `de`  \n\nEspañol: `es`  \n\nFrançais: `fr`  \n\nItaliano: `it`  \n\nNederlands: `nl`  \n\nPortuguês: `pt`  \n\nJapanese: `ja`  \n\nKorean: `ko`  \n\nChinese: `zh-cn`  \n\nTaiwanese: `zh-tw`  \n\nNorsk: `no`  \n\nРусский: `ru`  \n\nBahasa Melayu: `ms`  \n\nTiếng Việt: `vi`  \n\nУкраїнська: `uk`  \n\nBahasa Indonesia: `id`  \n\nPolski: `pl`  \n\nTürkçe: `tr`"
                                  example: en
                                  enum:
                                  - en
                                  - de
                                  - es
                                  - fr
                                  - it
                                  - nl
                                  - pt
                                  - ja
                                  - ko
                                  - zh-cn
                                  - zh-tw
                                  - 'no'
                                  - ru
                                  - ms
                                  - vi
                                  - uk
                                  - id
                                  - pl
                                  - tr
                                title:
                                  maxLength: 60
                                  type: string
                                  description: The custom disclaimer title.
                                  example: tilte
                                body:
                                  maxLength: 500
                                  type: string
                                  description: The custom disclaimer body.
                                  example: body
                                default:
                                  type: boolean
                                  description: Whether this language is the default disclaimer. Participants using languages not configured in this list will see the disclaimer marked as default. **Exactly one item in the list must have `default` set to `true`** when the list is non-empty.
                                  example: true
                        description: Whether to show a custom disclaimer when starting to use the Zoom Phone service.
                    description: A list of the user's policies. Policies are exceptions to the user's calling plan restrictions.
                  site_admin:
                    type: boolean
                    description: Whether the user is a [site admin](https://support.zoom.us/hc/en-us/articles/360042099012) or not.
                    example: true
                  site_id:
                    type: string
[...]
