openapi: 3.2.0
info:
  title: Phone Setting Templates API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Setting Templates
paths:
  /phone/setting_templates:
    get:
      tags:
      - Setting Templates
      summary: List setting templates
      description: "Gets a list of all the created phone template settings.\n\n**Prerequisites:** \n* A Business or Enterprise account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_setting_templates:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: listSettingTemplates
      parameters:
      - name: page_size
        in: query
        description: Number of records returns within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: nav48KOj42vYPSG4f0cCdT575bZ980did22
      - name: site_id
        in: query
        description: Unique identifier of the site. This field is required only if multiple sites have been enabled.  of the site. Required only when multiple sites are enabled. See [Managing multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites) for details. If this is not provided, the response lists the account level setting templates.
        required: false
        schema:
          type: string
          example: SQv52YtkRLC2dwrDdYtGsA
      responses:
        '200':
          description: '**HTTP Status Code:** `200`


            OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes
                    example: nav48KOj42vYPSG4f0cCdT575bZ980did22
                  page_size:
                    type: integer
                    description: The number of records returned within a single API call. The default is **30** and the maximum is **300**.
                    example: 30
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                          description: Template description.
                          example: Main site user template
                        id:
                          type: string
                          description: Unique identifier of the template.
                          example: 2kFqiqSlS5udzWB5QqMiNg
                        name:
                          type: string
                          description: Template name.
                          example: user_template
                        type:
                          type: string
                          description: 'Template type.


                            The value of this field can be one of the following:


                            * `user`


                            * `group`


                            * `autReceptionist`


                            * `commonArea`


                            * `zr`


                            * `interop`

                            '
                          example: user
                          enum:
                          - user
                          - group
                          - autReceptionist
                          - commonArea
                          - zr
                          - interop
                  total_records:
                    type: integer
                    description: The total number of records returned.
                    example: 2
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\nMultiple Sites option has been disabled. Enable it and try again.\n\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized\n\n**Error Code:** `124` <br>\nAccount does not exist: {accountId}.\n\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_setting_templates:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_setting_templates:admin
    post:
      tags:
      - Setting Templates
      summary: Add a setting template
      description: "Creates a Zoom Phone setting template for an account. After creating a phone template, the defined settings will become the default settings for an account.\n\n**Prerequisites:** \n* A Business or enterprise Zoom account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:setting_template:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: addSettingTemplate
      requestBody:
        content:
          application/json:
            schema:
              required:
              - name
              - type
              type: object
              properties:
                description:
                  type: string
                  description: A description of the template.
                  example: Main site user template
                name:
                  type: string
                  description: The name of the template.
                  example: user template
                site_id:
                  type: string
                  description: The unique identifier of the site. It's required only when multiple sites are enabled. See [Managing multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites) for details.
                  example: SQv52YtkRLC2dwrDdYtGsA
                type:
                  type: string
                  description: The type of template. Values include `user`.
                  example: user
      responses:
        '201':
          description: "**HTTP Status Code:** `201`  \n \nCreated Successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: The template description.
                    example: Main site user template
                  id:
                    type: string
                    description: The template ID.
                    example: 2kFqiqSlS5udzWB5QqMiNg
                  name:
                    type: string
                    description: The template name.
                    example: user template
                  type:
                    type: string
                    description: 'The type of template. Values include `user`. '
                    example: user
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `300` <br>\n Validation failed. You provided an incorrect value for the template type. Provide a valid value and try again. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n Account does not exist: {accountId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:setting_template:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:setting_template:admin
  /phone/setting_templates/{templateId}:
    get:
      tags:
      - Setting Templates
      summary: Get setting template details
      description: "Returns information about an account's phone template.\n\n**Prerequisites:** \n* A Business or Enterprise account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:setting_template:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: getSettingTemplate
      parameters:
      - name: templateId
        in: path
        description: The unique identifier of the template.
        required: true
        schema:
          type: string
          example: SQv52YtkRLC2dwrDdYtGsA
      - name: custom_query_fields
        in: query
        description: 'This field provides the name of the field to use to filter the response. For example, if you provide &quot;description&quot; as the value of the field, you will get a response similar to the following: {&ldquo;description&rdquo;: &ldquo;template description&rdquo;}.'
        required: false
        schema:
          type: string
          example: voicemail
      responses:
        '200':
          description: '**HTTP Status Code:** `200`


            OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: The description of the template.
                    example: Main site user template
                  id:
                    type: string
                    description: This field specifies the template ID.
                    example: 2kFqiqSlS5udzWB5QqMiNg
                  name:
                    type: string
                    description: This field specifies the name of the template.
                    example: user template
                  policy:
                    type: object
                    properties:
                      ad_hoc_call_recording:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow current extension to record and save calls in the cloud.
                            example: true
                          recording_start_prompt:
                            type: boolean
                            description: Whether to play a prompt to call participants when the recording has started.
                            example: true
                          recording_transcription:
                            type: boolean
                            description: Whether to allow call recording transcription.
                            example: true
                      auto_call_recording:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to enable automatic call recording.
                            example: true
                          recording_calls:
                            type: string
                            description: 'Values: inbound, outbound, both.'
                            example: inbound
                          recording_start_prompt:
                            type: boolean
                            description: "Whether to play a prompt to call participants when the recording has started.\n\n<b>Deprecated:</b> This field will be deprecated in a future release. As an alternative, use the `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` to operate inbound and outbound prompt separately.\n\n<b>Note:</b> \n* If customers opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt` and `inbound_audio_notification.recording_start_prompt` will remain consistent. When the field is updated, the `inbound_audio_notification.recording_start_prompt` will be also updated.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent. When the field is updated, the `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` will be also updated."
                            example: true
                            deprecated: true
                          recording_transcription:
                            type: boolean
                            description: Whether to allow call recording transcription.
                            example: true
                          inbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether to play a prompt to call participants when the recording has started for inbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                          outbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether to play a prompt to call participants when the recording has started for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                      sms:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the user to send and receive messages.
                            example: true
                          international_sms:
                            type: boolean
                            example: true
                      voicemail:
                        type: object
                        properties:
                          allow_transcription:
                            type: boolean
                            description: Whether to allow the voicemail transcription.
                            example: true
                          enable:
                            type: boolean
                            description: Whether to allow the current extension to access, receive, or share voicemail.
                            example: true
                      call_forwarding:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to forward their calls to other numbers.
                            example: true
                          call_forwarding_type:
                            type: integer
                            description: "`1` - Low restriction (external numbers not allowed)\n`2` - Medium restriction (external numbers and external contacts not allowed)\n `3` - High restriction (external numbers, external contacts and internal extensions without inbound automatic call recording not allowed)\n`4` - No restriction"
                            example: 1
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                      call_overflow:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to forward their calls to other numbers when a call is not answered.
                            example: true
                          call_overflow_type:
                            type: integer
                            description: "`1` - Low restriction (external numbers not allowed)\n`2` - Medium restriction (external numbers and external contacts not allowed)\n `3` - High restriction (external numbers, external contacts and internal extensions without inbound automatic call recording not allowed)\n`4` - No restriction"
                            example: 1
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                  profile:
                    type: object
                    properties:
                      area_code:
                        type: string
                        description: The area code from which the phone account was created.
                        example: '1'
                      country:
                        type: string
                        description: The name of the country where the template was created.
                        example: US
                  type:
                    type: string
                    description: 'The type of template being queried. Values: `user`, `group`, `auto receptionist` `common area`,`zr`, `interop`.'
                    example: user
                    enum:
                    - user
                    - group
                    - autoReceptionist
                    - commonArea
                    - zr
                    - interop
                  user_settings:
                    type: object
                    properties:
                      audio_prompt_language:
                        type: string
                        description: "The audio prompt language code.\n American English: `en-US`\n\nBritish English: `en-GB`\n\nEspa&ntilde;ol americano: `es-US`\n\nFran&ccedil;ais canadien: `fr-CA`\n\nDansk: `da-DK`\n\nDeutsch: `de-DE`\n\nEspa&ntilde;ol: `es-ES`\n\nFran&ccedil;ais: `fr-FR`\n\nItaliano: `it-IT`\n\nNederlands: `nl-NL`\n\nPortugues portugal: `pt-PT`\n\nJapanese: `ja-JP`\n\nKorean: `ko-KO`\n\nPortugues brasil: `pt-BR`\n\nChinese: `zh-CN`\n\nTaiwanese: `zh-TW`\n"
                        example: en-US
                      block_calls_without_caller_id:
                        type: boolean
                        description: The block calls without caller ID.
                        example: false
                      call_handling:
                        type: object
                        properties:
                          business_hours:
                            type: object
                            properties:
                              business_hour_action:
                                type: integer
                                description: "When a call is not answered:  \n \n0-Forward to a voicemail;  \n \n1-Play a message, then disconnect;   \n \n9-Disconnect;   \n \n11-Forward to an external number;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension"
                                example: 50
                                enum:
                                - 0
                                - 1
                                - 9
                                - 11
                                - 26
                                - 50
                              connect_to_operator:
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    description: Whether to enable connect to operator.
                                    example: true
                                  id:
                                    type: string
                                    description: The phone extension ID of the user, zoomRoom, commonArea, autoReceptionist, callQueue or sharedLineGroup.
                                    example: fWOgOALdT1ei4vjXK-QYsA
                                  type:
                                    type: string
                                    description: "Values:  \n \n1-user,  \n \n2-callQueue,   \n \n3-autoReceptionist,  \n \n4-commonArea,  \n \n5-zoomRoom,   \n \n7-sharedLineGroup"
                                    example: user
                                    enum:
                                    - user
                                    - zoomRoom
                                    - commonArea
                                    - autoReceptionist
                                    - callQueue
                                    - sharedLineGroup
                                  external_number:
                                    type: object
                                    properties:
                                      number:
                                        type: string
                                        description: The phone number in E164 format.
                                        example: '+12055433924'
                                      description:
                                        type: string
                                        description: The description for the phone number.
                                        example: API test forwarding to number
                                    description: The forwarding external number when a call is not answered. Make available only when the `business_hour_action` is `11`.
                                  play_callee_voicemail_greeting:
                                    type: boolean
                                    description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. Make available only when the `business_hour_action` is `0` or `50`.
                                    example: true
                                  require_press_1_before_connecting:
                                    type: boolean
                                    description: Whether to require pressing 1 before connecting the call. Make available only when the `business_hour_action` is `11` or '26'.
                                    example: true
                                  allow_caller_check_voicemail:
                                    type: boolean
                                    description: Whether to allow callers to check their voicemail. Make available only when the `business_hour_action` is `0`.
                                    example: true
                                description: Whether to allow callers to press zero to reach an operator, press one to leave a message, or allow neither of these options.
                              busy_action:
                                type: integer
                                description: "When the user is busy on another call:  \n \n0-Forward to a voicemail;  \n \n1-Play a message, then disconnect;   \n \n11-Forward to an external number;   \n \n12-Call waiting;   \n \n13-Play a busy signal;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension."
                                example: 50
                                enum:
                                - 0
                                - 1
                                - 11
                                - 12
                                - 13
                                - 26
                                - 50
                              busy_connect_operator:
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    description: Whether to enable connect to operator.
                                    example: true
                                  id:
                                    type: string
                                    description: The phone extension ID of the user, zoomRoom, commonAreaPhone, autoReceptionist, callQueue, or sharedLineGroup.
                                    example: fWOgOALdT1ei4vjXK-QYsA
                                  type:
                                    type: string
                                    description: "Values:\n\n1-user,\n\n2-callQueue, \n\n3-autoReceptionist,\n\n4-commonAreaPhone,\n\n5-zoomRoom, \n\n7-sharedLineGroup"
                                    example: user
                                    enum:
                                    - user
                                    - zoomRoom
                                    - commonAreaPhone
                                    - autoReceptionist
                                    - callQueue
                                    - sharedLineGroup
                                  external_number:
                                    type: object
                                    properties:
                                      number:
                                        type: string
                                        description: The phone number in E164 format.
                                        example: '+12055433924'
                                      description:
                                        type: string
                                        description: The description for the phone number.
                                        example: API test forwarding to number
                                    description: The forwarding external number when a call is not answered. Make available only when the `busy_action` is `11`.
                                  play_callee_voicemail_greeting:
                                    type: boolean
                                    description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. It's available only when the `busy_action` is `0` or `50`.
                                    example: true
                                  require_press_1_before_connecting:
                                    type: boolean
                                    description: Whether to require pressing 1 before connecting the call. Make available only when the `busy_action` is `11` or '26'.
                                    example: true
                                  allow_caller_check_voicemail:
                                    type: boolean
                                    description: Whether to allow callers to check their voicemail. Make available only when the `busy_action` is `0`.
                                    example: true
                                description: Whether to allow callers to press 0 to reach an operator or press 1 to leave a message, or allow neither of these options.
                              custom_hours:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    from:
                                      type: string
                                      description: "Values:\n \nhh:mm"
                                      format: time
                                      example: 09:00
                                    to:
                                      type: string
                                      description: "Values:\n \nhh:mm"
                                      format: time
                                      example: '18:00'
                                    type:
                                      type: integer
                                      description: 'Values:


                                        1-24 Hours,


                                        2-customized hours'
                                      example: 2
                                      enum:
                                      - 1
                                      - 2
                                    weekday:
                                      type: integer
                                      description: 'Values: 1-7 Sun-Sat'
                                      example: 2
                                      enum:
                                      - 1
                                      - 2
                                      - 3
                                      - 4
                                      - 5
                                      - 6
                                      - 7
                              ring_type:
                                type: string
                                description: "The call handling ring mode:  \n \n0-Simultaneous,  \n \n1-Sequential"
                                example: simultaneous
                              ringing_duration:
                                type: string
                                description: "Ringing duration for each device in seconds. Values:  \n \n10,15,20,25,30,35,40,45,50,55,60"
                                example: '15'
                                enum:
                                - '10'
                                - '15'
                                - '20'
                                - '25'
                                - '30'
                                - '35'
                                - '40'
                                - '45'
                                - '50'
                                - '55'
                                - '60'
                              type:
                                type: integer
                                description: 'Values:


                                  1-24 Hours, 7 Days a Week;


                                  2-Custom Hours'
                                example: 2
                                enum:
                                - 1
                                - 2
                          close_hours:
                            type: object
                            properties:
                              close_hour_action:
                                type: integer
                                description: "The action to take when a call is not answered:  \n \n0-Forward to a voicemail;   \n \n1-Play a message, then disconnect;   \n \n9-Disconnect;   \n \n11-Forward to an external number;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension\n"
                                example: 50
                                enum:
                                - 0
                                - 1
                                - 9
                                - 11
                                - 26
                                - 50
                              connect_to_operator:
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    example: true
                                  id:
                                    type: string
                                    description: The phone extension ID of the user, zoomRoom, commonAreaPhone, autoReceptionist, callQueue, or sharedLineGroup.
                                    example: fWOgOALdT1ei4vjXK-QYsA
                                  type:
                                    type: string
                                    description: "Values:\n\n1-user,\n\n2-callQueue, \n\n3-autoReceptionist,\n\n4-commonAreaPhone,\n\n5-zoomRoom, \n\n7-sharedLineGroup"
                                    example: user
                                    enum:
                                    - user
                                    - zoomRoom
                                    - commonAreaPhone
                                    - autoReceptionist
                                    - callQueue
                                    - sharedLineGroup
                                  external_number:
                                    type: object
                                    properties:
                                      number:
                                        type: string
                                        description: The phone number in E164 format.
                                        example: '+12055433924'
                                      description:
                                        type: string
                                        description: The description for the phone number.
                                        example: API test forwarding to number
                                    description: The forwarding external number when a call is not answered. Make available only when the `close_hour_action` is `11`.
                                  play_callee_voicemail_greeting:
                                    type: boolean
                                    description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. Make available only when the `close_hour_action` is `0` or `50`.
                                    example: true
                                  require_press_1_before_connecting:
                                    type: boolean
                                    description: Whether to require pressing 1 before connecting the call. Make available only when the `close_hour_action` is `11` or '26'.
                                    example: true
                                  allow_caller_check_voicemail:
                                    type: boolean
                                    description: Whether to allow callers to check their voicemail. Make available only when the `close_hour_action` is `0`.
                                    example: true
                                description: Whether to allow callers to press zero to reach an operator or press One to leave a message, or allow neither of these options.
                              busy_action:
                                type: integer
                                description: "The action to take when the user is busy on another call:  \n \n0-Forward to a voicemail;  \n \n1-Play a message, then disconnect;   \n \n11-Forward to an external number;   \n \n12-Call waiting;   \n \n13-Play a busy signal;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension\n."
                                example: 50
                                enum:
                                - 0
                                - 1
                                - 11
                                - 12
                                - 13
                                - 26
                                - 50
                              busy_connect_operator:
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    example: true
                                  id:
                                    type: string
                                    description: The phone extension ID of the user, zoomRoom, commonArea, autoReceptionist, callQueue, or sharedLineGroup.
                                    example: fWOgOALdT1ei4vjXK-QYsA
                                  type:
                                    type: string
                                    description: "The Values:  \n \n1-user,  \n \n2-callQueue,   \n \n3-autoReceptionist,  \n \n4-commonArea,  \n \n5-zoomRoom,   \n \n7-sharedLineGroup."
                                    example: user
                                    enum:
                                    - user
                                    - zoomRoom
                                    - commonArea
                                    - autoReceptionist
                                    - callQueue
                                    - sharedLineGroup
                                  external_number:
                                    type: object
                                    properties:
                                      number:
                                        type: string
                                        description: The phone number in E164 format.
                                        example: '+12055433924'
                                      description:
                                        type: string
                                        description: The description for the phone number.
                                        example: API test forwarding to number
                                    description: The forwarding external number when a call is not answered. It's available only when the `busy_action` is `11`.
                                  play_callee_voicemail_greeting:
                                    type: boolean
                                    description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. Make available only when the `busy_action` is `0` or `50`.
                                    example: true
                                  require_press_1_before_connecting:
                                    type: boolean
                                    description: Whether to require pressing one before connecting the call. Make available only when the `busy_action` is `11` or '26'.
                                    example: true
                                  allow_caller_check_voicemail:
                                    type: boolean
                                    description: Whether to allow callers to check their voicemail. Make available only when the `busy_action` is `0`.
                                    example: true
                                description: Whether to allow callers to press 0 to reach an operator or press 1 to leave a message, or allow neither of these options.
                              max_wait_time:
                                type: string
                                description: "The maximum wait time in seconds. Values:  \n \n10,15,20,25,30,35,40,45,50,55,60."
                                example: '30'
                                enum:
                                - '10'
                                - '15'
                                - '20'
                                - '25'
                                - '30'
                                - '35'
                                - '40'
                                - '45'
                                - '50'
                                - '55'
                                - '60'
                      desk_phone:
                        type: object
                        properties:
                          pin_code:
                            type: string
                            description: The pin code.
                            example: 0995
                      hold_music:
                        type: string
                        description: 'The value of this field can be either `default` or `disable`.


                          * `default`: This means that the hold music can be set using the [audio library](https://support.zoom.us/hc/en-us/articles/360028212652-Using-the-audio-library-to-customize-greetings-and-hold-music).


                          * `disable`: This means that the hold music is disabled.'
                        example: default
                        enum:
                        - default
                        - disable
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Account does not exist: {accountId}. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:setting_template:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:setting_template:admin
    patch:
      tags:
      - Setting Templates
      summary: Update a setting template
      description: "Updates or modifies a phone template's settings.\n\n**Prerequisites:** \n* A Business or Enterprise account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:setting_template:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: updateSettingTemplate
      parameters:
      - name: templateId
        in: path
        description: The Template ID.
        required: true
        schema:
          type: string
          example: 2kFqiqSlS5udzWB5QqMiNg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: The description of the template.
                  example: Main site user template
                name:
                  type: string
                  description: This field specifies the name of the template.
                  example: user template
                policy:
                  type: object
                  properties:
                    ad_hoc_call_recording:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Whether to allow the current extension to record and save calls in the cloud.
                          example: true
                        recording_start_prompt:
                          type: boolean
                          description: Whether to play a prompt to call participants when the recording has started.
                          example: true
                        recording_transcription:
                          type: boolean
                          description: Whether to allow call recording transcription.
                          example: true
                    auto_call_recording:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: The automatic call recording.
                          example: true
                        recording_calls:
                          type: string
                          description: 'Values: inbound, outbound, both.'
                          example: outbound
                          enum:
                          - inbound
                          - outbound
                          - both
                        recording_start_prompt:
                          type: boolean
                          description: "Whether to play a prompt to call participants when the recording has started.\n\n<b>Deprecated:</b> This field will be deprecated in a future release. As an alternative, use the `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` to operate inbound and outbound prompt separately.\n\n<b>Note:</b> \n* if customers who opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt` and `inbound_audio_notification.recording_start_prompt` will remain consistent. When the field is updated, the `inbound_audio_notification.recording_start_prompt` will be also updated.\n* if customers who do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent. when the field is updated, the `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` will be also updated."
                          example: true
                          deprecated: true
                        recording_transcription:
                          type: boolean
                          description: Whether to allow call recording transcription.
                          example: true
                        inbound_audio_notification:
                          type: object
                          properties:
                            recording_start_prompt:
                              type: boolean
                              description: "Whether a prompt plays to call participants when the recording has started for the inbound call is enabled.\n\n<b>Note:</b> \n* if customers who do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* if customers who do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                              example: true
                        outbound_audio_notification:
                          type: object
                          properties:
                            recording_start_prompt:
                              type: boolean
                              description: "Whether a prompt plays to call participants when the recording has started for the outbound call is enabled.\n\n<b>Note:</b> \n* if customers who do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* if customers who do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                              example: true
                    sms:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Whether to allow user to send and receive messages.
                          example: true
                        international_sms:
                          type: boolean
                          description: Whether or not the SMS is international.
                          example: true
                    voicemail:
                      type: object
                      properties:
                        allow_transcription:
                          type: boolean
                          description: Whether to allow voicemail transcription.
                          example: true
                        enable:
                          type: boolean
                          description: Whether to allow the current extension to access, receive, or share voicemail.
                          example: true
                    call_forwarding:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Whether to allow users to forward their calls to other numbers.
                          example: true
                        call_forwarding_type:
                          type: integer
                          description: "`1` - Low restriction (external numbers not allowed)\n`2` - Medium restriction (external numbers and external contacts not allowed)\n `3` - High restriction (external numbers, external contacts and internal extensions without inbound automatic call recording not allowed)\n`4` - No restriction"
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                    call_overflow:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Whether to allow users to forward their calls to other numbers when a call is not answered.
                          example: true
                        call_overflow_type:
                          type: integer
                          description: "`1` - Low restriction (external numbers not allowed)\n`2` - Medium restriction (external numbers and external contacts not allowed)\n `3` - High restriction (external numbers, external contacts and internal extensions without inbound automatic call recording not allowed)\n`4` - No restriction"
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                profile:
                  type: object
                  properties:
                    area_code:
                      type: string
                      description: The area code from which the phone account was created.
                      example: '01'
                    country:
                      type: string
                      description: Name of the country where the template was created.
                      example: US
                user_settings:
                  type: object
                  properties:
                    audio_prompt_language:
                      type: string
                      description: "Audio prompt language code.\n American English: `en-US`\n\nBritish English: `en-GB`\n\nEspa&ntilde;ol americano: `es-US`\n\nFran&ccedil;ais canadien: `fr-CA`\n\nDansk: `da-DK`\n\nDeutsch: `de-DE`\n\nEspa&ntilde;ol: `es-ES`\n\nFran&ccedil;ais: `fr-FR`\n\nItaliano: `it-IT`\n\nNederlands: `nl-NL`\n\nPortugues portugal: `pt-PT`\n\nJapanese: `ja-JP`\n\nKorean: `ko-KO`\n\nPortugues brasil: `pt-BR`\n\nChinese: `zh-CN`\n\nTaiwanese: `zh-TW`\n"
                      example: ja-JP
                    block_calls_without_caller_id:
                      type: boolean
                      description: The block calls without caller ID.
                      example: false
                    call_handling:
                      type: object
                      properties:
                        business_hours:
                          type: object
                          properties:
                            business_hour_action:
                              type: integer
                              description: "When a call is not answered:  \n \n0-Forward to a voicemail;  \n \n1-Play a message, then disconnect;   \n \n9-Disconnect;   \n \n11-Forward to an external number;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension"
                              example: 50
                              enum:
                              - 0
                              - 1
                              - 9
                              - 11
                              - 26
                              - 50
                            connect_to_operator:
                              type: object
                              properties:
                                enable:
                                  type: boolean
                                  description: Whether to enable connect to the operator. You must input the `id` if you want to enable. It's available only when the `business_hour_action` is `0`.
                                  example: true
                                id:
                                  type: string
                                  description: The extension ID of user, zoomRoom, commonAreaPhone, autoReceptionist, callQueue, or sharedLineGroup. It's available only when the `business_hour_action` is `0` or `50`.
                                  example: fWOgOALdT1ei4vjXK-QYsA
                                external_number:
                                  type: object
                                  properties:
                                    number:
                                      type: string
                                      description: The phone number in E164 format.
                                      example: '+12055433924'
                                    description:
                                      type: string
                                      description: The description for the phone number.
                                      example: API test forwarding to number
                                  description: The forwarding external number when a call is not answered. Available only when the `business_hour_action` is `11`
                                play_callee_voicemail_greeting:
                                  type: boolean
                                  description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. Make available only when the `business_hour_action` is `0` or `50`.
                                  example: true
                                require_press_1_before_connecting:
                                  type: boolean
                                  description: Whether to require pressing 1 before connecting the call. Make available only when the `business_hour_action` is `11` or '26'.
                                  example: true
                                allow_caller_check_voicemail:
                                  type: boolean
                                  description: Whether to allow callers to check their voicemail. Make available only when the `business_hour_action` is `0`.
                                  example: true
                              description: Whether to allow callers to press zero to reach an operator or press One to leave a message, or allow neither of these options.
                            busy_action:
                              type: integer
                              description: "When the user is busy on another call:  \n \n0-Forward to a voicemail;  \n \n1-Play a message, then disconnect;   \n \n11-Forward to an external number;   \n \n12-Call waiting;   \n \n13-Play a busy signal;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension."
                              example: 50
                              enum:
                              - 0
                              - 1
                              - 11
                              - 12
                              - 13
                              - 26
                              - 50
                            busy_connect_operator:
                              type: object
                              properties:
                                enable:
                                  type: boolean
                                  description: Whether to enable a connection to an operator. It requires the user to input the `ID` if you want to enable. It's available only when the `busy_action` is `0`.
                                  example: true
                                id:
                                  type: string
                                  description: The extension ID of user, zoomRoom, commonArea, autoReceptionist, callQueue, or sharedLineGroup. It's available only when the `busy_action` is `0`, `26` or `50`.
                                  example: fWOgOALdT1ei4vjXK-QYsA
                                external_number:
                                  type: object
                                  properties:
                                    number:
                                      type: string
                                      description: The phone number in E164 format.
                                      example: '+12055433924'
                                    description:
                                      type: string
                                      description: The description for the phone number.
                                      example: API test forwarding to number
                                  description: The forwarding external number when a call is not answered. Make available only when the `busy_action` is `11`.
                                play_callee_voicemail_greeting:
                                  type: boolean
                                  description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. Make available only when the `busy_action` is `0` or `50`.
                                  example: true
                                require_press_1_before_connecting:
                                  type: boolean
                                  description: Whether to require pressing 1 before connecting the call. Make available only when the `busy_action` is `11` or '26'.
                                  example: true
                                allow_caller_check_voicemail:
                                  type: boolean
                                  description: Whether to allow callers to check their voicemail. Make available only when the `busy_action` is `0`.
                                  example: true
                              description: Whether to allow callers to press zero to reach an operator or press one to leave a message, or allow neither of these options.
                            custom_hours:
                              maxItems: 7
                              type: array
                              items:
                                type: object
                                properties:
                                  from:
                                    type: string
                                    description: "Values:\n \nhh:mm"
                                    format: time
                                    example: 09:30
                                  to:
                                    type: string
                                    description: "Values:\n \nhh:mm"
                                    format: time
                                    example: '22:00'
                                  type:
                                    type: integer
                                    description: 'Values:


                                      1-24 Hours,


                                      2-customized hours'
                                    example: 2
                                    enum:
                                    - 1
                                    - 2
                                  weekday:
                                    type: integer
                                    description: 'Values: 1-7 sun-sat'
                                    example: 1
                                    enum:
                                    - 1
                                    - 2
                                    - 3
                                    - 4
                                    - 5
                                    - 6
                                    - 7
                            ring_type:
                              type: string
                              description: "The call handling ring mode:  \n \n0-Simultaneous,  \n \n1-Sequential"
                              example: simultaneous
                            ringing_duration:
                              type: string
                              description: "Ringing duration for each device, in seconds. Values:  \n \n10,15,20,25,30,35,40,45,50,55,60"
                              example: '15'
                              enum:
                              - '10'
                              - '15'
                              - '20'
                              - '25'
                              - '30'
                              - '35'
                              - '40'
                              - '45'
                              - '50'
                              - '55'
                              - '60'
                            type:
                              type: integer
                              description: 'Values:


                                1-24 Hours, 7 Days a Week;


                                2-Custom Hours'
                              example: 2
                              enum:
                              - 1
                              - 2
                        close_hours:
                          type: object
                          properties:
                            close_hour_action:
                              type: integer
                              description: "The action to take when a call is not answered:  \n \n0-Forward to a voicemail;   \n \n1-Play a message, then disconnect;   \n \n9-Disconnect;   \n \n11-Forward to an external number;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension\n"
                              example: 50
                              enum:
                              - 0
                              - 1
                              - 9
                              - 11
                              - 26
                              - 50
                            connect_to_operator:
                              type: object
                              properties:
                                enable:
                                  type: boolean
                                  description: Whether to enable connect to the operator, and you must input the `id` if you want to enable. Available only when the `close_hour_action` is `0`.
                                  example: true
                                id:
                                  type: string
                                  description: The extension ID of user, zoomRoom, commonAreaPhone, autoReceptionist, callQueue, or sharedLineGroup. It's available only when the `close_hour_action` is `0` or `50`
                                  example: fWOgOALdT1ei4vjXK-QYsA
                                external_number:
                                  type: object
                                  properties:
                                    number:
                                      type: string
                                      description: The phone number in E164 format.
                                      example: '+12055433924'
                                    description:
                                      type: string
                                      description: The description for the phone number.
                                      example: API test forwarding to number
                                  description: The forwarding external number when a call is not answered. Available only when the `close_hour_action` is `11`
                                play_callee_voicemail_greeting:
                                  type: boolean
                                  description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. Make available only when the `close_hour_action` is `0` or `50`.
                                  example: true
                                require_press_1_before_connecting:
                                  type: boolean
                                  description: Whether to require pressing 1 before connecting the call. Make available only when the `close_hour_action` is `11` or '26'.
                                  example: true
                                allow_caller_check_voicemail:
                                  type: boolean
                                  description: Whether to allow callers to check their voicemail. Make available only when the `close_hour_action` is `0`.
                                  example: true
                              description: Whether to allow callers to press Zero to reach an operator or press One to leave a message, or allow neither of these options.
                            busy_action:
                              type: integer
                              description: "The action to take when a call is not answered:  \n \n0-Forward to a voicemail;  \n \n1-Play a message, then disconnect;   \n \n11-Forward to an external number;   \n \n12-Call waiting;   \n \n13-Play a busy signal;   \n \n26-Forward to External Contacts;   \n \n50-Forward to another extension\n."
                              example: 50
                              enum:
                              - 0
                              - 1
                              - 11
                              - 12
                              - 13
                              - 26
                              - 50
                            busy_connect_operator:
                              type: object
                              properties:
                                enable:
                                  type: boolean
                                  description: Whether to enable a connection to an operator. It requires the user to input the `ID` if you want to enable. It's available only when the `busy_action` is `0`.
                                  example: true
                                id:
                                  type: string
                                  description: The extension ID of user, zoomRoom, commonArea, autoReceptionist, callQueue, or sharedLineGroup. It's available only when the `busy_action` is `0`, `26` or `50`.
                                  example: fWOgOALdT1ei4vjXK-QYsA
                                external_number:
                                  type: object
                                  properties:
                                    number:
                                      type: string
                                      description: The phone number in E164 format.
                                      example: '+12055433924'
                                    description:
                                      type: string
                                      description: The description for the phone number.
                                      example: API test forwarding to number
                                  description: The forwarding external number when a call is not answered. It's available only when the `busy_action` is `11`.
                                play_callee_voicemail_greeting:
                                  type: boolean
                                  description: Whether to play the callee's voicemail greeting when the caller reaches the end of forwarding sequence. Make available only when the `busy_action` is `0` or `50`.
                                  example: true
                                require_press_1_before_connecting:
                                  type: boolean
                                  description: Whether to require pressing 1 before connecting the call. Mkae available only when the `busy_action` is `11` or '26'.
                                  example: true
                                allow_caller_check_voicemail:
                                  type: boolean
                                  description: Whether to allow callers to check their voicemail. Make available only when the `busy_action` is `0`.
                                  example: true
                              description: Whether to allow callers to press 0 to reach an operator or press 1 to leave a message, or allow neither of these options.
                            max_wait_time:
                              type: string
                              description: "The maximum wait time, in seconds. Values:  \n \n10,15,20,25,30,35,40,45,50,55,60"
                              example: '20'
                              enum:
                              - '10'
                              - '15'
                              - '20'
                              - '25'
                              - '30'
                              - '35'
                              - '40'
                              - '45'
                              - '50'
                              - '55'
                              - '60'
                    desk_phone:
                      type: object
                      properties:
                        pin_code:
                          type: string
                          description: The pin code.
                          example: 0995
                    hold_music:
                      type: string
                      description: 'The value of this field can be either `default` or `disable`.


                        * `default`: This means that the hold music can be set using the [audio library](https://support.zoom.us/hc/en-us/articles/360028212652-Using-the-audio-library-to-customize-greetings-and-hold-music).


                        * `disable`: This means that the hold music is disabled.'
                      example: disable
                      enum:
                      - default
                      - disable
      responses:
        '204':
          description: '**HTTP Status Code:** `204`


            No Content. Request was successful.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n The country code you entered is invalid. Provide a valid country code and try again.\n\nThe area code you entered is invalid. Provide a valid area code with a length between 0 and 6 digits and try again.\n\nThe value you entered for the audio prompt language code is invalid.\nPIN code can only include numbers.\n\nInvalid PIN code. PIN code must be {0} digits long.\n\nInvalid PIN code. PIN code must be {0} to {1} digits long.\n\nInvalid PIN code. Your PIN code must not be the same as the extension number.\n\nInvalid PIN code. The PIN code must not contain a group of repeated digits.\n\nPIN code cannot be an ascending or descending group of digits.\nConnect to operator type error.\n\nYou provided an invalid value for the call handling ring type. The value of this field must be either `simultaneous` or `sequential`.\n\nYou provided an invalid value for the business hours type field. The value of this field must be either 1 or 2.\n\nYou provided an invalid value for the business hours action field.\n\nYou provided an invalid value for the close hours action field. <br>\n**Error Code:** `13800` <br>\n You have not enabled the OP flag named 'Enable Caller Based Consent Options'. Please use the same value to update 'inbound_audio_notification.recording_start_prompt' and 'outbound_audio_notification.recording_start_prompt'. <br>\n**Error Code:** `405` <br>\n The number of items for user_settings.call_handling.business_hours.custom_hours must not exceed 7. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Account does not exist: {accountId}. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `15001` <br>\n Settings template does not exist: {0}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:setting_template:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:setting_template:admin
components:
  securitySchemes:
    openapi_authorization:
      type: apiKey
      name: Authorization
      in: header
    openapi_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /
          tokenUrl: ''
          refreshUrl: ''
          scopes:
            phone:read:admin: phone:read:admin
            phone:read:list_account_settings:admin: phone:read:list_account_settings:admin
            phone:write:admin: phone:write:admin
            phone:write:customized_number:admin: phone:write:customized_number:admin
            phone:read:list_customized_number:admin: phone:read:list_customized_number:admin
            phone:delete:customized_number:admin: phone:delete:customized_number:admin
            phone:write:alert_setting:admin: phone:write:alert_setting:admin
            phone:read:list_alert_settings:admin: phone:read:list_alert_settings:admin
            phone:read:alert_setting:admin: phone:read:alert_setting:admin
            phone:patch:alert_setting:admin: phone:patch:alert_setting:admin
            phone:delete:alert_setting:admin: phone:delete:alert_setting:admin
            phone:read: phone:read
            phone:read:audio: phone:read:audio
            phone:read:audio:admin: phone:read:audio:admin
            phone:write: phone:write
            phone:delete:audio: phone:delete:audio
            phone:delete:audio:admin: phone:delete:audio:admin
            phone:update:audio: phone:update:audio
            phone:update:audio:admin: phone:update:audio:admin
            phone:read:list_audios: phone:read:list_audios
            phone:read:list_audios:admin: phone:read:list_audios:admin
            phone:write:audio: phone:write:audio
            phone:write:audio:admin: phone:write:audio:admin
            phone:write:batch_audios: phone:write:batch_audios
            phone:write:batch_audios:admin: phone:write:batch_audios:admin
            phone:read:list_auto_receptionists:admin: phone:read:list_auto_receptionists:admin
            phone:write:auto_receptionist:admin: phone:write:auto_receptionist:admin
            phone:delete:auto_receptionist:admin: phone:delete:auto_receptionist:admin
            phone:update:auto_receptionist:admin: phone:update:auto_receptionist:admin
            phone:read:auto_receptionist:admin: phone:read:auto_receptionist:admin
            phone:read:auto_receptionist_call_handling_setting:admin: phone:read:auto_receptionist_call_handling_setting:admin
            phone:update:auto_receptionist_call_handling_setting:admin: phone:update:auto_receptionist_call_handling_setting:admin
            phone:delete:auto_receptionist_number:admin: phone:delete:auto_receptionist_number:admin
            phone:write:auto_receptionist_number:admin: phone:write:auto_receptionist_number:admin
            phone:update:auto_receptionist_policy:admin: phone:update:auto_receptionist_policy:admin
            phone:read:auto_receptionist_policy:admin: phone:read:auto_receptionist_policy:admin
            phone:delete:auto_receptionist_policy:admin: phone:delete:auto_receptionist_policy:admin
            phone:write:auto_receptionist_policy:admin: phone:write:auto_receptionist_policy:admin
            phone:read:auto_receptionist_setting:admin: phone:read:auto_receptionist_setting:admin
            phone:write:auto_receptionist_setting:admin: phone:write:auto_receptionist_setting:admin
            phone:update:auto_receptionist_setting:admin: phone:update:auto_receptionist_setting:admin
            phone:delete:auto_receptionist_setting:admin: phone:delete:auto_receptionist_setting:admin
            phone:read:list_billing_accounts:admin: phone:read:list_billing_accounts:admin
            phone:read:billing_account:admin: phone:read:billing_account:admin
            phone:write:blocked_list:admin: phone:write:blocked_list:admin
            phone:read:list_blocked_lists:admin: phone:read:list_blocked_lists:admin
            phone:delete:blocked_list:admin: phone:delete:blocked_list:admin
            phone:read:blocked_list:admin: phone:read:blocked_list:admin
            phone:update:blocked_list:admin: phone:update:blocked_list:admin
            phone:read:list_call_handling_settings:admin: phone:read:list_call_handling_settings:admin
            phone:update:call_handling_setting:admin: phone:update:call_handling_setting:admin
            phone:delete:call_handling_setting:admin: phone:delete:call_handling_setting:admin
            phone:write:call_handling_setting:admin: phone:write:call_handling_setting:admin
            phone_call_log:read: phone_call_log:read
            phone_call_log:read:admin: phone_call_log:read:admin
            phone:read:call_log:admin: phone:read:call_log:admin
            phone:read:list_call_logs:admin: phone:read:list_call_logs:admin
            phone:update:call_log:admin: phone:update:call_log:admin
            phone:read:ai_call_summary: phone:read:ai_call_summary
            phone:read:ai_call_summary:admin: phone:read:ai_call_summary:admin
            phone:read:list_call_logs: phone:read:list_call_logs
            phone_call_log:write: phone_call_log:write
            phone_call_log:write:admin: phone_call_log:write:admin
            phone:delete:call_log: phone:delete:call_log
            phone:delete:call_log:admin: phone:delete:call_log:admin
            phone:read:list_call_queues:admin: phone:read:list_call_queues:admin
            phone:write:call_queue:admin: phone:write:call_queue:admin
            phone:delete:call_queue:admin: phone:delete:call_queue:admin
            phone:update:call_queue:admin: phone:update:call_queue:admin
            phone:read:call_queue:admin: phone:read:call_queue:admin
            phone:read:call_queue_call_handling_setting:admin: phone:read:call_queue_call_handling_setting:admin
            phone:update:call_queue_call_handling_setting:admin: phone:update:call_queue_call_handling_setting:admin
            phone:read:call_queue_custom_group:admin: phone:read:call_queue_custom_group:admin
            phone:write:call_queue_custom_group:admin: phone:write:call_queue_custom_group:admin
            phone:update:call_queue_custom_group:admin: phone:update:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:admin: phone:delete:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:master: phone:delete:call_queue_custom_group:master
            phone:master: phone:master
            phone:read:call_queue_custom_group:master: phone:read:call_queue_custom_group:master
            phone:write:call_queue_custom_group_member:admin: phone:write:call_queue_custom_group_member:admin
            phone:delete:call_queue_custom_group_member:admin: phone:delete:call_queue_custom_group_member:admin
            phone:write:call_queue_member:admin: phone:write:call_queue_member:admin
            phone:delete:call_queue_member:admin: phone:delete:call_queue_member:admin
            phone:read:list_call_queue_members:admin: phone:read:list_call_queue_members:admin
            phone:write:call_queue_number:admin: phone:write:call_queue_number:admin
            phone:delete:call_queue_number:admin: phone:delete:call_queue_number:admin
            phone:read:call_queue_policy:admin: phone:read:call_queue_policy:admin
            phone:update:call_queue_policy:admin: phone:update:call_queue_policy:admin
            phone:write:call_queue_policy:admin: phone:write:call_queue_policy:admin
            phone:delete:call_queue_policy:admin: phone:delete:call_queue_policy:admin
            phone:read:list_call_queue_recordings:admin: phone:read:list_call_queue_recordings:admin
            phone:read:call_queue_setting:admin: phone:read:call_queue_setting:admin
            phone:write:call_queue_setting:admin: phone:write:call_queue_setting:admin
            phone:delete:call_queue_setting:admin: phone:delete:call_queue_setting:admin
            phone:update:call_queue_setting:admin: phone:update:call_queue_setting:admin
            phone:update:carrier_number:admin: phone:update:carrier_number:admin
            phone:write:carrier_number:admin: phone:write:carrier_number:admin
            phone:read:list_carrier_numbers:admin: phone:read:list_carrier_numbers:admin
            phone:delete:carrier_number:admin: phone:delete:carrier_number:admin
            phone:write:common_area:admin: phone:write:common_area:admin
            phone:read:common_area:admin: phone:read:common_area:admin
            phone:read:list_common_area_activation_codes:admin: phone:read:list_common_area_activation_codes:admin
            phone:write:apply_template_to_common_areas:admin: phone:write:apply_template_to_common_areas:admin
            phone:delete:common_area:admin: phone:delete:common_area:admin
            phone:update:common_area:admin: phone:update:common_area:admin
            phone:read:common_area_call_handling_setting:admin: phone:read:common_area_call_handling_setting:admin
            phone:update:common_area_call_handling_setting:admin: phone:update:common_area_call_handling_setting:admin
            phone:write:common_area_calling_plan:admin: phone:write:common_area_calling_plan:admin
            phone:delete:common_area_calling_plan:admin: phone:delete:common_area_calling_plan:admin
            phone:write:common_area_number:admin: phone:write:common_area_number:admin
            phone:delete:common_area_number:admin: phone:delete:common_area_number:admin
            phone:read:list_common_area_settings:admin: phone:read:list_common_area_settings:admin
            phone:update:common_area_setting:admin: phone:update:common_area_setting:admin
            phone:delete:common_area_setting:admin: phone:delete:common_area_setting:admin
            phone:write:common_area_setting:admin: phone:write:common_area_setting:admin
            phone:read:call_qos:admin: phone:read:call_qos:admin
            phone:read:default_emergency_address:admin: phone:read:default_emergency_address:admin
            phone:read:detectable_personal_location:admin: phone:read:detectable_personal_location:admin
            phone:read:location_sharing_permission:admin: phone:read:location_sharing_permission:admin
            phone:read:nomadic_emergency_services:admin: phone:read:nomadic_emergency_services:admin
            phone:read:realtime_location_devices:admin: phone:read:realtime_location_devices:admin
            phone:read:realtime_location_users:admin: phone:read:realtime_location_users:admin
            phone:read:list_tracked_locations:admin: phone:read:list_tracked_locations:admin
            phone:update:device_line_keys: phone:update:device_line_keys
            phone:update:device_line_keys:admin: phone:update:device_line_keys:admin
            phone:read:device_line_keys: phone:read:device_line_keys
            phone:read:device_line_keys:admin: phone:read:device_line_keys:admin
            phone:delete:directory:admin: phone:delete:directory:admin
            phone:read:directory:admin: phone:read:directory:admin
            phone:write:directory:admin: phone:write:directory:admin
            phone:write:emergency_address:admin: phone:write:emergency_address:admin
            phone:read:list_emergency_addresses:admin: phone:read:list_emergency_addresses:admin
            phone:read:emergency_address:admin: phone:read:emergency_address:admin
            phone:delete:emergency_address:admin: phone:delete:emergency_address:admin
            phone:update:emergency_address:admin: phone:update:emergency_address:admin
            phone:write:batch_emergency_locations:admin: phone:write:batch_emergency_locations:admin
            phone:read:list_emergency_locations:admin: phone:read:list_emergency_locations:admin
            phone:write:emergency_location:admin: phone:write:emergency_location:admin
            phone:read:emergency_location:admin: phone:read:emergency_location:admin
            phone:update:emergency_location:admin: phone:update:emergency_location:admin
            phone:delete:emergency_location:admin: phone:delete:emergency_location:admin
            phone:write:external_contact:admin: phone:write:external_contact:admin
            phone:read:list_external_contacts:admin: phone:read:list_external_contacts:admin
            phone:delete:external_contact:admin: phone:delete:external_contact:admin
            phone:read:external_contact:admin: phone:read:external_contact:admin
            phone:update:external_contact:admin: phone:update:external_contact:admin
            phone:write:send_fax: phone:write:send_fax
            phone:write:send_fax:admin: phone:write:send_fax:admin
            phone:read:list_fax_log: phone:read:list_fax_log
            phone:read:list_fax_log:admin: phone:read:list_fax_log:admin
            phone:read:fax_log:admin: phone:read:fax_log:admin
            phone:read:fax_log: phone:read:fax_log
            phone:delete:fax_log: phone:delete:fax_log
            phone:delete:fax_log:admin: phone:delete:fax_log:admin
            phone:read:list_firmware_update_rules:admin: phone:read:list_firmware_update_rules:admin
            phone:write:firmware_update_rule:admin: phone:write:firmware_update_rule:admin
            phone:delete:firmware_update_rule:admin: phone:delete:firmware_update_rule:admin
            phone:update:firmware_update_rule:admin: phone:update:firmware_update_rule:admin
            phone:read:firmware_update_rule:admin: phone:read:firmware_update_rule:admin
            phone:read:list_firmwares:admin: phone:read:list_firmwares:admin
            phone:read:list_call_pickup_groups:admin: phone:read:list_call_pickup_groups:admin
            phone:write:call_pickup_group:admin: phone:write:call_pickup_group:admin
            phone:read:call_pickup_group:admin: phone:read:call_pickup_group:admin
            phone:update:call_pickup_group:admin: phone:update:call_pickup_group:admin
            phone:delete:call_pickup_group:admin: phone:delete:call_pickup_group:admin
            phone:write:call_pickup_group_member:admin: phone:write:call_pickup_group_member:admin
            phone:read:call_pickup_group_member:admin: phone:read:call_pickup_group_member:admin
            phone:delete:call_pickup_group_member:admin: phone:delete:call_pickup_group_member:admin
            phone:update:group_policy:admin: phone:update:group_policy:admin
            phone:read:group_policy:admin: phone:read:group_policy:admin
            phone:read:group_setting:admin: phone:read:group_setting:admin
            phone:read:auto_receptionist_ivr:admin: phone:read:auto_receptionist_ivr:admin
            phone:update:auto_receptionist_ivr:admin: phone:update:auto_receptionist_ivr:admin
            phone:read:list_extension_inbound_block_rules:admin: phone:read:list_extension_inbound_block_rules:admin
            phone:read:list_extension_inbound_block_rules: phone:read:list_extension_inbound_block_rules
            phone:delete:extension_inbound_block_rule:admin: phone:delete:extension_inbound_block_rule:admin
            phone:delete:extension_inbound_block_rule: phone:delete:extension_inbound_block_rule
            phone:write:extension_inbound_block_rule:admin: phone:write:extension_inbound_block_rule:admin
            phone:write:extension_inbound_block_rule: phone:write:extension_inbound_block_rule
            phone:delete:extension_inbound_block_rule_stat:admin: phone:delete:extension_inbound_block_rule_stat:admin
            phone:read:list_extension_inbound_block_rules_stat:admin: phone:read:list_extension_inbound_block_rules_stat:admin
            phone:update:inbound_blocked_for_all:admin: phone:update:inbound_blocked_for_all:admin
            phone:delete:inbound_block_rule:admin: phone:delete:inbound_block_rule:admin
            phone:read:list_inbound_block_rules:admin: phone:read:list_inbound_block_rules:admin
            phone:write:inbound_block_rule:admin: phone:write:inbound_block_rule:admin
            phone:update:inbound_block_rule:admin: phone:update:inbound_block_rule:admin
            phone:update:line_keys: phone:update:line_keys
            phone:update:line_keys:admin: phone:update:line_keys:admin
            phone:read:line_keys: phone:read:line_keys
            phone:read:line_keys:admin: phone:read:line_keys:admin
            phone:delete:line_keys: phone:delete:line_keys
            phone:delete:line_keys:admin: phone:delete:line_keys:admin
            phone:read:list_monitoring_groups:admin: phone:read:list_monitoring_groups:admin
            phone:write:monitoring_group:admin: phone:write:monitoring_group:admin
            phone:delete:monitoring_group:admin: phone:delete:monitoring_group:admin
            phone:update:monitoring_group:admin: phone:update:monitoring_group:admin
            phone:read:monitoring_group:admin: phone:read:monitoring_group:admin
            phone:read:list_monitoring_group_members:admin: phone:read:list_monitoring_group_members:admin
            phone:write:monitoring_group_member:admin: phone:write:monitoring_group_member:admin
            phone:delete:monitoring_group_member:admin: phone:delete:monitoring_group_member:admin
            phone:read:common_area_outbound_calling_rule:admin: phone:read:common_area_outbound_calling_rule:admin
            phone:update:common_area_outbound_calling_rule:admin: phone:update:common_area_outbound_calling_rule:admin
            phone:write:common_area_outbound_calling_rule:admin: phone:write:common_area_outbound_calling_rule:admin
            phone:delete:common_area_outbound_calling_rule:admin: phone:delete:common_area_outbound_calling_rule:admin
            phone:read:list_outbound_calling_rules:admin: phone:read:list_outbound_calling_rules:admin
            phone:update:outbound_calling_rule:admin: phone:update:outbound_calling_rule:admin
            phone:write:outbound_calling_rule:admin: phone:write:outbound_calling_rule:admin
            phone:delete:outbound_calling_rule:admin: phone:delete:outbound_calling_rule:admin
            phone:update:site_outbound_calling_rule:admin: phone:update:site_outbound_calling_rule:admin
            phone:read:site_outbound_calling_rule:admin: phone:read:site_outbound_calling_rule:admin
            phone:write:site_outbound_calling_rule:admin: phone:write:site_outbound_calling_rule:admin
            phone:delete:site_outbound_calling_rule:admin: phone:delete:site_outbound_calling_rule:admin
            phone:update:user_outbound_calling_rule:admin: phone:update:user_outbound_calling_rule:admin
            phone:read:user_outbound_calling_rule:admin: phone:read:user_outbound_calling_rule:admin
            phone:write:user_outbound_calling_rule:admin: phone:write:user_outbound_calling_rule:admin
            phone:delete:user_outbound_calling_rule:admin: phone:delete:user_outbound_calling_rule:admin
            phone:read:list_devices:admin: phone:read:list_devices:admin
            phone:write:device:admin: phone:write:device:admin
            phone:write:sync_device:admin: phone:write:sync_device:admin
            phone:update:device:admin: phone:update:device:admin
            phone:delete:device:admin: phone:delete:device:admin
            phone:read:device:admin: phone:read:device:admin
            phone:write:device_extension:admin: phone:write:device_extension:admin
            phone:delete:device_extension:admin: phone:delete:device_extension:admin
            phone:update:device_provision_template:admin: phone:update:device_provision_template:admin
            phone:write:reboot_device:admin: phone:write:reboot_device:admin
            phone:write:byo_carrier_number:admin: phone:write:byo_carrier_number:admin
            phone:delete:number:admin: phone:delete:number:admin
            phone:read:list_numbers:admin: phone:read:list_numbers:admin
            phone:update:site_number:admin: phone:update:site_number:admin
            phone:read:numbers:admin: phone:read:numbers:admin
            phone:update:number:admin: phone:update:number:admin
            phone:write:user_number: phone:write:user_number
            phone:write:user_number:admin: phone:write:user_number:admin
            phone:delete:user_number: phone:delete:user_number
            phone:delete:user_number:admin: phone:delete:user_number:admin
            phone:read:list_calling_plans:admin: phone:read:list_calling_plans:admin
            phone:read:list_roles:admin: phone:read:list_roles:admin
            phone:write:role:admin: phone:write:role:admin
            phone:update:role:admin: phone:update:role:admin
            phone:read:role:admin: phone:read:role:admin
            phone:delete:role:admin: phone:delete:role:admin
            phone:read:role_member:admin: phone:read:role_member:admin
            phone:write:role_member:admin: phone:write:role_member:admin
            phone:delete:role_member:admin: phone:delete:role_member:admin
            phone:write:private_directory_member:admin: phone:write:private_directory_member:admin
            phone:read:list_private_directory_members:admin: phone:read:list_private_directory_members:admin
            phone:update:private_directory_member:admin: phone:update:private_directory_member:admin
            phone:delete:private_directory_member:admin: phone:delete:private_directory_member:admin
            phone_peering:read:admin: phone_peering:read:admin
            phone:read:list_peering_numbers:admin: phone:read:list_peering_numbers:admin
            phone_peering:write:admin: phone_peering:write:admin
            phone:write:peering_number:admin: phone:write:peering_number:admin
            phone:delete:peering_number:admin: phone:delete:peering_number:admin
            phone:update:peering_number:admin: phone:update:peering_number:admin
            phone:write:provision_template:admin: phone:write:provision_template:admin
            phone:read:list_provision_templates:admin: phone:read:list_provision_templates:admin
            phone:update:provision_template:admin: phone:update:provision_template:admin
            phone:read:provision_template:admin: phone:read:provision_template:admin
            phone:delete:provision_template:admin: phone:delete:provision_template:admin
            phone_recording:read: phone_recording:read
            phone_recording:read:admin: phone_recording:read:admin
            phone:read:call_recording: phone:read:call_recording
            phone:read:call_recording:admin: phone:read:call_recording:admin
            phone:read:recording_transcript: phone:read:recording_transcript
            phone:read:recording_transcript:admin: phone:read:recording_transcript:admin
            phone:read:list_call_recordings:admin: phone:read:list_call_recordings:admin
            phone_recording:write: phone_recording:write
            phone_recording:write:admin: phone_recording:write:admin
            phone:update:call_recording: phone:update:call_recording
            phone:update:call_recording:admin: phone:update:call_recording:admin
            phone:delete:call_recording: phone:delete:call_recording
            phone:delete:call_recording:admin: phone:delete:call_recording:admin
            phone:read:list_recordings: phone:read:list_recordings
            phone:read:list_recordings:admin: phone:read:list_recordings:admin
            phone:read:call_charges:admin: phone:read:call_charges:admin
            phone:read:fax_charges:admin: phone:read:fax_charges:admin
            phone:read:operation_logs:admin: phone:read:operation_logs:admin
            phone:read:sms_charges:admin: phone:read:sms_charges:admin
            phone:read:list_routing_rules:admin: phone:read:list_routing_rules:admin
            phone:write:routing_rule:admin: phone:write:routing_rule:admin
            phone:update:routing_rule:admin: phone:update:routing_rule:admin
            phone:read:routing_rule:admin: phone:read:routing_rule:admin
            phone:delete:routing_rule:admin: phone:delete:routing_rule:admin
            phone_sms:write: phone_sms:write
[...]
