openapi: 3.2.0
info:
  title: Phone Shared Line Group API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Shared Line Group
paths:
  /phone/shared_line_groups:
    get:
      tags:
      - Shared Line Group
      summary: List shared line groups
      description: "Lists all the shared line groups. A [shared line group](https://support.zoom.us/hc/en-us/articles/360038850792) allows Zoom Phone admins to share a phone number and extension with a group of phone users or common areas. This capability gives members of the shared line group access to the group's direct phone number and voicemail. \n\n**Prerequisites:**   \n \n* Pro or higher account with Zoom Phone license.\n* Account owner or admin privileges    \n \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_shared_line_groups:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`"
      operationId: listSharedLineGroups
      parameters:
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK** \n\nShared Line Groups returned."
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: MnriWtiIAzrEfe3EW5ORlj6TFBFqL57AC42
                  page_size:
                    maximum: 300
                    type: integer
                    description: The number of records returned within a single API call.
                    example: 30
                    default: 30
                  shared_line_groups:
                    type: array
                    items:
                      type: object
                      properties:
                        display_name:
                          type: string
                          description: The display name of the shared line group.
                          example: jamieSLGTest
                        extension_id:
                          type: string
                          description: The extension ID.
                          example: FkOFn6d5SGqqqIkyDSXrTg
                        extension_number:
                          type: integer
                          description: The extension number assigned to the Shared Line Group.
                          format: int64
                          example: 1000123471
                        id:
                          type: string
                          description: The unique identifier of the Shared Line Group.
                          example: RQinnFtmTJ25mx89tW5Cmw
                        phone_numbers:
                          type: array
                          description: The phone numbers assigned to the shared line group.
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The unique identifier of the phone number.
                                example: 55JUZPwERHuGttd_j4qBsQ
                              number:
                                type: string
                                description: The phone number in E164 format.
                                example: '+12058945565'
                              status:
                                type: string
                                description: The status of the number.
                                example: available
                                enum:
                                - pending
                                - available
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier of the [site](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/getASite).
                              example: 8f71O6rWT8KFUGQmJIFAdQ
                            name:
                              type: string
                              description: The name of the site.
                              example: Main Site
                        status:
                          type: string
                          description: The status of the shared line group.
                          example: active
                          enum:
                          - active
                          - inactive
                  total_records:
                    type: integer
                    description: The total records found in the response for this request.
                    example: 14
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_shared_line_groups:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_shared_line_groups:admin
    post:
      tags:
      - Shared Line Group
      summary: Create a shared line group
      description: "Creates a shared line group. A [shared line group](https://support.zoom.us/hc/en-us/articles/360038850792) allows Zoom Phone admins to share a phone number and extension with a group of phone users or common areas. This gives members of the shared line group access to the group's direct phone number and voicemail. **Prerequisites:**    * Pro or higher account with Zoom Phone license.* Account owner or admin privileges \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:shared_line_group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: createASharedLineGroup
      requestBody:
        content:
          application/json:
            schema:
              required:
              - display_name
              type: object
              properties:
                description:
                  maxLength: 255
                  type: string
                  description: The description for the shared line group.
                  example: test shared line
                display_name:
                  maxLength: 200
                  type: string
                  description: The name to identify the shared line group.
                  example: Mtest sharedLineGroup
                extension_number:
                  type: integer
                  description: 'Extension number to be assigned to the shared line group. If a [site code has been assigned](https://support.zoom.us/hc/en-us/articles/360020809672#h_79ca9c8f-c97b-4486-aa59-d0d9d31a525b) to the site, provide the short extension number '
                  format: int64
                  example: 1000123487
                site_id:
                  type: string
                  description: 'The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites) that you would like to use for the shared line group. You will only be able to add members that belong to this site to the shared line group.


                    This field is required only if the [multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites) option has been enabled for the account.'
                  example: 8f71O6rWT8KFUGQmJIFAdQ
      responses:
        '201':
          description: '**HTTP Status Code:** `201` **Created**    Shared Line Group created successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ' The unique identifier of the shared line group.'
                    example: RQinnFtmTJ25mx89tW5Cmw
                  display_name:
                    type: string
                    description: ' The display name of the shared line group.'
                    example: jamieSLGTest
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `300` <br>\n  <br>\n**Error Code:** `400` <br>\n Extension number {extensionNumber} is already used.<br><br> <br>\n**Error Code:** `409` <br>\n Invalid short number length. <br>\nNumber {extensionNumber} is a reserved extension number. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:shared_line_group:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:shared_line_group:admin
  /phone/shared_line_groups/{sharedLineGroupId}:
    get:
      tags:
      - Shared Line Group
      summary: Get a shared line group
      description: " Returns a list of all the shared line groups. \n \n A [shared line group](https://support.zoom.us/hc/en-us/articles/360038850792) allows Zoom Phone admins to share a phone number and extension with a group of phone users or common areas. This gives members of the shared line group access to the group's direct phone number and voicemail. \n\n**Prerequisites:**   \n \n* Pro or higher account with Zoom Phone license.\n* Account owner or admin privileges \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:shared_line_group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: getASharedLineGroup
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The unique identifier of the shared line group.
        required: true
        schema:
          type: string
          example: RQinnFtmTJ25mx89tW5Cmw
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  display_name:
                    type: string
                    description: The display name of the shared line group.
                    example: jamieSLGTest
                  extension_id:
                    type: string
                    description: The extension ID of the shared line group.
                    example: WfsrPERXS8inWrpH1Hi_KQ
                  extension_number:
                    type: integer
                    description: The extension number assigned to the shared line group.
                    format: int64
                    example: 1000123471
                  id:
                    type: string
                    description: The unique identifier of the shared line group.
                    example: RQinnFtmTJ25mx89tW5Cmw
                  members:
                    type: object
                    properties:
                      users:
                        type: array
                        description: The users who are members of the shared line group.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier of the user.
                              example: mNlwFK9ISMKC2toK9oDTcg
                            name:
                              type: string
                              description: The name of the user.
                              example: ZOOM_API Test
                            extension_id:
                              type: string
                              description: The extension ID of the user.
                              example: oeDyBe8zT2SzOZW6gQJXUA
                      common_areas:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier of the common area.
                              example: HIlHzOEzS8ymQPFBZ-39AQ
                            name:
                              type: string
                              description: The name of the common area.
                              example: Common Area
                            extension_id:
                              type: string
                              description: The extension ID of the common area.
                              example: HIlHzOEzS8ymQPFBZ-39AQ
                    description: This field allows you to view current [members](https://support.zoom.us/hc/en-us/articles/360038850792-Setting-up-shared-line-groups#h_3ffbbb77-a009-4c09-91e4-81fc264b61d6) of the shared line group.
                  phone_numbers:
                    type: array
                    description: The object representing information about phone number(s) assigned to the group.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the phone number.
                          example: '---M1padRvSUtw7YihN7sA'
                        number:
                          type: string
                          description: The phone number in E164 format.
                          example: '14232058798'
                  primary_number:
                    type: string
                    description: "If you have multiple direct phone numbers assigned to the shared line group, this is the primary number selected for desk phones. \n\nThe primary number shares the same line as the extension number. This means if a caller is routed to the shared line group through an auto receptionist, the line associated with the primary number will be used."
                    example: '14232058798'
                  site:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the [site](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/getASite).
                        example: 8f71O6rWT8KFUGQmJIFAdQ
                      name:
                        type: string
                        description: The name of the site.
                        example: Main Site
                    description: The site assigned to the shared line group.
                  status:
                    type: string
                    description: The status of the shared line group.
                    example: active
                    enum:
                    - active
                    - inactive
                  timezone:
                    type: string
                    description: The [timezone](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) of the Shared Line Group.
                    example: Pacific/Midway
                  policy:
                    type: object
                    properties:
                      voicemail_access_members:
                        uniqueItems: true
                        type: array
                        description: The shared voicemail access member list.
                        items:
                          allOf:
                          - allOf:
                            - type: object
                              properties:
                                access_user_id:
                                  type: string
                                  description: The Zoom user ID or email or common area ID to share or update the access permissions with.
                                  example: w0RChiauQeqRlv5fgxYULQ
                                allow_download:
                                  type: boolean
                                  description: This field specifies whether the member has download permissions. Not applicable to `commonArea`. The default is **false**.
                                  example: false
                                allow_delete:
                                  type: boolean
                                  description: This field specifies whether the member has delete permissions. The default is **false**.
                                  example: false
                                allow_sharing:
                                  type: boolean
                                  description: This field specifies whether the member has permission to share. The default is **false**.
                                  example: false
                            - type: object
                              properties:
                                shared_id:
                                  type: string
                                  description: The shared voicemail ID that the member can access.
                                  example: --e8ugg0SeS-9clgrDkn2w
                          - type: object
                            properties:
                              access_user_type:
                                type: string
                                description: 'The type of access member: `user` or `commonArea`.'
                                example: user
                                enum:
                                - user
                                - commonArea
                    description: The shared line group policy list.
                  cost_center:
                    type: string
                    description: The cost center name.
                    example: Cost center
                  department:
                    type: string
                    description: The department name.
                    example: Department
                  audio_prompt_language:
                    type: string
                    description: "The language for all default audio prompts for the Shared Line Group. \n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                    example: en-US
                    enum:
                    - en-US
                    - en-GB
                    - es-US
                    - fr-CA
                    - da-DK
                    - de-DE
                    - es-ES
                    - fr-FR
                    - it-IT
                    - nl-NL
                    - pt-PT
                    - ja
                    - ko-KR
                    - pt-BR
                    - zh-CN
                  default_transcription_language:
                    type: string
                    description: "The default language selection for features such as voicemail and call recording.\n* `en-US` — English (US) \n* `en-GB` — English (UK) \n* `es-US` — Spanish (US) \n* `fr-CA` — French (Canada) \n* `da-DK` — Danish (Denmark) \n* `de-DE` — German (Germany) \n* `es-ES` — Spanish (Spain) \n* `fr-FR` — French (France) \n* `it-IT` — Italian (Italy) \n* `nl-NL` — Dutch (Netherlands) \n* `pt-PT` — Portuguese (Portugal) \n* `ja` — Japanese \n* `ko-KR` — Korean (Korea) \n* `pt-BR` — Portuguese (Brazil) \n* `zh-CN` — Chinese (PRC)"
                    example: en-US
                    enum:
                    - en-US
                    - en-GB
                    - es-US
                    - fr-CA
                    - da-DK
                    - de-DE
                    - es-ES
                    - fr-FR
                    - it-IT
                    - nl-NL
                    - pt-PT
                    - ja
                    - ko-KR
                    - pt-BR
                    - zh-CN
                  recording_storage_location:
                    type: string
                    description: "Where the recording will be stored. Recording includes Phone recordings, voicemail, voicemail transcripts, and custom greeting prompts. \n* `US` : United States \n* `AU` : Australia \n* `CA` : Canada \n* `DE` : Germany \n* `IN` : India \n* `JP` : Japan \n* `SG` : Singapore \n* `BR` : Brazil \n* `CN` : China \n* `MX` : Mexico \n\n<b>Note:</b> \n* If the setting is locked at the Account level, it can't be updated."
                    example: US
                    enum:
                    - US
                    - AU
                    - CA
                    - DE
                    - IN
                    - JP
                    - SG
                    - BR
                    - CN
                    - MX
                  own_storage_name:
                    type: string
                    description: The name of your own storage. Use your own storage provided by Oracle Cloud Infrastructure (OCI) to store Zoom Phone recordings, voicemails, and voicemail transcripts, and custom greeting prompts.
                    example: us-oracle-storage
                  allow_privacy:
                    type: boolean
                    description: Whether to allow members to prevent others from picking up a held call, and listening, whispering, barging, or taking over a call if it's configured.
                    example: true
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Shared line group does not exist: {sharedLineGroupId}. <br>\n**Error Code:** `2001` <br>\n Account does not exist. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:shared_line_group:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:shared_line_group:admin
  /phone/shared_line_groups/{sharedLineGroupId}/call_handling/settings:
    get:
      tags:
      - Shared Line Group
      summary: Get shared line group call handling setting
      description: 'Returns the call handling setting of a shared line group for the specified hour type.


        **Prerequisites:**

        * A Pro or higher account with a Zoom Phone license.

        * Account owner or admin permissions.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:shared_line_group_call_handling_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getSharedLineGroupCallHandlingSetting
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The shared line group ID.
        required: true
        schema:
          type: string
          example: qQ3hQmrrR3KhV4XshW6z4Q
      - name: hour_type
        in: query
        description: The hour type of the call handling setting. Defaults to `business_hours` if not provided.
        required: false
        schema:
          type: string
          example: business_hours
          enum:
          - business_hours
          - closed_hours
          - holiday_hours
          - break_hours
      - name: holiday_hour_id
        in: query
        description: The holiday hour ID. Required when `hour_type` is `holiday_hours`.
        required: false
        schema:
          type: string
          example: TNxfEp2WT9emyCsAQt4qnA
      - name: break_hour_id
        in: query
        description: The break hour ID. Required when `hour_type` is `break_hours`.
        required: false
        schema:
          type: string
          example: ULfeE4mgSImyelNmTekUfg
      responses:
        '200':
          description: "**HTTP Status Code:** `200` <br>\n Shared line group call handling setting retrieved successfully.\n\n "
          content:
            application/json:
              schema:
                type: object
                properties:
                  call_distribution_setting:
                    type: object
                    properties:
                      max_wait_time:
                        type: integer
                        description: The maximum wait time, in seconds, that the shared line group rings all members before the unanswered-call action takes effect. Only meaningful when `hour_type` is `business_hours`.
                        example: 30
                        enum:
                        - 7
                        - 10
                        - 15
                        - 20
                        - 25
                        - 30
                        - 35
                        - 40
                        - 45
                        - 50
                        - 55
                        - 60
                    description: The call distribution settings that control how long the shared line group rings all members before the unanswered-call action takes effect. Only returned when `hour_type` is `business_hours`.
                  call_handling_setting:
                    type: object
                    properties:
                      overflow_action:
                        type: string
                        description: 'The overflow action to take when an incoming call is not answered. This corresponds to the **Overflow** > **Route to** dropdown in the shared line group settings UI:

                          * `forward_to_voicemail` — Forward to voicemail.

                          * `forward_to_extension` — Forward to another internal extension. The target extension type is identified by `forward_to_extension.extension_type`. Supported types: `user`, `callQueue`, `autoReceptionist`, `commonArea`, `sharedLineGroup`, `zoomRoom`, `ciscoRoom/PolycomRoom`.

                          * `forward_to_external_contact` — Forward to an external contact.

                          * `forward_to_external_number` — Forward to an external phone number.

                          * `forward_to_zoom_contact_center` — Forward to a Zoom Contact Center number.

                          * `play_message_then_disconnect` — Play a message and then disconnect.

                          * `disconnect` — Disconnect.

                          * `forward_to_teams` — Forward to a Microsoft Teams Resource Account. Only returned when the account has Zoom Phone for Microsoft Teams enabled.'
                        example: forward_to_voicemail
                        enum:
                        - forward_to_voicemail
                        - play_message_then_disconnect
                        - forward_to_extension
                        - forward_to_ivr
                        - forward_to_partner_contact_center
                        - forward_to_external_number
                        - forward_to_external_contact
                        - forward_to_zoom_contact_center
                        - forward_to_voicemail_access
                        - forward_to_teams
                        - disconnect
                      overflow_action_setting:
                        description: The overflow action settings based on the `overflow_action` value. Only present when `overflow_action` is not `disconnect`.
                        oneOf:
                        - title: Forward to Voicemail
                          type: object
                          properties:
                            allow_callers_check_voicemail:
                              type: boolean
                              description: Whether to allow callers to check voicemail.
                              example: false
                            connect_to_operator:
                              type: boolean
                              description: Whether to allow callers to reach an operator.
                              example: false
                            operator_extension:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: The operator's extension ID.
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The operator's extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The operator's display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The operator's extension type.
                                  example: user
                                  enum:
                                  - user
                                  - callQueue
                                  - autoReceptionist
                                  - commonArea
                                  - sharedLineGroup
                                  - zoomRoom
                                  - ciscoRoom/PolycomRoom
                              description: The operator's extension information. Only present when `connect_to_operator` is `true`.
                            voicemail_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: voicemail-greeting.mp3
                              description: The voicemail greeting prompt.
                            leave_voicemail_instruction:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: leave-voicemail-instruction.mp3
                              description: The leave-voicemail instruction prompt. Only returned when `connect_to_operator` or `allow_callers_check_voicemail` is `true`.
                          description: Only returned when `overflow_action` is `forward_to_voicemail`.
                        - title: Forward to Another Extension
                          type: object
                          properties:
                            forward_to_extension:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: The extension ID.
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The extension display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The extension type.
                                  example: user
                                  enum:
                                  - user
                                  - callQueue
                                  - autoReceptionist
                                  - commonArea
                                  - sharedLineGroup
                                  - zoomRoom
                                  - ciscoRoom/PolycomRoom
                              description: The extension to forward calls to.
                          description: Only returned when `overflow_action` is `forward_to_extension`.
                        - title: Forward to External Contact
                          type: object
                          properties:
                            forward_to_external_contact:
                              type: object
                              properties:
                                external_contact_id:
                                  type: string
                                  description: The external contact's ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                external_contact_name:
                                  type: string
                                  description: The external contact's name.
                                  example: Johnson
                                external_contact_email:
                                  type: string
                                  description: The external contact's email address.
                                  example: example@example.com
                                phone_numbers:
                                  type: array
                                  description: The external contact's phone numbers.
                                  items:
                                    type: string
                                    example: '+12058945656'
                              description: The external contact to forward calls to.
                          description: Only returned when `overflow_action` is `forward_to_external_contact`.
                        - title: Forward to External Number
                          type: object
                          properties:
                            forward_phone_number:
                              type: string
                              description: The external phone number to forward calls to in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                              example: '+12058945656'
                          description: Only returned when `overflow_action` is `forward_to_external_number`.
                        - title: Forward to Zoom Contact Center
                          type: object
                          properties:
                            forward_to_zoom_contact_center:
                              type: object
                              properties:
                                zoom_contact_center_number:
                                  type: string
                                  description: The Zoom Contact Center phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                                  example: '+12058945656'
                                zoom_contact_center_flow_name:
                                  type: string
                                  description: The display name of the Zoom Contact Center flow that the number belongs to.
                                  example: Sales Flow
                              description: The Zoom Contact Center number to forward calls to.
                          description: Only returned when `overflow_action` is `forward_to_zoom_contact_center`.
                        - title: Play a Message then Disconnect
                          type: object
                          properties:
                            message_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: message.mp3
                              description: The message audio prompt played before disconnecting.
                          description: Only returned when `overflow_action` is `play_message_then_disconnect`.
                        - title: Forward to Microsoft Teams Resource Account
                          type: object
                          properties:
                            forward_to_teams:
                              type: object
                              properties:
                                teams_app_id:
                                  type: string
                                  description: The Microsoft Teams Resource Account ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                teams_voice_app_name:
                                  type: string
                                  description: The Microsoft Teams Resource Account display name.
                                  example: Sales Teams RA
                              description: The Microsoft Teams Resource Account to forward calls to. Only available when the account has Zoom Phone for Microsoft Teams enabled.
                          description: Only returned when `overflow_action` is `forward_to_teams`.
                    description: The call handling settings.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Shared line group does not exist: {sharedLineGroupId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:shared_line_group_call_handling_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:shared_line_group_call_handling_setting:admin
  /phone/shared_line_groups/{sharedLineGroupId}/call_handling/settings/{hourType}:
    patch:
      tags:
      - Shared Line Group
      summary: Update shared line group call handling setting
      description: 'Update the call handling setting of a shared line group for the specified hour type.


        At least one of `call_distribution_setting` or `call_handling_setting` must be provided in the request body. `call_distribution_setting` is only allowed when `hour_type` is `business_hour`.


        **Prerequisites:**

        * A Pro or higher account with a Zoom Phone license.

        * Account owner or admin permissions.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:shared_line_group_call_handling_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateSharedLineGroupCallHandlingSetting
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The shared line group ID.
        required: true
        schema:
          type: string
          example: qQ3hQmrrR3KhV4XshW6z4Q
      - name: hourType
        in: path
        description: The hour type of the call handling setting. `closed_hours` and `break_hours` cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`.
        required: true
        schema:
          type: string
          example: business_hours
          enum:
          - business_hours
          - closed_hours
          - holiday_hours
          - break_hours
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                holiday_hour_id:
                  type: string
                  description: The holiday hour ID. Required when `hourType` is `holiday_hours`.
                  example: TNxfEp2WT9emyCsAQt4qnA
                break_hour_id:
                  type: string
                  description: The break hour ID. Required when `hourType` is `break_hours`.
                  example: ULfeE4mgSImyelNmTekUfg
                call_distribution_setting:
                  type: object
                  properties:
                    max_wait_time:
                      type: integer
                      description: The maximum wait time, in seconds, that the shared line group rings all members before the unanswered call action takes effect.
                      example: 30
                      enum:
                      - 7
                      - 10
                      - 15
                      - 20
                      - 25
                      - 30
                      - 35
                      - 40
                      - 45
                      - 50
                      - 55
                      - 60
                  description: The call distribution settings. Only allowed when `hour_type` is `business_hours`.
                call_handling_setting:
                  type: object
                  properties:
                    overflow_action:
                      type: string
                      description: 'The overflow action to take when an incoming call is not answered. This corresponds to the **Overflow** > **Route to** dropdown in the shared line group settings UI:

                        * `forward_to_voicemail` &mdash; Forward to voicemail.

                        * `forward_to_extension` &mdash; Forward to another internal extension. The target extension type is identified by `forward_to_extension.extension_type`.

                        * `forward_to_external_contact` &mdash; Forward to an external contact.

                        * `forward_to_external_number` &mdash; Forward to an external phone number.

                        * `forward_to_zoom_contact_center` &mdash; Forward to a Zoom Contact Center number.

                        * `play_message_then_disconnect` &mdash; Play a message and then disconnect.

                        * `disconnect` &mdash; Disconnect.

                        * `forward_to_teams` &mdash; Forward to a Microsoft Teams Resource Account. Only allowed when the account has Zoom Phone for Microsoft Teams enabled.'
                      example: forward_to_voicemail
                      enum:
                      - forward_to_voicemail
                      - play_message_then_disconnect
                      - forward_to_extension
                      - forward_to_ivr
                      - forward_to_partner_contact_center
                      - forward_to_external_number
                      - forward_to_external_contact
                      - forward_to_zoom_contact_center
                      - forward_to_voicemail_access
                      - forward_to_teams
                      - disconnect
                    overflow_action_setting:
                      description: The overflow action settings based on the `overflow_action` value. Required when `overflow_action` is not `disconnect`.
                      oneOf:
                      - title: Forward to Voicemail
                        type: object
                        properties:
                          allow_callers_check_voicemail:
                            type: boolean
                            description: Whether to allow callers to check voicemail.
                            example: false
                          connect_to_operator:
                            type: boolean
                            description: Whether to allow callers to reach an operator.
                            example: false
                          operator_extension:
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: The operator's extension ID.
                                example: jN9mb38lQTaMgxUq3Nd6ow
                            description: The operator's extension. Required when `connect_to_operator` is `true`.
                          voicemail_greeting:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The voicemail greeting prompt.
                          leave_voicemail_instruction:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The leave voicemail instruction prompt. This only takes effect when `connect_to_operator` or `allow_callers_check_voicemail` is `true`.
                        description: Provide this object when `overflow_action` is `forward_to_voicemail`.
                      - title: Forward to Another Extension
                        type: object
                        properties:
                          forward_to_extension:
                            required:
                            - extension_id
                            type: object
                            properties:
                              extension_id:
                                type: string
                                description: The extension ID to forward calls to.
                                example: jN9mb38lQTaMgxUq3Nd6ow
                            description: The extension to forward calls to.
                        description: Provide this object when `overflow_action` is `forward_to_extension`.
                      - title: Forward to External Contact
                        type: object
                        properties:
                          forward_to_external_contact:
                            required:
                            - external_contact_id
                            type: object
                            properties:
                              external_contact_id:
                                type: string
                                description: The external contact's ID.
                                example: OJGi5xOFQPmrJbKg68-iWg
                            description: The external contact to forward calls to.
                        description: Provide this object when `overflow_action` is `forward_to_external_contact`.
                      - title: Forward to External Number
                        required:
                        - forward_phone_number
                        type: object
                        properties:
                          forward_phone_number:
                            type: string
                            description: The external phone number to forward calls to in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                            example: '+12058945656'
                        description: Provide this object when `overflow_action` is `forward_to_external_number`.
                      - title: Forward to Zoom Contact Center
                        type: object
                        properties:
                          forward_to_zoom_contact_center:
                            required:
                            - zoom_contact_center_number
                            type: object
                            properties:
                              zoom_contact_center_number:
                                type: string
                                description: The Zoom Contact Center phone number to forward calls to in [E.164 format](https://en.wikipedia.org/wiki/E.164).
                                example: '+12058945656'
                            description: The Zoom Contact Center number to forward calls to.
                        description: Provide this object when `overflow_action` is `forward_to_zoom_contact_center`.
                      - title: Play a Message then Disconnect
                        type: object
                        properties:
                          message_greeting:
                            type: object
                            properties:
                              audio_id:
                                type: string
                                description: The audio prompt file ID.
                                example: yCT14TwySDGVUypVlKNEyA
                            description: The message audio prompt played before disconnecting.
                        description: Provide this object when `overflow_action` is `play_message_then_disconnect`.
                      - title: Forward to Microsoft Teams Resource Account
                        type: object
                        properties:
                          forward_to_teams:
                            required:
                            - teams_app_id
                            type: object
                            properties:
                              teams_app_id:
                                type: string
                                description: The Microsoft Teams Resource Account ID.
                                example: OJGi5xOFQPmrJbKg68-iWg
                            description: The Microsoft Teams Resource Account to forward calls to.
                        description: Provide this object when `overflow_action` is `forward_to_teams`. Only allowed when the account has Zoom Phone for Microsoft Teams enabled.
                  description: The call handling settings.
      responses:
        '204':
          description: '**HTTP Status Code:** `204` Shared line group call handling setting updated successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n**Error Code:** `13802` <br>\n Audio does not exist: {audioId}. <br>\n**Error Code:** `13808` <br>\n Extension does not exist: {extension_id}. <br>\n**Error Code:** `13810` <br>\n External contact does not exist: {0}. <br>\n**Error Code:** `15104` <br>\n The {hour_type} cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Shared line group does not exist: {sharedLineGroupId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:shared_line_group_call_handling_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:shared_line_group_call_handling_setting:admin
  /phone/shared_line_groups/{sharedLineGroupId}/policies:
    get:
      tags:
      - Shared Line Group
      summary: Get a shared line group policy
      description: 'Returns the policy setting of a specific [shared line group](https://support.zoom.us/hc/en-us/articles/360038850792).


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:shared_line_group_policy:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getSharedLineGroupPolicy
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The unique identifier of the shared line group.
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            Successfully retrieved the shared line group policy.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  check_voicemails_over_phone:
                    required:
                    - enable
                    - locked
                    type: object
                    properties:
                      enable:
                        type: boolean
                        description: Whether to allow members in this shared line group to check voicemails for this group over phone using a PIN code.
                        example: true
                      locked:
                        type: boolean
                        description: Whether the senior administrator allows users to modify the current settings.
                        example: true
                      locked_by:
                        type: string
                        description: Which level of administrator prohibits modifying the current settings.
                        example: site
                        enum:
                        - invalid
                        - account
                        - site
                      modified:
                        type: boolean
                        description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                        example: true
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `404` <br>\n Shared line group does not exist:{sharedLineGroupId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:shared_line_group_policy:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:shared_line_group_policy:admin
    patch:
      tags:
      - Shared Line Group
      summary: Update a shared line group policy
      description: "Updates the policy setting of a specific [shared line group](https://support.zoom.us/hc/en-us/articles/360038850792). \n\n**Prerequisites:**\n* Pro or higher account plan with Zoom Phone License\n* Account owner or admin permissions\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:shared_line_group_policy:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: updateSharedLineGroupPolicy
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The unique identifier of the shared line group.
        required: true
        schema:
          type: string
          example: nqerMCD0Tu6RPGoCpVbPtA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                check_voicemails_over_phone:
                  type: object
                  properties:
                    enable:
                      type: boolean
                      description: Whether to allow members in this shared line group to check voicemails for this group over phone using a PIN code.
                      example: true
                    reset:
                      type: boolean
                      description: Whether the current settings use the phone account's settings (applicable if the current settings are using the new policy framework).
                      example: true
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n  **No Content**  \n \nShared line group policy updated successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `300` <br>\n  <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:shared_line_group_policy:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:shared_line_group_policy:admin
  /phone/shared_line_groups/{sharedLineGroupId}/settings:
    get:
      tags:
      - Shared Line Group
      summary: Get shared line group settings
      description: 'Returns shared line group settings.


        **Prerequisites:**

        * A Pro or higher account with a Zoom Phone license.

        * Account owner or admin permissions.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:shared_line_group_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getSharedLineGroupSettings
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The shared line group ID.
        required: true
        schema:
          type: string
          example: qQ3hQmrrR3KhV4XshW6z4Q
      - name: setting_type
        in: query
        description: 'The setting item to query. Defaults to `business_hours` if not provided. Allowed values: `holiday_hours`, `business_hours`, `break_hours`.'
        required: false
        schema:
          type: string
          example: business_hours
          enum:
          - holiday_hours
          - business_hours
          - break_hours
      responses:
        '200':
          description: "**HTTP Status Code:** `200`  \n \nShared line group setting object returned."
          content:
            application/json:
              schema:
                description: The shared line group setting.
                oneOf:
                - title: Holiday hour settings
                  type: object
                  properties:
                    holiday_hours:
                      type: array
                      description: The holiday list. The minimum is one item, and the maximum is 10 items.
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the holiday.
                            example: holiday name
                          from:
                            type: string
                            description: The holiday's start date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                            example: '2022-03-05T00:00:00Z'
                          to:
                            type: string
                            description: The holiday's end date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                            example: '2022-03-06T00:00:00Z'
                        description: Each holiday.
                  description: Returned only when the setting type is `holiday_hours`.
                - title: Business hour settings
                  type: object
                  properties:
                    business_hours_settings:
                      type: object
                      properties:
                        business_hours:
                          maxItems: 7
                          type: array
                          description: The business hours settings.
                          items:
                            type: object
                            properties:
                              from:
                                type: string
                                description: The business hours start time in `HH:mm` format.
                                example: 09:00
                              to:
                                type: string
                                description: The business hours end time in `HH:mm` format.
                                example: '18:00'
                              type:
                                type: integer
                                description: "The type of business hours: \n* `0` &mdash; Disabled. \n* `1` &mdash; 24 hours. \n* `2` &mdash; Customized hours."
                                example: 1
                                enum:
                                - 0
                                - 1
                                - 2
                              weekday:
                                type: integer
                                description: "The day of the week: \n* `1` &mdash; Sunday \n* `2` &mdash; Monday \n* `3` &mdash; Tuesday \n* `4` &mdash; Wednesday \n* `5` &mdash; Thursday \n* `6` &mdash; Friday \n* `7` &mdash; Saturday"
                                example: 7
                                enum:
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                        business_hour_type:
                          type: integer
                          description: "The type of business hours: \n* `1` &mdash; 24 hours, 7 days a week. \n* `2` &mdash; Customized hours."
                          example: 2
                          enum:
                          - 1
                          - 2
                      description: The business hours settings.
                  description: Returned only when the setting type is `business_hours`.
                - title: Break hour settings
                  type: object
                  properties:
                    break_hours:
                      type: array
                      description: The list of break hours.
                      items:
                        type: object
                        properties:
                          break_hour_id:
                            type: string
                            description: The unique identifier of the break hour.
                            example: R4GeDFaLTpeQb1jPDCuPhA
                          break_hour_name:
                            maxLength: 255
                            minLength: 1
                            type: string
                            description: The name of the break hour.
                            example: Lunch Break
                          break_hour_type:
                            type: string
                            description: "The type of break hour schedule: \n* `every_business_day` &mdash; The break applies at the same time on every business day. \n* `custom_hours` &mdash; The break applies on specific days of the week with individually configured times."
                            example: every_business_day
                            enum:
                            - every_business_day
                            - custom_hours
                          break_hour_setting:
                            description: The break hour time configuration. The structure depends on the `break_hour_type` field.
                            oneOf:
                            - title: Every Business Day
                              required:
                              - from
                              - to
                              type: object
                              properties:
                                from:
                                  type: string
                                  description: The start time of the break in `HH:mm` format (24-hour clock). For example, `12:00`.
                                  example: '12:00'
                                to:
                                  type: string
                                  description: The end time of the break in `HH:mm` format (24-hour clock). For example, `13:00`. Must be after the `from` time.
                                  example: '13:00'
                              description: Only returned when `break_hour_type` is `every_business_day`. Defines a single time range that applies to all business days.
                            - title: Custom Hours
                              required:
                              - days
                              type: object
                              properties:
                                days:
                                  maxItems: 7
                                  type: array
                                  description: The list of days with configured break times. Only includes days that have break hours enabled.
                                  items:
                                    required:
                                    - from
                                    - to
                                    - weekday
                                    type: object
                                    properties:
                                      weekday:
                                        type: integer
                                        description: "The day of the week: \n* `1` &mdash; Sunday \n* `2` &mdash; Monday \n* `3` &mdash; Tuesday \n* `4` &mdash; Wednesday \n* `5` &mdash; Thursday \n* `6` &mdash; Friday \n* `7` &mdash; Saturday"
                                        example: 7
                                        enum:
                                        - 1
                                        - 2
                                        - 3
                                        - 4
                                        - 5
                                        - 6
                                        - 7
                                      enable:
                                        type: boolean
                                        description: Whether the break hour is enabled on this day.
                                        example: true
                                      from:
                                        type: string
                                        description: The start time of the break on this day in `HH:mm` format (24-hour clock). For example, `12:00`.
                                        example: '12:00'
                                      to:
                                        type: string
                                        description: The end time of the break on this day in `HH:mm` format (24-hour clock). For example, `13:00`. Must be after the `from` time.
                                        example: '13:00'
                              description: Only returned when `break_hour_type` is `custom_hours`. Lists the specific days of the week on which the break is active, along with their individual time ranges.
                  description: Returned only when the setting type is `break_hours`.
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Shared line group does not exist: {sharedLineGroupId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:shared_line_group_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:shared_line_group_setting:admin
  /phone/shared_line_groups/{sharedLineGroupId}/settings/{settingType}:
    post:
      tags:
      - Shared Line Group
      summary: Add shared line group setting
      description: 'Adds the shared line group setting according to the setting type.


        **Prerequisites**

        * A Pro or higher account with a Zoom Phone license.

        * Account owner or admin permissions.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:shared_line_group_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: addSharedLineGroupSetting
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The shared line group ID.
        required: true
        schema:
          type: string
          example: qQ3hQmrrR3KhV4XshW6z4Q
      - name: settingType
        in: path
        description: 'The setting type that corresponds to the setting item you want to add. Allowed values: `holiday_hours`, `break_hours`.'
        required: true
        schema:
          type: string
          example: holiday_hours
          enum:
          - holiday_hours
          - break_hours
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: Holiday hour settings
                type: object
                properties:
                  holiday_hours:
                    type: object
                    properties:
                      holidays:
                        maxItems: 10
                        minItems: 1
                        type: array
                        description: The holiday list. The minimum is one item and the maximum is 10 items.
                        items:
                          required:
                          - from
                          - name
                          - to
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the holiday.
                              example: holiday name
                            from:
                              type: string
                              description: The holiday's start date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                              format: date-time
                              example: '2022-03-05T00:00:00Z'
                            to:
                              type: string
                              description: The holiday's end date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                              format: date-time
                              example: '2022-03-06T00:00:00Z'
                          description: Each holiday.
                    description: This field is only required when the setting type is `holiday_hours`.
                description: Use this schema when the setting type is `holiday_hours`.
              - title: Break hour settings
                type: object
                properties:
                  break_hours:
                    type: object
                    properties:
                      break_hour_settings:
                        maxItems: 5
                        type: array
                        description: The list of break hour settings. This field is only required when the setting type is `break_hours`.
                        items:
                          required:
                          - break_hour_name
                          - break_hour_type
                          type: object
                          properties:
                            break_hour_name:
                              maxLength: 255
                              minLength: 1
                              type: string
                              description: The name of the break hour.
                              example: Lunch Break
                            break_hour_type:
                              type: string
                              description: "The type of break hour schedule. \n* `every_business_day` — The break applies at the same time on every business day. \n* `custom_hours` — The break applies on specific days of the week with individually configured times."
                              example: every_business_day
                              enum:
                              - every_business_day
                              - custom_hours
                            break_hour_setting:
                              description: The break hour time configuration. The structure depends on the `break_hour_type` field.
                              oneOf:
                              - title: Every Business Day
                                required:
                                - from
                                - to
                                type: object
                                properties:
                                  from:
                                    type: string
                                    description: The start time of the break in HH:mm format (24-hour clock). For example, `12:00`.
                                    example: '12:00'
                                  to:
                                    type: string
                                    description: The end time of the break in HH:mm format (24-hour clock). For example, `13:00`. Must be after the `from` time.
                                    example: '13:00'
                                description: Only required when `break_hour_type` is `every_business_day`. Defines a single time range that applies to all business days.
                              - title: Custom Hours
                                required:
                                - days
                                type: object
                                properties:
                                  days:
                                    maxItems: 7
                                    type: array
                                    description: The list of days with configured break times. Only includes days that have break hours enabled.
                                    items:
                                      required:
                                      - from
                                      - to
                                      - weekday
                                      type: object
                                      properties:
                                        weekday:
                                          type: integer
                                          description: "The day of the week: \n* `1` &mdash; Sunday \n* `2` &mdash; Monday \n* `3` &mdash; Tuesday \n* `4` &mdash; Wednesday \n* `5` &mdash; Thursday \n* `6` &mdash; Friday \n* `7` &mdash; Saturday"
                                          example: 7
                                          enum:
                                          - 1
                                          - 2
                                          - 3
                                          - 4
                                          - 5
                                          - 6
                                          - 7
                                        enable:
                                          type: boolean
                                          description: Whether the break hour is enabled on this day.
                                          example: true
                                        from:
                                          type: string
                                          description: The start time of the break on this day in HH:mm format (24-hour clock). For example, `12:00`.
                                          example: '12:00'
                                        to:
                                          type: string
                                          description: The end time of the break on this day in HH:mm format (24-hour clock). For example, `13:00`. Must be after the `from` time.
                                          example: '13:00'
                                description: Only required when `break_hour_type` is `custom_hours`. Lists the specific days of the week on which the break is active, along with their individual time ranges.
                    description: The list of break hours. This field is only required when the setting type is `break_hours`.
                description: Use this schema when the setting type is `break_hours`. `break_hours` cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`.
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \n\nCreated successfully."
          content:
            application/json:
              schema:
                description: The shared line group setting created according to the setting type.
                oneOf:
                - title: Holiday hour settings
                  type: object
                  properties:
                    holiday_hours:
                      type: object
                      properties:
                        holidays:
                          type: array
                          description: The list of holidays. Returned only when the setting type is `holiday_hours`.
                          items:
                            type: object
                            properties:
                              holiday_id:
                                type: string
                                description: The holiday ID.
                                example: ULfeE4mgSImyelNmTekUfg
                              name:
                                type: string
                                description: The name of the holiday.
                                example: test
                      description: The holiday hours. Returned only when the setting type is `holiday_hours`.
                  description: Returned only when the setting type is `holiday_hours`.
                - title: Break hour settings
                  type: object
                  properties:
                    break_hours:
                      type: object
                      properties:
                        break_hour_settings:
                          maxItems: 5
                          type: array
                          description: The list of break hour settings. Returned only when the setting type is `break_hours`.
                          items:
                            required:
                            - break_hour_id
                            - break_hour_name
                            type: object
                            properties:
                              break_hour_id:
                                type: string
                                description: The unique identifier of the break hour.
                                example: R4GeDFaLTpeQb1jPDCuPhA
                              break_hour_name:
                                maxLength: 255
                                minLength: 1
                                type: string
                                description: The name of the break hour.
                                example: Lunch Break
                      description: The list of break hours. Returned only when the setting type is `break_hours`.
                  description: Returned only when the setting type is `break_hours`.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15104` <br>\n The {hour_type} cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Shared line group does not exist: {sharedLineGroupId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:shared_line_group_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:shared_line_group_setting:admin
    delete:
      tags:
      - Shared Line Group
      summary: Delete shared line group setting
      description: 'Deletes the shared line group setting according to the setting type.


        **Prerequisites**

        * A Pro or higher account with a Zoom Phone license.

        * Account owner or admin permissions.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:shared_line_group_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: deleteSharedLineGroupSetting
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The shared line group ID.
        required: true
        schema:
          type: string
          example: qQ3hQmrrR3KhV4XshW6z4Q
      - name: settingType
        in: path
        description: 'The setting type to delete. Allowed values: `holiday_hours`, `break_hours`.'
        required: true
        schema:
          type: string
          example: holiday_hours
          enum:
          - holiday_hours
          - break_hours
      - name: holiday_hour_id
        in: query
        description: The holiday hour ID. Required when `settingType` is `holiday_hours`.
        required: false
        schema:
          type: string
          example: TNxfEp2WT9emyCsAQt4qnA
      - name: break_hour_id
        in: query
        description: The break hour ID. Required when `settingType` is `break_hours`.  **Note:** `break_hours` cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`.
        required: false
        schema:
          type: string
          example: ULfeE4mgSImyelNmTekUfg
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \n"
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n**Error Code:** `15104` <br>\n The {hour_type} cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n Shared line group does not exist: {sharedLineGroupId}. <br>\n"
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:shared_line_group_setting:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:shared_line_group_setting:admin
    patch:
      tags:
      - Shared Line Group
      summary: Update shared line group setting
      description: 'Update the shared line group setting according to the setting type.


        **Prerequisites**

        * A Pro or higher account with a Zoom Phone license.

        * Account owner or admin permissions.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:shared_line_group_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateSharedLineGroupSetting
      parameters:
      - name: sharedLineGroupId
        in: path
        description: The shared line group ID.
        required: true
        schema:
          type: string
          example: qQ3hQmrrR3KhV4XshW6z4Q
      - name: settingType
        in: path
        description: 'The setting type that corresponds to the setting item you want to modify. Allowed values: `holiday_hours`, `business_hours`, `break_hours`.'
        required: true
        schema:
          type: string
          example: business_hours
          enum:
          - holiday_hours
          - business_hours
          - break_hours
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: Holiday hour settings
                type: object
                properties:
                  holiday_hours:
                    type: object
                    properties:
                      holidays:
                        maxItems: 10
                        minItems: 1
                        type: array
                        description: The holidays.
                        items:
                          type: object
                          properties:
                            holiday_id:
                              type: string
                              description: The holiday ID.
                              example: ULfeE4mgSImyelNmTekUfg
                            name:
                              type: string
                              description: The name of the holiday.
                              example: test
                            from:
                              type: string
                              description: The holiday's start date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                              example: '2022-03-05T00:00:00Z'
                            to:
                              type: string
                              description: The holiday's end date and time in `yyyy-MM-dd'T'HH:mm:ss'Z'` format.
                              example: '2022-03-06T00:00:00Z'
                    description: The holiday hours.
                description: Use this schema when the setting type is `holiday_hours`.
              - title: Business hour settings
                type: object
                properties:
                  business_hours_settings:
                    type: object
                    properties:
                      business_hours:
                        maxItems: 7
                        type: array
                        description: The business hours settings.
                        items:
                          type: object
                          properties:
                            from:
                              type: string
                              description: The business hours start time in `HH:mm` format.
                              example: 09:00
                            to:
                              type: string
                              description: The business hours end time in `HH:mm` format.
                              example: '18:00'
                            type:
                              type: integer
                              description: "The type of business hours: \n* `0` &mdash; Disabled. \n* `1` &mdash; 24 hours. \n* `2` &mdash; Customized hours."
                              example: 1
                              enum:
                              - 0
                              - 1
                              - 2
                            weekday:
                              type: integer
                              description: "The day of the week: \n* `1` &mdash; Sunday \n* `2` &mdash; Monday \n* `3` &mdash; Tuesday \n* `4` &mdash; Wednesday \n* `5` &mdash; Thursday \n* `6` &mdash; Friday \n* `7` &mdash; Saturday"
                              example: 7
                              enum:
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              - 7
                      business_hour_type:
                        type: integer
                        description: "The type of business hours: \n* `1` &mdash; 24 hours, 7 days a week. \n* `2` &mdash; Customized hours."
                        example: 2
                        enum:
                        - 1
                        - 2
                    description: The business hours settings.
                description: Use this schema when the setting type is `business_hours`.
              - title: Break hour settings
                type: object
                properties:
                  break_hours:
                    type: object
                    properties:
                      break_hour_settings:
                        maxItems: 5
                        type: array
                        description: The list of break hour configurations.
                        items:
                          type: object
                          properties:
                            break_hour_id:
                              type: string
                              description: The unique identifier of the break hour.
                              example: R4GeDFaLTpeQb1jPDCuPhA
                            break_hour_name:
                              maxLength: 255
                              minLength: 1
                              type: string
                              description: The name of the break hour.
                              example: Lunch Break
                            break_hour_type:
                              type: string
                              description: "The type of break hour schedule: \n* `every_business_day` &mdash; The break applies at the same time on every business day. \n* `custom_hours` &mdash; The break applies on specific days of the week with individually configured times."
                              example: every_business_day
                              enum:
                              - every_business_day
                              - custom_hours
                            break_hour_setting:
                              description: The break hour time configuration. The structure depends on the `break_hour_type` field.
                              oneOf:
                              - title: Every Business Day
                                required:
                                - from
                                - to
                                type: object
                                properties:
                                  from:
                                    type: string
                                    description: The start time of the break in `HH:mm` format (24-hour clock). For example, `12:00`.
                                    example: '12:00'
                                  to:
                                    type: string
                                    description: The end time of the break in `HH:mm` format (24-hour clock). For example, `13:00`. Must be after the `from` time.
                                    example: '13:00'
                                description: Only required when `break_hour_type` is `every_business_day`. Defines a single time range that applies to all business days.
                              - title: Custom Hours
                                required:
                                - days
                                type: object
                                properties:
                                  days:
                                    maxItems: 7
                                    type: array
                                    description: The list of days with configured break times. Only includes days that have break hours enabled.
                                    items:
                                      required:
                                      - from
                                      - to
                                      - weekday
                                      type: object
                                      properties:
                                        weekday:
                                          type: integer
                                          description: "The day of the week: \n* `1` &mdash; Sunday \n* `2` &mdash; Monday \n* `3` &mdash; Tuesday \n* `4` &mdash; Wednesday \n* `5` &mdash; Thursday \n* `6` &mdash; Friday \n* `7` &mdash; Saturday"
                                          example: 7
                                          enum:
                                          - 1
                                          - 2
                                          - 3
                                          - 4
                                          - 5
                                          - 6
                                          - 7
                                        enable:
                                          type: boolean
                                          description: Whether the break hour is enabled on this day.
                                          example: true
                                        from:
                                          type: string
                                          description: The start time of the break on this day in `HH:mm` format (24-hour clock). For example, `12:00`.
                                          example: '12:00'
                                        to:
                                          type: string
                                          description: The end time of the break on this day in `HH:mm` format (24-hour clock). For example, `13:00`. Must be after the `from` time.
                                          example: '13:00'
                                description: Only required when `break_hour_type` is `custom_hours`. Lists the specific days of the week on which the break is active, along with their individual time ranges.
                    description: The break hours settings.
                description: Use this schema when the setting type is `break_hours`. **Note:** `break_hours` cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`.
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \n"
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `15101` <br>\n Break hour does not exist: {breakHourId}. <br>\n**Error Code:** `15102` <br>\n Holiday hour does not exist: {holidayHourId}. <br>\n**Error Code:** `15104` <br>\n The {hour_type} cannot be updated when business hours are set to `24 Hours a Day, 7 Days a Week`. <br>\n"
        '404':
[...]
