openapi: 3.2.0
info:
  title: Phone Outbound Calling API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Outbound Calling
paths:
  /phone/common_areas/{commonAreaId}/outbound_calling/countries_regions:
    get:
      tags:
      - Outbound Calling
      summary: Get common area level outbound calling countries and regions
      description: "Returns the common area level outbound calling countries and regions.\n\n**Prerequisites:**\n* A Business or Enterprise account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:common_area_outbound_calling_rule:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: GetCommonAreaOutboundCallingCountriesAndRegions
      parameters:
      - name: commonAreaId
        in: path
        description: The ID of the common area.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200`   Outbound calling country regions returned. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries_regions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The country name.
                          example: United States
                        code:
                          type: integer
                          description: The country code.
                          example: 1
                        iso_code:
                          type: string
                          description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                          example: US
                        rule:
                          type: integer
                          description: "The default outbound calling rule. \n\n`1` Allowed\n`2` Blocked \n`3` Requires local number, caller ID, or plan\n`4` Requires the extension number and PIN code"
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        enabled_carrier:
                          type: array
                          description: The enabled carrier, which could be "ZOOM" or "BYOC".
                          items:
                            type: string
                            example: ZOOM
                  next_page_token:
                    type: string
                    description: The next page token paginates through large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records from a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The common area does not exist: {commonAreaId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:common_area_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:common_area_outbound_calling_rule:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update common area level outbound calling countries or regions
      description: 'Updates the common area level outbound calling policy country or region.


        **Prerequisite:**

        * Account must have a Pro or a higher plan with a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:common_area_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateCommonAreaOutboundCallingCountriesOrRegions
      parameters:
      - name: commonAreaId
        in: path
        description: The ID of the common area.
        required: true
        schema:
          type: string
          example: SJD6tIJpQHeTU4RDde-NVA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country_regions:
                  type: array
                  items:
                    type: object
                    properties:
                      iso_code:
                        type: string
                        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                        example: US
                      rule:
                        type: integer
                        description: "The default outbound calling rule. \n\n`1` - Allowed\n`2` - Blocked\n`3` - Requires local number, caller ID, or plan\n`4` - Requires the extension number and PIN code"
                        example: 1
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                      delete_existing_exception_rules:
                        type: boolean
                        description: Whether to delete existing exception rules. This field only appears when the default outbound calling rule is changed. The default value is `false`.
                        example: false
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n \nNo Content  \n "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The common area does not exist: {commonAreaId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:common_area_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:common_area_outbound_calling_rule:admin
  /phone/common_areas/{commonAreaId}/outbound_calling/exception_rules:
    get:
      tags:
      - Outbound Calling
      summary: List common area level outbound calling exception rules
      description: 'Lists the common area level outbound calling policy exception rules.


        **Prerequisite:**

        * Pro or higher account plan with Zoom phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:common_area_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: listCommonAreaOutboundCallingExceptionRule
      parameters:
      - name: commonAreaId
        in: path
        description: The ID of the common area.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: country
        in: query
        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
        required: false
        schema:
          type: string
          example: US
      - name: keyword
        in: query
        description: The partial string of a phone number.
        required: false
        schema:
          type: string
          example: '11067'
      - name: match_type
        in: query
        description: The match type of an exception rule.
        required: false
        schema:
          type: string
          example: prefix
          enum:
          - phoneNumber
          - prefix
      - name: status
        in: query
        description: The status of an exception rule.
        required: false
        schema:
          type: string
          example: active
          enum:
          - active
          - inactive
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            List outbound calling exception rules successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rules:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The exception rule ID.
                          example: 2ypsHHwTTFK-fzZJkudYwA
                        match_type:
                          type: string
                          description: 'The match type for the exception rule:


                            `phoneNumber`and `prefix`.'
                          example: prefix
                          enum:
                          - phoneNumber
                          - prefix
                        prefix_number:
                          maxLength: 50
                          type: string
                          description: The exception rule phone number prefix or the phone number without country code.
                          example: '20665558945'
                        rule:
                          type: integer
                          description: The exception rule type `1` - allowed, `2` - blocked, `3` - require local number, caller ID or plan, `4` - require to enter the extension number and PIN code.
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        comment:
                          maxLength: 255
                          type: string
                          description: A comment to help identify the exception rule number or prefix.
                          example: test
                        status:
                          type: string
                          description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                          example: active
                          enum:
                          - active
                          - inactive
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records in a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13000` <br>\n The common area does not exist: {commonAreaId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:common_area_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:common_area_outbound_calling_rule:admin
    post:
      tags:
      - Outbound Calling
      summary: Add common area level outbound calling exception rule
      description: 'Adds the common area level outbound calling policy exception rule for the country region.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:common_area_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: AddCommonAreaOutboundCallingExceptionRule
      parameters:
      - name: commonAreaId
        in: path
        description: The ID of the common area.
        required: true
        schema:
          type: string
          example: SJD6tIJpQHeTU4RDde-NVA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exception_rule:
                  required:
                  - country
                  - match_type
                  - prefix_number
                  - status
                  type: object
                  properties:
                    match_type:
                      type: string
                      description: "The match type for the exception rule:\n\n`phoneNumber`\n `prefix`"
                      example: prefix
                      enum:
                      - phoneNumber
                      - prefix
                    prefix_number:
                      maxLength: 50
                      type: string
                      description: The exception rule for the phone number prefix or the phone number without the country code.
                      example: '20665558945'
                    comment:
                      maxLength: 255
                      type: string
                      description: A comment that identifies the exception rule number or the prefix.
                      example: test
                    status:
                      type: string
                      description: "Whether the exception rule is active or inactive. \n\n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                      example: active
                      enum:
                      - active
                      - inactive
                    country:
                      type: string
                      description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      example: US
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \n\nCreated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rule_id:
                    type: string
                    description: The IDs of the exception rules.
                    example: jE1rtyf0Tx6N86L4pBYV4Q
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The common area does not exist: {commonAreaId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:common_area_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:common_area_outbound_calling_rule:admin
  /phone/common_areas/{commonAreaId}/outbound_calling/exception_rules/{exceptionRuleId}:
    delete:
      tags:
      - Outbound Calling
      summary: Delete common area level outbound calling exception rule
      description: 'Deletes the common area level outbound calling exception rule.

        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:common_area_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: deleteCommonAreaOutboundCallingExceptionRule
      parameters:
      - name: commonAreaId
        in: path
        description: The ID of the common area.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: exceptionRuleId
        in: path
        description: The exception rule ID.
        required: true
        schema:
          type: string
          example: 2ypsHHwTTFK-fzZJkudYwA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \n"
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n**Error Code:** `13508` <br>\n The exception rule ID has one more record in the DB: {exceptionRuleId}. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The common area does not exist: {commonAreaId}. <br>\n**Error Code:** `13507` <br>\n The exception rule does not exist: {exceptionRuleId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:common_area_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:common_area_outbound_calling_rule:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update common area level outbound calling exception rule
      description: 'Updates the common area level outbound calling policy for the country region exception rule.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:common_area_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateCommonAreaOutboundCallingExceptionRule
      parameters:
      - name: commonAreaId
        in: path
        description: The ID of the common area.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: exceptionRuleId
        in: path
        description: The exception rule ID.
        required: true
        schema:
          type: string
          example: 2ypsHHwTTFK-fzZJkudYwA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exception_rule:
                  required:
                  - country
                  - match_type
                  - prefix_number
                  - status
                  type: object
                  properties:
                    match_type:
                      type: string
                      description: 'The match type for the exception rule. The values are `phoneNumber` or `prefix`.

                        '
                      example: prefix
                      enum:
                      - phoneNumber
                      - prefix
                    prefix_number:
                      maxLength: 50
                      type: string
                      description: The exception rule phone number prefix or the phone number without the country code.
                      example: '20665558945'
                    comment:
                      maxLength: 255
                      type: string
                      description: A comment to identify the exception rule number or prefix.
                      example: test
                    status:
                      type: string
                      description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                      example: active
                      enum:
                      - active
                      - inactive
                    country:
                      type: string
                      description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      example: US
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n \nNo Content  \n "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The common area does not exist: {commonAreaId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:common_area_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:common_area_outbound_calling_rule:admin
  /phone/outbound_calling/countries_regions:
    get:
      tags:
      - Outbound Calling
      summary: Get account level outbound calling countries and regions
      description: "Returns the account level outbound calling countries and regions.\n\n**Prerequisites:**\n* A Business or Enterprise account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_outbound_calling_rules:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: GetAccountOutboundCallingCountriesAndRegions
      parameters:
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200`    Outbound calling country regions returned. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries_regions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The country name.
                          example: United States
                        code:
                          type: integer
                          description: The country code.
                          example: 1
                        iso_code:
                          type: string
                          description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                          example: US
                        rule:
                          type: integer
                          description: "The default outbound calling rule. \n\n`1` Allowed\n`2` Blocked \n`3` Requires local number, caller ID, or plan\n`4` Requires the extension number and PIN code"
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        enabled_carrier:
                          type: array
                          description: The enabled carrier, which could be "ZOOM" or "BYOC".
                          items:
                            type: string
                            example: ZOOM
                  next_page_token:
                    type: string
                    description: The next page token paginates through large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records in a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_outbound_calling_rules:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_outbound_calling_rules:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update account level outbound calling countries or regions
      description: 'Updates the account level outbound calling policy country or region.


        **Prerequisite:**

        * Account must have a Pro or a higher plan with a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateAccountOutboundCallingCountriesOrRegions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country_regions:
                  type: array
                  items:
                    type: object
                    properties:
                      iso_code:
                        type: string
                        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                        example: US
                      rule:
                        type: integer
                        description: "The default outbound calling rule. \n\n`1` - Allowed\n`2` - Blocked\n`3` - Requires local number, caller ID, or plan\n`4` - Requires the extension number and PIN code"
                        example: 1
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                      delete_existing_exception_rules:
                        type: boolean
                        description: Whether to delete existing exception rules. This field only appears when the default outbound calling rule is changed. The default value is `false`.
                        example: false
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n \nNo Content  \n "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:outbound_calling_rule:admin
  /phone/outbound_calling/exception_rules:
    get:
      tags:
      - Outbound Calling
      summary: List account level outbound calling exception rules
      description: 'Lists the account level outbound calling policy exception rules.


        **Prerequisite:**

        * Pro or higher account plan with Zoom phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_outbound_calling_rules:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: listAccountOutboundCallingExceptionRule
      parameters:
      - name: country
        in: query
        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
        required: false
        schema:
          type: string
          example: US
      - name: keyword
        in: query
        description: The partial string of a phone number.
        required: false
        schema:
          type: string
          example: '11067'
      - name: match_type
        in: query
        description: The match type of an exception rule.
        required: false
        schema:
          type: string
          example: prefix
          enum:
          - phoneNumber
          - prefix
      - name: status
        in: query
        description: The status of an exception rule.
        required: false
        schema:
          type: string
          example: active
          enum:
          - active
          - inactive
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            List outbound calling exception rules successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rules:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The exception rule ID.
                          example: 2ypsHHwTTFK-fzZJkudYwA
                        match_type:
                          type: string
                          description: The match type for the exception rule. The values are `phoneNumber`or `prefix`.
                          example: prefix
                          enum:
                          - phoneNumber
                          - prefix
                        prefix_number:
                          maxLength: 50
                          type: string
                          description: The exception rule phone number prefix or the phone number without the country code.
                          example: '20665558945'
                        rule:
                          type: integer
                          description: "The exception rule type.\n`1` - Allowed \n`2` - Blocked \n`3` - Requires local number, caller ID, or plan \n`4` - Requires the extension number and PIN code"
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        comment:
                          maxLength: 255
                          type: string
                          description: A comment to identify the exception rule number or the prefix.
                          example: test
                        status:
                          type: string
                          description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                          example: active
                          enum:
                          - active
                          - inactive
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records in a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_outbound_calling_rules:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_outbound_calling_rules:admin
    post:
      tags:
      - Outbound Calling
      summary: Add account level outbound calling exception rule
      description: 'Adds the account level outbound calling policy exception rule for country region.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: AddAccountOutboundCallingExceptionRule
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exception_rule:
                  required:
                  - country
                  - match_type
                  - prefix_number
                  - status
                  type: object
                  properties:
                    match_type:
                      type: string
                      description: "The match type for the exception rule:\n\n`phoneNumber`\n `prefix`"
                      example: prefix
                      enum:
                      - phoneNumber
                      - prefix
                    prefix_number:
                      maxLength: 50
                      type: string
                      description: The exception rule phone number prefix or phone number without the country code.
                      example: '20665558945'
                    comment:
                      maxLength: 255
                      type: string
                      description: A comment that identifies the exception rule number or prefix.
                      example: test
                    status:
                      type: string
                      description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                      example: active
                      enum:
                      - active
                      - inactive
                    country:
                      type: string
                      description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      example: US
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \n\nCreated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rule_id:
                    type: string
                    description: The IDs of the exception rules.
                    example: jE1rtyf0Tx6N86L4pBYV4Q
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n  Requires an access token. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:outbound_calling_rule:admin
  /phone/outbound_calling/exception_rules/{exceptionRuleId}:
    delete:
      tags:
      - Outbound Calling
      summary: Delete account level outbound calling exception rule
      description: 'Deletes the account level outbound calling exception rule.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: deleteAccountOutboundCallingExceptionRule
      parameters:
      - name: exceptionRuleId
        in: path
        description: The exception rule ID.
        required: true
        schema:
          type: string
          example: 2ypsHHwTTFK-fzZJkudYwA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \n"
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n**Error Code:** `13508` <br>\n The exception rule ID has one more record in the DB: {exceptionRuleId}. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13507` <br>\n The exception rule does not exist: {exceptionRuleId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:outbound_calling_rule:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update account level outbound calling exception rule
      description: 'Updates the account level outbound calling policy for the country region exception rule.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateAccountOutboundCallingExceptionRule
      parameters:
      - name: exceptionRuleId
        in: path
        description: The exception rule ID.
        required: true
        schema:
          type: string
          example: 2ypsHHwTTFK-fzZJkudYwA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exception_rule:
                  required:
                  - country
                  - match_type
                  - prefix_number
                  - status
                  type: object
                  properties:
                    match_type:
                      type: string
                      description: 'The match type for the exception rule, The values are `phoneNumber` or `prefix`.

                        '
                      example: prefix
                      enum:
                      - phoneNumber
                      - prefix
                    prefix_number:
                      maxLength: 50
                      type: string
                      description: The exception rule phone number prefix or the phone number without country code.
                      example: '20665558945'
                    comment:
                      maxLength: 255
                      type: string
                      description: A comment to identify the exception rule number or prefix.
                      example: test
                    status:
                      type: string
                      description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                      example: active
                      enum:
                      - active
                      - inactive
                    country:
                      type: string
                      description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      example: US
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n \nNo Content  \n "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:outbound_calling_rule:admin
  /phone/sites/{siteId}/outbound_calling/countries_regions:
    get:
      tags:
      - Outbound Calling
      summary: Get site level outbound calling countries and regions
      description: "Returns the site level outbound calling countries and regions.\n\n**Prerequisites:**\n* A Business or Enterprise account \n* A Zoom Phone license\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:site_outbound_calling_rule:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: GetSiteOutboundCallingCountriesAndRegions
      parameters:
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200`    Outbound calling country regions returned. '
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries_regions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The country name.
                          example: United States
                        code:
                          type: integer
                          description: The country code.
                          example: 1
                        iso_code:
                          type: string
                          description: The country ISO code.
                          example: US
                        rule:
                          type: integer
                          description: "The default outbound calling rule. \n\n`1` Allowed\n`2` Blocked \n`3` Requires local number, caller ID, or plan\n`4` Requires the extension number and PIN code"
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        enabled_carrier:
                          type: array
                          description: The enabled carrier, which could be "ZOOM" or "BYOC".
                          items:
                            type: string
                            example: ZOOM
                  next_page_token:
                    type: string
                    description: The next page token paginates through large set of results. It returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records in a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n  Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The site does not exist: {siteId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:site_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:site_outbound_calling_rule:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update site level outbound calling countries or regions
      description: 'Updates the site level outbound calling policy country or region.


        **Prerequisites:**

        * Account must have a Pro or a higher plan with a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:site_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateSiteOutboundCallingCountriesOrRegions
      parameters:
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country_regions:
                  type: array
                  items:
                    type: object
                    properties:
                      iso_code:
                        type: string
                        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                        example: US
                      rule:
                        type: integer
                        description: "The default outbound calling rule. \n\n`1` - Allowed\n`2` - Blocked\n`3` - Requires local number, caller ID, or plan\n`4` - Requires the extension number and PIN code"
                        example: 1
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                      delete_existing_exception_rules:
                        type: boolean
                        description: Whether to delete existing exception rules. This field only appears when the default outbound calling rule is changed. The default value is `false`.
                        example: false
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n \nNo Content  \n "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The site does not exist: {siteId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:site_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:site_outbound_calling_rule:admin
  /phone/sites/{siteId}/outbound_calling/exception_rules:
    get:
      tags:
      - Outbound Calling
      summary: List site level outbound calling exception rules
      description: 'Returns a list of site level outbound calling policy exception rules.


        **Prerequisite:**

        * Pro or higher account plan with Zoom phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:site_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: listSiteOutboundCallingExceptionRule
      parameters:
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: country
        in: query
        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
        required: false
        schema:
          type: string
          example: US
      - name: keyword
        in: query
        description: The partial string of a phone number.
        required: false
        schema:
          type: string
          example: '11067'
      - name: match_type
        in: query
        description: The match type of an exception rule.
        required: false
        schema:
          type: string
          example: prefix
          enum:
          - phoneNumber
          - prefix
      - name: status
        in: query
        description: The status of an exception rule.
        required: false
        schema:
          type: string
          example: active
          enum:
          - active
          - inactive
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            List outbound calling exception rules successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rules:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The exception rule ID.
                          example: 2ypsHHwTTFK-fzZJkudYwA
                        match_type:
                          type: string
                          description: 'The match type for the exception rule:


                            `phoneNumber`and `prefix`.'
                          example: prefix
                          enum:
                          - phoneNumber
                          - prefix
                        prefix_number:
                          maxLength: 50
                          type: string
                          description: The exception rule phone number prefix or phone number without country code.
                          example: '20665558945'
                        rule:
                          type: integer
                          description: The exception rule type `1` - allowed, `2` - blocked, `3` - require local number, caller ID or plan, `4` - require to enter the extension number and PIN code.
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        comment:
                          maxLength: 255
                          type: string
                          description: A comment to help you identify the exception rule number or prefix.
                          example: test
                        status:
                          type: string
                          description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                          example: active
                          enum:
                          - active
                          - inactive
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records in single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13000` <br>\n The site does not exist: {siteId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:site_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:site_outbound_calling_rule:admin
    post:
      tags:
      - Outbound Calling
      summary: Add site level outbound calling exception rule
      description: 'Adds the site level outbound calling policy exception rule for the country region.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:site_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: AddSiteOutboundCallingExceptionRule
      parameters:
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exception_rule:
                  required:
                  - country
                  - match_type
                  - prefix_number
                  - status
                  type: object
                  properties:
                    match_type:
                      type: string
                      description: "The match type for the exception rule.\n`phoneNumber`\n `prefix`"
                      example: prefix
                      enum:
                      - phoneNumber
                      - prefix
                    prefix_number:
                      maxLength: 50
                      type: string
                      description: The exception rule phone number prefix or the phone number without country code.
                      example: '20665558945'
                    comment:
                      maxLength: 255
                      type: string
                      description: A comment that identifies the exception rule number or the prefix.
                      example: test
                    status:
                      type: string
                      description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                      example: active
                      enum:
                      - active
                      - inactive
                    country:
                      type: string
                      description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      example: US
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \n\nCreated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rule_id:
                    type: string
                    description: The IDs of the exception rules.
                    example: jE1rtyf0Tx6N86L4pBYV4Q
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The site does not exist: {siteId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:site_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:site_outbound_calling_rule:admin
  /phone/sites/{siteId}/outbound_calling/exception_rules/{exceptionRuleId}:
    delete:
      tags:
      - Outbound Calling
      summary: Delete site level outbound calling exception rule
      description: 'Deletes the site level outbound calling exception rule.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:site_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: deleteSiteOutboundCallingExceptionRule
      parameters:
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: exceptionRuleId
        in: path
        description: The exception rule ID.
        required: true
        schema:
          type: string
          example: 2ypsHHwTTFK-fzZJkudYwA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \n"
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n**Error Code:** `13508` <br>\n The exception rule ID has one more record in the DB: {exceptionRuleId}. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The site does not exist: {siteId}. <br>\n**Error Code:** `13507` <br>\n The exception rule does not exist: {exceptionRuleId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:site_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:site_outbound_calling_rule:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update site level outbound calling exception rule
      description: 'Updates the site level outbound calling policy for the country region exception rule.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:site_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateSiteOutboundCallingExceptionRule
      parameters:
      - name: siteId
        in: path
        description: The ID of the site.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: exceptionRuleId
        in: path
        description: The exception rule ID.
        required: true
        schema:
          type: string
          example: 2ypsHHwTTFK-fzZJkudYwA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exception_rule:
                  required:
                  - country
                  - match_type
                  - prefix_number
                  - status
                  type: object
                  properties:
                    match_type:
                      type: string
                      description: 'The match type for the exception rule. The values are `phoneNumber` or `prefix`.

                        '
                      example: prefix
                      enum:
                      - phoneNumber
                      - prefix
                    prefix_number:
                      maxLength: 50
                      type: string
                      description: The exception rule phone number prefix or the phone number without the country code.
                      example: '20665558945'
                    comment:
                      maxLength: 255
                      type: string
                      description: A comment to identify the exception rule number or prefix.
                      example: test
                    status:
                      type: string
                      description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                      example: active
                      enum:
                      - active
                      - inactive
                    country:
                      type: string
                      description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      example: US
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n \nNo Content  \n "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n  Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The site does not exist: {siteId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:site_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:site_outbound_calling_rule:admin
  /phone/users/{userId}/outbound_calling/countries_regions:
    get:
      tags:
      - Outbound Calling
      summary: Get user level outbound calling countries and regions
      description: 'Returns the user level outbound calling countries and regions.


        **Prerequisites:**

        * A Business or Enterprise account

        * A Zoom Phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:user_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: GetUserOutboundCallingCountriesAndRegions
      parameters:
      - name: userId
        in: path
        description: The ID of the user.
        required: true
        schema:
          type: string
          example: SJD6tIJpQHeTU4RDde-NVA
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: "**HTTP Status Code:** `200`   \n Outbound calling country regions returned. "
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries_regions:
                    maxItems: 100
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The country name.
                          example: United States
                        code:
                          type: integer
                          description: The country code.
                          example: 1
                        iso_code:
                          type: string
                          description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                          example: US
                        rule:
                          type: integer
                          description: "The default outbound calling rule. \n\n`1` Allowed\n`2` Blocked \n`3` Requires local number, caller ID, or plan\n`4` Requires the extension number and PIN code"
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        enabled_carrier:
                          maxItems: 10
                          type: array
                          description: The enabled carrier, which could be "ZOOM" or "BYOC".
                          items:
                            type: string
                            example: ZOOM
                  next_page_token:
                    type: string
                    description: The next page token paginates through large set of results. The next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records in a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The user does not exist: {userId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:user_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:user_outbound_calling_rule:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update user level outbound calling countries or regions
      description: 'Updates the user level outbound calling policy country or region.


        **Prerequisite:**

        * Account must have a Pro or a higher plan with a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:user_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateUserOutboundCallingCountriesOrRegions
      parameters:
      - name: userId
        in: path
        description: The ID of the user.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country_regions:
                  maxItems: 300
                  type: array
                  items:
                    type: object
                    properties:
                      iso_code:
                        type: string
                        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                        example: US
                      rule:
                        type: integer
                        description: "The default outbound calling rule. \n\n`1` - Allowed\n`2` - Blocked\n`3` - Requires local number, caller ID, or plan\n`4` - Requires the extension number and PIN code"
                        example: 1
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                      delete_existing_exception_rules:
                        type: boolean
                        description: Whether to delete existing exception rules. This field only appears when the default outbound calling rule is changed. The default value is `false`.
                        example: false
      responses:
        '204':
          description: "**HTTP Status Code:** `204`  \n \nNo Content  \n "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n  Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The user does not exist: {userId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:user_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:user_outbound_calling_rule:admin
  /phone/users/{userId}/outbound_calling/exception_rules:
    get:
      tags:
      - Outbound Calling
      summary: List user level outbound calling exception rules
      description: 'Returns a list of the user level outbound calling policy exception rules.


        **Prerequisite:**

        * Pro or higher account plan with Zoom phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:user_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: listUserOutboundCallingExceptionRule
      parameters:
      - name: userId
        in: path
        description: The ID of the user.
        required: true
        schema:
          type: string
          example: SJD6tIJpQHeTU4RDde-NVA
      - name: country
        in: query
        description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
        required: false
        schema:
          type: string
          example: US
      - name: keyword
        in: query
        description: The partial string of a phone number.
        required: false
        schema:
          type: string
          example: '11067'
      - name: match_type
        in: query
        description: The match type of an exception rule.
        required: false
        schema:
          type: string
          example: prefix
          enum:
          - phoneNumber
          - prefix
      - name: status
        in: query
        description: The status of an exception rule.
        required: false
        schema:
          type: string
          example: active
          enum:
          - active
          - inactive
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records in a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            List outbound calling exception rules successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rules:
                    maxItems: 100
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The exception rule ID.
                          example: 2ypsHHwTTFK-fzZJkudYwA
                        match_type:
                          type: string
                          description: 'The match type for the exception rule:


                            `phoneNumber`and `prefix`.'
                          example: prefix
                          enum:
                          - phoneNumber
                          - prefix
                        prefix_number:
                          maxLength: 50
                          type: string
                          description: The exception rule phone number prefix or phone number without country code.
                          example: '20665558945'
                        rule:
                          type: integer
                          description: The exception rule type `1` - allowed, `2` - blocked, `3` - require local number, caller ID or plan, `4` - require to enter the extension number and PIN code.
                          example: 1
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                        comment:
                          maxLength: 255
                          type: string
                          description: A comment to identify the exception rule number or prefix.
                          example: test
                        status:
                          type: string
                          description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                          example: active
                          enum:
                          - active
                          - inactive
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    maximum: 300
                    type: integer
                    description: The total number of records returned from a single API call.
                    example: 30
                    default: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13000` <br>\n The user does not exist: {userId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:user_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:user_outbound_calling_rule:admin
    post:
      tags:
      - Outbound Calling
      summary: Add user level outbound calling exception rule
      description: 'Adds an user level outbound calling policy exception rule for the country region.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:user_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: AddUserOutboundCallingExceptionRule
      parameters:
      - name: userId
        in: path
        description: The ID of the user
        required: true
        schema:
          type: string
          example: SJD6tIJpQHeTU4RDde-NVA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                exception_rule:
                  required:
                  - country
                  - match_type
                  - prefix_number
                  - status
                  type: object
                  properties:
                    match_type:
                      type: string
                      description: "The match type for the exception rule.\n`phoneNumber`\n `prefix`"
                      example: prefix
                      enum:
                      - phoneNumber
                      - prefix
                    prefix_number:
                      maxLength: 50
                      type: string
                      description: The exception rule phone number prefix or the phone number without country code.
                      example: '20665558945'
                    comment:
                      maxLength: 255
                      type: string
                      description: A comment that identifies the exception rule number or the prefix.
                      example: test
                    status:
                      type: string
                      description: "Whether the exception rule is active or inactive. \n`active`: The exception rule is active.\n`inactive`: The exception rule is inactive."
                      example: active
                      enum:
                      - active
                      - inactive
                    country:
                      type: string
                      description: The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                      example: US
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \n\nCreated successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  exception_rule_id:
                    type: string
                    description: The IDs of the exception rules.
                    example: jE1rtyf0Tx6N86L4pBYV4Q
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The user does not exist: {userId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:user_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:user_outbound_calling_rule:admin
  /phone/users/{userId}/outbound_calling/exception_rules/{exceptionRuleId}:
    delete:
      tags:
      - Outbound Calling
      summary: Delete user level outbound calling exception rule
      description: 'Deletes the user level outbound calling exception rule.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:user_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: deleteUserOutboundCallingExceptionRule
      parameters:
      - name: userId
        in: path
        description: The ID of the user.
        required: true
        schema:
          type: string
          example: TAjiGweoTLeK72SaeocBZg
      - name: exceptionRuleId
        in: path
        description: The exception rule ID.
        required: true
        schema:
          type: string
          example: 2ypsHHwTTFK-fzZJkudYwA
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \n"
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `13504` <br>\n You do not enable the outbound calling policy setting. <br>\n**Error Code:** `13508` <br>\n The exception rule ID has one more record in the DB: {exceptionRuleId}. <br>\n"
        '401':
          description: "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `124` <br>\n Requires an access token. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `13500` <br>\n The user does not exist: {userId}. <br>\n**Error Code:** `13507` <br>\n The exception rule does not exist: {exceptionRuleId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:user_outbound_calling_rule:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:user_outbound_calling_rule:admin
    patch:
      tags:
      - Outbound Calling
      summary: Update user level outbound calling exception rule
      description: 'Updates the user level outbound calling policy for the country region exception rule.


        **Prerequisites:**


        * Pro or a higher account with Zoom Phone license.

        * Account owner or admin permissions.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:user_outbound_calling_rule:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
[...]
