openapi: 3.2.0
info:
  title: Phone Devices API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Phone Devices
paths:
  /phone/devices:
    get:
      tags:
      - Phone Devices
      summary: List devices
      description: "Lists all the [desk phone devices](https://support.zoom.us/hc/en-us/articles/360021119092) that are configured with Zoom Phone on an account.\n\n**Prerequisites:**  \n \n* Pro or a higher account with Zoom Phone license\n* Account owner or admin permissions\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_devices:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: listPhoneDevices
      parameters:
      - name: type
        in: query
        description: 'The device status: `assigned` or `unassigned` to list device status in Zoom account.'
        required: true
        schema:
          type: string
          example: assigned
          enum:
          - assigned
          - unassigned
      - name: assignee_type
        in: query
        description: The type of the assignee. It's available if `type = assigned`. It's unavailable if the account has not enabled the common area feature. It also returns devices of the specified `assignee_type`. If unspecified, it returns all assigned devices.
        required: false
        schema:
          type: string
          example: user
          enum:
          - user
          - commonArea
      - name: device_source
        in: query
        description: The device source. `hotDesking` is only available when `type = assigned`.
        required: false
        schema:
          type: string
          example: haas
          enum:
          - haas
          - hotDesking
      - name: location_status
        in: query
        description: The status of device location. It's available if `type = assigned`.
        required: false
        schema:
          type: string
          example: unknownAddress
          enum:
          - unknownAddress
      - name: site_id
        in: query
        description: The site of the assignee.
        required: false
        schema:
          type: string
          example: lA68sMSVQ6GAUcGg_GH0nQ
      - name: device_type
        in: query
        description: The manufacturer name or device type.
        required: false
        schema:
          type: string
          example: audioCodes
          enum:
          - algo
          - audioCodes
          - cisco
          - cyberData
          - grandstream
          - poly
          - yealink
          - other
      - name: keyword
        in: query
        description: The user, extension, MAC address, or IP address to filter the results.
        required: false
        schema:
          type: string
          example: 80-5e-c0-ce-ef-2f
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: "**HTTP Status Code:** `200`  \n \nDevices listed successfully. "
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        assignee:
                          type: object
                          properties:
                            extension_number:
                              type: integer
                              description: The extension number of the Zoom Phone the `user` or `commonArea`uses.
                              format: int64
                              example: 123
                            id:
                              type: string
                              description: The ID of the user or commonArea to whom the device has been assigned.
                              example: -tDdYIstSumpA0L13GztIQ
                            name:
                              type: string
                              description: Name.
                              example: Pooja
                            extension_type:
                              type: string
                              description: The type of the assignee. It's available only if the device is assigned.
                              example: user
                              enum:
                              - user
                              - commonArea
                        assignees:
                          type: array
                          items:
                            type: object
                            properties:
                              extension_number:
                                type: integer
                                description: The extension number of the Zoom Phone the `user` or `commonArea`uses.
                                format: int64
                                example: 123
                              id:
                                type: string
                                description: The ID of the user or commonArea to whom the device has been assigned.
                                example: -tDdYIstSumpA0L13GztIQ
                              name:
                                type: string
                                description: Name.
                                example: Pooja
                              extension_type:
                                type: string
                                description: The type of the assignee. It's available only if the device is assigned.
                                example: user
                                enum:
                                - user
                                - commonArea
                              extension_id:
                                type: string
                                description: The extension ID of the `user` or `common area`.
                                example: MjGXQfCxShapaxJDka7
                        device_type:
                          type: string
                          description: This field provides the manufacturer name and the model name.
                          example: AudioCodes405
                        display_name:
                          type: string
                          description: Display name of the device.
                          example: Pooja's Phone
                        id:
                          type: string
                          description: The device ID.
                          example: -tDdYIstSumpA0L13GztIQ
                        mac_address:
                          type: string
                          description: The MAC address or serial number of the device.
                          example: 203a07240534
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The [site](https://support.zoom.us/hc/en-us/articles/360020809672) of the phone user.
                              example: NjHmTu16Qfe8yOiNJuekXA
                            name:
                              type: string
                              description: The name of the [site](https://support.zoom.us/hc/en-us/articles/360020809672).
                              example: HQ site
                        status:
                          type: string
                          description: The status of the device. The value is either `online` or `offline`.
                          example: online
                          enum:
                          - online
                          - offline
                        provision_template_id:
                          type: string
                          description: The provision template ID. It's supported only by some devices. An empty string represents 'No value set'
                          example: Ke5Ghevvoo001hr
                        description:
                          type: string
                          description: The description of the device.
                          example: This device is used for testing.
                        firmware_version:
                          type: string
                          description: The firmware version of the device.
                          example: 108.86.3.9
                        private_ip:
                          type: string
                          description: The private IP of the registered device.
                          example: 192.168.10.13
                        public_ip:
                          type: string
                          description: The public IP of the registered device.
                          example: 220.143.231.126
                        policy:
                          type: object
                          properties:
                            call_control:
                              type: object
                              properties:
                                status:
                                  type: string
                                  description: "This field enables the call control feature to the current device. It configures the desk phone devices to enable call control, which allows users to perform desk phone's call control actions from the Zoom desktop client, including making and accepting calls. \nOptions include: \n* `unsupported` \n* `on` \n* `off`"
                                  example: 'off'
                                  enum:
                                  - unsupported
                                  - 'on'
                                  - 'off'
                            hot_desking:
                              type: object
                              properties:
                                status:
                                  type: string
                                  description: "This field enables the hot desking feature to the current device. It lets the guest user sign in to the desk phone. You can't use the desk phone until the guest user signs out. \nOptions include:\n* `unsupported` \n* `on` \n* `off`"
                                  example: 'off'
                                  enum:
                                  - unsupported
                                  - 'on'
                                  - 'off'
                          description: The device policy.
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    type: integer
                    description: The number of records returned with a single API call.
                    example: 30
                  total_records:
                    type: integer
                    description: The total number of records found for the query across all pages.
                    example: 1
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_devices:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_devices:admin
    post:
      tags:
      - Phone Devices
      summary: Add a device
      description: "[Adds an unassigned desk phone or an assigned (to a user or a common area) desk phone.](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0061431#h_5ca07504-68a8-4c3d-ad0e-c1d3594436da)\n\n**Prerequisites:**  \n \n* Pro or a higher account with Zoom Phone license\n* Account owner or admin permissions\n* [Supported device](https://support.zoom.us/hc/en-us/articles/360001299063-Zoom-Voice-Supported-Devices)  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:device:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: addPhoneDevice
      requestBody:
        content:
          application/json:
            schema:
              required:
              - display_name
              - mac_address
              - type
              type: object
              properties:
                assigned_to:
                  type: string
                  description: The user ID or email address of the user to whom this device will be assigned.
                  example: -tDdYIstSumpA0L13GztIQ
                assignee_extension_ids:
                  maxItems: 10
                  type: array
                  description: An array of extension IDs for users or common areas.
                  items:
                    type: string
                    example: dsH7FaYRHy9gV4Qb8ecku
                display_name:
                  maxLength: 255
                  type: string
                  description: The display name of the desk phone.
                  example: Desk Phone
                mac_address:
                  pattern: ^([0-9A-Fa-f]{2}[:-]?){5}([0-9A-Fa-f]{2})$
                  type: string
                  description: 'The MAC address of the desk phone. Note: If you''re using a wireless phone, enter the wired MAC address, not the wireless MAC address.'
                  example: 543968a78ee7
                model:
                  maxLength: 50
                  type: string
                  description: The model name of the device.
                  example: testModel
                type:
                  maxLength: 50
                  type: string
                  description: The manufacturer (brand) name of the device.
                  example: DeviceBrand
                provision_template_id:
                  type: string
                  description: The provision template ID. Supported only by some devices. Empty string represents 'No value set'.
                  example: Ke5Ghevvoo001hr
                site_id:
                  type: string
                  description: The site ID required when adding an unassigned device with multi-site functionality enabled.
                  example: 9gCxz-nKTzuLBWrMx3lNQw
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \nDevice added successfully.  "
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the desk phone.
                    example: Q3ECfhVES-uS4mew-161rg
                  display_name:
                    type: string
                    description: The display name of the desk phone.
                    example: Desk Phone
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation failed. <br>\n**Error Code:** `405` <br>\n The number of items for `assignee_extension_ids` must not exceed 10. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:device:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:device:admin
  /phone/devices/sync:
    post:
      tags:
      - Phone Devices
      summary: Sync deskphones
      description: 'Use this API to resync all online zero-touch or assisted-provisioning devices in an account or a site. Only allows sending one request every 15 minutes.


        **Prerequisites:**


        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions



        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:sync_device:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`'
      operationId: syncPhoneDevice
      requestBody:
        content:
          application/json:
            schema:
              required:
              - level
              type: object
              properties:
                level:
                  maximum: 2
                  minimum: 1
                  type: integer
                  description: 'Deskphone sync level: 1 - account level, 2 - site level.'
                  example: 2
                site_id:
                  maxLength: 50
                  type: string
                  description: Site ID.
                  example: NjHmTu16Qfe8yOiNJuekXA
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content** Device resync command issued.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\n\n\n**Error Code:** `429` <br>\nToo many concurrent requests. A request has already been made.\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:sync_device:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:sync_device:admin
  /phone/devices/{deviceId}:
    get:
      tags:
      - Phone Devices
      summary: Get device details
      description: 'Returns detailed information about a specific [desk phone device](https://support.zoom.us/hc/en-us/articles/360021119092).


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:device:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getADevice
      parameters:
      - name: deviceId
        in: path
        description: The unique Identifier of the device.
        required: true
        schema:
          type: string
          example: -tDdYIstSumpA0L13GztIQ
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**


            Device information retrieved successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  assignee:
                    type: object
                    properties:
                      extension_number:
                        type: integer
                        description: The extension number of the Zoom Phone the `user` or `commonArea` uses.
                        format: int64
                        example: 123
                      id:
                        type: string
                        description: The ID of the user or common area to whom the device has been assigned.
                        example: i242djsgrg
                      name:
                        type: string
                        description: Name.
                        example: Pooja
                      extension_type:
                        type: string
                        description: The type of the assignee. It's available only if the device is assigned.
                        example: user
                        enum:
                        - user
                        - commonArea
                    description: The user to whom the device has been assigned.
                  assignees:
                    type: array
                    items:
                      type: object
                      properties:
                        extension_number:
                          type: integer
                          description: The extension number of the Zoom Phone the `user` or `commonArea` uses.
                          format: int64
                          example: 123
                        id:
                          type: string
                          description: The ID of the user or common area to whom the device has been assigned.
                          example: i242djsgrg
                        name:
                          type: string
                          description: The name.
                          example: Pooja
                        extension_type:
                          type: string
                          description: The type of the assignee. It's available only if the device is assigned.
                          example: user
                          enum:
                          - user
                          - commonArea
                        extension_id:
                          type: string
                          description: The extension ID of the `user` or `common area`.
                          example: bdkfdler
                  device_type:
                    type: string
                    description: This field includes the manufacturer name and the model name.
                    example: Ribbon EdgeMarc302
                  display_name:
                    type: string
                    description: The display name of the device.
                    example: Pooja's Phone
                  id:
                    type: string
                    description: The unique identifier of the device.
                    example: '1234324'
                  mac_address:
                    type: string
                    description: The MAC address or serial number of the device.
                    example: 203a07240534
                  provision:
                    type: object
                    properties:
                      sip_accounts:
                        type: array
                        description: 'The SIP Account details registered during the device provisioning process. This object will only be returned if manual provisioning was used for the device.  '
                        items:
                          type: object
                          properties:
                            authorization_id:
                              type: string
                              description: The authorization ID of the SIP account provided in the provisioning process.
                              example: '123123'
                            outbound_proxy:
                              type: string
                              description: The outbound proxy provided in the provisioning process.
                              example: '123123'
                            password:
                              type: string
                              description: 'The password entered during the provisioning process. '
                              example: '1123'
                            secondary_outbound_proxy:
                              type: string
                              description: The secondary outbound proxy provided in the provisioning process.
                              example: proxy.example.com:5555
                            shared_line:
                              type: object
                              properties:
                                alias:
                                  type: string
                                  description: The alias.
                                  example: additional information
                                line_subscription:
                                  type: object
                                  properties:
                                    display_name:
                                      type: string
                                      description: The display name.
                                      example: Pooja
                                    extension_number:
                                      type: integer
                                      description: The extension number.
                                      format: int64
                                      example: 123123
                                    phone_number:
                                      type: string
                                      description: The phone number.
                                      example: '12059535689'
                                  description: Line subscription.
                                outbound_caller_id:
                                  type: string
                                  description: The outbound caller ID.
                                  example: '+123123123'
                              description: This field returns additional provisioning information with generic device SIP credentials.
                            sip_domain:
                              type: string
                              description: "The SIP domain provided in the provisioning process.  \n  \n "
                              example: 123.zoom.us
                            user_name:
                              type: string
                              description: The user name of the SIP account provided in the provisioning process.
                              example: '123123'
                      type:
                        type: string
                        description: "The [provisioning type](https://support.zoom.us/hc/en-us/articles/360033223411). The value can be one of the following:\n\n* `ztp` : Zero touch provisioning.\n* `assisted`: Assisted provisioning.\n* `manual`: Manual provisioning. \n\n"
                        example: manual
                        enum:
                        - assisted
                        - ztp
                        - manual
                      url:
                        type: string
                        description: The provisioning URL. This field will only be returned for devices that were provisioned via `assisted` provisioning type.
                        example: wwww.example.com
                    description: The provisioning information of a device.
                  site:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The [site](https://support.zoom.us/hc/en-us/articles/360020809672) of the phone user.
                        example: '123123'
                      name:
                        type: string
                        description: The name of the [site](https://support.zoom.us/hc/en-us/articles/360020809672).
                        example: Main Site
                  status:
                    type: string
                    description: The status of the device. The value is either `online` or `offline`.
                    example: offline
                    enum:
                    - online
                    - offline
                  provision_template_id:
                    type: string
                    description: The provision template ID. Supported only by some devices. Empty string represents 'No value set'
                    example: Ke5Ghevvoo001hr
                  private_ip:
                    type: string
                    description: The private IP of the registered device
                    example: 192.168.10.13
                  public_ip:
                    type: string
                    description: The public IP of the registered device
                    example: 220.148.231.126
                  policy:
                    type: object
                    properties:
                      call_control:
                        type: object
                        properties:
                          status:
                            type: string
                            description: "This field enables the call control feature to the current device. It configures the desk phone devices to enable call control, which allows users to perform desk phone's call control actions from the Zoom desktop client, including making and accepting calls. \nOptions include: \n* `unsupported` \n* `on` \n* `off`"
                            example: 'off'
                            enum:
                            - unsupported
                            - 'on'
                            - 'off'
                      hot_desking:
                        type: object
                        properties:
                          status:
                            type: string
                            description: "This field enables the hot desking feature to the current device. It lets the guest user sign in to the desk phone. You can't use the desk phone until the guest user signs out. \nOptions include:\n* `unsupported` \n* `on` \n* `off`"
                            example: 'off'
                            enum:
                            - unsupported
                            - 'on'
                            - 'off'
                    description: The device policy.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Device does not exist in the system. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:device:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:device:admin
    delete:
      tags:
      - Phone Devices
      summary: Delete a device
      description: 'Remove a [desk phone device or ATA (Analog Telephone Adapter)](https://support.zoom.us/hc/en-us/articles/360021119092) from the Zoom Phone System Management.


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions

        * Device must not have been assigned to a user.




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:device:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`'
      operationId: deleteADevice
      parameters:
      - name: deviceId
        in: path
        description: Unique identifier of the device.
        required: true
        schema:
          type: string
          example: -tDdYIstSumpA0L13GztIQ
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Device deleted successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\n\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:device:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:device:admin
    patch:
      tags:
      - Phone Devices
      summary: Update a device
      description: 'Updates the information of a [desk phone device](https://support.zoom.us/hc/en-us/articles/360021119092).


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license* Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:device:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateADevice
      parameters:
      - name: deviceId
        in: path
        description: The unique identifier of the device.
        required: true
        schema:
          type: string
          example: -tDdYIstSumpA0L13GztIQ
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assigned_to:
                  type: string
                  description: The user ID or email address of the user assigned to this device. To retrieve the user ID and the email of the user, use the [List Users](https://marketplace.zoom.us/docs/api-reference/zoom-api/methods#operation/users) API.
                  example: DnEopNmXQEGU2uvvzjgojw
                display_name:
                  maxLength: 255
                  type: string
                  description: The display name of the desk phone.
                  example: testUser
                provision_template_id:
                  type: string
                  description: The provision template ID. It's supported only by some devices. An empty string represents 'No value set'
                  example: Ke5Ghevvoo001hr
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**


            Device updated successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation failed. Device does not exist in the system. Invalid userId. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n User not found: {userId}\n\nThe user extension does not exist, extensionId: {extensionId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:device:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:device:admin
  /phone/devices/{deviceId}/extensions:
    post:
      tags:
      - Phone Devices
      summary: Assign an entity to a device
      description: 'By default, all Zoom Phone users can make and receive calls using the Zoom desktop and mobile applications. Additionally, if a desk phone is required, use this API to [add a desk phone and assign it to a user](https://support.zoom.us/hc/en-us/articles/360021119092#h_5ca07504-68a8-4c3d-ad0e-c1d3594436da).


        **Prerequisites:**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions

        * [Supported device](https://support.zoom.us/hc/en-us/articles/360001299063-Zoom-Voice-Supported-Devices)




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:device_extension:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`'
      operationId: addExtensionsToADevice
      parameters:
      - name: deviceId
        in: path
        description: Unique identifier of the device.
        required: true
        schema:
          type: string
          example: Mekx3i2f0kVh
      requestBody:
        content:
          application/json:
            schema:
              required:
              - assignee_extension_ids
              type: object
              properties:
                assignee_extension_ids:
                  type: array
                  description: "Available only for the account that has enabled the common area feature. \n Extension ID of the [`user`](https://marketplace.zoom.us/docs/api-reference/phone/methods/#operation/phoneUser) or [`common area` ID](https://marketplace.zoom.us/docs/api-reference/phone/methods/#operation/listCommonAreas)."
                  items:
                    type: string
                    example: dsH7FaYRHy9gV4Qb8ecku
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \nAssignees assigned successfully. "
          content:
            application/json:
              schema: {}
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\n\n\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1001` <br>\nUser extension ID or common area extension ID not found.\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:device_extension:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:device_extension:admin
  /phone/devices/{deviceId}/extensions/{extensionId}:
    delete:
      tags:
      - Phone Devices
      summary: Unassign an entity from the device
      description: "Use this API to unassign a specific assignee from the device.\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license\n* Account owner or admin permissions. \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:device_extension:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: deleteExtensionFromADevice
      parameters:
      - name: deviceId
        in: path
        description: Unique identifier of the device from which to unassign an assignee.
        required: true
        schema:
          type: string
          example: Mekx3i2f0kVh
      - name: extensionId
        in: path
        description: Extension ID of the assignee (`user` or `common area`)
        required: true
        schema:
          type: string
          example: Pre4voa9HH
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \n\nAssignee unassigned successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\n\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:device_extension:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:device_extension:admin
  /phone/devices/{deviceId}/provision_templates:
    put:
      tags:
      - Phone Devices
      summary: Update provision template of a device
      description: "Use this API to [assign a provision template to a device](https://support.zoom.us/hc/en-us/articles/360035817952#h_6b52ef26-d070-40ed-a3fa-520571944afc) or [remove a provision template from the device](https://support.zoom.us/hc/en-us/articles/360035817952#h_7b34cd1d-5ae6-4a23-bd04-454a6ad8cb3e) by leaving `templateId` empty.\n\n**Prerequisites:**  \n \n* Pro or a higher account with Zoom Phone license\n* Account owner or admin permissions\n* [Supported device](https://support.zoom.us/hc/en-us/articles/360029698771#note)  \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:device_provision_template:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: updateProvisionTemplateToDevice
      parameters:
      - name: deviceId
        in: path
        description: The device ID.
        required: true
        schema:
          type: string
          example: Mekx3i2f0kVh
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provision_template_id:
                  type: string
                  description: The provision template ID. The provision template will be removed when this field is left empty.
                  example: AbSORcqsSnqqrMD3jmZ8yw
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \nProvision template updated successfully. "
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\n\n\n**Error Code:** `404` <br>\nProvision template does not exist.\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:device_provision_template:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:device_provision_template:admin
  /phone/devices/{deviceId}/reboot:
    post:
      tags:
      - Phone Devices
      summary: Reboot a desk phone
      description: "Use this API to reboot an online zero-touch or assisted-provisioning device. You can only send one request every second.\n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license\n* Account owner or admin permissions. \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:reboot_device:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Heavy`"
      operationId: rebootPhoneDevice
      parameters:
      - name: deviceId
        in: path
        description: Unique identifier of the device.
        required: true
        schema:
          type: string
          example: -tDdYIstSumpA0L13GztIQ
      responses:
        '202':
          description: "**HTTP Status Code:** `202` **Accepted**  \n \nDevice reboot command issued."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `400` <br>\nThe given device type does not support this action<br>\n*The given device is offline<br>\nOperation is too frequent. Please try again in a few minutes.<br><br>\n\n**Error Code:** `404` <br>\nDevice does not exist: {accountId}.<br>\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:reboot_device:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:reboot_device:admin
  /phone/smartphones:
    get:
      tags:
      - Phone Devices
      summary: List Smartphones
      description: "Returns a list of all the [smartphones](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0074058) configured with Zoom Phone on an account.\n\n**Prerequisites**  \n \n* Pro or a higher account with Zoom Phone license\n* Account owner or admin permissions\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_devices:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** "
      operationId: ListSmartphones
      parameters:
      - name: site_id
        in: query
        description: The site of the assignee.
        required: false
        schema:
          type: string
          example: lA68sMSVQ6GAUcGg_GH0nQ
      - name: keyword
        in: query
        description: The device name, common area, serial number, or IP address to filter the results.
        required: false
        schema:
          type: string
          example: smartphone
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      responses:
        '200':
          description: '**HTTP Status Code:** `200`   Smartphone listed successfully. '
          content:
            application/json:
              schema:
                required:
                - smartphones
                type: object
                properties:
                  smartphones:
                    maxItems: 300
                    type: array
                    description: The array of the smartphones
                    items:
                      type: object
                      properties:
                        smartphone_id:
                          type: string
                          description: The ID of the smartphone.
                          example: 3WWAEiEjTj2IQuyDiKMd_A
                        device_name:
                          type: string
                          description: The name of the smartphone.
                          example: EC50
                        device_type:
                          type: string
                          description: The device type of the smartphone.
                          example: Zebra TechnologiesEC50S
                        serial_number:
                          type: string
                          description: The serial number of the smartphone.
                          example: 202355225D0174
                        public_ip:
                          type: string
                          description: The public IPv4 or IPv6 of the smartphone.
                          example: 38.99.100.2
                        activation_status:
                          type: string
                          description: "The activation status of the smartphone. \nThe values of this field can be `Activated`."
                          example: Activated
                          enum:
                          - Activated
                        activation_time:
                          type: string
                          description: 'The time of smartphone activation. If this field is null, the date not available, else this field can format: ''yyyy-MM-ddThh:dd:ssZ''.'
                          example: '2021-10-08T16:12:04Z'
                        assignee:
                          type: object
                          properties:
                            common_area_id:
                              type: string
                              description: The common area ID or common area extension ID.
                              example: JOZmuJ30Spyrw-v9vUzIrA
                            name:
                              type: string
                              description: The display name of the common area.
                              example: test_ca
                            extension_number:
                              type: integer
                              description: The extension number of the common area.
                              example: 123
                          description: The assignee of the smartphone.
                        site:
                          type: object
                          properties:
                            site_id:
                              type: string
                              description: The ID of the [site](https://support.zoom.us/hc/en-us/articles/360020809672).
                              example: NjHmTu16Qfe8yOiNJuekXA
                            name:
                              type: string
                              description: The name of the [site](https://support.zoom.us/hc/en-us/articles/360020809672).
                              example: HQ site
                          description: The [site](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0069716) of the smartphone.
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: uBTK3NzNksdkuCUAQaFVFd86kyOr59zg4U2
                  page_size:
                    type: integer
                    description: The number of records returned with a single API call.
                    example: 30
                  total_records:
                    type: integer
                    description: The total number of records found for the query across all pages.
                    example: 1
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n The next page token is invalid or expired. <br>\n"
        '403':
          description: "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n You do not have permission, because the current site `{site_id}` does not belong to the target sites. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_devices:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_devices:admin
components:
  securitySchemes:
    openapi_authorization:
      type: apiKey
      name: Authorization
      in: header
    openapi_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /
          tokenUrl: ''
          refreshUrl: ''
          scopes:
            phone:read:admin: phone:read:admin
            phone:read:list_account_settings:admin: phone:read:list_account_settings:admin
            phone:write:admin: phone:write:admin
            phone:write:customized_number:admin: phone:write:customized_number:admin
            phone:read:list_customized_number:admin: phone:read:list_customized_number:admin
            phone:delete:customized_number:admin: phone:delete:customized_number:admin
            phone:write:alert_setting:admin: phone:write:alert_setting:admin
            phone:read:list_alert_settings:admin: phone:read:list_alert_settings:admin
            phone:read:alert_setting:admin: phone:read:alert_setting:admin
            phone:patch:alert_setting:admin: phone:patch:alert_setting:admin
            phone:delete:alert_setting:admin: phone:delete:alert_setting:admin
            phone:read: phone:read
            phone:read:audio: phone:read:audio
            phone:read:audio:admin: phone:read:audio:admin
            phone:write: phone:write
            phone:delete:audio: phone:delete:audio
            phone:delete:audio:admin: phone:delete:audio:admin
            phone:update:audio: phone:update:audio
            phone:update:audio:admin: phone:update:audio:admin
            phone:read:list_audios: phone:read:list_audios
            phone:read:list_audios:admin: phone:read:list_audios:admin
            phone:write:audio: phone:write:audio
            phone:write:audio:admin: phone:write:audio:admin
            phone:write:batch_audios: phone:write:batch_audios
            phone:write:batch_audios:admin: phone:write:batch_audios:admin
            phone:read:list_auto_receptionists:admin: phone:read:list_auto_receptionists:admin
            phone:write:auto_receptionist:admin: phone:write:auto_receptionist:admin
            phone:delete:auto_receptionist:admin: phone:delete:auto_receptionist:admin
            phone:update:auto_receptionist:admin: phone:update:auto_receptionist:admin
            phone:read:auto_receptionist:admin: phone:read:auto_receptionist:admin
            phone:read:auto_receptionist_call_handling_setting:admin: phone:read:auto_receptionist_call_handling_setting:admin
            phone:update:auto_receptionist_call_handling_setting:admin: phone:update:auto_receptionist_call_handling_setting:admin
            phone:delete:auto_receptionist_number:admin: phone:delete:auto_receptionist_number:admin
            phone:write:auto_receptionist_number:admin: phone:write:auto_receptionist_number:admin
            phone:update:auto_receptionist_policy:admin: phone:update:auto_receptionist_policy:admin
            phone:read:auto_receptionist_policy:admin: phone:read:auto_receptionist_policy:admin
            phone:delete:auto_receptionist_policy:admin: phone:delete:auto_receptionist_policy:admin
            phone:write:auto_receptionist_policy:admin: phone:write:auto_receptionist_policy:admin
            phone:read:auto_receptionist_setting:admin: phone:read:auto_receptionist_setting:admin
            phone:write:auto_receptionist_setting:admin: phone:write:auto_receptionist_setting:admin
            phone:update:auto_receptionist_setting:admin: phone:update:auto_receptionist_setting:admin
            phone:delete:auto_receptionist_setting:admin: phone:delete:auto_receptionist_setting:admin
            phone:read:list_billing_accounts:admin: phone:read:list_billing_accounts:admin
            phone:read:billing_account:admin: phone:read:billing_account:admin
            phone:write:blocked_list:admin: phone:write:blocked_list:admin
            phone:read:list_blocked_lists:admin: phone:read:list_blocked_lists:admin
            phone:delete:blocked_list:admin: phone:delete:blocked_list:admin
            phone:read:blocked_list:admin: phone:read:blocked_list:admin
            phone:update:blocked_list:admin: phone:update:blocked_list:admin
            phone:read:list_call_handling_settings:admin: phone:read:list_call_handling_settings:admin
            phone:update:call_handling_setting:admin: phone:update:call_handling_setting:admin
            phone:delete:call_handling_setting:admin: phone:delete:call_handling_setting:admin
            phone:write:call_handling_setting:admin: phone:write:call_handling_setting:admin
            phone_call_log:read: phone_call_log:read
            phone_call_log:read:admin: phone_call_log:read:admin
            phone:read:call_log:admin: phone:read:call_log:admin
            phone:read:list_call_logs:admin: phone:read:list_call_logs:admin
            phone:update:call_log:admin: phone:update:call_log:admin
            phone:read:ai_call_summary: phone:read:ai_call_summary
            phone:read:ai_call_summary:admin: phone:read:ai_call_summary:admin
            phone:read:list_call_logs: phone:read:list_call_logs
            phone_call_log:write: phone_call_log:write
            phone_call_log:write:admin: phone_call_log:write:admin
            phone:delete:call_log: phone:delete:call_log
            phone:delete:call_log:admin: phone:delete:call_log:admin
            phone:read:list_call_queues:admin: phone:read:list_call_queues:admin
            phone:write:call_queue:admin: phone:write:call_queue:admin
            phone:delete:call_queue:admin: phone:delete:call_queue:admin
            phone:update:call_queue:admin: phone:update:call_queue:admin
            phone:read:call_queue:admin: phone:read:call_queue:admin
            phone:read:call_queue_call_handling_setting:admin: phone:read:call_queue_call_handling_setting:admin
            phone:update:call_queue_call_handling_setting:admin: phone:update:call_queue_call_handling_setting:admin
            phone:read:call_queue_custom_group:admin: phone:read:call_queue_custom_group:admin
            phone:write:call_queue_custom_group:admin: phone:write:call_queue_custom_group:admin
            phone:update:call_queue_custom_group:admin: phone:update:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:admin: phone:delete:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:master: phone:delete:call_queue_custom_group:master
            phone:master: phone:master
            phone:read:call_queue_custom_group:master: phone:read:call_queue_custom_group:master
            phone:write:call_queue_custom_group_member:admin: phone:write:call_queue_custom_group_member:admin
            phone:delete:call_queue_custom_group_member:admin: phone:delete:call_queue_custom_group_member:admin
            phone:write:call_queue_member:admin: phone:write:call_queue_member:admin
            phone:delete:call_queue_member:admin: phone:delete:call_queue_member:admin
            phone:read:list_call_queue_members:admin: phone:read:list_call_queue_members:admin
            phone:write:call_queue_number:admin: phone:write:call_queue_number:admin
            phone:delete:call_queue_number:admin: phone:delete:call_queue_number:admin
            phone:read:call_queue_policy:admin: phone:read:call_queue_policy:admin
            phone:update:call_queue_policy:admin: phone:update:call_queue_policy:admin
            phone:write:call_queue_policy:admin: phone:write:call_queue_policy:admin
            phone:delete:call_queue_policy:admin: phone:delete:call_queue_policy:admin
            phone:read:list_call_queue_recordings:admin: phone:read:list_call_queue_recordings:admin
            phone:read:call_queue_setting:admin: phone:read:call_queue_setting:admin
            phone:write:call_queue_setting:admin: phone:write:call_queue_setting:admin
            phone:delete:call_queue_setting:admin: phone:delete:call_queue_setting:admin
            phone:update:call_queue_setting:admin: phone:update:call_queue_setting:admin
            phone:update:carrier_number:admin: phone:update:carrier_number:admin
            phone:write:carrier_number:admin: phone:write:carrier_number:admin
            phone:read:list_carrier_numbers:admin: phone:read:list_carrier_numbers:admin
            phone:delete:carrier_number:admin: phone:delete:carrier_number:admin
            phone:write:common_area:admin: phone:write:common_area:admin
            phone:read:common_area:admin: phone:read:common_area:admin
            phone:read:list_common_area_activation_codes:admin: phone:read:list_common_area_activation_codes:admin
            phone:write:apply_template_to_common_areas:admin: phone:write:apply_template_to_common_areas:admin
            phone:delete:common_area:admin: phone:delete:common_area:admin
            phone:update:common_area:admin: phone:update:common_area:admin
            phone:read:common_area_call_handling_setting:admin: phone:read:common_area_call_handling_setting:admin
            phone:update:common_area_call_handling_setting:admin: phone:update:common_area_call_handling_setting:admin
            phone:write:common_area_calling_plan:admin: phone:write:common_area_calling_plan:admin
            phone:delete:common_area_calling_plan:admin: phone:delete:common_area_calling_plan:admin
            phone:write:common_area_number:admin: phone:write:common_area_number:admin
            phone:delete:common_area_number:admin: phone:delete:common_area_number:admin
            phone:read:list_common_area_settings:admin: phone:read:list_common_area_settings:admin
            phone:update:common_area_setting:admin: phone:update:common_area_setting:admin
            phone:delete:common_area_setting:admin: phone:delete:common_area_setting:admin
            phone:write:common_area_setting:admin: phone:write:common_area_setting:admin
            phone:read:call_qos:admin: phone:read:call_qos:admin
            phone:read:default_emergency_address:admin: phone:read:default_emergency_address:admin
            phone:read:detectable_personal_location:admin: phone:read:detectable_personal_location:admin
            phone:read:location_sharing_permission:admin: phone:read:location_sharing_permission:admin
            phone:read:nomadic_emergency_services:admin: phone:read:nomadic_emergency_services:admin
            phone:read:realtime_location_devices:admin: phone:read:realtime_location_devices:admin
            phone:read:realtime_location_users:admin: phone:read:realtime_location_users:admin
            phone:read:list_tracked_locations:admin: phone:read:list_tracked_locations:admin
            phone:update:device_line_keys: phone:update:device_line_keys
            phone:update:device_line_keys:admin: phone:update:device_line_keys:admin
            phone:read:device_line_keys: phone:read:device_line_keys
            phone:read:device_line_keys:admin: phone:read:device_line_keys:admin
            phone:delete:directory:admin: phone:delete:directory:admin
            phone:read:directory:admin: phone:read:directory:admin
            phone:write:directory:admin: phone:write:directory:admin
            phone:write:emergency_address:admin: phone:write:emergency_address:admin
            phone:read:list_emergency_addresses:admin: phone:read:list_emergency_addresses:admin
            phone:read:emergency_address:admin: phone:read:emergency_address:admin
            phone:delete:emergency_address:admin: phone:delete:emergency_address:admin
            phone:update:emergency_address:admin: phone:update:emergency_address:admin
            phone:write:batch_emergency_locations:admin: phone:write:batch_emergency_locations:admin
            phone:read:list_emergency_locations:admin: phone:read:list_emergency_locations:admin
            phone:write:emergency_location:admin: phone:write:emergency_location:admin
            phone:read:emergency_location:admin: phone:read:emergency_location:admin
            phone:update:emergency_location:admin: phone:update:emergency_location:admin
            phone:delete:emergency_location:admin: phone:delete:emergency_location:admin
            phone:write:external_contact:admin: phone:write:external_contact:admin
            phone:read:list_external_contacts:admin: phone:read:list_external_contacts:admin
            phone:delete:external_contact:admin: phone:delete:external_contact:admin
            phone:read:external_contact:admin: phone:read:external_contact:admin
            phone:update:external_contact:admin: phone:update:external_contact:admin
            phone:write:send_fax: phone:write:send_fax
            phone:write:send_fax:admin: phone:write:send_fax:admin
            phone:read:list_fax_log: phone:read:list_fax_log
            phone:read:list_fax_log:admin: phone:read:list_fax_log:admin
            phone:read:fax_log:admin: phone:read:fax_log:admin
            phone:read:fax_log: phone:read:fax_log
            phone:delete:fax_log: phone:delete:fax_log
            phone:delete:fax_log:admin: phone:delete:fax_log:admin
            phone:read:list_firmware_update_rules:admin: phone:read:list_firmware_update_rules:admin
            phone:write:firmware_update_rule:admin: phone:write:firmware_update_rule:admin
            phone:delete:firmware_update_rule:admin: phone:delete:firmware_update_rule:admin
            phone:update:firmware_update_rule:admin: phone:update:firmware_update_rule:admin
            phone:read:firmware_update_rule:admin: phone:read:firmware_update_rule:admin
            phone:read:list_firmwares:admin: phone:read:list_firmwares:admin
            phone:read:list_call_pickup_groups:admin: phone:read:list_call_pickup_groups:admin
            phone:write:call_pickup_group:admin: phone:write:call_pickup_group:admin
            phone:read:call_pickup_group:admin: phone:read:call_pickup_group:admin
            phone:update:call_pickup_group:admin: phone:update:call_pickup_group:admin
            phone:delete:call_pickup_group:admin: phone:delete:call_pickup_group:admin
            phone:write:call_pickup_group_member:admin: phone:write:call_pickup_group_member:admin
            phone:read:call_pickup_group_member:admin: phone:read:call_pickup_group_member:admin
            phone:delete:call_pickup_group_member:admin: phone:delete:call_pickup_group_member:admin
            phone:update:group_policy:admin: phone:update:group_policy:admin
            phone:read:group_policy:admin: phone:read:group_policy:admin
            phone:read:group_setting:admin: phone:read:group_setting:admin
            phone:read:auto_receptionist_ivr:admin: phone:read:auto_receptionist_ivr:admin
            phone:update:auto_receptionist_ivr:admin: phone:update:auto_receptionist_ivr:admin
            phone:read:list_extension_inbound_block_rules:admin: phone:read:list_extension_inbound_block_rules:admin
            phone:read:list_extension_inbound_block_rules: phone:read:list_extension_inbound_block_rules
            phone:delete:extension_inbound_block_rule:admin: phone:delete:extension_inbound_block_rule:admin
            phone:delete:extension_inbound_block_rule: phone:delete:extension_inbound_block_rule
            phone:write:extension_inbound_block_rule:admin: phone:write:extension_inbound_block_rule:admin
            phone:write:extension_inbound_block_rule: phone:write:extension_inbound_block_rule
            phone:delete:extension_inbound_block_rule_stat:admin: phone:delete:extension_inbound_block_rule_stat:admin
            phone:read:list_extension_inbound_block_rules_stat:admin: phone:read:list_extension_inbound_block_rules_stat:admin
            phone:update:inbound_blocked_for_all:admin: phone:update:inbound_blocked_for_all:admin
            phone:delete:inbound_block_rule:admin: phone:delete:inbound_block_rule:admin
            phone:read:list_inbound_block_rules:admin: phone:read:list_inbound_block_rules:admin
            phone:write:inbound_block_rule:admin: phone:write:inbound_block_rule:admin
            phone:update:inbound_block_rule:admin: phone:update:inbound_block_rule:admin
            phone:update:line_keys: phone:update:line_keys
            phone:update:line_keys:admin: phone:update:line_keys:admin
            phone:read:line_keys: phone:read:line_keys
            phone:read:line_keys:admin: phone:read:line_keys:admin
            phone:delete:line_keys: phone:delete:line_keys
            phone:delete:line_keys:admin: phone:delete:line_keys:admin
            phone:read:list_monitoring_groups:admin: phone:read:list_monitoring_groups:admin
            phone:write:monitoring_group:admin: phone:write:monitoring_group:admin
            phone:delete:monitoring_group:admin: phone:delete:monitoring_group:admin
            phone:update:monitoring_group:admin: phone:update:monitoring_group:admin
            phone:read:monitoring_group:admin: phone:read:monitoring_group:admin
            phone:read:list_monitoring_group_members:admin: phone:read:list_monitoring_group_members:admin
            phone:write:monitoring_group_member:admin: phone:write:monitoring_group_member:admin
            phone:delete:monitoring_group_member:admin: phone:delete:monitoring_group_member:admin
            phone:read:common_area_outbound_calling_rule:admin: phone:read:common_area_outbound_calling_rule:admin
            phone:update:common_area_outbound_calling_rule:admin: phone:update:common_area_outbound_calling_rule:admin
            phone:write:common_area_outbound_calling_rule:admin: phone:write:common_area_outbound_calling_rule:admin
            phone:delete:common_area_outbound_calling_rule:admin: phone:delete:common_area_outbound_calling_rule:admin
            phone:read:list_outbound_calling_rules:admin: phone:read:list_outbound_calling_rules:admin
            phone:update:outbound_calling_rule:admin: phone:update:outbound_calling_rule:admin
            phone:write:outbound_calling_rule:admin: phone:write:outbound_calling_rule:admin
            phone:delete:outbound_calling_rule:admin: phone:delete:outbound_calling_rule:admin
            phone:update:site_outbound_calling_rule:admin: phone:update:site_outbound_calling_rule:admin
            phone:read:site_outbound_calling_rule:admin: phone:read:site_outbound_calling_rule:admin
            phone:write:site_outbound_calling_rule:admin: phone:write:site_outbound_calling_rule:admin
            phone:delete:site_outbound_calling_rule:admin: phone:delete:site_outbound_calling_rule:admin
            phone:update:user_outbound_calling_rule:admin: phone:update:user_outbound_calling_rule:admin
            phone:read:user_outbound_calling_rule:admin: phone:read:user_outbound_calling_rule:admin
            phone:write:user_outbound_calling_rule:admin: phone:write:user_outbound_calling_rule:admin
            phone:delete:user_outbound_calling_rule:admin: phone:delete:user_outbound_calling_rule:admin
            phone:read:list_devices:admin: phone:read:list_devices:admin
            phone:write:device:admin: phone:write:device:admin
            phone:write:sync_device:admin: phone:write:sync_device:admin
            phone:update:device:admin: phone:update:device:admin
            phone:delete:device:admin: phone:delete:device:admin
            phone:read:device:admin: phone:read:device:admin
            phone:write:device_extension:admin: phone:write:device_extension:admin
            phone:delete:device_extension:admin: phone:delete:device_extension:admin
            phone:update:device_provision_template:admin: phone:update:device_provision_template:admin
            phone:write:reboot_device:admin: phone:write:reboot_device:admin
            phone:write:byo_carrier_number:admin: phone:write:byo_carrier_number:admin
            phone:delete:number:admin: phone:delete:number:admin
            phone:read:list_numbers:admin: phone:read:list_numbers:admin
            phone:update:site_number:admin: phone:update:site_number:admin
            phone:read:numbers:admin: phone:read:numbers:admin
            phone:update:number:admin: phone:update:number:admin
            phone:write:user_number: phone:write:user_number
            phone:write:user_number:admin: phone:write:user_number:admin
            phone:delete:user_number: phone:delete:user_number
            phone:delete:user_number:admin: phone:delete:user_number:admin
            phone:read:list_calling_plans:admin: phone:read:list_calling_plans:admin
            phone:read:list_roles:admin: phone:read:list_roles:admin
            phone:write:role:admin: phone:write:role:admin
            phone:update:role:admin: phone:update:role:admin
            phone:read:role:admin: phone:read:role:admin
            phone:delete:role:admin: phone:delete:role:admin
            phone:read:role_member:admin: phone:read:role_member:admin
            phone:write:role_member:admin: phone:write:role_member:admin
            phone:delete:role_member:admin: phone:delete:role_member:admin
            phone:write:private_directory_member:admin: phone:write:private_directory_member:admin
            phone:read:list_private_directory_members:admin: phone:read:list_private_directory_members:admin
            phone:update:private_directory_member:admin: phone:update:private_directory_member:admin
            phone:delete:private_directory_member:admin: phone:delete:private_directory_member:admin
            phone_peering:read:admin: phone_peering:read:admin
            phone:read:list_peering_numbers:admin: phone:read:list_peering_numbers:admin
            phone_peering:write:admin: phone_peering:write:admin
            phone:write:peering_number:admin: phone:write:peering_number:admin
            phone:delete:peering_number:admin: phone:delete:peering_number:admin
            phone:update:peering_number:admin: phone:update:peering_number:admin
            phone:write:provision_template:admin: phone:write:provision_template:admin
            phone:read:list_provision_templates:admin: phone:read:list_provision_templates:admin
            phone:update:provision_template:admin: phone:update:provision_template:admin
            phone:read:provision_template:admin: phone:read:provision_template:admin
            phone:delete:provision_template:admin: phone:delete:provision_template:admin
            phone_recording:read: phone_recording:read
            phone_recording:read:admin: phone_recording:read:admin
            phone:read:call_recording: phone:read:call_recording
            phone:read:call_recording:admin: phone:read:call_recording:admin
            phone:read:recording_transcript: phone:read:recording_transcript
            phone:read:recording_transcript:admin: phone:read:recording_transcript:admin
            phone:read:list_call_recordings:admin: phone:read:list_call_recordings:admin
            phone_recording:write: phone_recording:write
            phone_recording:write:admin: phone_recording:write:admin
            phone:update:call_recording: phone:update:call_recording
            phone:update:call_recording:admin: phone:update:call_recording:admin
            phone:delete:call_recording: phone:delete:call_recording
            phone:delete:call_recording:admin: phone:delete:call_recording:admin
            phone:read:list_recordings: phone:read:list_recordings
            phone:read:list_recordings:admin: phone:read:list_recordings:admin
            phone:read:call_charges:admin: phone:read:call_charges:admin
            phone:read:fax_charges:admin: phone:read:fax_charges:admin
            phone:read:operation_logs:admin: phone:read:operation_logs:admin
            phone:read:sms_charges:admin: phone:read:sms_charges:admin
            phone:read:list_routing_rules:admin: phone:read:list_routing_rules:admin
            phone:write:routing_rule:admin: phone:write:routing_rule:admin
            phone:update:routing_rule:admin: phone:update:routing_rule:admin
            phone:read:routing_rule:admin: phone:read:routing_rule:admin
            phone:delete:routing_rule:admin: phone:delete:routing_rule:admin
            phone_sms:write: phone_sms:write
            phone_sms:write:admin: phone_sms:write:admin
            phone:read:sms_message: phone:read:sms_message
            phone:read:sms_message:admin: phone:read:sms_message:admin
            phone_sms:read: phone_sms:read
            phone_sms:read:admin: phone_sms:read:admin
            phone:read:list_sms_sessions: phone:read:list_sms_sessions
            phone:read:list_sms_sessions:admin: phone:read:list_sms_sessions:admin
            phone:read:sms_session: phone:read:sms_session
            phone:read:sms_session:admin: phone:read:sms_session:admin
            phone:read:list_sms_campaigns:admin: phone:read:list_sms_campaigns:admin
            phone:read:sms_campaign:admin: phone:read:sms_campaign:admin
            phone:write:sms_campaign_number:admin: phone:write:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status:admin: phone:read:sms_campaign_number_opt_status:admin
            phone:update:sms_campaign_number_opt_status:admin: phone:update:sms_campaign_number_opt_status:admin
            phone:delete:sms_campaign_number:admin: phone:delete:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status: phone:read:sms_campaign_number_opt_status
            phone:read:sms_consent_number_opt_status:admin: phone:read:sms_consent_number_opt_status:admin
            phone:write:setting_template:admin: phone:write:setting_template:admin
            phone:read:list_setting_templates:admin: phone:read:list_setting_templates:admin
            phone:update:setting_template:admin: phone:update:setting_template:admin
            phone:read:setting_template:admin: phone:read:setting_template:admin
            phone:update:policy:admin: phone:update:policy:admin
            phone:read:policy:admin: phone:read:policy:admin
            phone:read:list_ported_numbers:admin: phone:read:list_ported_numbers:admin
            phone:read:ported_number:admin: phone:read:ported_number:admin
            phone:update:settings:admin: phone:update:settings:admin
            phone:read:settings:admin: phone:read:settings:admin
            phone:read:list_sip_groups:admin: phone:read:list_sip_groups:admin
            phone:read:list_sip_trunks:admin: phone:read:list_sip_trunks:admin
            phone:read:list_shared_line_appearances:admin: phone:read:list_shared_line_appearances:admin
            phone:read:list_shared_line_groups:admin: phone:read:list_shared_line_groups:admin
            phone:write:shared_line_group:admin: phone:write:shared_line_group:admin
            phone:read:shared_line_group:admin: phone:read:shared_line_group:admin
            phone:read:shared_line_group_call_handling_setting:admin: phone:read:shared_line_group_call_handling_setting:admin
            phone:update:shared_line_group_call_handling_setting:admin: phone:update:shared_line_group_call_handling_setting:admin
            phone:read:shared_line_group_policy:admin: phone:read:shared_line_group_policy:admin
            phone:update:shared_line_group_policy:admin: phone:update:shared_line_group_policy:admin
            phone:read:shared_line_group_setting:admin: phone:read:shared_line_group_setting:admin
            phone:update:shared_line_group_setting:admin: phone:update:shared_line_group_setting:admin
            phone:delete:shared_line_group_setting:admin: phone:delete:shared_line_group_setting:admin
            phone:write:shared_line_group_setting:admin: phone:write:shared_line_group_setting:admin
            phone:update:shared_line_group:admin: phone:update:shared_line_group:admin
            phone:delete:shared_line_group:admin: phone:delete:shared_line_group:admin
            phone:delete:shared_line_member:admin: phone:delete:shared_line_member:admin
            phone:write:shared_line_member:admin: phone:write:shared_line_member:admin
            phone:delete:shared_line_group_number:admin: phone:delete:shared_line_group_number:admin
            phone:write:shared_line_group_number:admin: phone:write:shared_line_group_number:admin
            phone:delete:shared_line_group_policy:admin: phone:delete:shared_line_group_policy:admin
            phone:write:shared_line_group_policy:admin: phone:write:shared_line_group_policy:admin
            phone:read:list_sites:admin: phone:read:list_sites:admin
            phone:write:site:admin: phone:write:site:admin
            phone:read:site:admin: phone:read:site:admin
            phone:delete:site:admin: phone:delete:site:admin
            phone:update:site:admin: phone:update:site:admin
            phone:read:list_site_customized_number:admin: phone:read:list_site_customized_number:admin
            phone:delete:site_customized_number:admin: phone:delete:site_customized_number:admin
            phone:write:site_customized_number:admin: phone:write:site_customized_number:admin
            phone:read:site_setting:admin: phone:read:site_setting:admin
            phone:write:site_setting:admin: phone:write:site_setting:admin
            phone:delete:site_setting:admin: phone:delete:site_setting:admin
            phone:update:site_setting:admin: phone:update:site_setting:admin
            phone:read:list_users:admin: phone:read:list_users:admin
            phone:write:batch_users:admin: phone:write:batch_users:admin
            phone:update:batch_users:admin: phone:update:batch_users:admin
            phone:read:user: phone:read:user
            phone:read:user:admin: phone:read:user:admin
            phone:update:user: phone:update:user
            phone:update:user:admin: phone:update:user:admin
            phone:delete:user_call_handling_setting: phone:delete:user_call_handling_setting
            phone:delete:user_call_handling_setting:admin: phone:delete:user_call_handling_setting:admin
            phone:write:user_call_handling_setting: phone:write:user_call_handling_setting
            phone:write:user_call_handling_setting:admin: phone:write:user_call_handling_setting:admin
            phone:read:user_call_handling_setting:admin: phone:read:user_call_handling_setting:admin
            phone:read:user_call_handling_setting: phone:read:user_call_handling_setting
            phone:update:user_call_handling_setting:admin: phone:update:user_call_handling_setting:admin
            phone:update:user_call_handling_setting: phone:update:user_call_handling_setting
            phone:write:calling_plan: phone:write:calling_plan
            phone:write:calling_plan:admin: phone:write:calling_plan:admin
            phone:update:calling_plan: phone:update:calling_plan
            phone:update:calling_plan:admin: phone:update:calling_plan:admin
            phone:delete:users_calling_plan: phone:delete:users_calling_plan
            phone:delete:users_calling_plan:admin: phone:delete:users_calling_plan:admin
            phone:read:list_user_customized_number: phone:read:list_user_customized_number
            phone:read:list_user_customized_number:admin: phone:read:list_user_customized_number:admin
            phone:write:user_customized_number: phone:write:user_customized_number
            phone:write:user_customized_number:admin: phone:write:user_customized_number:admin
            phone:delete:user_customized_number: phone:delete:user_customized_number
            phone:delete:user_customized_number:admin: phone:delete:user_customized_number:admin
            phone:update:user_policy:admin: phone:update:user_policy:admin
            phone:read:user_policy:admin: phone:read:user_policy:admin
            phone:delete:user_setting: phone:delete:user_setting
            phone:delete:user_setting:admin: phone:delete:user_setting:admin
            phone:write:user_setting:admin: phone:write:user_setting:admin
            phone:write:user_setting: phone:write:user_setting
            phone:read:user_setting:admin: phone:read:user_setting:admin
            phone:read:user_setting: phone:read:user_setting
            phone:update:user_setting: phone:update:user_setting
            phone:update:user_setting:admin: phone:update:user_setting:admin
            phone:update:shared_setting: phone:update:shared_setting
            phone:update:shared_setting:admin: phone:update:shared_setting:admin
            phone:write:shared_setting: phone:write:shared_setting
            phone:write:shared_setting:admin: phone:write:shared_setting:admin
            phone:delete:shared_setting: phone:delete:shared_setting
            phone:delete:shared_setting:admin: phone:delete:shared_setting:admin
            phone_voicemail:read: phone_voicemail:read
            phone_voicemail:read:admin: phone_voicemail:read:admin
            phone:read:voicemail: phone:read:voicemail
            phone:read:voicemail:admin: phone:read:voicemail:admin
            phone:read:list_voicemails: phone:read:list_voicemails
            phone:read:list_voicemails:admin: phone:read:list_voicemails:admin
            phone_voicemail:write: phone_voicemail:write
            phone_voicemail:write:admin: phone_voicemail:write:admin
            phone:update:voicemail: phone:update:voicemail
            phone:update:voicemail:admin: phone:update:voicemail:admin
            phone:delete:voicemail: phone:delete:voicemail
            phone:delete:voicemail:admin: phone:delete:voicemail:admin
            phone:read:list_rooms:admin: phone:read:list_rooms:admin
            phone:write:room:admin: phone:write:room:admin
            phone:read:room:admin: phone:read:room:admin
            phone:delete:room:admin: phone:delete:room:admin
            phone:update:room:admin: phone:update:room:admin
            phone:write:room_calling_plan:admin: phone:write:room_calling_plan:admin
            phone:delete:room_calling_plan:admin: phone:delete:room_calling_plan:admin
            phone:write:room_phone_number:admin: phone:write:room_phone_number:admin
            phone:delete:room_phone_number:admin: phone:delete:room_phone_number:admin
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
