openapi: 3.2.0
info:
  title: Phone Fax API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Fax
paths:
  /fax/files:
    post:
      tags:
      - Fax
      summary: Upload fax file
      description: 'Uploads fax file


        **Note:**

        * Please use `https://fileapi.zoom.us` instead of `https://api.zoom.us`, the full path is `https://fileapi.zoom.us/v2/fax/files`

        * Supported file formats: `.zip`

        * The maximum size of file is 50MB


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write`,`phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:send_fax`,`phone:write:send_fax:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `RESOURCE-INTENSIVE`'
      operationId: UploadFaxFiles
      parameters:
      - name: expire
        in: query
        description: The time to live in seconds for the uploaded file.
        required: false
        schema:
          maximum: 604800
          minimum: 1
          type: number
          example: 3600
          default: 259200
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: object
                  description: 'The fax file which need upload.


                    The ZIP file may contain files of the following types:

                    * `pdf`

                    * `jpg`

                    * `jpeg`

                    * `txt`

                    * `png`

                    * `doc`

                    * `docx`


                    The ZIP file should contain files named using the format {order}.{type}. The order defines the page sequence for the fax. For example:

                    * `1.pdf` (first page)

                    * `2.txt` (second page)

                    * `3.png` (third page)


                    For multi-page documents, additional files will be placed immediately after the preceding file in the sequence.'
              example: 'Content-Disposition: form-data; name=""; filename="Test.zip" Content-Type: application/zip'
      responses:
        '201':
          description: File successfully uploaded.
          content:
            application/json:
              schema:
                required:
                - file_id
                type: object
                properties:
                  file_id:
                    type: string
                    description: Fax ZIP file ID
                    example: PM6G6YqvTu-7Yg3xJpFpgA
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1001` <br>\n File size exceeded maximum 50MB <br>\n**Error Code:** `1002` <br>\n Invalid expire, should between 1 and 604800 seconds <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write
        - phone:write:admin
        - phone:write:send_fax
        - phone:write:send_fax:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write
        - phone:write:admin
        x-granular-scopes:
        - phone:write:send_fax
        - phone:write:send_fax:admin
  /phone/extension/{extensionId}/fax/logs:
    get:
      tags:
      - Fax
      summary: Get extension's fax logs
      description: 'Returns the extension''s fax logs.


        **Prerequisites**

        * User must belong to a Business or Enterprise account.

        * User must have a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read`,`phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_fax_log`,`phone:read:list_fax_log:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`'
      operationId: Getuser'sfaxlogs
      parameters:
      - name: extensionId
        in: path
        description: The extension ID of the fax log owner.
        required: true
        schema:
          type: string
          example: VLhIp1jHR_Sgu96DLJpjag
      - name: page_size
        in: query
        description: 'The number of records returned within a single API call.


          The default is **30** and the maximum is **300**.'
        required: false
        schema:
          maximum: 300
          minimum: 1
          type: integer
          example: 30
      - name: next_page_token
        in: query
        description: The token to retrieve the next page of results.
        required: false
        schema:
          type: string
          example: w3cCmMNsRc-pMFhksHrRdQ
      - name: sender_number
        in: query
        description: ThesSender's fax number in E164 format.
        required: false
        schema:
          type: string
          example: '+12093190827'
      - name: receiver_number
        in: query
        description: The receiver's fax number in E164 format.
        required: false
        schema:
          type: string
          example: '+12093190827'
      - name: from
        in: query
        description: "The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. \n\nThe date range defined by the `from` and `to` parameters should be one month, as the response only includes one month's worth of data at a time. "
        required: false
        schema:
          type: string
          example: '2025-12-01'
      - name: to
        in: query
        description: "This field is **required** only when the `from` parameter is specified. \n\nThe end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, the same format as the `from` parameter."
        required: false
        schema:
          type: string
          example: '2025-12-31'
      responses:
        '200':
          description: Successful response with fax log records
          content:
            application/json:
              schema:
                required:
                - fax_logs
                - total_records
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The token to retrieve the next page of results.
                    example: w3cCmMNsRc-pMFhksHrRdQ
                  from:
                    type: string
                    description: The start date and time of the query.
                    format: date
                    example: '2025-12-01'
                  to:
                    type: string
                    description: The end date and time of the query.
                    format: date
                    example: '2025-12-31'
                  total_records:
                    type: integer
                    description: The total number of matching fax logs.
                    example: 300
                  fax_logs:
                    type: array
                    description: The list of fax logs.
                    items:
                      type: object
                      properties:
                        fax_log_id:
                          type: string
                          description: The Zoom phone fax log's unique ID.
                          example: w2cCmMNsRc-pMFhksHrRdQ
                        fax_id:
                          type: string
                          description: The Zoom phone fax's unique ID.
                          example: 6A2BE84EE494479B9AFA29F4BB8A8EA6
                        site_id:
                          type: string
                          description: The site's unique ID.
                          example: rtZRykrtTmKSWXJeW-xsBg
                        site_name:
                          type: string
                          description: The site's name.
                          example: Main Site
                        direction:
                          type: string
                          description: The fax log's direction.
                          example: outbound
                          enum:
                          - outbound
                          - inbound
                        extension_id:
                          type: string
                          description: The owner's extension ID.
                          example: VLhIp1jHR_Sgu96DLJpjag
                        extension_type:
                          type: string
                          description: The extension type of fax log owner.
                          example: callQueue
                          enum:
                          - user
                          - callQueue
                          - autoReceptionist
                          - commonArea
                          - sharedLineGroup
                        sender_extension_id:
                          type: string
                          description: The sender's extension ID.
                          example: VLhIp1jHR_Sgu96DLJpjag
                        sender_extension_type:
                          type: string
                          description: The sender's extension type.
                          example: user
                          enum:
                          - user
                          - callQueue
                          - autoReceptionist
                          - commonArea
                          - sharedLineGroup
                        sender_extension_number:
                          type: string
                          description: The sender's extension number.
                          example: '123'
                        sender_name:
                          type: string
                          description: The sender's name.
                          example: Tester 1
                        sender_number:
                          type: string
                          description: The sender's fax number.
                          example: '+12092080933'
                        sender_type:
                          type: string
                          description: The sender's type.
                          example: client
                          enum:
                          - client
                          - ata
                          - pstn
                          - email
                          - openapi
                        sender_location:
                          type: string
                          description: The sender's location.
                          example: California
                        sender_user_agent:
                          type: string
                          description: The sender's user agent.
                          example: Poly/PolyATA400-4.0.2.6778
                        receiver_extension_id:
                          type: string
                          description: The receiver's extension ID.
                          example: iKBkkqgGQV-bEttrhP5T0g
                        receiver_extension_type:
                          type: string
                          description: The receiver's extension type.
                          example: user
                          enum:
                          - user
                          - callQueue
                          - autoReceptionist
                          - commonArea
                          - sharedLineGroup
                        receiver_extension_number:
                          type: string
                          description: The receiver's extension number.
                          example: '123'
                        receiver_name:
                          type: string
                          description: The receiver's name.
                          example: Tester 2
                        receiver_number:
                          type: string
                          description: The receiver's fax number.
                          example: '+12092080933'
                        receiver_type:
                          type: string
                          description: The receiver's type.
                          example: ata
                          enum:
                          - client
                          - ata
                          - pstn
                        receiver_location:
                          type: string
                          description: The receiver's location.
                          example: Alabama
                        receiver_user_agent:
                          type: string
                          description: The receiver's user agent.
                          example: Poly/PolyATA400-4.0.2.6778
                        file_id:
                          type: string
                          description: The fax PDF file ID.
                          example: bayEy0y9RsadUbuEGrZBYA
                        file_pages_count:
                          type: integer
                          description: The fax file pages count.
                          example: 6
                        status:
                          type: string
                          description: The fax status.
                          example: sent
                          enum:
                          - failed
                          - processing
                          - submitted
                          - sent
                          - received
                        read_status:
                          type: string
                          description: The fax log's read status.
                          example: read
                          enum:
                          - read
                          - unread
                        create_time:
                          type: string
                          description: The fax log created time in UTC time zone.
                          format: date-time
                          example: '2021-10-08T16:12:04Z'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read
        - phone:read:admin
        - phone:read:list_fax_log
        - phone:read:list_fax_log:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_fax_log
        - phone:read:list_fax_log:admin
  /phone/fax/documents:
    post:
      tags:
      - Fax
      summary: Send fax
      description: "Sends a fax to receivers. \n\n**Prerequisites** \n* User must belong to a Business or Enterprise account. \n* User must have a Zoom Phone license.\n\n**Note:**\nFaxes sent through the API will first use the account-level page pool, if available. \n\nIf no page pool is available, pages meter individually. Unlimited faxing does not apply to faxes sent through the API.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write`,`phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:send_fax`,`phone:write:send_fax:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: SendEFax
      requestBody:
        content:
          application/json:
            schema:
              required:
              - file_id
              - receivers
              - sender_number
              type: object
              properties:
                sender_number:
                  type: string
                  description: The fax sender's number.
                  example: '+12093190827'
                sender_name:
                  type: string
                  description: The fax sender's name.
                  example: Kitty
                file_id:
                  type: string
                  description: 'The fax ZIP file ID.

                    Users can upload a ZIP file with fax files through the Upload Fax File endpoint.


                    The ZIP file may contain files of the following types:

                    * `pdf`

                    * `jpg`

                    * `jpeg`

                    * `txt`

                    * `png`

                    * `doc`

                    * `docx`


                    The ZIP file should contain files named using the format {order}.{type}. The order defines the page sequence for the fax. For example:

                    * `1.pdf` (first page)

                    * `2.txt` (second page)

                    * `3.png` (third page)


                    For multi-page documents, additional files will be placed immediately after the preceding file in the sequence.'
                  example: 9PrstHgaRYW4ywAtCWRXwQ
                receivers:
                  maxItems: 50
                  type: array
                  description: A list of fax receivers. A maximum of 50 receivers is allowed.
                  items:
                    required:
                    - receiver_number
                    type: object
                    properties:
                      receiver_number:
                        type: string
                        description: The fax receiver's number.
                        example: '+12093190827'
                      receiver_name:
                        type: string
                        description: The fax receiver's name.
                        example: Mickey
      responses:
        '201':
          description: A list of fax delivery results for each recipient.
          content:
            application/json:
              schema:
                type: object
                properties:
                  fax_id:
                    type: string
                    description: The Zoom Phone fax ID.
                    example: 6A2BE84EE494479B9AFA29F4BB8A8EA6
                  receivers:
                    maxItems: 50
                    minItems: 1
                    type: array
                    items:
                      required:
                      - receiver_number
                      - status
                      type: object
                      properties:
                        receiver_number:
                          type: string
                          description: The fax receiver's number.
                          example: '+12093190827'
                        fax_log_id:
                          type: string
                          description: The Zoom Phone fax log ID.
                          example: Jvj4EboFSLOReVbR24xNkA
                        status:
                          type: string
                          description: 'The status of the current receiver''s number:

                            * `success` - Fax sent successfully

                            * `unknown` - Unknown error occurred

                            * `invalid_parameter` - Invalid parameter provided

                            * `sender_fax_disabled` - Sender''s fax feature is disabled

                            * `invalid_sender_number` - Invalid sender number

                            * `invalid_receiver_number` - Invalid receiver number

                            * `receiver_fax_disabled` - Receiver''s fax feature is disabled'
                          example: success
                          enum:
                          - success
                          - unknown
                          - invalid_parameter
                          - sender_fax_disabled
                          - invalid_sender_number
                          - invalid_receiver_number
                          - receiver_fax_disabled
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation Failed. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write
        - phone:write:admin
        - phone:write:send_fax
        - phone:write:send_fax:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write
        - phone:write:admin
        x-granular-scopes:
        - phone:write:send_fax
        - phone:write:send_fax:admin
  /phone/fax/logs:
    get:
      tags:
      - Fax
      summary: Get account's fax logs
      description: 'Returns the account''s fax logs.


        **Prerequisites**

        * User must belong to a Business or Enterprise account.

        * User must have a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_fax_log:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`'
      operationId: GetAccount'sFaxLogs
      parameters:
      - name: page_size
        in: query
        description: 'The number of records returned within a single API call.


          The default is **30** and the maximum is **300**.'
        required: false
        schema:
          type: integer
          example: 30
      - name: next_page_token
        in: query
        description: The token to retrieve the next page of results.
        required: false
        schema:
          type: string
          example: w3cCmMNsRc-pMFhksHrRdQ
      - name: site_id
        in: query
        description: The site's unique ID.
        required: false
        schema:
          type: string
          example: D9R3I54RTIKkqb73LvNnQg
      - name: sender_number
        in: query
        description: The sender's fax number in E164 format.
        required: false
        schema:
          type: string
          example: '12093190827'
      - name: receiver_number
        in: query
        description: The receiver's fax number in E164 format.
        required: false
        schema:
          type: string
          example: '12093190827'
      - name: extension_type
        in: query
        description: The extension type of fax's log owner.
        required: false
        schema:
          type: string
          example: callQueue
          enum:
          - user
          - callQueue
          - autoReceptionist
          - commonArea
          - sharedLineGroup
      - name: from
        in: query
        description: "The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. \n\nThe date range defined by the `from` and `to` parameters should be one month as the response only includes one month's worth of data at a time. "
        required: false
        schema:
          type: string
          example: '2025-12-01'
      - name: to
        in: query
        description: "This field is **required** only when the `from` parameter is specified. \n\nThe end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, the same format as the `from` parameter."
        required: false
        schema:
          type: string
          example: '2025-12-31'
      responses:
        '200':
          description: Successful response with fax log records
          content:
            application/json:
              schema:
                required:
                - fax_logs
                - total_records
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The token to retrieve the next page of results.
                    example: w3cCmMNsRc-pMFhksHrRdQ
                  from:
                    type: string
                    description: The start date and time of the query.
                    format: date
                    example: '2025-12-01'
                  to:
                    type: string
                    description: The end date and time of the query.
                    format: date
                    example: '2025-12-31'
                  total_records:
                    type: integer
                    description: The total number of matching fax logs.
                    example: 300
                  fax_logs:
                    type: array
                    description: The list of fax logs.
                    items:
                      type: object
                      properties:
                        fax_log_id:
                          type: string
                          description: The Zoom phone fax log's unique ID.
                          example: w2cCmMNsRc-pMFhksHrRdQ
                        fax_id:
                          type: string
                          description: The Zoom phone fax's unique ID.
                          example: 6A2BE84EE494479B9AFA29F4BB8A8EA6
                        site_id:
                          type: string
                          description: The site's unique ID.
                          example: rtZRykrtTmKSWXJeW-xsBg
                        site_name:
                          type: string
                          description: The site's name.
                          example: Main Site
                        direction:
                          type: string
                          description: The fax log's direction.
                          example: outbound
                          enum:
                          - outbound
                          - inbound
                        extension_id:
                          type: string
                          description: The owner's extension ID.
                          example: VLhIp1jHR_Sgu96DLJpjag
                        extension_type:
                          type: string
                          description: The extension type of fax log owner.
                          example: callQueue
                          enum:
                          - user
                          - callQueue
                          - autoReceptionist
                          - commonArea
                          - sharedLineGroup
                        sender_extension_id:
                          type: string
                          description: The sender's extension ID.
                          example: VLhIp1jHR_Sgu96DLJpjag
                        sender_extension_type:
                          type: string
                          description: The sender's extension type.
                          example: user
                          enum:
                          - user
                          - callQueue
                          - autoReceptionist
                          - commonArea
                          - sharedLineGroup
                        sender_extension_number:
                          type: string
                          description: The sender's extension number.
                          example: '123'
                        sender_name:
                          type: string
                          description: The sender's name.
                          example: Tester 1
                        sender_number:
                          type: string
                          description: The sender's fax number.
                          example: '+12092080933'
                        sender_type:
                          type: string
                          description: The sender's type.
                          example: client
                          enum:
                          - client
                          - ata
                          - pstn
                          - email
                          - openapi
                        sender_location:
                          type: string
                          description: The sender's location.
                          example: California
                        sender_user_agent:
                          type: string
                          description: The sender's user agent.
                          example: Poly/PolyATA400-4.0.2.6778
                        receiver_extension_id:
                          type: string
                          description: The receiver's extension ID.
                          example: iKBkkqgGQV-bEttrhP5T0g
                        receiver_extension_type:
                          type: string
                          description: The receiver's extension type.
                          example: user
                          enum:
                          - user
                          - call_queue
                          - auto_receptionist
                          - common_area
                          - shared_line_group
                        receiver_extension_number:
                          type: string
                          description: The receiver's extension number.
                          example: '123'
                        receiver_name:
                          type: string
                          description: The receiver's name.
                          example: Tester 2
                        receiver_number:
                          type: string
                          description: The receiver's fax number.
                          example: '+12092080933'
                        receiver_type:
                          type: string
                          description: The receiver's type.
                          example: ata
                          enum:
                          - client
                          - ata
                          - pstn
                        receiver_location:
                          type: string
                          description: The receiver's location.
                          example: Alabama
                        receiver_user_agent:
                          type: string
                          description: The receiver's user agent.
                          example: Poly/PolyATA400-4.0.2.6778
                        file_id:
                          type: string
                          description: The fax PDF file ID.
                          example: bayEy0y9RsadUbuEGrZBYA
                        file_pages_count:
                          type: integer
                          description: The fax file pages count.
                          example: 6
                        status:
                          type: string
                          description: The fax status.
                          example: sent
                          enum:
                          - failed
                          - processing
                          - submitted
                          - sent
                          - received
                        read_status:
                          type: string
                          description: The fax log's read status.
                          example: read
                          enum:
                          - read
                          - unread
                        create_time:
                          type: string
                          description: The fax log created time in UTC time zone.
                          format: date-time
                          example: '2021-10-08T16:12:04Z'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_fax_log:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_fax_log:admin
  /phone/fax/logs/{faxLogId}:
    get:
      tags:
      - Fax
      summary: Get fax log details
      description: 'Returns the fax log''s details.


        **Prerequisites**

        * User must belong to a Business or Enterprise account.

        * User must have a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_fax_log:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: GetFaxLogDetails
      parameters:
      - name: faxLogId
        in: path
        description: The fax log's unique ID.
        required: true
        schema:
          type: string
          example: w2cCmMNsRc-pMFhksHrRdQ
      responses:
        '200':
          description: The successful response.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    fax_log_id:
                      type: string
                      description: The Zoom phone fax log's unique ID.
                      example: w2cCmMNsRc-pMFhksHrRdQ
                    fax_id:
                      type: string
                      description: The Zoom phone fax's unique ID.
                      example: 6A2BE84EE494479B9AFA29F4BB8A8EA6
                    site_id:
                      type: string
                      description: The site's unique ID.
                      example: rtZRykrtTmKSWXJeW-xsBg
                    site_name:
                      type: string
                      description: Site's name.
                      example: Main Site
                    direction:
                      type: string
                      description: The fax log's direction.
                      example: outbound
                      enum:
                      - outbound
                      - inbound
                    extension_id:
                      type: string
                      description: The owner's extension ID.
                      example: VLhIp1jHR_Sgu96DLJpjag
                    extension_type:
                      type: string
                      description: The extension type of fax log owner.
                      example: callQueue
                      enum:
                      - user
                      - callQueue
                      - autoReceptionist
                      - commonArea
                      - sharedLineGroup
                    sender_extension_id:
                      type: string
                      description: The sender's extension ID.
                      example: VLhIp1jHR_Sgu96DLJpjag
                    sender_extension_type:
                      type: string
                      description: The sender's extension type.
                      example: user
                      enum:
                      - user
                      - callQueue
                      - autoReceptionist
                      - commonArea
                      - sharedLineGroup
                    sender_extension_number:
                      type: string
                      description: The sender's extension number.
                      example: '123'
                    sender_name:
                      type: string
                      description: The sender's name.
                      example: Tester 1
                    sender_number:
                      type: string
                      description: The sender's fax number.
                      example: '+12092080933'
                    sender_type:
                      type: string
                      description: The sender's type.
                      example: client
                      enum:
                      - client
                      - ata
                      - pstn
                      - email
                      - openapi
                    sender_location:
                      type: string
                      description: The sender's location.
                      example: California
                    sender_user_agent:
                      type: string
                      description: The sender's user agent.
                      example: Poly/PolyATA400-4.0.2.6778
                    receiver_extension_id:
                      type: string
                      description: The receiver's extension ID.
                      example: iKBkkqgGQV-bEttrhP5T0g
                    receiver_extension_type:
                      type: string
                      description: The receiver's extension type.
                      example: user
                      enum:
                      - user
                      - callQueue
                      - autoReceptionist
                      - commonArea
                      - sharedLineGroup
                    receiver_extension_number:
                      type: string
                      description: The receiver's extension number.
                      example: '123'
                    receiver_name:
                      type: string
                      description: The receiver's name.
                      example: Tester 2
                    receiver_number:
                      type: string
                      description: The receiver's fax number.
                      example: '+12092080933'
                    receiver_type:
                      type: string
                      description: The receiver's type.
                      example: ata
                      enum:
                      - client
                      - ata
                      - pstn
                    receiver_location:
                      type: string
                      description: The receiver's location.
                      example: Alabama
                    receiver_user_agent:
                      type: string
                      description: The receiver's user agent.
                      example: Poly/PolyATA400-4.0.2.6778
                    file_id:
                      type: string
                      description: The fax PDF file ID.
                      example: bayEy0y9RsadUbuEGrZBYA
                    file_pages_count:
                      type: integer
                      description: The fax file's page count.
                      example: 6
                    status:
                      type: string
                      description: The fax status.
                      example: sent
                      enum:
                      - failed
                      - processing
                      - submitted
                      - sent
                      - received
                    read_status:
                      type: string
                      description: The fax log's read status.
                      example: read
                      enum:
                      - read
                      - unread
                    status_reason:
                      type: string
                      description: The reason of fax log's status.
                      example: no_answer
                      enum:
                      - success
                      - no_answer
                      - number_busy
                      - invalid_phone_number
                      - failure_transmission
                      - internal_system_error
                      - fax_machine_not_detected
                    retry_times:
                      type: integer
                      description: This field retries the times for sending or receiving.
                      example: 0
                    node:
                      type: integer
                      description: Inside one fax workflow, this field is a sequential number to indicate the orders of the events which start from 0.
                      example: 0
                    create_time:
                      type: string
                      description: The fax log created time in UTC time zone.
                      format: date-time
                      example: '2021-10-08T16:12:04Z'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `40401` <br>\n Fax log not found <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_fax_log:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_fax_log:admin
    delete:
      tags:
      - Fax
      summary: Delete fax log
      description: 'Deletes a specific fax log.


        **Prerequisites**

        * User must belong to a Business or Enterprise account.

        * User must have a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write`,`phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:fax_log`,`phone:delete:fax_log:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: DeleteFaxLog
      parameters:
      - name: faxLogId
        in: path
        description: The fax log's unique ID.
        required: true
        schema:
          type: string
          example: w2cCmMNsRc-pMFhksHrRdQ
      responses:
        '204':
          description: The fax log was successfully deleted.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  Please Input Message \n\n "
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `400001` <br>\n Fax log not found for faxLogId. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write
        - phone:write:admin
        - phone:delete:fax_log
        - phone:delete:fax_log:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:fax_log
        - phone:delete:fax_log:admin
    patch:
      tags:
      - Fax
      summary: Update fax log read status
      description: 'Updates the read status of a specific fax log.


        **Prerequisites**

        * User must belong to a Business or Enterprise account.

        * User must have a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read`,`phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:fax_log:admin`,`phone:read:fax_log`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: UpdateFaxLogReadStatus
      parameters:
      - name: faxLogId
        in: path
        description: The fax log's unique ID.
        required: true
        schema:
          type: string
          example: w2cCmMNsRc-pMFhksHrRdQ
      - name: read_status
        in: query
        description: The fax log's read status.
        required: false
        schema:
          type: string
          example: read
          enum:
          - read
          - unread
      responses:
        '204':
          description: Fax log read status successfully updated.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  Please Input Message \n\n **Error Code:** `400001` <br>\n Fax log not found for faxLogId. <br>\n**Error Code:** `400201` <br>\n The read status is invalid. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read
        - phone:read:admin
        - phone:read:fax_log:admin
        - phone:read:fax_log
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read
        - phone:read:admin
        x-granular-scopes:
        - phone:read:fax_log:admin
        - phone:read:fax_log
  /phone/fax/logs/{faxLogId}/file/{fileId}:
    get:
      tags:
      - Fax
      summary: Download fax file
      description: 'Downloads the fax file.


        **Prerequisites*

        * User must belong to a Business or Enterprise account.

        * User must have a Zoom Phone license.


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read`,`phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:fax_log`,`phone:read:fax_log:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `RESOURCE-INTENSIVE`'
      operationId: Downloadfaxfile
      parameters:
      - name: faxLogId
        in: path
        description: The fax log's unique ID.
        required: true
        schema:
          type: string
          example: w2cCmMNsRc-pMFhksHrRdQ
      - name: fileId
        in: path
        description: The fax file ID.
        required: true
        schema:
          type: string
          example: bayEy0y9RsadUbuEGrZBYA
      responses:
        '200':
          description: '**HTTP Status Code:** `200` **OK**'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `40401` <br>\n Fax log not found for faxLogId: {faxLogId} <br>\n**Error Code:** `40402` <br>\n Fax file not found for fileId: {fileId} <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read
        - phone:read:admin
        - phone:read:fax_log
        - phone:read:fax_log:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read
        - phone:read:admin
        x-granular-scopes:
        - phone:read:fax_log
        - phone:read:fax_log:admin
components:
  securitySchemes:
    openapi_authorization:
      type: apiKey
      name: Authorization
      in: header
    openapi_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /
          tokenUrl: ''
          refreshUrl: ''
          scopes:
            phone:read:admin: phone:read:admin
            phone:read:list_account_settings:admin: phone:read:list_account_settings:admin
            phone:write:admin: phone:write:admin
            phone:write:customized_number:admin: phone:write:customized_number:admin
            phone:read:list_customized_number:admin: phone:read:list_customized_number:admin
            phone:delete:customized_number:admin: phone:delete:customized_number:admin
            phone:write:alert_setting:admin: phone:write:alert_setting:admin
            phone:read:list_alert_settings:admin: phone:read:list_alert_settings:admin
            phone:read:alert_setting:admin: phone:read:alert_setting:admin
            phone:patch:alert_setting:admin: phone:patch:alert_setting:admin
            phone:delete:alert_setting:admin: phone:delete:alert_setting:admin
            phone:read: phone:read
            phone:read:audio: phone:read:audio
            phone:read:audio:admin: phone:read:audio:admin
            phone:write: phone:write
            phone:delete:audio: phone:delete:audio
            phone:delete:audio:admin: phone:delete:audio:admin
            phone:update:audio: phone:update:audio
            phone:update:audio:admin: phone:update:audio:admin
            phone:read:list_audios: phone:read:list_audios
            phone:read:list_audios:admin: phone:read:list_audios:admin
            phone:write:audio: phone:write:audio
            phone:write:audio:admin: phone:write:audio:admin
            phone:write:batch_audios: phone:write:batch_audios
            phone:write:batch_audios:admin: phone:write:batch_audios:admin
            phone:read:list_auto_receptionists:admin: phone:read:list_auto_receptionists:admin
            phone:write:auto_receptionist:admin: phone:write:auto_receptionist:admin
            phone:delete:auto_receptionist:admin: phone:delete:auto_receptionist:admin
            phone:update:auto_receptionist:admin: phone:update:auto_receptionist:admin
            phone:read:auto_receptionist:admin: phone:read:auto_receptionist:admin
            phone:read:auto_receptionist_call_handling_setting:admin: phone:read:auto_receptionist_call_handling_setting:admin
            phone:update:auto_receptionist_call_handling_setting:admin: phone:update:auto_receptionist_call_handling_setting:admin
            phone:delete:auto_receptionist_number:admin: phone:delete:auto_receptionist_number:admin
            phone:write:auto_receptionist_number:admin: phone:write:auto_receptionist_number:admin
            phone:update:auto_receptionist_policy:admin: phone:update:auto_receptionist_policy:admin
            phone:read:auto_receptionist_policy:admin: phone:read:auto_receptionist_policy:admin
            phone:delete:auto_receptionist_policy:admin: phone:delete:auto_receptionist_policy:admin
            phone:write:auto_receptionist_policy:admin: phone:write:auto_receptionist_policy:admin
            phone:read:auto_receptionist_setting:admin: phone:read:auto_receptionist_setting:admin
            phone:write:auto_receptionist_setting:admin: phone:write:auto_receptionist_setting:admin
            phone:update:auto_receptionist_setting:admin: phone:update:auto_receptionist_setting:admin
            phone:delete:auto_receptionist_setting:admin: phone:delete:auto_receptionist_setting:admin
            phone:read:list_billing_accounts:admin: phone:read:list_billing_accounts:admin
            phone:read:billing_account:admin: phone:read:billing_account:admin
            phone:write:blocked_list:admin: phone:write:blocked_list:admin
            phone:read:list_blocked_lists:admin: phone:read:list_blocked_lists:admin
            phone:delete:blocked_list:admin: phone:delete:blocked_list:admin
            phone:read:blocked_list:admin: phone:read:blocked_list:admin
            phone:update:blocked_list:admin: phone:update:blocked_list:admin
            phone:read:list_call_handling_settings:admin: phone:read:list_call_handling_settings:admin
            phone:update:call_handling_setting:admin: phone:update:call_handling_setting:admin
            phone:delete:call_handling_setting:admin: phone:delete:call_handling_setting:admin
            phone:write:call_handling_setting:admin: phone:write:call_handling_setting:admin
            phone_call_log:read: phone_call_log:read
            phone_call_log:read:admin: phone_call_log:read:admin
            phone:read:call_log:admin: phone:read:call_log:admin
            phone:read:list_call_logs:admin: phone:read:list_call_logs:admin
            phone:update:call_log:admin: phone:update:call_log:admin
            phone:read:ai_call_summary: phone:read:ai_call_summary
            phone:read:ai_call_summary:admin: phone:read:ai_call_summary:admin
            phone:read:list_call_logs: phone:read:list_call_logs
            phone_call_log:write: phone_call_log:write
            phone_call_log:write:admin: phone_call_log:write:admin
            phone:delete:call_log: phone:delete:call_log
            phone:delete:call_log:admin: phone:delete:call_log:admin
            phone:read:list_call_queues:admin: phone:read:list_call_queues:admin
            phone:write:call_queue:admin: phone:write:call_queue:admin
            phone:delete:call_queue:admin: phone:delete:call_queue:admin
            phone:update:call_queue:admin: phone:update:call_queue:admin
            phone:read:call_queue:admin: phone:read:call_queue:admin
            phone:read:call_queue_call_handling_setting:admin: phone:read:call_queue_call_handling_setting:admin
            phone:update:call_queue_call_handling_setting:admin: phone:update:call_queue_call_handling_setting:admin
            phone:read:call_queue_custom_group:admin: phone:read:call_queue_custom_group:admin
            phone:write:call_queue_custom_group:admin: phone:write:call_queue_custom_group:admin
            phone:update:call_queue_custom_group:admin: phone:update:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:admin: phone:delete:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:master: phone:delete:call_queue_custom_group:master
            phone:master: phone:master
            phone:read:call_queue_custom_group:master: phone:read:call_queue_custom_group:master
            phone:write:call_queue_custom_group_member:admin: phone:write:call_queue_custom_group_member:admin
            phone:delete:call_queue_custom_group_member:admin: phone:delete:call_queue_custom_group_member:admin
            phone:write:call_queue_member:admin: phone:write:call_queue_member:admin
            phone:delete:call_queue_member:admin: phone:delete:call_queue_member:admin
            phone:read:list_call_queue_members:admin: phone:read:list_call_queue_members:admin
            phone:write:call_queue_number:admin: phone:write:call_queue_number:admin
            phone:delete:call_queue_number:admin: phone:delete:call_queue_number:admin
            phone:read:call_queue_policy:admin: phone:read:call_queue_policy:admin
            phone:update:call_queue_policy:admin: phone:update:call_queue_policy:admin
            phone:write:call_queue_policy:admin: phone:write:call_queue_policy:admin
            phone:delete:call_queue_policy:admin: phone:delete:call_queue_policy:admin
            phone:read:list_call_queue_recordings:admin: phone:read:list_call_queue_recordings:admin
            phone:read:call_queue_setting:admin: phone:read:call_queue_setting:admin
            phone:write:call_queue_setting:admin: phone:write:call_queue_setting:admin
            phone:delete:call_queue_setting:admin: phone:delete:call_queue_setting:admin
            phone:update:call_queue_setting:admin: phone:update:call_queue_setting:admin
            phone:update:carrier_number:admin: phone:update:carrier_number:admin
            phone:write:carrier_number:admin: phone:write:carrier_number:admin
            phone:read:list_carrier_numbers:admin: phone:read:list_carrier_numbers:admin
            phone:delete:carrier_number:admin: phone:delete:carrier_number:admin
            phone:write:common_area:admin: phone:write:common_area:admin
            phone:read:common_area:admin: phone:read:common_area:admin
            phone:read:list_common_area_activation_codes:admin: phone:read:list_common_area_activation_codes:admin
            phone:write:apply_template_to_common_areas:admin: phone:write:apply_template_to_common_areas:admin
            phone:delete:common_area:admin: phone:delete:common_area:admin
            phone:update:common_area:admin: phone:update:common_area:admin
            phone:read:common_area_call_handling_setting:admin: phone:read:common_area_call_handling_setting:admin
            phone:update:common_area_call_handling_setting:admin: phone:update:common_area_call_handling_setting:admin
            phone:write:common_area_calling_plan:admin: phone:write:common_area_calling_plan:admin
            phone:delete:common_area_calling_plan:admin: phone:delete:common_area_calling_plan:admin
            phone:write:common_area_number:admin: phone:write:common_area_number:admin
            phone:delete:common_area_number:admin: phone:delete:common_area_number:admin
            phone:read:list_common_area_settings:admin: phone:read:list_common_area_settings:admin
            phone:update:common_area_setting:admin: phone:update:common_area_setting:admin
            phone:delete:common_area_setting:admin: phone:delete:common_area_setting:admin
            phone:write:common_area_setting:admin: phone:write:common_area_setting:admin
            phone:read:call_qos:admin: phone:read:call_qos:admin
            phone:read:default_emergency_address:admin: phone:read:default_emergency_address:admin
            phone:read:detectable_personal_location:admin: phone:read:detectable_personal_location:admin
            phone:read:location_sharing_permission:admin: phone:read:location_sharing_permission:admin
            phone:read:nomadic_emergency_services:admin: phone:read:nomadic_emergency_services:admin
            phone:read:realtime_location_devices:admin: phone:read:realtime_location_devices:admin
            phone:read:realtime_location_users:admin: phone:read:realtime_location_users:admin
            phone:read:list_tracked_locations:admin: phone:read:list_tracked_locations:admin
            phone:update:device_line_keys: phone:update:device_line_keys
            phone:update:device_line_keys:admin: phone:update:device_line_keys:admin
            phone:read:device_line_keys: phone:read:device_line_keys
            phone:read:device_line_keys:admin: phone:read:device_line_keys:admin
            phone:delete:directory:admin: phone:delete:directory:admin
            phone:read:directory:admin: phone:read:directory:admin
            phone:write:directory:admin: phone:write:directory:admin
            phone:write:emergency_address:admin: phone:write:emergency_address:admin
            phone:read:list_emergency_addresses:admin: phone:read:list_emergency_addresses:admin
            phone:read:emergency_address:admin: phone:read:emergency_address:admin
            phone:delete:emergency_address:admin: phone:delete:emergency_address:admin
            phone:update:emergency_address:admin: phone:update:emergency_address:admin
            phone:write:batch_emergency_locations:admin: phone:write:batch_emergency_locations:admin
            phone:read:list_emergency_locations:admin: phone:read:list_emergency_locations:admin
            phone:write:emergency_location:admin: phone:write:emergency_location:admin
            phone:read:emergency_location:admin: phone:read:emergency_location:admin
            phone:update:emergency_location:admin: phone:update:emergency_location:admin
            phone:delete:emergency_location:admin: phone:delete:emergency_location:admin
            phone:write:external_contact:admin: phone:write:external_contact:admin
            phone:read:list_external_contacts:admin: phone:read:list_external_contacts:admin
            phone:delete:external_contact:admin: phone:delete:external_contact:admin
            phone:read:external_contact:admin: phone:read:external_contact:admin
            phone:update:external_contact:admin: phone:update:external_contact:admin
            phone:write:send_fax: phone:write:send_fax
            phone:write:send_fax:admin: phone:write:send_fax:admin
            phone:read:list_fax_log: phone:read:list_fax_log
            phone:read:list_fax_log:admin: phone:read:list_fax_log:admin
            phone:read:fax_log:admin: phone:read:fax_log:admin
            phone:read:fax_log: phone:read:fax_log
            phone:delete:fax_log: phone:delete:fax_log
            phone:delete:fax_log:admin: phone:delete:fax_log:admin
            phone:read:list_firmware_update_rules:admin: phone:read:list_firmware_update_rules:admin
            phone:write:firmware_update_rule:admin: phone:write:firmware_update_rule:admin
            phone:delete:firmware_update_rule:admin: phone:delete:firmware_update_rule:admin
            phone:update:firmware_update_rule:admin: phone:update:firmware_update_rule:admin
            phone:read:firmware_update_rule:admin: phone:read:firmware_update_rule:admin
            phone:read:list_firmwares:admin: phone:read:list_firmwares:admin
            phone:read:list_call_pickup_groups:admin: phone:read:list_call_pickup_groups:admin
            phone:write:call_pickup_group:admin: phone:write:call_pickup_group:admin
            phone:read:call_pickup_group:admin: phone:read:call_pickup_group:admin
            phone:update:call_pickup_group:admin: phone:update:call_pickup_group:admin
            phone:delete:call_pickup_group:admin: phone:delete:call_pickup_group:admin
            phone:write:call_pickup_group_member:admin: phone:write:call_pickup_group_member:admin
            phone:read:call_pickup_group_member:admin: phone:read:call_pickup_group_member:admin
            phone:delete:call_pickup_group_member:admin: phone:delete:call_pickup_group_member:admin
            phone:update:group_policy:admin: phone:update:group_policy:admin
            phone:read:group_policy:admin: phone:read:group_policy:admin
            phone:read:group_setting:admin: phone:read:group_setting:admin
            phone:read:auto_receptionist_ivr:admin: phone:read:auto_receptionist_ivr:admin
            phone:update:auto_receptionist_ivr:admin: phone:update:auto_receptionist_ivr:admin
            phone:read:list_extension_inbound_block_rules:admin: phone:read:list_extension_inbound_block_rules:admin
            phone:read:list_extension_inbound_block_rules: phone:read:list_extension_inbound_block_rules
            phone:delete:extension_inbound_block_rule:admin: phone:delete:extension_inbound_block_rule:admin
            phone:delete:extension_inbound_block_rule: phone:delete:extension_inbound_block_rule
            phone:write:extension_inbound_block_rule:admin: phone:write:extension_inbound_block_rule:admin
            phone:write:extension_inbound_block_rule: phone:write:extension_inbound_block_rule
            phone:delete:extension_inbound_block_rule_stat:admin: phone:delete:extension_inbound_block_rule_stat:admin
            phone:read:list_extension_inbound_block_rules_stat:admin: phone:read:list_extension_inbound_block_rules_stat:admin
            phone:update:inbound_blocked_for_all:admin: phone:update:inbound_blocked_for_all:admin
            phone:delete:inbound_block_rule:admin: phone:delete:inbound_block_rule:admin
            phone:read:list_inbound_block_rules:admin: phone:read:list_inbound_block_rules:admin
            phone:write:inbound_block_rule:admin: phone:write:inbound_block_rule:admin
            phone:update:inbound_block_rule:admin: phone:update:inbound_block_rule:admin
            phone:update:line_keys: phone:update:line_keys
            phone:update:line_keys:admin: phone:update:line_keys:admin
            phone:read:line_keys: phone:read:line_keys
            phone:read:line_keys:admin: phone:read:line_keys:admin
            phone:delete:line_keys: phone:delete:line_keys
            phone:delete:line_keys:admin: phone:delete:line_keys:admin
            phone:read:list_monitoring_groups:admin: phone:read:list_monitoring_groups:admin
            phone:write:monitoring_group:admin: phone:write:monitoring_group:admin
            phone:delete:monitoring_group:admin: phone:delete:monitoring_group:admin
            phone:update:monitoring_group:admin: phone:update:monitoring_group:admin
            phone:read:monitoring_group:admin: phone:read:monitoring_group:admin
            phone:read:list_monitoring_group_members:admin: phone:read:list_monitoring_group_members:admin
            phone:write:monitoring_group_member:admin: phone:write:monitoring_group_member:admin
            phone:delete:monitoring_group_member:admin: phone:delete:monitoring_group_member:admin
            phone:read:common_area_outbound_calling_rule:admin: phone:read:common_area_outbound_calling_rule:admin
            phone:update:common_area_outbound_calling_rule:admin: phone:update:common_area_outbound_calling_rule:admin
            phone:write:common_area_outbound_calling_rule:admin: phone:write:common_area_outbound_calling_rule:admin
            phone:delete:common_area_outbound_calling_rule:admin: phone:delete:common_area_outbound_calling_rule:admin
            phone:read:list_outbound_calling_rules:admin: phone:read:list_outbound_calling_rules:admin
            phone:update:outbound_calling_rule:admin: phone:update:outbound_calling_rule:admin
            phone:write:outbound_calling_rule:admin: phone:write:outbound_calling_rule:admin
            phone:delete:outbound_calling_rule:admin: phone:delete:outbound_calling_rule:admin
            phone:update:site_outbound_calling_rule:admin: phone:update:site_outbound_calling_rule:admin
            phone:read:site_outbound_calling_rule:admin: phone:read:site_outbound_calling_rule:admin
            phone:write:site_outbound_calling_rule:admin: phone:write:site_outbound_calling_rule:admin
            phone:delete:site_outbound_calling_rule:admin: phone:delete:site_outbound_calling_rule:admin
            phone:update:user_outbound_calling_rule:admin: phone:update:user_outbound_calling_rule:admin
            phone:read:user_outbound_calling_rule:admin: phone:read:user_outbound_calling_rule:admin
            phone:write:user_outbound_calling_rule:admin: phone:write:user_outbound_calling_rule:admin
            phone:delete:user_outbound_calling_rule:admin: phone:delete:user_outbound_calling_rule:admin
            phone:read:list_devices:admin: phone:read:list_devices:admin
            phone:write:device:admin: phone:write:device:admin
            phone:write:sync_device:admin: phone:write:sync_device:admin
            phone:update:device:admin: phone:update:device:admin
            phone:delete:device:admin: phone:delete:device:admin
            phone:read:device:admin: phone:read:device:admin
            phone:write:device_extension:admin: phone:write:device_extension:admin
            phone:delete:device_extension:admin: phone:delete:device_extension:admin
            phone:update:device_provision_template:admin: phone:update:device_provision_template:admin
            phone:write:reboot_device:admin: phone:write:reboot_device:admin
            phone:write:byo_carrier_number:admin: phone:write:byo_carrier_number:admin
            phone:delete:number:admin: phone:delete:number:admin
            phone:read:list_numbers:admin: phone:read:list_numbers:admin
            phone:update:site_number:admin: phone:update:site_number:admin
            phone:read:numbers:admin: phone:read:numbers:admin
            phone:update:number:admin: phone:update:number:admin
            phone:write:user_number: phone:write:user_number
            phone:write:user_number:admin: phone:write:user_number:admin
            phone:delete:user_number: phone:delete:user_number
            phone:delete:user_number:admin: phone:delete:user_number:admin
            phone:read:list_calling_plans:admin: phone:read:list_calling_plans:admin
            phone:read:list_roles:admin: phone:read:list_roles:admin
            phone:write:role:admin: phone:write:role:admin
            phone:update:role:admin: phone:update:role:admin
            phone:read:role:admin: phone:read:role:admin
            phone:delete:role:admin: phone:delete:role:admin
            phone:read:role_member:admin: phone:read:role_member:admin
            phone:write:role_member:admin: phone:write:role_member:admin
            phone:delete:role_member:admin: phone:delete:role_member:admin
            phone:write:private_directory_member:admin: phone:write:private_directory_member:admin
            phone:read:list_private_directory_members:admin: phone:read:list_private_directory_members:admin
            phone:update:private_directory_member:admin: phone:update:private_directory_member:admin
            phone:delete:private_directory_member:admin: phone:delete:private_directory_member:admin
            phone_peering:read:admin: phone_peering:read:admin
            phone:read:list_peering_numbers:admin: phone:read:list_peering_numbers:admin
            phone_peering:write:admin: phone_peering:write:admin
            phone:write:peering_number:admin: phone:write:peering_number:admin
            phone:delete:peering_number:admin: phone:delete:peering_number:admin
            phone:update:peering_number:admin: phone:update:peering_number:admin
            phone:write:provision_template:admin: phone:write:provision_template:admin
            phone:read:list_provision_templates:admin: phone:read:list_provision_templates:admin
            phone:update:provision_template:admin: phone:update:provision_template:admin
            phone:read:provision_template:admin: phone:read:provision_template:admin
            phone:delete:provision_template:admin: phone:delete:provision_template:admin
            phone_recording:read: phone_recording:read
            phone_recording:read:admin: phone_recording:read:admin
            phone:read:call_recording: phone:read:call_recording
            phone:read:call_recording:admin: phone:read:call_recording:admin
            phone:read:recording_transcript: phone:read:recording_transcript
            phone:read:recording_transcript:admin: phone:read:recording_transcript:admin
            phone:read:list_call_recordings:admin: phone:read:list_call_recordings:admin
            phone_recording:write: phone_recording:write
            phone_recording:write:admin: phone_recording:write:admin
            phone:update:call_recording: phone:update:call_recording
            phone:update:call_recording:admin: phone:update:call_recording:admin
            phone:delete:call_recording: phone:delete:call_recording
            phone:delete:call_recording:admin: phone:delete:call_recording:admin
            phone:read:list_recordings: phone:read:list_recordings
            phone:read:list_recordings:admin: phone:read:list_recordings:admin
            phone:read:call_charges:admin: phone:read:call_charges:admin
            phone:read:fax_charges:admin: phone:read:fax_charges:admin
            phone:read:operation_logs:admin: phone:read:operation_logs:admin
            phone:read:sms_charges:admin: phone:read:sms_charges:admin
            phone:read:list_routing_rules:admin: phone:read:list_routing_rules:admin
            phone:write:routing_rule:admin: phone:write:routing_rule:admin
            phone:update:routing_rule:admin: phone:update:routing_rule:admin
            phone:read:routing_rule:admin: phone:read:routing_rule:admin
            phone:delete:routing_rule:admin: phone:delete:routing_rule:admin
            phone_sms:write: phone_sms:write
            phone_sms:write:admin: phone_sms:write:admin
            phone:read:sms_message: phone:read:sms_message
            phone:read:sms_message:admin: phone:read:sms_message:admin
            phone_sms:read: phone_sms:read
            phone_sms:read:admin: phone_sms:read:admin
            phone:read:list_sms_sessions: phone:read:list_sms_sessions
            phone:read:list_sms_sessions:admin: phone:read:list_sms_sessions:admin
            phone:read:sms_session: phone:read:sms_session
            phone:read:sms_session:admin: phone:read:sms_session:admin
            phone:read:list_sms_campaigns:admin: phone:read:list_sms_campaigns:admin
            phone:read:sms_campaign:admin: phone:read:sms_campaign:admin
            phone:write:sms_campaign_number:admin: phone:write:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status:admin: phone:read:sms_campaign_number_opt_status:admin
            phone:update:sms_campaign_number_opt_status:admin: phone:update:sms_campaign_number_opt_status:admin
            phone:delete:sms_campaign_number:admin: phone:delete:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status: phone:read:sms_campaign_number_opt_status
            phone:read:sms_consent_number_opt_status:admin: phone:read:sms_consent_number_opt_status:admin
            phone:write:setting_template:admin: phone:write:setting_template:admin
            phone:read:list_setting_templates:admin: phone:read:list_setting_templates:admin
            phone:update:setting_template:admin: phone:update:setting_template:admin
            phone:read:setting_template:admin: phone:read:setting_template:admin
            phone:update:policy:admin: phone:update:policy:admin
            phone:read:policy:admin: phone:read:policy:admin
            phone:read:list_ported_numbers:admin: phone:read:list_ported_numbers:admin
            phone:read:ported_number:admin: phone:read:ported_number:admin
            phone:update:settings:admin: phone:update:settings:admin
            phone:read:settings:admin: phone:read:settings:admin
            phone:read:list_sip_groups:admin: phone:read:list_sip_groups:admin
            phone:read:list_sip_trunks:admin: phone:read:list_sip_trunks:admin
            phone:read:list_shared_line_appearances:admin: phone:read:list_shared_line_appearances:admin
            phone:read:list_shared_line_groups:admin: phone:read:list_shared_line_groups:admin
            phone:write:shared_line_group:admin: phone:write:shared_line_group:admin
            phone:read:shared_line_group:admin: phone:read:shared_line_group:admin
            phone:read:shared_line_group_call_handling_setting:admin: phone:read:shared_line_group_call_handling_setting:admin
            phone:update:shared_line_group_call_handling_setting:admin: phone:update:shared_line_group_call_handling_setting:admin
            phone:read:shared_line_group_policy:admin: phone:read:shared_line_group_policy:admin
            phone:update:shared_line_group_policy:admin: phone:update:shared_line_group_policy:admin
            phone:read:shared_line_group_setting:admin: phone:read:shared_line_group_setting:admin
            phone:update:shared_line_group_setting:admin: phone:update:shared_line_group_setting:admin
            phone:delete:shared_line_group_setting:admin: phone:delete:shared_line_group_setting:admin
            phone:write:shared_line_group_setting:admin: phone:write:shared_line_group_setting:admin
            phone:update:shared_line_group:admin: phone:update:shared_line_group:admin
            phone:delete:shared_line_group:admin: phone:delete:shared_line_group:admin
            phone:delete:shared_line_member:admin: phone:delete:shared_line_member:admin
            phone:write:shared_line_member:admin: phone:write:shared_line_member:admin
            phone:delete:shared_line_group_number:admin: phone:delete:shared_line_group_number:admin
            phone:write:shared_line_group_number:admin: phone:write:shared_line_group_number:admin
            phone:delete:shared_line_group_policy:admin: phone:delete:shared_line_group_policy:admin
            phone:write:shared_line_group_policy:admin: phone:write:shared_line_group_policy:admin
            phone:read:list_sites:admin: phone:read:list_sites:admin
            phone:write:site:admin: phone:write:site:admin
            phone:read:site:admin: phone:read:site:admin
            phone:delete:site:admin: phone:delete:site:admin
            phone:update:site:admin: phone:update:site:admin
            phone:read:list_site_customized_number:admin: phone:read:list_site_customized_number:admin
            phone:delete:site_customized_number:admin: phone:delete:site_customized_number:admin
            phone:write:site_customized_number:admin: phone:write:site_customized_number:admin
            phone:read:site_setting:admin: phone:read:site_setting:admin
            phone:write:site_setting:admin: phone:write:site_setting:admin
            phone:delete:site_setting:admin: phone:delete:site_setting:admin
            phone:update:site_setting:admin: phone:update:site_setting:admin
            phone:read:list_users:admin: phone:read:list_users:admin
            phone:write:batch_users:admin: phone:write:batch_users:admin
            phone:update:batch_users:admin: phone:update:batch_users:admin
            phone:read:user: phone:read:user
            phone:read:user:admin: phone:read:user:admin
            phone:update:user: phone:update:user
            phone:update:user:admin: phone:update:user:admin
            phone:delete:user_call_handling_setting: phone:delete:user_call_handling_setting
            phone:delete:user_call_handling_setting:admin: phone:delete:user_call_handling_setting:admin
            phone:write:user_call_handling_setting: phone:write:user_call_handling_setting
            phone:write:user_call_handling_setting:admin: phone:write:user_call_handling_setting:admin
            phone:read:user_call_handling_setting:admin: phone:read:user_call_handling_setting:admin
            phone:read:user_call_handling_setting: phone:read:user_call_handling_setting
            phone:update:user_call_handling_setting:admin: phone:update:user_call_handling_setting:admin
            phone:update:user_call_handling_setting: phone:update:user_call_handling_setting
            phone:write:calling_plan: phone:write:calling_plan
            phone:write:calling_plan:admin: phone:write:calling_plan:admin
            phone:update:calling_plan: phone:update:calling_plan
            phone:update:calling_plan:admin: phone:update:calling_plan:admin
            phone:delete:users_calling_plan: phone:delete:users_calling_plan
            phone:delete:users_calling_plan:admin: phone:delete:users_calling_plan:admin
            phone:read:list_user_customized_number: phone:read:list_user_customized_number
            phone:read:list_user_customized_number:admin: phone:read:list_user_customized_number:admin
            phone:write:user_customized_number: phone:write:user_customized_number
            phone:write:user_customized_number:admin: phone:write:user_customized_number:admin
            phone:delete:user_customized_number: phone:delete:user_customized_number
            phone:delete:user_customized_number:admin: phone:delete:user_customized_number:admin
            phone:update:user_policy:admin: phone:update:user_policy:admin
            phone:read:user_policy:admin: phone:read:user_policy:admin
            phone:delete:user_setting: phone:delete:user_setting
            phone:delete:user_setting:admin: phone:delete:user_setting:admin
            phone:write:user_setting:admin: phone:write:user_setting:admin
            phone:write:user_setting: phone:write:user_setting
            phone:read:user_setting:admin: phone:read:user_setting:admin
            phone:read:user_setting: phone:read:user_setting
            phone:update:user_setting: phone:update:user_setting
            phone:update:user_setting:admin: phone:update:user_setting:admin
            phone:update:shared_setting: phone:update:shared_setting
            phone:update:shared_setting:admin: phone:update:shared_setting:admin
            phone:write:shared_setting: phone:write:shared_setting
            phone:write:shared_setting:admin: phone:write:shared_setting:admin
            phone:delete:shared_setting: phone:delete:shared_setting
            phone:delete:shared_setting:admin: phone:delete:shared_setting:admin
            phone_voicemail:read: phone_voicemail:read
            phone_voicemail:read:admin: phone_voicemail:read:admin
            phone:read:voicemail: phone:read:voicemail
            phone:read:voicemail:admin: phone:read:voicemail:admin
            phone:read:list_voicemails: phone:read:list_voicemails
            phone:read:list_voicemails:admin: phone:read:list_voicemails:admin
            phone_voicemail:write: phone_voicemail:write
            phone_voicemail:write:admin: phone_voicemail:write:admin
            phone:update:voicemail: phone:update:voicemail
            phone:update:voicemail:admin: phone:update:voicemail:admin
            phone:delete:voicemail: phone:delete:voicemail
            phone:delete:voicemail:admin: phone:delete:voicemail:admin
            phone:read:list_rooms:admin: phone:read:list_rooms:admin
            phone:write:room:admin: phone:write:room:admin
            phone:read:room:admin: phone:read:room:admin
            phone:delete:room:admin: phone:delete:room:admin
            phone:update:room:admin: phone:update:room:admin
            phone:write:room_calling_plan:admin: phone:write:room_calling_plan:admin
            phone:delete:room_calling_plan:admin: phone:delete:room_calling_plan:admin
            phone:write:room_phone_number:admin: phone:write:room_phone_number:admin
            phone:delete:room_phone_number:admin: phone:delete:room_phone_number:admin
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
