openapi: 3.2.0
info:
  title: Phone Group Call Pickup API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Group Call Pickup
paths:
  /phone/group_call_pickup:
    get:
      tags:
      - Group Call Pickup
      summary: List group call pickup objects
      description: "Use this API to retrieve a list of [Group Call Pickup](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) objects in an account.\n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_call_pickup_groups:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`"
      operationId: listGCP
      parameters:
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: site_id
        in: query
        description: Unique identifier of the site. This can be retrieved from the [List Phone Sites](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listPhoneSites) API.
        required: false
        schema:
          type: string
          example: NjHmTu16Qfe8yOiNJuekXA
      responses:
        '200':
          description: "**HTTP Status Code:** `200`  \n \nGroup listed successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  group_call_pickup:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: ID of the group.
                          example: qLZ4vXb8RAydayOR5ckYMg
                        display_name:
                          type: string
                          description: Name of the group.
                          example: testGCP
                        extension_id:
                          type: string
                          description: Extension ID.
                          example: testGCP
                        extension_number:
                          type: integer
                          description: Extension number.
                          format: int64
                          example: 10002
                        member_count:
                          type: integer
                          description: Member count of the group.
                          example: 1
                        description:
                          type: string
                          description: Group call pickup  description.
                          example: test
                        delay:
                          type: integer
                          description: 'Determines after how much time (in seconds) the group should be notified: default is `0` second.'
                          example: 0
                          enum:
                          - 0
                          - 5
                          - 10
                          - 15
                        cost_center:
                          type: string
                          description: Cost center name.
                          example: test
                        department:
                          type: string
                          description: Department name.
                          example: test
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites).
                              example: 8f71O6rWT8KFUGQmJIFAdQ
                            name:
                              type: string
                              description: Name of the site.
                              example: testGCPSite
                        directed_call_pickup:
                          type: boolean
                          description: Whether the ringtone is on.
                          example: true
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
                  page_size:
                    type: integer
                    description: The number of records returned within a single API call for each page.
                    example: 30
                  total_records:
                    type: integer
                    description: The total number of records returned.
                    example: 1
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_call_pickup_groups:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_call_pickup_groups:admin
    post:
      tags:
      - Group Call Pickup
      summary: Add a group call pickup object
      description: "Use this API to add a [Group Call Pickup](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) instance to the account that has the Zoom Phone license assigned. \n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:call_pickup_group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: addGCP
      requestBody:
        content:
          application/json:
            schema:
              required:
              - display_name
              - site_id
              type: object
              properties:
                display_name:
                  maxLength: 32
                  type: string
                  description: Name of the group.
                  example: test
                site_id:
                  type: string
                  description: Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites).
                  example: NjHmTu16Qfe8yOiNJuekXA
                description:
                  type: string
                  description: Group call pickup description.
                  example: test
                extension_number:
                  type: integer
                  description: Short extension number.
                  format: int64
                  example: 1
                delay:
                  type: integer
                  description: Determines after how much time (in seconds) the group should be notified.
                  example: 0
                  default: 0
                  enum:
                  - 0
                  - 5
                  - 10
                  - 15
                play_incoming_calls_sound:
                  type: object
                  properties:
                    enable:
                      type: boolean
                      description: Whether to play incoming call sound in Zoom clients.
                      example: false
                      default: false
                    ring_tone:
                      type: string
                      description: Incoming call sound in Zoom clients.
                      example: ringtone_1
                      default: ringtone_1
                      enum:
                      - ringtone_1
                      - ringtone_2
                      - ringtone_3
                    duration:
                      type: integer
                      description: Duration (in seconds) between ring tones.
                      example: 0
                      default: 0
                      enum:
                      - 0
                      - 1
                      - 3
                      - 5
                  description: This field is not available when `enable=false`
                directed_call_pickup:
                  type: boolean
                  description: Whether the ringtone is on.
                  example: false
                  default: false
                member_extension_ids:
                  maximum: 100
                  type: array
                  description: Extension ID.
                  items:
                    type: string
                    example: RfFxkRTIRnOp6ZYo7c1Ptg
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \nGroup added successfully.  "
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the group.
                    example: q5C69v95SPKsZ5uUi-Xbcw
                  display_name:
                    type: string
                    description: Name of the group.
                    example: testGCP
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\n\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:call_pickup_group:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:call_pickup_group:admin
  /phone/group_call_pickup/{groupId}:
    get:
      tags:
      - Group Call Pickup
      summary: Get call pickup group by ID
      description: "Use this API to retrieve information on a specific [Group Call Pickup](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) object in an account. \n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:call_pickup_group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: GetGCP
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          example: kLD4F3WBT-O9LYE31C0tRQ
      responses:
        '200':
          description: "**HTTP Status Code:** `200`  \n \nGroup returned successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the group.
                    example: qLZ4vXb8RAydayOR5ckYMg
                  display_name:
                    type: string
                    description: Name of the group.
                    example: testGCP
                  extension_id:
                    type: string
                    description: Extension ID.
                    example: mLG45gHYSVaeVVc64gp1jQ
                  extension_number:
                    type: integer
                    description: Extension number.
                    format: int64
                    example: 10002
                  description:
                    type: string
                    description: Description of the group.
                    example: test
                  delay:
                    type: integer
                    description: Determines after how much time (in seconds) the group should be notified.
                    example: 5
                    enum:
                    - 0
                    - 5
                    - 10
                    - 15
                  member_count:
                    type: integer
                    description: Member count of the group.
                    example: 1
                  cost_center:
                    type: string
                    description: Cost center name.
                    example: test
                  department:
                    type: string
                    description: Department name.
                    example: test
                  site:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites).
                        example: 8f71O6rWT8KFUGQmJIFAdQ
                      name:
                        type: string
                        description: Name of the site.
                        example: testGCPSite
                  play_incoming_calls_sound:
                    type: object
                    properties:
                      enable:
                        type: boolean
                        description: Whether to play incoming call sound in Zoom clients.
                        example: true
                      ring_tone:
                        type: string
                        description: Incoming call sound in Zoom clients.
                        example: ringtone_1
                        enum:
                        - ringtone_1
                        - ringtone_2
                        - ringtone_3
                      duration:
                        type: integer
                        description: Duration (in seconds) between ring tones.
                        example: 0
                        enum:
                        - 0
                        - 1
                        - 3
                        - 5
                  directed_call_pickup:
                    type: boolean
                    description: Whether the ringtone is on.
                    example: true
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:call_pickup_group:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:call_pickup_group:admin
    delete:
      tags:
      - Group Call Pickup
      summary: Delete group call pickup objects
      description: "Use this API to remove a [Group Call Pickup](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) object.\n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:call_pickup_group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: deleteGCP
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          example: NLFzgdWFTG2origU8sAT6w
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \nGroup deleted successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `404` <br>\nGroup call pickup does not exist.<br>\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:call_pickup_group:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:call_pickup_group:admin
    patch:
      tags:
      - Group Call Pickup
      summary: Update the group call pickup information
      description: "Use this API to update a specific [Group Call Pickup](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) object information.\n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:call_pickup_group:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: updateGCP
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          example: kLD4F3WBT-O9LYE31C0tRQ
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  maxLength: 32
                  type: string
                  description: Name of the group.
                  example: test
                extension_number:
                  type: integer
                  description: Short extension number.
                  format: int64
                  example: 1
                description:
                  maxLength: 32
                  type: string
                  description: Description for the group.
                  example: test
                delay:
                  type: integer
                  description: Determines after how much time (in seconds) the group should be notified.
                  example: 0
                  enum:
                  - 0
                  - 5
                  - 10
                  - 15
                cost_center:
                  type: string
                  description: Cost center name.
                  example: testCostCenter
                department:
                  type: string
                  description: Department name.
                  example: testDepartment
                play_incoming_calls_sound:
                  type: object
                  properties:
                    enable:
                      type: boolean
                      description: Whether to play incoming call sound in Zoom clients.
                      example: true
                    ring_tone:
                      type: string
                      description: Incoming call sound in Zoom clients.
                      example: ringtone_1
                      default: ringtone_1
                      enum:
                      - ringtone_1
                      - ringtone_2
                      - ringtone_3
                    duration:
                      type: integer
                      description: Duration (in seconds) between ring tones.
                      example: 0
                      default: 0
                      enum:
                      - 0
                      - 1
                      - 3
                      - 5
                  description: This field is not available when `enable=false`
                directed_call_pickup:
                  type: boolean
                  description: Whether the ringtone is on.
                  example: false
      responses:
        '204':
          description: '**HTTP Status Code:** `204` **No Content**

            Group details updated successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\nValidation Failed.<br>\nExtension number error.<br>\nDisplay name must be in the range of 3 to 200.<br>\nDescription is too long.<br>\nDelay must be in the range of 0 to 15.<br>\nDuration must be in the range of 0 to 5.<br>\n\n**Error Code:** `404` <br>\nGroup call pickup does not exist.<br>\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:call_pickup_group:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:call_pickup_group:admin
  /phone/group_call_pickup/{groupId}/members:
    get:
      tags:
      - Group Call Pickup
      summary: List call pickup group members
      description: "Use this API to retrieve members of a [call pickup group](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) in an account.\n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:call_pickup_group_member:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`"
      operationId: listGCPMembers
      parameters:
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          example: NLFzgdWFTG2origU8sAT6w
      - name: site_id
        in: query
        description: Unique identifier of the site.
        required: false
        schema:
          type: string
          example: NjHmTu16Qfe8yOiNJuekXA
      - name: extension_type
        in: query
        description: Type of the assignee.
        required: false
        schema:
          type: string
          example: user
          enum:
          - user
          - commonArea
      responses:
        '200':
          description: "**HTTP Status Code:** `200`  \n \nMembers listed successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  group_call_pickup_member:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: ID of the user to whom the group belongs.
                          example: F1r_jMw4SGGljLqKdcMsvw
                        display_name:
                          type: string
                          description: Name of the user.
                          example: testGCPUser
                        extension_id:
                          type: string
                          description: Extension ID.
                          example: qLZ4vr_jMw4SFUGQmJI
                        extension_type:
                          type: string
                          description: Type of the assignee.
                          example: user
                          enum:
                          - user
                          - commonArea
                        extension_number:
                          type: integer
                          description: Zoom Phone extension number.
                          format: int64
                          example: 10001
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: fefeLbe42
                  page_size:
                    type: integer
                    description: The number of records returned within a single API call for each page.
                    example: 30
                  total_records:
                    type: integer
                    description: The total number of records returned.
                    example: 1
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:call_pickup_group_member:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:call_pickup_group_member:admin
    post:
      tags:
      - Group Call Pickup
      summary: Add members to a call pickup group
      description: "Use this API to add members to the specified [Group Call Pickup](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) object. \n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:call_pickup_group_member:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: addGCPMembers
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          example: SQv52YtkRLC2dwrDdYtGsA
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                member_extension_ids:
                  maximum: 100
                  type: array
                  items:
                    type: string
                    description: Extension ID of user/common areas.
                    example: SQv52YtkRLC2dwrDdYtGsA
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \nMembers added successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `300` <br>\n\n\n**Error Code:** `404` <br>\nGroup call pickup does not exist.<br>\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:call_pickup_group_member:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:call_pickup_group_member:admin
  /phone/group_call_pickup/{groupId}/members/{extensionId}:
    delete:
      tags:
      - Group Call Pickup
      summary: Remove members from call pickup group
      description: "Use this API to remove member from the [Group Call Pickup](https://support.zoom.us/hc/en-us/articles/360060107472-Setting-up-and-using-group-call-pickup) object. \n\n**Prerequisites:** \n* A Pro or higher account plan \n* A Zoom Phone license\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:call_pickup_group_member:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`"
      operationId: removeGCPMembers
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          example: pl1XprjhTQK1CCMVKTqCFA
      - name: extensionId
        in: path
        required: true
        schema:
          type: string
          example: lA68sMSVQ6GAUcGg_GH0nQ
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \nMembers removed successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `404` <br>\nGroup call pickup does not exist.<br>\nMember does not exist.<br>\n\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:call_pickup_group_member:admin
        openapi_authorization: []
      x-extensions:
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:call_pickup_group_member:admin
components:
  securitySchemes:
    openapi_authorization:
      type: apiKey
      name: Authorization
      in: header
    openapi_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /
          tokenUrl: ''
          refreshUrl: ''
          scopes:
            phone:read:admin: phone:read:admin
            phone:read:list_account_settings:admin: phone:read:list_account_settings:admin
            phone:write:admin: phone:write:admin
            phone:write:customized_number:admin: phone:write:customized_number:admin
            phone:read:list_customized_number:admin: phone:read:list_customized_number:admin
            phone:delete:customized_number:admin: phone:delete:customized_number:admin
            phone:write:alert_setting:admin: phone:write:alert_setting:admin
            phone:read:list_alert_settings:admin: phone:read:list_alert_settings:admin
            phone:read:alert_setting:admin: phone:read:alert_setting:admin
            phone:patch:alert_setting:admin: phone:patch:alert_setting:admin
            phone:delete:alert_setting:admin: phone:delete:alert_setting:admin
            phone:read: phone:read
            phone:read:audio: phone:read:audio
            phone:read:audio:admin: phone:read:audio:admin
            phone:write: phone:write
            phone:delete:audio: phone:delete:audio
            phone:delete:audio:admin: phone:delete:audio:admin
            phone:update:audio: phone:update:audio
            phone:update:audio:admin: phone:update:audio:admin
            phone:read:list_audios: phone:read:list_audios
            phone:read:list_audios:admin: phone:read:list_audios:admin
            phone:write:audio: phone:write:audio
            phone:write:audio:admin: phone:write:audio:admin
            phone:write:batch_audios: phone:write:batch_audios
            phone:write:batch_audios:admin: phone:write:batch_audios:admin
            phone:read:list_auto_receptionists:admin: phone:read:list_auto_receptionists:admin
            phone:write:auto_receptionist:admin: phone:write:auto_receptionist:admin
            phone:delete:auto_receptionist:admin: phone:delete:auto_receptionist:admin
            phone:update:auto_receptionist:admin: phone:update:auto_receptionist:admin
            phone:read:auto_receptionist:admin: phone:read:auto_receptionist:admin
            phone:read:auto_receptionist_call_handling_setting:admin: phone:read:auto_receptionist_call_handling_setting:admin
            phone:update:auto_receptionist_call_handling_setting:admin: phone:update:auto_receptionist_call_handling_setting:admin
            phone:delete:auto_receptionist_number:admin: phone:delete:auto_receptionist_number:admin
            phone:write:auto_receptionist_number:admin: phone:write:auto_receptionist_number:admin
            phone:update:auto_receptionist_policy:admin: phone:update:auto_receptionist_policy:admin
            phone:read:auto_receptionist_policy:admin: phone:read:auto_receptionist_policy:admin
            phone:delete:auto_receptionist_policy:admin: phone:delete:auto_receptionist_policy:admin
            phone:write:auto_receptionist_policy:admin: phone:write:auto_receptionist_policy:admin
            phone:read:auto_receptionist_setting:admin: phone:read:auto_receptionist_setting:admin
            phone:write:auto_receptionist_setting:admin: phone:write:auto_receptionist_setting:admin
            phone:update:auto_receptionist_setting:admin: phone:update:auto_receptionist_setting:admin
            phone:delete:auto_receptionist_setting:admin: phone:delete:auto_receptionist_setting:admin
            phone:read:list_billing_accounts:admin: phone:read:list_billing_accounts:admin
            phone:read:billing_account:admin: phone:read:billing_account:admin
            phone:write:blocked_list:admin: phone:write:blocked_list:admin
            phone:read:list_blocked_lists:admin: phone:read:list_blocked_lists:admin
            phone:delete:blocked_list:admin: phone:delete:blocked_list:admin
            phone:read:blocked_list:admin: phone:read:blocked_list:admin
            phone:update:blocked_list:admin: phone:update:blocked_list:admin
            phone:read:list_call_handling_settings:admin: phone:read:list_call_handling_settings:admin
            phone:update:call_handling_setting:admin: phone:update:call_handling_setting:admin
            phone:delete:call_handling_setting:admin: phone:delete:call_handling_setting:admin
            phone:write:call_handling_setting:admin: phone:write:call_handling_setting:admin
            phone_call_log:read: phone_call_log:read
            phone_call_log:read:admin: phone_call_log:read:admin
            phone:read:call_log:admin: phone:read:call_log:admin
            phone:read:list_call_logs:admin: phone:read:list_call_logs:admin
            phone:update:call_log:admin: phone:update:call_log:admin
            phone:read:ai_call_summary: phone:read:ai_call_summary
            phone:read:ai_call_summary:admin: phone:read:ai_call_summary:admin
            phone:read:list_call_logs: phone:read:list_call_logs
            phone_call_log:write: phone_call_log:write
            phone_call_log:write:admin: phone_call_log:write:admin
            phone:delete:call_log: phone:delete:call_log
            phone:delete:call_log:admin: phone:delete:call_log:admin
            phone:read:list_call_queues:admin: phone:read:list_call_queues:admin
            phone:write:call_queue:admin: phone:write:call_queue:admin
            phone:delete:call_queue:admin: phone:delete:call_queue:admin
            phone:update:call_queue:admin: phone:update:call_queue:admin
            phone:read:call_queue:admin: phone:read:call_queue:admin
            phone:read:call_queue_call_handling_setting:admin: phone:read:call_queue_call_handling_setting:admin
            phone:update:call_queue_call_handling_setting:admin: phone:update:call_queue_call_handling_setting:admin
            phone:read:call_queue_custom_group:admin: phone:read:call_queue_custom_group:admin
            phone:write:call_queue_custom_group:admin: phone:write:call_queue_custom_group:admin
            phone:update:call_queue_custom_group:admin: phone:update:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:admin: phone:delete:call_queue_custom_group:admin
            phone:delete:call_queue_custom_group:master: phone:delete:call_queue_custom_group:master
            phone:master: phone:master
            phone:read:call_queue_custom_group:master: phone:read:call_queue_custom_group:master
            phone:write:call_queue_custom_group_member:admin: phone:write:call_queue_custom_group_member:admin
            phone:delete:call_queue_custom_group_member:admin: phone:delete:call_queue_custom_group_member:admin
            phone:write:call_queue_member:admin: phone:write:call_queue_member:admin
            phone:delete:call_queue_member:admin: phone:delete:call_queue_member:admin
            phone:read:list_call_queue_members:admin: phone:read:list_call_queue_members:admin
            phone:write:call_queue_number:admin: phone:write:call_queue_number:admin
            phone:delete:call_queue_number:admin: phone:delete:call_queue_number:admin
            phone:read:call_queue_policy:admin: phone:read:call_queue_policy:admin
            phone:update:call_queue_policy:admin: phone:update:call_queue_policy:admin
            phone:write:call_queue_policy:admin: phone:write:call_queue_policy:admin
            phone:delete:call_queue_policy:admin: phone:delete:call_queue_policy:admin
            phone:read:list_call_queue_recordings:admin: phone:read:list_call_queue_recordings:admin
            phone:read:call_queue_setting:admin: phone:read:call_queue_setting:admin
            phone:write:call_queue_setting:admin: phone:write:call_queue_setting:admin
            phone:delete:call_queue_setting:admin: phone:delete:call_queue_setting:admin
            phone:update:call_queue_setting:admin: phone:update:call_queue_setting:admin
            phone:update:carrier_number:admin: phone:update:carrier_number:admin
            phone:write:carrier_number:admin: phone:write:carrier_number:admin
            phone:read:list_carrier_numbers:admin: phone:read:list_carrier_numbers:admin
            phone:delete:carrier_number:admin: phone:delete:carrier_number:admin
            phone:write:common_area:admin: phone:write:common_area:admin
            phone:read:common_area:admin: phone:read:common_area:admin
            phone:read:list_common_area_activation_codes:admin: phone:read:list_common_area_activation_codes:admin
            phone:write:apply_template_to_common_areas:admin: phone:write:apply_template_to_common_areas:admin
            phone:delete:common_area:admin: phone:delete:common_area:admin
            phone:update:common_area:admin: phone:update:common_area:admin
            phone:read:common_area_call_handling_setting:admin: phone:read:common_area_call_handling_setting:admin
            phone:update:common_area_call_handling_setting:admin: phone:update:common_area_call_handling_setting:admin
            phone:write:common_area_calling_plan:admin: phone:write:common_area_calling_plan:admin
            phone:delete:common_area_calling_plan:admin: phone:delete:common_area_calling_plan:admin
            phone:write:common_area_number:admin: phone:write:common_area_number:admin
            phone:delete:common_area_number:admin: phone:delete:common_area_number:admin
            phone:read:list_common_area_settings:admin: phone:read:list_common_area_settings:admin
            phone:update:common_area_setting:admin: phone:update:common_area_setting:admin
            phone:delete:common_area_setting:admin: phone:delete:common_area_setting:admin
            phone:write:common_area_setting:admin: phone:write:common_area_setting:admin
            phone:read:call_qos:admin: phone:read:call_qos:admin
            phone:read:default_emergency_address:admin: phone:read:default_emergency_address:admin
            phone:read:detectable_personal_location:admin: phone:read:detectable_personal_location:admin
            phone:read:location_sharing_permission:admin: phone:read:location_sharing_permission:admin
            phone:read:nomadic_emergency_services:admin: phone:read:nomadic_emergency_services:admin
            phone:read:realtime_location_devices:admin: phone:read:realtime_location_devices:admin
            phone:read:realtime_location_users:admin: phone:read:realtime_location_users:admin
            phone:read:list_tracked_locations:admin: phone:read:list_tracked_locations:admin
            phone:update:device_line_keys: phone:update:device_line_keys
            phone:update:device_line_keys:admin: phone:update:device_line_keys:admin
            phone:read:device_line_keys: phone:read:device_line_keys
            phone:read:device_line_keys:admin: phone:read:device_line_keys:admin
            phone:delete:directory:admin: phone:delete:directory:admin
            phone:read:directory:admin: phone:read:directory:admin
            phone:write:directory:admin: phone:write:directory:admin
            phone:write:emergency_address:admin: phone:write:emergency_address:admin
            phone:read:list_emergency_addresses:admin: phone:read:list_emergency_addresses:admin
            phone:read:emergency_address:admin: phone:read:emergency_address:admin
            phone:delete:emergency_address:admin: phone:delete:emergency_address:admin
            phone:update:emergency_address:admin: phone:update:emergency_address:admin
            phone:write:batch_emergency_locations:admin: phone:write:batch_emergency_locations:admin
            phone:read:list_emergency_locations:admin: phone:read:list_emergency_locations:admin
            phone:write:emergency_location:admin: phone:write:emergency_location:admin
            phone:read:emergency_location:admin: phone:read:emergency_location:admin
            phone:update:emergency_location:admin: phone:update:emergency_location:admin
            phone:delete:emergency_location:admin: phone:delete:emergency_location:admin
            phone:write:external_contact:admin: phone:write:external_contact:admin
            phone:read:list_external_contacts:admin: phone:read:list_external_contacts:admin
            phone:delete:external_contact:admin: phone:delete:external_contact:admin
            phone:read:external_contact:admin: phone:read:external_contact:admin
            phone:update:external_contact:admin: phone:update:external_contact:admin
            phone:write:send_fax: phone:write:send_fax
            phone:write:send_fax:admin: phone:write:send_fax:admin
            phone:read:list_fax_log: phone:read:list_fax_log
            phone:read:list_fax_log:admin: phone:read:list_fax_log:admin
            phone:read:fax_log:admin: phone:read:fax_log:admin
            phone:read:fax_log: phone:read:fax_log
            phone:delete:fax_log: phone:delete:fax_log
            phone:delete:fax_log:admin: phone:delete:fax_log:admin
            phone:read:list_firmware_update_rules:admin: phone:read:list_firmware_update_rules:admin
            phone:write:firmware_update_rule:admin: phone:write:firmware_update_rule:admin
            phone:delete:firmware_update_rule:admin: phone:delete:firmware_update_rule:admin
            phone:update:firmware_update_rule:admin: phone:update:firmware_update_rule:admin
            phone:read:firmware_update_rule:admin: phone:read:firmware_update_rule:admin
            phone:read:list_firmwares:admin: phone:read:list_firmwares:admin
            phone:read:list_call_pickup_groups:admin: phone:read:list_call_pickup_groups:admin
            phone:write:call_pickup_group:admin: phone:write:call_pickup_group:admin
            phone:read:call_pickup_group:admin: phone:read:call_pickup_group:admin
            phone:update:call_pickup_group:admin: phone:update:call_pickup_group:admin
            phone:delete:call_pickup_group:admin: phone:delete:call_pickup_group:admin
            phone:write:call_pickup_group_member:admin: phone:write:call_pickup_group_member:admin
            phone:read:call_pickup_group_member:admin: phone:read:call_pickup_group_member:admin
            phone:delete:call_pickup_group_member:admin: phone:delete:call_pickup_group_member:admin
            phone:update:group_policy:admin: phone:update:group_policy:admin
            phone:read:group_policy:admin: phone:read:group_policy:admin
            phone:read:group_setting:admin: phone:read:group_setting:admin
            phone:read:auto_receptionist_ivr:admin: phone:read:auto_receptionist_ivr:admin
            phone:update:auto_receptionist_ivr:admin: phone:update:auto_receptionist_ivr:admin
            phone:read:list_extension_inbound_block_rules:admin: phone:read:list_extension_inbound_block_rules:admin
            phone:read:list_extension_inbound_block_rules: phone:read:list_extension_inbound_block_rules
            phone:delete:extension_inbound_block_rule:admin: phone:delete:extension_inbound_block_rule:admin
            phone:delete:extension_inbound_block_rule: phone:delete:extension_inbound_block_rule
            phone:write:extension_inbound_block_rule:admin: phone:write:extension_inbound_block_rule:admin
            phone:write:extension_inbound_block_rule: phone:write:extension_inbound_block_rule
            phone:delete:extension_inbound_block_rule_stat:admin: phone:delete:extension_inbound_block_rule_stat:admin
            phone:read:list_extension_inbound_block_rules_stat:admin: phone:read:list_extension_inbound_block_rules_stat:admin
            phone:update:inbound_blocked_for_all:admin: phone:update:inbound_blocked_for_all:admin
            phone:delete:inbound_block_rule:admin: phone:delete:inbound_block_rule:admin
            phone:read:list_inbound_block_rules:admin: phone:read:list_inbound_block_rules:admin
            phone:write:inbound_block_rule:admin: phone:write:inbound_block_rule:admin
            phone:update:inbound_block_rule:admin: phone:update:inbound_block_rule:admin
            phone:update:line_keys: phone:update:line_keys
            phone:update:line_keys:admin: phone:update:line_keys:admin
            phone:read:line_keys: phone:read:line_keys
            phone:read:line_keys:admin: phone:read:line_keys:admin
            phone:delete:line_keys: phone:delete:line_keys
            phone:delete:line_keys:admin: phone:delete:line_keys:admin
            phone:read:list_monitoring_groups:admin: phone:read:list_monitoring_groups:admin
            phone:write:monitoring_group:admin: phone:write:monitoring_group:admin
            phone:delete:monitoring_group:admin: phone:delete:monitoring_group:admin
            phone:update:monitoring_group:admin: phone:update:monitoring_group:admin
            phone:read:monitoring_group:admin: phone:read:monitoring_group:admin
            phone:read:list_monitoring_group_members:admin: phone:read:list_monitoring_group_members:admin
            phone:write:monitoring_group_member:admin: phone:write:monitoring_group_member:admin
            phone:delete:monitoring_group_member:admin: phone:delete:monitoring_group_member:admin
            phone:read:common_area_outbound_calling_rule:admin: phone:read:common_area_outbound_calling_rule:admin
            phone:update:common_area_outbound_calling_rule:admin: phone:update:common_area_outbound_calling_rule:admin
            phone:write:common_area_outbound_calling_rule:admin: phone:write:common_area_outbound_calling_rule:admin
            phone:delete:common_area_outbound_calling_rule:admin: phone:delete:common_area_outbound_calling_rule:admin
            phone:read:list_outbound_calling_rules:admin: phone:read:list_outbound_calling_rules:admin
            phone:update:outbound_calling_rule:admin: phone:update:outbound_calling_rule:admin
            phone:write:outbound_calling_rule:admin: phone:write:outbound_calling_rule:admin
            phone:delete:outbound_calling_rule:admin: phone:delete:outbound_calling_rule:admin
            phone:update:site_outbound_calling_rule:admin: phone:update:site_outbound_calling_rule:admin
            phone:read:site_outbound_calling_rule:admin: phone:read:site_outbound_calling_rule:admin
            phone:write:site_outbound_calling_rule:admin: phone:write:site_outbound_calling_rule:admin
            phone:delete:site_outbound_calling_rule:admin: phone:delete:site_outbound_calling_rule:admin
            phone:update:user_outbound_calling_rule:admin: phone:update:user_outbound_calling_rule:admin
            phone:read:user_outbound_calling_rule:admin: phone:read:user_outbound_calling_rule:admin
            phone:write:user_outbound_calling_rule:admin: phone:write:user_outbound_calling_rule:admin
            phone:delete:user_outbound_calling_rule:admin: phone:delete:user_outbound_calling_rule:admin
            phone:read:list_devices:admin: phone:read:list_devices:admin
            phone:write:device:admin: phone:write:device:admin
            phone:write:sync_device:admin: phone:write:sync_device:admin
            phone:update:device:admin: phone:update:device:admin
            phone:delete:device:admin: phone:delete:device:admin
            phone:read:device:admin: phone:read:device:admin
            phone:write:device_extension:admin: phone:write:device_extension:admin
            phone:delete:device_extension:admin: phone:delete:device_extension:admin
            phone:update:device_provision_template:admin: phone:update:device_provision_template:admin
            phone:write:reboot_device:admin: phone:write:reboot_device:admin
            phone:write:byo_carrier_number:admin: phone:write:byo_carrier_number:admin
            phone:delete:number:admin: phone:delete:number:admin
            phone:read:list_numbers:admin: phone:read:list_numbers:admin
            phone:update:site_number:admin: phone:update:site_number:admin
            phone:read:numbers:admin: phone:read:numbers:admin
            phone:update:number:admin: phone:update:number:admin
            phone:write:user_number: phone:write:user_number
            phone:write:user_number:admin: phone:write:user_number:admin
            phone:delete:user_number: phone:delete:user_number
            phone:delete:user_number:admin: phone:delete:user_number:admin
            phone:read:list_calling_plans:admin: phone:read:list_calling_plans:admin
            phone:read:list_roles:admin: phone:read:list_roles:admin
            phone:write:role:admin: phone:write:role:admin
            phone:update:role:admin: phone:update:role:admin
            phone:read:role:admin: phone:read:role:admin
            phone:delete:role:admin: phone:delete:role:admin
            phone:read:role_member:admin: phone:read:role_member:admin
            phone:write:role_member:admin: phone:write:role_member:admin
            phone:delete:role_member:admin: phone:delete:role_member:admin
            phone:write:private_directory_member:admin: phone:write:private_directory_member:admin
            phone:read:list_private_directory_members:admin: phone:read:list_private_directory_members:admin
            phone:update:private_directory_member:admin: phone:update:private_directory_member:admin
            phone:delete:private_directory_member:admin: phone:delete:private_directory_member:admin
            phone_peering:read:admin: phone_peering:read:admin
            phone:read:list_peering_numbers:admin: phone:read:list_peering_numbers:admin
            phone_peering:write:admin: phone_peering:write:admin
            phone:write:peering_number:admin: phone:write:peering_number:admin
            phone:delete:peering_number:admin: phone:delete:peering_number:admin
            phone:update:peering_number:admin: phone:update:peering_number:admin
            phone:write:provision_template:admin: phone:write:provision_template:admin
            phone:read:list_provision_templates:admin: phone:read:list_provision_templates:admin
            phone:update:provision_template:admin: phone:update:provision_template:admin
            phone:read:provision_template:admin: phone:read:provision_template:admin
            phone:delete:provision_template:admin: phone:delete:provision_template:admin
            phone_recording:read: phone_recording:read
            phone_recording:read:admin: phone_recording:read:admin
            phone:read:call_recording: phone:read:call_recording
            phone:read:call_recording:admin: phone:read:call_recording:admin
            phone:read:recording_transcript: phone:read:recording_transcript
            phone:read:recording_transcript:admin: phone:read:recording_transcript:admin
            phone:read:list_call_recordings:admin: phone:read:list_call_recordings:admin
            phone_recording:write: phone_recording:write
            phone_recording:write:admin: phone_recording:write:admin
            phone:update:call_recording: phone:update:call_recording
            phone:update:call_recording:admin: phone:update:call_recording:admin
            phone:delete:call_recording: phone:delete:call_recording
            phone:delete:call_recording:admin: phone:delete:call_recording:admin
            phone:read:list_recordings: phone:read:list_recordings
            phone:read:list_recordings:admin: phone:read:list_recordings:admin
            phone:read:call_charges:admin: phone:read:call_charges:admin
            phone:read:fax_charges:admin: phone:read:fax_charges:admin
            phone:read:operation_logs:admin: phone:read:operation_logs:admin
            phone:read:sms_charges:admin: phone:read:sms_charges:admin
            phone:read:list_routing_rules:admin: phone:read:list_routing_rules:admin
            phone:write:routing_rule:admin: phone:write:routing_rule:admin
            phone:update:routing_rule:admin: phone:update:routing_rule:admin
            phone:read:routing_rule:admin: phone:read:routing_rule:admin
            phone:delete:routing_rule:admin: phone:delete:routing_rule:admin
            phone_sms:write: phone_sms:write
            phone_sms:write:admin: phone_sms:write:admin
            phone:read:sms_message: phone:read:sms_message
            phone:read:sms_message:admin: phone:read:sms_message:admin
            phone_sms:read: phone_sms:read
            phone_sms:read:admin: phone_sms:read:admin
            phone:read:list_sms_sessions: phone:read:list_sms_sessions
            phone:read:list_sms_sessions:admin: phone:read:list_sms_sessions:admin
            phone:read:sms_session: phone:read:sms_session
            phone:read:sms_session:admin: phone:read:sms_session:admin
            phone:read:list_sms_campaigns:admin: phone:read:list_sms_campaigns:admin
            phone:read:sms_campaign:admin: phone:read:sms_campaign:admin
            phone:write:sms_campaign_number:admin: phone:write:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status:admin: phone:read:sms_campaign_number_opt_status:admin
            phone:update:sms_campaign_number_opt_status:admin: phone:update:sms_campaign_number_opt_status:admin
            phone:delete:sms_campaign_number:admin: phone:delete:sms_campaign_number:admin
            phone:read:sms_campaign_number_opt_status: phone:read:sms_campaign_number_opt_status
            phone:read:sms_consent_number_opt_status:admin: phone:read:sms_consent_number_opt_status:admin
            phone:write:setting_template:admin: phone:write:setting_template:admin
            phone:read:list_setting_templates:admin: phone:read:list_setting_templates:admin
            phone:update:setting_template:admin: phone:update:setting_template:admin
            phone:read:setting_template:admin: phone:read:setting_template:admin
            phone:update:policy:admin: phone:update:policy:admin
            phone:read:policy:admin: phone:read:policy:admin
            phone:read:list_ported_numbers:admin: phone:read:list_ported_numbers:admin
            phone:read:ported_number:admin: phone:read:ported_number:admin
            phone:update:settings:admin: phone:update:settings:admin
            phone:read:settings:admin: phone:read:settings:admin
            phone:read:list_sip_groups:admin: phone:read:list_sip_groups:admin
            phone:read:list_sip_trunks:admin: phone:read:list_sip_trunks:admin
            phone:read:list_shared_line_appearances:admin: phone:read:list_shared_line_appearances:admin
            phone:read:list_shared_line_groups:admin: phone:read:list_shared_line_groups:admin
            phone:write:shared_line_group:admin: phone:write:shared_line_group:admin
            phone:read:shared_line_group:admin: phone:read:shared_line_group:admin
            phone:read:shared_line_group_call_handling_setting:admin: phone:read:shared_line_group_call_handling_setting:admin
            phone:update:shared_line_group_call_handling_setting:admin: phone:update:shared_line_group_call_handling_setting:admin
            phone:read:shared_line_group_policy:admin: phone:read:shared_line_group_policy:admin
            phone:update:shared_line_group_policy:admin: phone:update:shared_line_group_policy:admin
            phone:read:shared_line_group_setting:admin: phone:read:shared_line_group_setting:admin
            phone:update:shared_line_group_setting:admin: phone:update:shared_line_group_setting:admin
            phone:delete:shared_line_group_setting:admin: phone:delete:shared_line_group_setting:admin
            phone:write:shared_line_group_setting:admin: phone:write:shared_line_group_setting:admin
            phone:update:shared_line_group:admin: phone:update:shared_line_group:admin
            phone:delete:shared_line_group:admin: phone:delete:shared_line_group:admin
            phone:delete:shared_line_member:admin: phone:delete:shared_line_member:admin
            phone:write:shared_line_member:admin: phone:write:shared_line_member:admin
            phone:delete:shared_line_group_number:admin: phone:delete:shared_line_group_number:admin
            phone:write:shared_line_group_number:admin: phone:write:shared_line_group_number:admin
            phone:delete:shared_line_group_policy:admin: phone:delete:shared_line_group_policy:admin
            phone:write:shared_line_group_policy:admin: phone:write:shared_line_group_policy:admin
            phone:read:list_sites:admin: phone:read:list_sites:admin
            phone:write:site:admin: phone:write:site:admin
            phone:read:site:admin: phone:read:site:admin
            phone:delete:site:admin: phone:delete:site:admin
            phone:update:site:admin: phone:update:site:admin
            phone:read:list_site_customized_number:admin: phone:read:list_site_customized_number:admin
            phone:delete:site_customized_number:admin: phone:delete:site_customized_number:admin
            phone:write:site_customized_number:admin: phone:write:site_customized_number:admin
            phone:read:site_setting:admin: phone:read:site_setting:admin
            phone:write:site_setting:admin: phone:write:site_setting:admin
            phone:delete:site_setting:admin: phone:delete:site_setting:admin
            phone:update:site_setting:admin: phone:update:site_setting:admin
            phone:read:list_users:admin: phone:read:list_users:admin
            phone:write:batch_users:admin: phone:write:batch_users:admin
            phone:update:batch_users:admin: phone:update:batch_users:admin
            phone:read:user: phone:read:user
            phone:read:user:admin: phone:read:user:admin
            phone:update:user: phone:update:user
            phone:update:user:admin: phone:update:user:admin
            phone:delete:user_call_handling_setting: phone:delete:user_call_handling_setting
            phone:delete:user_call_handling_setting:admin: phone:delete:user_call_handling_setting:admin
            phone:write:user_call_handling_setting: phone:write:user_call_handling_setting
            phone:write:user_call_handling_setting:admin: phone:write:user_call_handling_setting:admin
            phone:read:user_call_handling_setting:admin: phone:read:user_call_handling_setting:admin
            phone:read:user_call_handling_setting: phone:read:user_call_handling_setting
            phone:update:user_call_handling_setting:admin: phone:update:user_call_handling_setting:admin
            phone:update:user_call_handling_setting: phone:update:user_call_handling_setting
            phone:write:calling_plan: phone:write:calling_plan
            phone:write:calling_plan:admin: phone:write:calling_plan:admin
            phone:update:calling_plan: phone:update:calling_plan
            phone:update:calling_plan:admin: phone:update:calling_plan:admin
            phone:delete:users_calling_plan: phone:delete:users_calling_plan
            phone:delete:users_calling_plan:admin: phone:delete:users_calling_plan:admin
            phone:read:list_user_customized_number: phone:read:list_user_customized_number
            phone:read:list_user_customized_number:admin: phone:read:list_user_customized_number:admin
            phone:write:user_customized_number: phone:write:user_customized_number
            phone:write:user_customized_number:admin: phone:write:user_customized_number:admin
            phone:delete:user_customized_number: phone:delete:user_customized_number
            phone:delete:user_customized_number:admin: phone:delete:user_customized_number:admin
            phone:update:user_policy:admin: phone:update:user_policy:admin
            phone:read:user_policy:admin: phone:read:user_policy:admin
            phone:delete:user_setting: phone:delete:user_setting
            phone:delete:user_setting:admin: phone:delete:user_setting:admin
            phone:write:user_setting:admin: phone:write:user_setting:admin
            phone:write:user_setting: phone:write:user_setting
            phone:read:user_setting:admin: phone:read:user_setting:admin
            phone:read:user_setting: phone:read:user_setting
            phone:update:user_setting: phone:update:user_setting
            phone:update:user_setting:admin: phone:update:user_setting:admin
            phone:update:shared_setting: phone:update:shared_setting
            phone:update:shared_setting:admin: phone:update:shared_setting:admin
            phone:write:shared_setting: phone:write:shared_setting
            phone:write:shared_setting:admin: phone:write:shared_setting:admin
            phone:delete:shared_setting: phone:delete:shared_setting
            phone:delete:shared_setting:admin: phone:delete:shared_setting:admin
            phone_voicemail:read: phone_voicemail:read
            phone_voicemail:read:admin: phone_voicemail:read:admin
            phone:read:voicemail: phone:read:voicemail
            phone:read:voicemail:admin: phone:read:voicemail:admin
            phone:read:list_voicemails: phone:read:list_voicemails
            phone:read:list_voicemails:admin: phone:read:list_voicemails:admin
            phone_voicemail:write: phone_voicemail:write
            phone_voicemail:write:admin: phone_voicemail:write:admin
            phone:update:voicemail: phone:update:voicemail
            phone:update:voicemail:admin: phone:update:voicemail:admin
            phone:delete:voicemail: phone:delete:voicemail
            phone:delete:voicemail:admin: phone:delete:voicemail:admin
            phone:read:list_rooms:admin: phone:read:list_rooms:admin
            phone:write:room:admin: phone:write:room:admin
            phone:read:room:admin: phone:read:room:admin
            phone:delete:room:admin: phone:delete:room:admin
            phone:update:room:admin: phone:update:room:admin
            phone:write:room_calling_plan:admin: phone:write:room_calling_plan:admin
            phone:delete:room_calling_plan:admin: phone:delete:room_calling_plan:admin
            phone:write:room_phone_number:admin: phone:write:room_phone_number:admin
            phone:delete:room_phone_number:admin: phone:delete:room_phone_number:admin
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
