openapi: 3.2.0
info:
  title: Phone Sites API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Sites
paths:
  /phone/sites:
    get:
      tags:
      - Sites
      summary: List phone sites
      description: "Sites allow you to organize Zoom Phone users in your organization. Use this API to list all the [sites](https://support.zoom.us/hc/en-us/articles/360020809672) that have been created for an account.  \n \n**Prerequisites:**  \n \n* Multiple Sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15).\n* Pro or a higher account with Zoom Phone enabled.\n\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_sites:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: listPhoneSites
      parameters:
      - name: page_size
        in: query
        description: The number of records returned within a single API call.
        required: false
        schema:
          maximum: 300
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: site_name
        in: query
        description: The name of the site you want to search.
        required: false
        schema:
          type: string
          example: Main Site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: nav48KOj42vYPSG4f0cCdT575bZ980did22
                  page_size:
                    type: integer
                    description: The number of records returned within a single API call.
                    example: 10
                  sites:
                    type: array
                    description: List of site(s).
                    items:
                      type: object
                      properties:
                        country:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The two lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                              example: US
                            name:
                              type: string
                              description: The name of the country.
                              example: United States
                          description: The country of the site.
                        id:
                          type: string
                          description: The site ID is the unique identifier of the site.
                          example: SQv52YtkRLC2dwrDdYtGsA
                        main_auto_receptionist:
                          type: object
                          properties:
                            extension_id:
                              type: string
                              description: The extension ID
                              example: pl1XprjhTQK1CCMVKTqCFA
                            extension_number:
                              type: integer
                              description: The extension number
                              format: int64
                              example: 12345
                            id:
                              type: string
                              description: The identifier of the [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-).
                              example: Kbdc9lv_SBCuPMjj_lhxVA
                            name:
                              type: string
                              description: The name of the auto receptionist.
                              example: ApiTA_R_2020_07_12_00_41_57_145
                          description: The auto receptionist for each site.
                        name:
                          type: string
                          description: The name of the site.
                          example: ApiTA_Site_2020_07_12_00_41_57_141
                        site_code:
                          type: integer
                          description: The site code
                          example: 1
                  total_records:
                    type: integer
                    description: The total number of records returned.
                    example: 20
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_sites:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_sites:admin
    post:
      tags:
      - Sites
      summary: Create a phone site
      description: "Creates a [site](https://support.zoom.us/hc/en-us/articles/360020809672) that allows you to organize the Zoom Phone users in your organization.\n\n**Prerequisites:**\n* Multiple sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15). \n* Pro or a higher account with Zoom Phone enabled.\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:site:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: createPhoneSite
      requestBody:
        content:
          application/json:
            schema:
              required:
              - auto_receptionist_name
              - default_emergency_address
              - name
              type: object
              properties:
                auto_receptionist_name:
                  type: string
                  description: The display name of the [auto-receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Integrated-Voice-Response-IVR-) for the site.
                  example: ApiTA_R_2020_07_12_00_41_57_145
                source_auto_receptionist_id:
                  type: string
                  description: The ID of the [auto-receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Integrated-Voice-Response-IVR-) that you can copy.
                  example: 0m0dGevHR2ulyMgxFLeVEA
                default_emergency_address:
                  required:
                  - address_line1
                  - city
                  - country
                  - state_code
                  - zip
                  type: object
                  properties:
                    address_line1:
                      type: string
                      description: The address Line 1 of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address) that contains the house number and street name.
                      example: 55 Almaden Boulevard
                    address_line2:
                      type: string
                      description: The address Line 2 of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address) that contains the building number, floor number, unit, and others.
                      example: 8 Floor
                    city:
                      type: string
                      description: The city of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                      example: SAN JOSE
                    country:
                      maxLength: 2
                      minLength: 2
                      type: string
                      description: The two-lettered country code (Alpha-2 code in ISO-3166 format) of the site's [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                      example: US
                    state_code:
                      type: string
                      description: The state code of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                      example: CA
                    zip:
                      type: string
                      description: The zip code of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                      example: '95113'
                  description: The default emergency address. If the address provided is not an exact match, it uses the system generated corrected address.
                name:
                  maxLength: 255
                  minLength: 1
                  type: string
                  description: The name of the site.
                  example: Main site
                short_extension:
                  type: object
                  properties:
                    length:
                      type: integer
                      description: 'The length of short extension numbers for the site.


                        Since there is a default 6-digit limit on extensions, the short extension can be two to five digits. The length of site code added to the length of short extension cannot exceed a value of `6` For example, the length of `site_code`+ length of `short_extension` should always be less than or equal to 6.'
                      example: 4
                      default: 3
                  description: The short extension of the phone site.
                site_code:
                  type: integer
                  description: 'The identifier for a site. This field is required when the site code is enabled.


                    '
                  example: 2
                sip_zone:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The SIP zone ID.
                      example: 2J9UXzGuTaqCdZ8sw_0jBw
                  description: If the account enabled the `Display Custom SIP Zone Options on Web Portal` feature, then selecting a SIP zone nearest to your site might help reduce latency and improve call quality.
                force_off_net:
                  type: object
                  properties:
                    enable:
                      type: boolean
                      description: 'By enabling Force Off-Net, calls from users or extensions between sites route through the PSTN network. Users in this site are only allowed to be part of the advanced functionality (eg. Auto Receptionists, Call Queues) configured in this site. '
                      example: true
                    allow_extension_only_users_call_users_outside_site:
                      type: boolean
                      description: This setting allows extension only users to call to users outside the site.
                      example: true
                  description: 'It requires the account to enable the `Force Calls out to the PSTN network` feature. '
                india_state_code:
                  type: string
                  description: The India site’s state code. This field only applies to India based accounts.
                  example: CG
                india_city:
                  type: string
                  description: The India site’s city. This field only applies to India based accounts.
                  example: Bemetara
                india_sdca_npa:
                  type: string
                  description: The India site’s Short Distance Calling Area (sdca) Numbering Plan Area (npa). This field is linked to the “state_code“ field. This field only applies to India based accounts.
                  example: '7700'
                india_entity_name:
                  type: string
                  description: When select the Indian sip zone, then need to set the entity name. This field only applies to India based accounts.
                  example: india-test-entity
      responses:
        '201':
          description: '**HTTP Status Code:** `201` **Created**   Site created successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ' The site ID is the unique identifier of a site.'
                    example: SQv52YtkRLC2dwrDdYtGsA
                  name:
                    type: string
                    description: ' The name of the site.'
                    example: ApiTA_Site_2020_07_12_00_41_57_141
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Invalid site code length.<br>Country information is invalid.<br>This address could not be validated or geocoded. <br>\n**Error Code:** `400` <br>\n For India sites, state and city should not be empty. <br>\n**Error Code:** `400` <br>\n Short Distance Calling Area is invalid. <br>\n**Error Code:** `400` <br>\n India Entity Name is required. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:site:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:site:admin
  /phone/sites/{siteId}:
    get:
      tags:
      - Sites
      summary: Get phone site details
      description: "Returns information on a specific [site](https://support.zoom.us/hc/en-us/articles/360020809672). \n\nSites allow you to organize Zoom Phone users in your organization. \n\n**Prerequisites** \n* Account must have a Pro or a higher plan with Zoom Phone license.\n* Multiple sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15).\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:site:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: getASite
      parameters:
      - name: siteId
        in: path
        description: The unique identifier of the site.
        required: true
        schema:
          type: string
          example: SQv52YtkRLC2dwrDdYtGsA
      responses:
        '200':
          description: "**HTTP Status Code:** `200`  \n \nSite information retrieved successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  country:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The two lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                        example: US
                      name:
                        type: string
                        description: The name of the country.
                        example: United States
                    description: The country of the site.
                  id:
                    type: string
                    description: The site ID is the unique identifier of the site.
                    example: SQv52YtkRLC2dwrDdYtGsA
                  main_auto_receptionist:
                    type: object
                    properties:
                      extension_id:
                        type: string
                        description: The extension ID.
                        example: pl1XprjhTQK1CCMVKTqCFA
                      extension_number:
                        type: integer
                        description: The extension number.
                        format: int64
                        example: 12345
                      id:
                        type: string
                        description: The unique identifier of the auto receptionist.
                        example: Kbdc9lv_SBCuPMjj_lhxVA
                      name:
                        type: string
                        description: The name of the auto receptionist.
                        example: ApiTA_R_2020_07_12_00_41_57_145
                    description: ' The [main auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312#h_bc7ff1d5-0e6c-40cd-b889-62010cb98c57) for each site.'
                  name:
                    type: string
                    description: The name of the site.
                    example: ApiTA_Site_2020_07_12_00_41_57_141
                  short_extension:
                    type: object
                    properties:
                      length:
                        type: integer
                        description: The length of the short extension number for the site.
                        example: 3
                        default: 3
                    description: The short extension of the phone site.
                  site_code:
                    type: integer
                    description: The [site code](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_79ca9c8f-c97b-4486-aa59-d0d9d31a525b).
                    example: 321
                  policy:
                    type: object
                    properties:
                      select_outbound_caller_id:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the current extension to change the outbound caller ID when placing calls.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                          allow_hide_outbound_caller_id:
                            type: boolean
                            description: Whether to allow the current extension to hide outbound caller ID.
                            example: true
                        description: ' Whether to allow the current extension to change the outbound caller ID when placing calls.'
                      personal_audio_library:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field allows users to access, share, download, or delete voicemail or videomail.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                          allow_music_on_hold_customization:
                            type: boolean
                            description: Whether to allow music on hold customization.
                            example: true
                          allow_voicemail_and_message_greeting_customization:
                            type: boolean
                            description: Whether to allow voicemail and message greeting customization.
                            example: true
                        description: Allows users to change their own Audio Library.
                      voicemail:
                        type: object
                        properties:
                          allow_delete:
                            type: boolean
                            description: This setting allows users to delete their own voicemail. It displays only when using the new policy framework.
                            example: true
                          allow_download:
                            type: boolean
                            description: This setting allows users to download their own voicemail. It displays only when using the new policy framework.
                            example: false
                          allow_videomail:
                            type: boolean
                            description: This setting allows users to access, share, download or delete video mail
                            example: true
                          enable:
                            type: boolean
                            description: This setting allows users to access, receive, or share voicemail and video mail.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users to modify the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                        description: Allows users to access, share, download, and to delete voicemail and videomail
                      voicemail_transcription:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to access transcriptions of voicemails from the Zoom client, the Zoom web portal, and email notifications.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                        description: When this setting is enabled, voicemail and videomail transcriptions will be created and remain accessible even if the setting is later disabled. If the setting is disabled, new voicemail and videomail transcriptions will not be generated.
                      voicemail_notification_by_email:
                        type: object
                        properties:
                          include_voicemail_file:
                            type: boolean
                            description: Whether to include the voicemail file.
                            example: true
                          include_voicemail_transcription:
                            type: boolean
                            description: Whether to include the voicemail transcription.
                            example: false
                          forward_voicemail_to_email:
                            type: boolean
                            description: Whether to forward the voicemail to email.
                            example: true
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                        description: Once enabled, users receive email notifications when there is a new voicemail from users, call queues, auto receptionists, or shared line groups. Users who disabled the shared voicemail notification by email policy receive notifications. They display when the voicemail policy uses the new policy framework.
                      shared_voicemail_notification_by_email:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users to modify the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Once enabled, users will receive email notification when there is a new shared voicemail/videomail. If the extension that shares the voicemail or videomail has disabled the voicemail or videomail notification by email policy, users will not receive notifications. They only display when the voicemail policy uses the new policy framework.
                      international_calling:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users to modify the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                        description: Whether to allow extensions to place international calls outside of the calling plan.
                      zoom_phone_on_mobile:
                        type: object
                        properties:
                          allow_calling_clients:
                            type: array
                            description: The clients in this list are allowed to make and receive calls.
                            items:
                              type: string
                              description: "The acceptable value is \nios\nandroid\nintune\nblackberry."
                              example: ios
                              enum:
                              - ios
                              - android
                              - intune
                              - blackberry
                          allow_sms_mms_clients:
                            type: array
                            description: The clients in this list are allowed to use the SMS/MMS function.
                            items:
                              type: string
                              description: "The acceptable value is \nios\nandroid\nintune\nblackberry."
                              example: ios
                              enum:
                              - ios
                              - android
                              - intune
                              - blackberry
                          allow_calling_sms_mms:
                            type: boolean
                            description: This field allows calling and SMS/MMS functions on mobile.
                            example: true
                            deprecated: true
                          enable:
                            type: boolean
                            description: This field allows users to use Zoom Phone on mobile clients (iOS, iPad OS and Android).
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, you can reset settings to display when using the new policy framework.
                            example: true
                        description: Allows user to use Zoom Phone on mobile clients (iOS, iPad OS and Android).
                      sms:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users, call queues, and auto receptionists to send and receive messages. You need to assign a valid calling plan and phone number to each user for them to send and receive messages.
                            example: true
                          international_sms:
                            type: boolean
                            description: Whether the user can send and receive international messages.
                            example: true
                          international_sms_countries:
                            type: array
                            description: The country to which users can send and receive international messages. The [country ISO code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                            items:
                              type: string
                              description: Country
                              example: US
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                          allow_copy:
                            type: boolean
                            description: This field allows users to copy message.
                            example: true
                          allow_paste:
                            type: boolean
                            description: 'This field allows users to use the paste function to paste content (e.g. text or images) into SMS/MMS conversations. '
                            example: true
                        description: Allows users, call queues and auto receptionists to send and receive messages. You will still need to assign a valid calling plan and phone number to each user in order for them to send and receive messages. Do not enable this control if you intend to use SMS services with a third party SMS provider.
                      elevate_to_meeting:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to elevate their phone calls to a meeting.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users to modify the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Allow users to elevate their phone calls to a meeting.
                      hand_off_to_room:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow users to send a call to a Zoom Room.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users to modify the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset. The settings display when using the new policy framework.
                            example: true
                        description: Allows users to send a call to a Zoom Room
                      mobile_switch_to_carrier:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the user to switch from a Zoom Phone to their native carrier.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Allows user to switch from Zoom Phone to their native carrier
                      delegation:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Whether the user can use [call delegation](https://support.zoom.us/hc/en-us/articles/360032881731-Setting-up-call-delegation-shared-lines-appearance-).
                      ad_hoc_call_recording:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether the current extension can record and save calls to the cloud.
                            example: true
                          recording_start_prompt:
                            type: boolean
                            description: Whether a prompt plays to call participants when the recording has started.
                            example: false
                          recording_transcription:
                            type: boolean
                            description: Whether the call recording transcription is enabled.
                            example: true
                          play_recording_beep_tone:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether to play the side tone beep for recorded users while recording. It displays only when ad hoc call recording policy uses the new framework.
                                example: true
                              play_beep_volume:
                                type: integer
                                description: The side tone beep volume. It displays only when `enable` is set to `true`.
                                example: 60
                                enum:
                                - 0
                                - 20
                                - 40
                                - 60
                                - 80
                                - 100
                              play_beep_time_interval:
                                type: integer
                                description: The beep time interval in seconds. It displays only when `enable` is set to true.
                                example: 15
                                enum:
                                - 5
                                - 10
                                - 15
                                - 20
                                - 25
                                - 30
                                - 60
                                - 120
                              play_beep_member:
                                type: string
                                description: The beep sides. It displays only when `enable` is set to true.
                                example: allMember
                                enum:
                                - allMember
                                - recordingSide
                            description: Whether to play the side tone beep for recorded users while recording. It displays only when ad hoc call recording policy uses the new framework.
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: A list of ad hoc call recording settings.
                      auto_call_recording:
                        type: object
                        properties:
                          allow_stop_resume_recording:
                            type: boolean
                            description: Whether the stop and resume of automatic call recording is enabled.
                            example: true
                          disconnect_on_recording_failure:
                            type: boolean
                            description: Whether a call disconnects when there is an issue with the automatic call recording and the call cannot reconnect after five seconds. This does **not** include emergency calls.
                            example: true
                          enable:
                            type: boolean
                            description: Whether automatic call recording is enabled.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                          recording_calls:
                            type: string
                            description: "The type of calls automatically recorded: \n* `inbound` \n* `outbound` \n* `both`"
                            example: inbound
                            enum:
                            - inbound
                            - outbound
                            - both
                          recording_explicit_consent:
                            type: boolean
                            description: "Whether the `Press 1 option that provides recording consent` is enabled.\n\n<b>Deprecated:</b> This field will be deprecated in a future release. As an alternative, use the `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` to operate inbound and outbound prompt separately.\n\n<b>Note:</b> \n* If customers opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent` and `inbound_audio_notification.recording_explicit_consent` will remain consistent. When the field is updated, the `inbound_audio_notification.recording_explicit_consent` will be also updated.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent. When the field is updated, the `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` will be also updated."
                            example: true
                            deprecated: true
                          recording_start_prompt:
                            type: boolean
                            description: "Whether a prompt plays to call participants when the recording has started.\n\n<b>Deprecated:</b> This field will be deprecated in a future release. As an alternative, use the `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` to operate inbound and outbound prompt separately.\n\n<b>Note:</b> \n* If customers opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt` and `inbound_audio_notification.recording_start_prompt` will remain consistent. When the field is updated, the `inbound_audio_notification.recording_start_prompt` will be also updated.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent. When the field is updated, the `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` will be also updated."
                            example: true
                            deprecated: true
                          recording_transcription:
                            type: boolean
                            description: Whether the call recording transcription is enabled.
                            example: true
                          play_recording_beep_tone:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether to play the side tone beep for recorded users while recording. It displays only when auto call recording policy uses the new framework.
                                example: true
                              play_beep_volume:
                                type: integer
                                description: The side tone beep volume. It displays only when `enable` is set to `true`.
                                example: 60
                                enum:
                                - 0
                                - 20
                                - 40
                                - 60
                                - 80
                                - 100
                              play_beep_time_interval:
                                type: integer
                                description: The beep time interval in seconds. It displays only when the `enable` is set to true.
                                example: 15
                                enum:
                                - 5
                                - 10
                                - 15
                                - 20
                                - 25
                                - 30
                                - 60
                                - 120
                              play_beep_member:
                                type: string
                                description: The beep sides. It displays only when the `enable` is set to true.
                                example: allMember
                                enum:
                                - allMember
                                - recordingSide
                            description: Plays the side tone beep for recorded users while recording. It displays only when auto call recording policy uses the new framework.
                          inbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether a prompt plays to call participants when the recording has started for inbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                              recording_explicit_consent:
                                type: boolean
                                description: "Whether the **Press 1** option that provides recording consent for inbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                                example: true
                            description: Whether a prompt plays to call participants when the recording has started for inbound call is enabled.
                          outbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether a prompt plays to call participants when the recording has started for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                              recording_explicit_consent:
                                type: boolean
                                description: "Whether the **Press 1** option that provides recording consent for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                                example: true
                            description: Whether a prompt plays to call participants when the recording has started for outbound call is enabled.
                        description: A list of the site's automatic call recording settings.
                      call_handling_forwarding_to_other_users:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          call_forwarding_type:
                            type: integer
                            description: "`1` - Low restriction (external numbers not allowed)\n`2` - Medium restriction (external numbers and external contacts not allowed)\n `3` - High restriction (external numbers, external contacts and internal extensions without inbound automatic call recording not allowed)\n`4` - No restriction"
                            example: 1
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Whether to allow users to forward their calls to other numbers.
                      check_voicemails_over_phone:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users to modify the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Whether to allow extension owners or members of a shared line group to check voicemails for extension numbers over the phone using PIN code.
                      call_queue_pickup_code:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: After enabling the feature, a unique pickup code generates for each queue, which can be customized in the `Call Queue` profile. Queued calls can be answered with the pickup code by the users under the same site.
                      shared_line_group_pickup_code:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: By enabling the feature, a unique pickup code will be generated for each Shared Line Group which can be customized in the Shared line group profile. Shared Line Group calls can be answered with the pickup code by users at the same site.
                            example: true
                        description: After enabling the feature, a unique pickup code will be generated for each Shared Line Group which can be customized in the Shared line group profile. Shared Line Group calls can be answered with the pickup code by users at the same site.
                      call_queue_opt_out_reason:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                          call_queue_opt_out_reasons_list:
                            type: array
                            description: The opt-out reasons list
                            items:
                              type: object
                              properties:
                                code:
                                  type: string
                                  example: Break
                                system:
                                  type: boolean
                                  description: The system default reason. It cannot be edited.
                                  example: true
                                enable:
                                  type: boolean
                                  example: true
                              description: The opt-out reason.
                        description: The opt-out reasons for call queues. When enabled, call queue members need to select an opt-out reason when they turn off the `receive queue call` feature.
                      show_user_last_transferred_call:
                        type: boolean
                        description: Whether to show the user who last transferred the call. Viewing preferences display on the incoming call panel. Selections made here do not affect the information shown in call logs.
                        example: true
                      auto_delete_data_after_retention_duration:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field allows Zoom to automatically delete data after the retention duration has lapsed.
                            example: true
                          reset:
                            type: boolean
                            description: Whether the current settings will use the phone account's settings if the current settings use the new policy framework.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: false
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been changed from inherited defaults. If true, the settings can be reset.
                            example: true
                          items:
                            type: array
                            description: The retention policy configurations for different data types.
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The data type subject to the retention policy.
                                  example: callLog
                                  enum:
                                  - callLog
                                  - callSummary
                                  - pushToTalkLog
                                  - onDemandRecording
                                  - automaticRecording
                                  - voicemail
                                  - videomail
                                  - sms
                                  - fax
                                duration:
                                  type: integer
                                  description: 'The retention duration. `-1` means unlimited.


                                    * When Advanced Retention is **not activated**: for `year`, the valid range is `-1` or `1-10`; for `month`, `-1` or `1-18`; for `day`, `-1` or `1-60`.

                                    * When Advanced Retention is **activated**: `time_unit` is always `day`, and the valid range is `-1` or `1-4000`.


                                    If a request supplies `year` or `month` while Advanced Retention is activated, the value is converted to `day` using `1 year = 365 day` and `1 month = 30 day`.'
                                  example: 180
                                time_unit:
                                  type: string
                                  description: The unit of time. When Advanced Retention is activated, the response always returns `day`.
                                  example: day
                                  enum:
                                  - year
                                  - month
                                  - day
                          delete_type:
                            type: integer
                            description: "The deletion policy.\n * `1` - soft delete\n * `2` - permanent delete"
                            example: 1
                            enum:
                            - 1
                            - 2
                          permanently_delete_after_days:
                            type: integer
                            description: The number of days after which the data will be permanently deleted automatically. Use `-1` to retain data indefinitely.
                            example: -1
                        description: 'Allows Zoom to automatically delete data after the retention duration has lapsed.


                          **Note:** When **Advanced Retention** is activated on the account, only `day` is supported as `time_unit`. If the API request payload uses `year` or `month`, values will be converted to `day` automatically (`1 year` = `365 day`, `1 month` = `30 day`), and the response will always return `time_unit` as `day`.'
                      call_park:
                        type: object
                        properties:
                          call_not_picked_up_action:
                            type: integer
                            description: "The action when a parked call is not picked up. \n `100` - Ring back to parker \n`0` - Forward to voicemail of the parker \n`9` - Disconnect \n `50` - Forward to another extension"
                            example: 50
                          enable:
                            type: boolean
                            description: Whether to allow calls placed on hold to be resumed from another location with a retrieval code.
                            example: true
                          expiration_period:
                            type: integer
                            description: A time limit for parked calls in minutes. After the expiration period ends, the retrieval code is no longer valid and a new code generates.
                            example: 3
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 15
                            - 20
                            - 25
                            - 30
                            - 35
                            - 40
                            - 45
                            - 50
                            - 55
                            - 60
                          forward_to:
                            type: object
                            properties:
                              display_name:
                                type: string
                                description: The extension's name.
                                example: ZOOM_API Test
                              extension_id:
                                type: string
                                description: The extension ID.
                                example: TO586CYlQFC_WCUvPRXytA
                              extension_number:
                                type: integer
                                description: The extension number.
                                format: int64
                                example: 100014
                              extension_type:
                                type: string
                                description: "The type of extension: \n* `user` \n* `zoomRoom` \n* `commonArea`\n* `ciscoRoom/polycomRoom` \n* `autoReceptionist` \n* `sharedLineGroup` \n* `callQueue`"
                                example: user
                                enum:
                                - user
                                - zoomRoom
                                - commonArea
                                - ciscoRoom/polycomRoom
                                - autoReceptionist
                                - callQueue
                                - sharedLineGroup
                              id:
                                type: string
                                description: The ID of the extension `user`, `zoomRoom`, `commonArea`, `ciscoRoom/polycomRoom`, `autoReceptionist`, `callQueue` or `sharedLineGroup`.
                                example: oG_nYRFuTJiY1tu0Fur_4Q
                            description: The extension's forwarding information.
                          sequence:
                            type: integer
                            description: "This field chooses how parked calls are assigned to a BLF (Busy Lamp Field) key. Sequential assignment parks the call at the next available BLF key. Random assignment parks the call at a randomly selected BLF key. \n`0` - Random \n`1` - Sequential"
                            example: 1
                            enum:
                            - 0
                            - 1
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: false
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Allow calls placed on hold to be resumed from another location using a retrieval code.
                      call_overflow:
                        type: object
                        properties:
                          call_overflow_type:
                            type: integer
                            description: "`1` - Can forward to internal extensions and to external contacts \n`2` - Can forward only to internal extensions \n`3` - Can forward only to internal extensions that require inbound Automatic Call Recording \n`4` - Can forward to internal extensions, external contacts, and external numbers"
                            example: 1
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                          enable:
                            type: boolean
                            description: Whether to allow users to forward their calls to other numbers.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Allow users to forward their calls to other numbers when a call is not answered
                      call_transferring:
                        type: object
                        properties:
                          call_transferring_type:
                            type: integer
                            description: "1-No restriction \n2-Medium restriction (external numbers and external contacts not allowed) \n3-High restriction (external numbers, unrecorded external contacts, and internal extensions without inbound automatic recording not allowed) \n4-Low restriction (external numbers not allowed)"
                            example: 1
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                          enable:
                            type: boolean
                            description: Whether to allow users to warm or blind transfer their calls. This does not apply to warm transfer on IP Phones except for Yealink.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Allows user to warm or blind transfer their calls. This does not apply to warm transfer on IP Phones except for Yealink. Voicemail is transferable only to internal extensions.
                      audio_intercom:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Whether to allow hands-free peer-to-peer conversations. When you receive an intercom call, the phone beeps to notify the user of the incoming intercom call, and the user's phone automatically answers the intercom call.
                      block_calls_without_caller_id:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: Whether to calls without caller ID will be blocked.
                      block_external_calls:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using old or new policy framework.
                            example: true
                          block_business_hours:
                            type: boolean
                            description: This field blocks external calls during business hours
                            example: true
                          block_closed_hours:
                            type: boolean
                            description: This field blocks external calls during closed hours
                            example: true
                          block_holiday_hours:
                            type: boolean
                            description: This field blocks external calls during holiday hours
                            example: true
                          block_call_action:
                            type: integer
                            description: The action when a call is blocked. `9` - Disconnect, `0`- Forward to voicemail or videomail.
                            example: 0
                            enum:
                            - 0
                            - 9
                          block_call_change_type:
                            type: integer
                            description: This setting applies only in the old policy framework. It applies changes to new extensions or all extensions. `1` - All extension, `0` - New extensions.
                            example: 0
                            enum:
                            - 0
                            - 1
                          e2e_encryption:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether to allow users to switch their calls to `End-to-End Encryption`. If users have `Automatic Call Recording` turned on, they cannot use `End-to-End Encryption`.
                                example: true
                              locked:
                                type: boolean
                                description: Whether the senior administrator allows users to modify the current settings.
                                example: true
                              locked_by:
                                type: string
                                description: Which level of administrator prohibits modifying the current settings.
                                example: site
                                enum:
                                - invalid
                                - account
                                - site
                              modified:
                                type: boolean
                                description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                                example: true
                            description: Allows users to switch their calls to End-to-End Encryption
                        description: Set rules for blocking external calls during business, closed, and holiday hours. This feature is only available for user, Zoom Room and common areas.
                      force_off_net:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: By enabling Force Off-Net, calls from users or extensions between sites route through the PSTN network. Users within this site can only be part of advanced functionality (eg. Auto Receptionists, Call Queues) for this site. Users require a paid Zoom license and BYOC-P phone numbers to call between sites.
                            example: true
                          allow_extension_only_users_call_users_outside_site:
                            type: boolean
                            description: This setting allows extension only users to call to users outside the site.
                            example: true
                        description: 'It requires the account to enable the `Force Calls out to the PSTN network` feature. '
                      external_calling_on_zoom_room_common_area:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field allows Zoom Rooms to call external phone numbers based on the calling plans
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: This field allows Zoom Rooms to call external phone numbers based on the calling plans
                      zoom_phone_on_pwa:
                        type: object
                        properties:
                          allow_calling:
                            type: boolean
                            description: This field allows users to use calling on Zoom Progressive Web App
                            example: true
                          allow_sms_mms:
                            type: boolean
                            description: This field allows users to use SMS/MMS on Zoom Progressive Web App
                            example: true
                          enable:
                            type: boolean
                            description: This field allows users to use Zoom Phone on Zoom Progressive Web App
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: This field allows users to use Zoom Phone on Zoom Progressive Web App
                      sms_auto_reply:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field enables SMS Auto Reply feature for User, Auto Receptionist, and Call Queue
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: This field enables SMS Auto Reply feature for User, Auto Receptionist, and Call Queue
                      allow_end_user_edit_call_handling:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field allows users to edit call handling settings.Once disabled, users will not be able to edit their call handling settings on the web portal or enable call forwarding on the client.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: This field allows users to edit call handling settings.Once disabled, users will not be able to edit their call handling settings on the web portal or enable call forwarding on the client.
                      allow_caller_reach_operator:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field enables users to allow their callers to reach an operator.Once disabled, users will not be able to route their calls to an operator as part of the "When a call is not answered" setting.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: This field enables users to allow their callers to reach an operator.Once disabled, users will not be able to route their calls to an operator as part of the "When a call is not answered" setting.
                      forward_call_outside_of_site:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field allows users to forward their calls outside of their own site.Once disabled, users will only be able to forward their calls to users, call queues, shared line groups, etc., within their own site.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: This field allows users to forward their calls outside of their own site.Once disabled, users will only be able to forward their calls to users, call queues, shared line groups, etc., within their own site.
                      allow_mobile_home_phone_callout:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: This field allows users to use mobile or home phone to place calls. Zoom app will call this device first before ringing the called number.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator can prohibit users from modifying the current settings.
                            example: site
                            enum:
                            - invalid
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset and display when using the new policy framework.
                            example: true
                        description: This field allows users to use mobile or home phone to place calls. Zoom app will call this device first before ringing the called number.
                      obfuscate_sensitive_data_during_call:
                        type: object
                        properties:
                          enable:
                            type: boolean
[...]
