openapi: 3.2.0
info:
  title: Phone Common Areas API
  description: "You can access information from Zoom with Zoom Phone APIs to build private services or public applications on the [Zoom App Marketplace](https://marketplace.zoom.us/).\n\n  To learn how to get your credentials and create private or public applications, see Zoom APIs use [OAuth 2.0 authorization](https://developers.zoom.us/docs/integrations/oauth/). \n\n  All endpoints are available through `https` at `api.zoom.us/v2/`. For instance, `https://api.zoom.us/v2/users/` returns all users on an account. You'll receive a `403` error message if you have not set up Zoom Phone."
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
servers:
- url: https://api.zoom.us/v2
tags:
- name: Common Areas
paths:
  /phone/common_areas:
    get:
      tags:
      - Common Areas
      summary: List common areas
      description: "Lists common areas under an account.\n\n**Prerequisites**\n\n* Pro or a higher account with Zoom Phone license \n* Account owner or admin permissions\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:common_area:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: listCommonAreas
      parameters:
      - name: page_size
        in: query
        description: The total number of records returned from a single API call.
        required: false
        schema:
          maximum: 100
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token paginates through large result sets. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      - name: site_id
        in: query
        description: The unique identifier of the site. Use this query parameter if you have enabled multiple sites and would like to filter the response of this API call by a specific phone site. See Managing multiple sites or Adding a site for details.
        required: false
        schema:
          type: string
          example: 8f71O6rWT8KFUGQmJIFAdQ
      - name: calling_type
        in: query
        description: The Zoom Phone [calling plan number](https://developers.zoom.us/docs/api-reference/other-references/plans#zoom-phone-calling-plans).
        required: false
        schema:
          type: integer
          example: 100
      - name: common_area_device_type
        in: query
        description: 'The common area device type:

          - 1 Smartphone


          - 2 Desk Phone


          - 3 Zoom Phone Appliance'
        required: false
        schema:
          type: integer
          example: 1
          enum:
          - 1
          - 2
          - 3
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK**  \n \n The list of common areas retrieved successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  common_areas:
                    type: array
                    items:
                      type: object
                      properties:
                        calling_plans:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The name of the plan.
                                example: US/CA Metered Calling Plan
                              type:
                                type: integer
                                description: The Zoom Phone [calling plan number](https://marketplace.zoom.us/docs/api-reference/other-references/plans#zoom-phone-calling-plans).
                                example: 100
                              billing_account_id:
                                type: string
                                description: The ID of the billing account. It displays when the common area is in India.
                                example: 3WWAEiEjTj2IQuyDiKMd_A
                              billing_account_name:
                                type: string
                                description: The billing account name. It displays when the common area is in India.
                                example: Delhi billing
                              billing_subscription_id:
                                type: string
                                description: The billing subscription ID. It displays when the account supports billing multiple subscriptions.
                                example: FT-SUBREF-21168178
                              billing_subscription_name:
                                type: string
                                description: The billing subscription name. It displays when the account supports billing multiple subscriptions. It can be edited through the Billing page.
                                example: My Subscription
                        display_name:
                          type: string
                          description: The display name of the common area.
                          example: test_ca
                        extension_number:
                          type: integer
                          description: The extension number.
                          format: int64
                          example: 100012347
                        id:
                          type: string
                          description: The common area ID or common area extension ID.
                          example: JOZmuJ30Spyrw-v9vUzIrA
                        phone_numbers:
                          type: array
                          items:
                            type: object
                            properties:
                              display_name:
                                type: string
                                description: The phone number display name.
                                example: Phone number display name
                              id:
                                type: string
                                description: The phone number ID.
                                example: S5q4FDC3QsOCnO7LqHgqNw
                              number:
                                type: string
                                description: The phone number.
                                example: '+12058945543'
                              source:
                                type: string
                                description: The phone number source. The value can be either `internal` or `external`.
                                example: internal
                                enum:
                                - internal
                                - external
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) that the common area desk phone is assigned.
                              example: 8f71O6rWT8KFUGQmJIFAdQ
                            name:
                              type: string
                              description: The name of the site.
                              example: Main Site
                        status:
                          type: string
                          description: The status of the common area.
                          example: offline
                          enum:
                          - online
                          - offline
                        desk_phones:
                          type: array
                          description: The common area's desk phones.
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: The desk phone ID.
                                example: Aky1xpSLSc2PR0XOtj9XWQ
                              display_name:
                                type: string
                                description: The desk phone display name.
                                example: analog_ta
                              device_type:
                                type: string
                                description: The desk phone device type.
                                example: Poly obi504
                              status:
                                type: string
                                description: The desk phone status.
                                example: offline
                                enum:
                                - online
                                - offline
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: RaO87FrnwXvFQta5aV8sU5C3c9O8s9Nraq2
                  page_size:
                    type: integer
                    description: The total number of records returned from a single API call.
                    example: 30
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:common_area:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:common_area:admin
    post:
      tags:
      - Common Areas
      summary: Add a common area
      description: 'Adds an instance of a common area. You can configure devices shared by users and deployed in shared spaces.


        **Prerequisites**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:common_area:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: addCommonArea
      requestBody:
        content:
          application/json:
            schema:
              required:
              - display_name
              type: object
              properties:
                calling_plans:
                  maxItems: 100
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: integer
                        description: The Zoom Phone [calling plan number](https://marketplace.zoom.us/docs/api-reference/other-references/plans#zoom-phone-calling-plans).
                        example: 100
                      billing_subscription_id:
                        type: string
                        description: The billing subscription ID. When there is more than one plan type A in this account, it cannot be empty.
                        example: FT-SUBREF-21168178
                country_iso_code:
                  type: string
                  description: The two-lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                  example: US
                display_name:
                  type: string
                  description: The display name of the common area. Enter at least three characters.
                  example: test_ca
                extension_number:
                  type: integer
                  description: The extension number assigned to the common area. If the site code is enabled, provide the short extension number instead.
                  format: int64
                  example: 1001014
                site_id:
                  type: string
                  description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672). You can retrieve the identifier from the [List Phone Sites](https://marketplace.zoom.us/docs/api-reference/phone/methods#operation/listPhoneSites) API.
                  example: 8f71O6rWT8KFUGQmJIFAdQ
                timezone:
                  type: string
                  description: ' The [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists) for the common area.'
                  example: America/Los_Angeles
                template_id:
                  type: string
                  description: "The unique identifier of the [Setting Template](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0067442). \nYou can retrieve the identifier from the [List setting templates](https://developers.zoom.us/docs/api/rest/reference/phone/methods/#operation/listSettingTemplates) API.\nThe setting template must belong to the same site as the common area."
                  example: 2kFqiqSlS5udzWB5QqMiNg
      responses:
        '201':
          description: "**HTTP Status Code:** `201` **Created**  \n \n\nThe common area has been added successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  display_name:
                    type: string
                    description: The display name of the common area.
                    example: test_ca
                  id:
                    type: string
                    description: The common area ID or common area extension ID.
                    example: JOZmuJ30Spyrw-v9vUzIrA
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation failed.<br>\n* Timezone not found in the system.\n* This country is not supported by Zoom Phone.\n* Site does not exist: {site_id}.<br>\n* The template type error or the template does not exist:{template_id}.<br>\n* The template's site is not the same as the common area's site.<br> <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:common_area:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:common_area:admin
  /phone/common_areas/activation_code:
    post:
      tags:
      - Common Areas
      summary: Generate activation codes for common areas
      description: 'Generates activation codes for common areas. You can add up to 50 common areas at a time.


        **Prerequisites**

        - Pro or a higher account with Zoom Phone license

        - Account owner or admin permissions


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:common_area:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`


        **Not supported in Gov cluster** '
      operationId: Generateactivationcodesforcommonareas
      requestBody:
        content:
          application/json:
            schema:
              required:
              - common_area_ids
              type: object
              properties:
                common_area_ids:
                  maxItems: 50
                  type: array
                  description: 'The `common_area_ids` is an array. Each element is the unique identifier of the common area. You can retrieve it from the [List Common Areas](https://developers.zoom.us/docs/api/phone/#tag/common-areas/GET/phone/common_areas/activation_codes) API.


                    '
                  items:
                    type: string
                    description: The common area ID or common area extension ID.
                    example: 5NmyHmVoRWWk4YT5ad6oxg
      responses:
        '201':
          description: 'HTTP Status Code: 201 Generate Activation Codes successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  common_areas_activation_codes:
                    maxItems: 50
                    type: array
                    description: The activation code information of the common areas.
                    items:
                      type: object
                      properties:
                        common_area_id:
                          type: string
                          description: The common area ID or common area extension ID.
                          example: JOZmuJ30Spyrw-v9vUzIrA
                        display_name:
                          type: string
                          description: The display name of the common area.
                          example: test_ca
                        extension_number:
                          type: integer
                          description: The extension number.
                          example: 100012347
                        activation_code:
                          type: string
                          description: The activation code.
                          example: 5678-2345-1234-1234
                        activation_code_expiration:
                          type: string
                          description: 'The time when the activation code expires (format: ''yyyy-MM-ddThh:dd:ssZ'').'
                          example: '2021-10-08T16:12:04Z'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Common area size must be less than 50. <br>\n**Error Code:** `404` <br>\n Common area does not exist: {commonAreaId}. <br>\n**Error Code:** `400` <br>\n Common area smartphones feature is disabled. <br>\n"
        '403':
          description: "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n You do not have permission. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:common_area:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:common_area:admin
  /phone/common_areas/activation_codes:
    get:
      tags:
      - Common Areas
      summary: List activation codes
      description: "Returns a list of activation code information of the common areas under an account.\n\n**Prerequisites**\n* Pro or a higher account with Zoom Phone license \n* Account owner or admin permissions\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:list_common_area_activation_codes:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** "
      operationId: listActivationCodes
      parameters:
      - name: page_size
        in: query
        description: The total number of records returned from a single API call.
        required: false
        schema:
          maximum: 100
          type: integer
          example: 30
          default: 30
      - name: next_page_token
        in: query
        description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
        required: false
        schema:
          type: string
          example: BJLYC6PABbAHdjwSkGVQeeR6B1juwHqj3G2
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK**  \n \n The list of activation codes of the common areas retrieved successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  common_areas_activation_codes:
                    type: array
                    description: The activation code information of the common areas.
                    items:
                      type: object
                      properties:
                        common_area_id:
                          type: string
                          description: The common area ID or common area extension ID.
                          example: JOZmuJ30Spyrw-v9vUzIrA
                        display_name:
                          type: string
                          description: The display name of the common area.
                          example: test_ca
                        extension_number:
                          type: integer
                          description: The extension number.
                          format: int64
                          example: 100012347
                        activation_code:
                          type: string
                          description: The activation code.
                          example: 5678-2345-1234-1234
                        activation_code_expiration:
                          type: string
                          description: 'The time when the activation code expires (format: ''yyyy-MM-ddThh:dd:ssZ'').'
                          example: '2021-10-08T16:12:04Z'
                        status:
                          type: string
                          description: "The values of this field can be `used` or `not_used`. \n \n used: The common area has been logged in to a smartphone through an activation code.  \n \n not_used: The common area is never logged in to a smartphone through an activation code."
                          example: used
                          enum:
                          - used
                          - not_used
                        site:
                          type: object
                          properties:
                            site_id:
                              type: string
                              description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) that the common area is assigned.
                              example: 8f71O6rWT8KFUGQmJIFAdQ
                            name:
                              type: string
                              description: The name of the site.
                              example: Main Site
                  next_page_token:
                    type: string
                    description: The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
                    example: RaO87FrnwXvFQta5aV8sU5C3c9O8s9Nraq2
                  page_size:
                    type: integer
                    description: The total number of records returned from a single API call.
                    example: 30
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n The next page token is invalid or expired. <br>\n**Error Code:** `400` <br>\n The account_id is invalid. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:list_common_area_activation_codes:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:list_common_area_activation_codes:admin
  /phone/common_areas/template_id/{templateId}:
    post:
      tags:
      - Common Areas
      summary: Apply template to common areas
      description: 'Applies a template to common areas.  You can add up to 50 common areas at a time.


        **Prerequisites**

        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions



        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:apply_template_to_common_areas:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: ApplyTemplatetoCommonAreas
      parameters:
      - name: templateId
        in: path
        description: "The template ID is the unique identifier of the [Setting Template](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0067442). \nYou can retrieve the identifier from the [List setting templates](https://developers.zoom.us/docs/api/rest/reference/phone/methods/#operation/listSettingTemplates) API.\nIf the account enabled [multiple sites](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0069716#h_05c88e35-1593-491f-b1a8-b7139a75dc15), the setting template must belong to the same site as the common areas."
        required: true
        schema:
          type: string
          example: 2kFqiqSlS5udzWB5QqMiNg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                common_area_ids:
                  maxItems: 50
                  type: array
                  description: The `common_area_ids` is an array. Each element is the unique identifier of the [Common Area](https://marketplace.zoom.us/docs/api-reference/phone/methods/#operation/listCommonAreas). It can be retrieved from the List Common Areas API.
                  items:
                    type: string
                    description: The common area ID or common area extension ID.
                    example: 5NmyHmVoRWWk4YT5ad6oxg
      responses:
        '201':
          description: '**HTTP Status Code:** `201`   Template applied successfully.'
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n The template's site is not the same as the common area's site. <br>\n**Error Code:** `400` <br>\n Common area size must be less than 50. <br> \nYou need to have administrative privileges to edit this site. <br>\n**Error Code:** `404` <br>\n Common area does not exist: {commonAreaId}. <br>\n"
        '404':
          description: "**HTTP Status Code:** `404` <br>\n Not Found  The template type error or the template does not exist:{templateId}. \n\n "
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:write:apply_template_to_common_areas:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:write:apply_template_to_common_areas:admin
  /phone/common_areas/{commonAreaId}:
    get:
      tags:
      - Common Areas
      summary: Get common area details
      description: "Returns detailed information on the common area.\n\n**Prerequisites**  \n \n* Pro or a higher account with Zoom Phone license\n* Account owner or admin permissions\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:common_area:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: getACommonArea
      parameters:
      - name: commonAreaId
        in: path
        description: The common area ID or common area extension ID.
        required: true
        schema:
          type: string
          example: 5NmyHmVoRWWk4YT5ad6oxg
      responses:
        '200':
          description: "**HTTP Status Code:** `200` **OK**  \n \nCommon area details returned successfully."
          content:
            application/json:
              schema:
                type: object
                properties:
                  area_code:
                    type: string
                    description: The area code of the common area.
                    example: '408'
                  calling_plans:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The calling plan name.
                          example: US/CA Metered Calling Plan
                        type:
                          type: integer
                          description: The calling plan type.
                          example: 100
                        billing_account_id:
                          type: string
                          description: The billing account ID. It displays when the common area is in India.
                          example: 3WWAEiEjTj2IQuyDiKMd_A
                        billing_account_name:
                          type: string
                          description: The billing account name. It displays when the common area is in India.
                          example: Delhi billing
                        billing_subscription_id:
                          type: string
                          description: The billing subscription ID. It displays when the account supports billing multiple subscriptions.
                          example: FT-SUBREF-21168178
                        billing_subscription_name:
                          type: string
                          description: The billing subscription name. It displays when the account supports billing multiple subscriptions. It can be edited via the Billing page.
                          example: My Subscription
                  cost_center:
                    type: string
                    description: The cost center the common area belongs to.
                    example: pbx_cost_center
                  country:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The two-lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                        example: US
                      country_code:
                        type: string
                        description: The country calling code.
                        example: '1'
                      name:
                        type: string
                        description: The common area's country name.
                        example: United States
                    description: The common area country information.
                  department:
                    type: string
                    description: The department the common area belongs to.
                    example: department_pbx
                  display_name:
                    type: string
                    description: The display name of the common area.
                    example: test_ca
                  extension_number:
                    type: integer
                    description: The extension number.
                    format: int64
                    example: 100012347
                  default_transcription_language:
                    type: string
                    description: "The default language selection for features such as voicemail and call recording.\n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                    example: en-US
                    enum:
                    - en-US
                    - en-GB
                    - es-US
                    - fr-CA
                    - da-DK
                    - de-DE
                    - es-ES
                    - fr-FR
                    - it-IT
                    - nl-NL
                    - pt-PT
                    - ja
                    - ko-KR
                    - pt-BR
                    - zh-CN
                  emergency_address:
                    type: object
                    properties:
                      address_line1:
                        type: string
                        description: The emergency location address line 1.
                        example: 55 Almaden Blvd
                      address_line2:
                        type: string
                        description: The emergency location address line 2.
                        example: 6th floor
                      city:
                        type: string
                        description: The emergency location address city.
                        example: San Jose
                      country:
                        type: string
                        description: The country of the emergency location.
                        example: US
                      id:
                        type: string
                        description: The emergency location address ID.
                        example: gBGwqgwoTb-DiSCA75tMWw
                      state_code:
                        type: string
                        description: The emergency location address state code.
                        example: CA
                      status:
                        type: integer
                        description: "The emergency address verification status.: \n* `1` &mdash; Verification not Required. \n* `2` &mdash; Unverified. \n* `3` &mdash; Verification requested. \n* `4` &mdash; Verfied. \n* `5` &mdash; Rejected. \n* `6` &mdash; Verification failed."
                        example: 1
                        enum:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                      zip:
                        type: string
                        description: The emergency address Zip Code.
                        example: '95113'
                    description: The emergency address information.
                  id:
                    type: string
                    description: The common area ID or common area extension ID.
                    example: SHzioi3ZR9SXv-XkLbmYCg
                  outbound_caller_ids:
                    type: array
                    items:
                      type: object
                      properties:
                        is_default:
                          type: boolean
                          description: 'Whether the outbound caller ID is the default one: if `true`, the outbound caller ID is the default caller ID.'
                          example: true
                        name:
                          type: string
                          description: The outbound caller name.
                          example: Direct Number
                        number:
                          type: string
                          description: The outbound caller number.
                          example: '+12055437350'
                  phone_numbers:
                    type: array
                    items:
                      type: object
                      properties:
                        display_name:
                          type: string
                          description: The display name of the phone number.
                          example: office phone
                        id:
                          type: string
                          description: The phone number ID.
                          example: TqH98ec8RVCu6Z00aBv9ow
                        number:
                          type: string
                          description: The phone number.
                          example: '+12055437350'
                        source:
                          type: string
                          description: 'The phone number source: `internal` or `external`'
                          example: internal
                          enum:
                          - internal
                          - external
                  policy:
                    type: object
                    properties:
                      international_calling:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified.If modified, they can be reset in the update call.
                            example: true
                        description: Whether the current extension can make international calls outside of their calling plan.
                      outbound_calling:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to define calling rules to restrict user or extension from calling specific countries, cities or numbers.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset (displayed when using the new policy framework).
                            example: true
                      ad_hoc_call_recording:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether the current extension can record and save calls to the cloud.
                            example: true
                          recording_start_prompt:
                            type: boolean
                            description: Whether a prompt plays to call participants when the recording has started.
                            example: true
                          recording_transcription:
                            type: boolean
                            description: Whether the call recording transcription is enabled.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allow users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                        description: A list of ad hoc call recording settings.
                      auto_call_recording:
                        type: object
                        properties:
                          allow_stop_resume_recording:
                            type: boolean
                            description: Whether the stop of and resuming of automatic call recording is enabled.
                            example: true
                          enable:
                            type: boolean
                            description: Whether the automatic call recording is enabled.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          recording_calls:
                            type: string
                            description: "The type of calls automatically recorded: \n* `inbound` \n* `outbound` \n* `both`"
                            example: inbound
                            enum:
                            - inbound
                            - outbound
                            - both
                          recording_transcription:
                            type: boolean
                            description: Whether the call recording transcription is enabled.
                            example: true
                          inbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether a prompt plays to call participants when the recording has started for inbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                              recording_explicit_consent:
                                type: boolean
                                description: "Whether the **Press 1** option that provides recording consent for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                                example: true
                          outbound_audio_notification:
                            type: object
                            properties:
                              recording_start_prompt:
                                type: boolean
                                description: "Whether a prompt plays to call participants when the recording has started for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                                example: true
                              recording_explicit_consent:
                                type: boolean
                                description: "Whether the **Press 1** option that provides recording consent for outbound call is enabled.\n\n<b>Note:</b> \n* If customers  do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                                example: true
                        description: A list of the user's automatic call recording settings.
                      call_park:
                        type: object
                        properties:
                          call_not_picked_up_action:
                            type: integer
                            description: The action when a parked call is not picked up. 100-Ring back to parker, 0-Forward to voicemail of the parker, 9-Disconnect, 50-Forward to another extension.
                            example: 9
                          enable:
                            type: boolean
                            description: Whether to allow calls placed on hold to be resumed from another location using a retrieval code.
                            example: true
                          expiration_period:
                            type: integer
                            description: A time limit for parked calls and unit minutes. After the expiration period ends, the retrieval code is no longer valid and a new code will be generated.
                            example: 10
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            - 8
                            - 9
                            - 10
                            - 15
                            - 20
                            - 25
                            - 30
                            - 35
                            - 40
                            - 45
                            - 50
                            - 55
                            - 60
                          forward_to:
                            type: object
                            properties:
                              display_name:
                                type: string
                                description: The extension's name.
                                example: test extension name
                              extension_id:
                                type: string
                                description: The extension ID.
                                example: CcrEGgmeQem1uyJsuIRKwA
                              extension_number:
                                type: integer
                                description: The extension number.
                                format: int64
                                example: 1000123477
                              extension_type:
                                type: string
                                description: "The type of extension: \n* `user` \n* `zoomRoom` \n* `commonArea`\n* `ciscoRoom/polycomRoom` \n* `autoReceptionist` \n* `sharedLineGroup` \n* `callQueue`"
                                example: user
                                enum:
                                - user
                                - zoomRoom
                                - commonArea
                                - ciscoRoom/polycomRoom
                                - autoReceptionist
                                - callQueue
                                - sharedLineGroup
                              id:
                                type: string
                                description: The ID of the extension `user`, `zoomRoom`, `commonArea`, `ciscoRoom/polycomRoom`, `autoReceptionist`, `callQueue` or `sharedLineGroup`.
                                example: fWOgOALdT1ei4vjXK-QYsA
                            description: The extension's forwarding information.
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                      hand_off_to_room:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow extensions to send a call to a Zoom Room.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified.If modified, they can be reset in the update call.
                            example: true
                      select_outbound_caller_id:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the current extension to change the outbound caller ID when placing calls.
                            example: true
                          allow_hide_outbound_caller_id:
                            type: boolean
                            description: Whether to allow the current extension to hide outbound caller id.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified.If modified, they can be reset in the update call.
                            example: true
                      mobile_switch_to_carrier:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: Whether to allow the extension to switch from a Zoom Phone to their native carrier.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits the modification of the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified.If modified, they can be reset in the update call.
                            example: true
                      voicemail_transcription:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: When this setting is enabled, voicemail transcriptions will be created and remain accessible even if the setting is later disabled. If the setting is disabled, new voicemail and videomail transcriptions will not be generated.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified.If modified, they can be reset in the update call.
                            example: true
                      voicemail_notification_by_email:
                        type: object
                        properties:
                          include_voicemail_file:
                            type: boolean
                            description: Whether to include the voicemail file.
                            example: true
                          include_voicemail_transcription:
                            type: boolean
                            description: Whether to include the voicemail transcription.
                            example: false
                          enable:
                            type: boolean
                            description: If enabled, the extension will receive email notifications when there is a new voicemail from users, call queues, auto receptionists, or shared line groups.
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                      check_voicemails_over_phone:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified.If modified, they can be reset in the update call.
                            example: true
                        description: Whether the user can check voicemails of users and shared line groups over phone using a PIN code.
                      delegation:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                        description: Allow common area to use delegation.
                      ios_call_kit:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                        description: Use CallKit always for Incoming call notifications on iOS/iPadOS devices.
                      hide_zoom_phone_calls_in_ios:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            example: true
                          locked:
                            type: boolean
                            description: Whether the senior administrator allows users to modify the current settings.
                            example: true
                          locked_by:
                            type: string
                            description: Which level of administrator prohibits modifying the current settings.
                            example: account
                            enum:
                            - account
                            - user_group
                            - site
                          modified:
                            type: boolean
                            description: Whether the current settings have been modified. If modified, they can be reset in the update call.
                            example: true
                        description: Hide Zoom Phone calls in iOS/iPadOS device call history.
                    description: A list of the common area's policies. Policies are exceptions to the common area's restrictions.
                  site:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) to which the common area desk phone is assigned.
                        example: SQv52YtkRLC2dwrDdYtGsA
                      name:
                        type: string
                        description: The name of the site.
                        example: Main site
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n Common area does not exist: {commonAreaId}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:read:admin
        - phone:read:common_area:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:read:admin
        x-granular-scopes:
        - phone:read:common_area:admin
    delete:
      tags:
      - Common Areas
      summary: Delete a common area
      description: "Removes the common area. \n\n**Prerequisites:**\n* Pro or a higher account with Zoom Phone license.\n* Account owner or admin permissions.\n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:delete:common_area:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`"
      operationId: deleteCommonArea
      parameters:
      - name: commonAreaId
        in: path
        description: The common area ID or common area extension ID.
        required: true
        schema:
          type: string
          example: 5NmyHmVoRWWk4YT5ad6oxg
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \ncommon area deleted successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `404` <br>\n Common area does not exist: {0}. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:delete:common_area:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:delete:common_area:admin
    patch:
      tags:
      - Common Areas
      summary: Update common area
      description: 'Updates the common area information.


        **Prerequisites**


        * Pro or a higher account with Zoom Phone license

        * Account owner or admin permissions




        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:write:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:update:common_area:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: updateCommonArea
      parameters:
      - name: commonAreaId
        in: path
        required: true
        schema:
          type: string
          example: 5NmyHmVoRWWk4YT5ad6oxg
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                area_code:
                  type: string
                  description: The area code of the common area.
                  example: '408'
                cost_center:
                  type: string
                  description: The cost center the common area belongs to.
                  example: cost_center_pbx
                country_iso_code:
                  type: string
                  description: The two-lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                  example: US
                department:
                  type: string
                  description: The department of which the common area belongs.
                  example: department_pbx
                display_name:
                  type: string
                  description: The display name of the common area.
                  example: common area 01
                emergency_address_id:
                  type: string
                  description: The emergency location's address ID.
                  example: gBGwqgwoTb-DiSCA75tMWw
                extension_number:
                  type: integer
                  description: The extension number of the phone. If the site code is enabled, provide the short extension number instead.
                  format: int64
                  example: 1001014
                outbound_caller_id:
                  type: string
                  description: The user's outbound caller ID phone number in E164 format.
                  example: '+12055437350'
                policy:
                  type: object
                  properties:
                    international_calling:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: If enabled, the common area can use international calling.
                          example: true
                        reset:
                          type: boolean
                          description: If reset, the common area international calling setting resets to the default setting.
                          example: true
                      description: Whether the current extension can make international calls outside of their calling plan.
                    ad_hoc_call_recording:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Whether the current extension can record and save calls to the cloud.
                          example: true
                        recording_start_prompt:
                          type: boolean
                          description: Whether a prompt plays to call participants when the recording has started.
                          example: true
                        recording_explicit_consent:
                          type: boolean
                          description: Whether to press 1 to provide consent to be recorded.
                          example: true
                        recording_transcription:
                          type: boolean
                          description: Whether call recording transcription is enabled.
                          example: true
                        reset:
                          type: boolean
                          description: Whether the user's ad hoc recording reset option will use the phone site's settings.
                          example: true
                      description: A list of ad hoc call recording settings.
                    auto_call_recording:
                      type: object
                      properties:
                        allow_stop_resume_recording:
                          type: boolean
                          description: Whether the stop of and resuming of automatic call recording is enabled.
                          example: true
                        enable:
                          type: boolean
                          description: Whether automatic call recording is enabled.
                          example: true
                        recording_calls:
                          type: string
                          description: "The type of calls automatically recorded: \n* `inbound` \n* `outbound` \n* `both`"
                          example: inbound
                          enum:
                          - inbound
                          - outbound
                          - both
                        recording_transcription:
                          type: boolean
                          description: Whether call recording transcription is enabled.
                          example: true
                        reset:
                          type: boolean
                          description: Whether the user's automatic call recording reset option will use the phone site's settings.
                          example: true
                        inbound_audio_notification:
                          type: object
                          properties:
                            recording_start_prompt:
                              type: boolean
                              description: "Whether a prompt plays to call participants when the recording has started for inbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers who do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                              example: true
                            recording_explicit_consent:
                              type: boolean
                              description: "Whether the **Press 1** option that provides recording consent for inbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                              example: true
                        outbound_audio_notification:
                          type: object
                          properties:
                            recording_start_prompt:
                              type: boolean
                              description: "Whether a prompt plays to call participants when the recording has started for outbound call is enabled.\n\n<b>Note:</b> \n* If customers do not opt for an OP flag named `Enable Caller Based Consent Options`, the values of `recording_start_prompt`, `inbound_audio_notification.recording_start_prompt`, and `outbound_audio_notification.recording_start_prompt` always remain consistent.\n* If customers do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_start_prompt` and `outbound_audio_notification.recording_start_prompt` with the same value."
                              example: true
                            recording_explicit_consent:
                              type: boolean
                              description: "Whether the **Press 1** option that provides recording consent for outbound call is enabled.\n\n<b>Note:</b> \n* if customers who do not opt OP flag named `Enable Caller Based Consent Options`, the values of `recording_explicit_consent`, `inbound_audio_notification.recording_explicit_consent`, and `outbound_audio_notification.recording_explicit_consent` always remain consistent.\n* if customers who do not opt OP flag named `Enable Caller Based Consent Options`, update both `inbound_audio_notification.recording_explicit_consent` and `outbound_audio_notification.recording_explicit_consent` with the same value."
                              example: true
                      description: A list of the user's automatic call recording settings.
                    call_park:
                      type: object
                      properties:
                        call_not_picked_up_action:
                          type: integer
                          description: The action when a parked call is not picked up. 100-Ring back to parker, 0-Forward to voicemail of the parker, 9-Disconnect, 50-Forward to another extension.
                          example: 50
                          enum:
                          - 0
                          - 9
                          - 50
                          - 100
                        enable:
                          type: boolean
                          description: Whether to allow calls placed on hold to be resumed from another location using a retrieval code.
                          example: true
                        expiration_period:
                          type: integer
                          description: A time limit for parked calls, unit minutes. After the expiration period ends, the retrieval code is no longer valid and a new code will be generated.
                          example: 10
                          enum:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          - 8
                          - 9
                          - 10
                          - 15
                          - 20
                          - 25
                          - 30
                          - 35
                          - 40
                          - 45
                          - 50
                          - 55
                          - 60
                        forward_to_extension_id:
                          type: string
                          description: The extension ID.
                          example: CcrEGgmeQem1uyJsuIRKwA
                    hand_off_to_room:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: 'This field enables an extension to send a call to a Zoom Room. Note: this policy applies to smartphone devices only and requires the "Common area smartphones" policy to be enabled.'
                          example: true
                    select_outbound_caller_id:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Whether to allow the current extension to change the outbound caller ID when placing calls.
                          example: true
                        allow_hide_outbound_caller_id:
                          type: boolean
                          description: Whether to allow the current extension to hide outbound caller id.
                          example: true
                    mobile_switch_to_carrier:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: Whether to allow the user to switch from a Zoom Phone to their native carrier.
                          example: true
                    voicemail_transcription:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: When this setting is enabled, voicemail transcriptions will be created and remain accessible even if the setting is later disabled. If the setting is disabled, new voicemail and videomail transcriptions will not be generated.
                          example: true
                        reset:
                          type: boolean
                          description: Whether the extension's voicemail transcription reset option will use the phone site's(enable multiple site) or account's(disable multiple site) settings.
                          example: true
                    voicemail_notification_by_email:
                      type: object
                      properties:
                        include_voicemail_file:
                          type: boolean
                          description: Whether to include voicemail file.
                          example: true
                        include_voicemail_transcription:
                          type: boolean
                          description: Whether to include voicemail transcription.
                          example: true
                        enable:
                          type: boolean
                          description: If enabled, extension will receive email notifications when there is a new voicemail from users, call queues, auto receptionists or shared line groups.
                          example: true
                        reset:
                          type: boolean
                          description: Whether the extension's voicemail notification by email reset option will use the phone site's(enable multiple site) or account's(disable multiple site) settings.
                          example: true
                    check_voicemails_over_phone:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: If enabled, user can check voicemails over phone using a PIN code.
                          example: true
                        reset:
                          type: boolean
                          description: Whether the user's check voicemail over phone reset option will use the phone site's settings.
                          example: true
                    delegation:
                      type: boolean
                      description: Whether the extension can use [call delegation](https://support.zoom.us/hc/en-us/articles/360032881731-Setting-up-call-delegation-shared-lines-appearance-).
                      example: true
                    ios_call_kit:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: If enable, CallKit will always be used for Zoom Phone incoming call notifications on iOS/iPadOS devices. The maximum number of concurrent calls supported will decrease from four to two.
                          example: true
                        reset:
                          type: boolean
                          description: Whether the extension's callkit reset option will use the phone site's(enable multiple site) or account's(disable multiple site) settings.
                          example: true
                      description: Uses CallKit always for Incoming call notifications on iOS/iPadOS devices.
                    hide_phone_call_history_in_ios:
                      type: object
                      properties:
                        enable:
                          type: boolean
                          description: When set to true, Zoom Phone calls will no longer appear in the iOS/iPadOS Recent list. This requires CallKit to be enabled and client version 6.3.0 or later.
                          example: true
                        reset:
                          type: boolean
                          description: Whether the extension's hide phone call history in ios reset option will use the phone site's(enable multiple site) or account's(disable multiple site) settings.
                          example: true
                      description: Hides Zoom Phone calls in iOS/iPadOS device call history.
                  description: A list of the common area's policies.
                site_id:
                  type: string
                  description: The unique identifier of the [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) to which the common area desk phone is assigned.
                  example: SQv52YtkRLC2dwrDdYtGsA
                timezone:
                  type: string
                  description: ' The [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists) for the common area.'
                  example: Europe/Berlin
                default_transcription_language:
                  type: string
                  description: "The default language selection for features such as voicemail and call recording.\n* `en-US` : English (US) \n* `en-GB` : English (UK) \n* `es-US` : Spanish (US) \n* `fr-CA` : French (Canada) \n* `da-DK` : Danish (Denmark) \n* `de-DE` : German (Germany) \n* `es-ES` : Spanish (Spain) \n* `fr-FR` : French (France) \n* `it-IT` : Italian (Italy) \n* `nl-NL` : Dutch (Netherlands) \n* `pt-PT` : Portuguese (Portugal) \n* `ja` : Japanese \n* `ko-KR` : Korean (Korea) \n* `pt-BR` : Portuguese (Brazil) \n* `zh-CN` : Chinese (PRC)"
                  example: en-US
                  enum:
                  - en-US
                  - en-GB
                  - es-US
                  - fr-CA
                  - da-DK
                  - de-DE
                  - es-ES
                  - fr-FR
                  - it-IT
                  - nl-NL
                  - pt-PT
                  - ja
                  - ko-KR
                  - pt-BR
                  - zh-CN
      responses:
        '204':
          description: "**HTTP Status Code:** `204` **No Content**  \n \nCommon area information updated successfully."
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `404` <br>\n Common area does not exist: {0}. <br>\n**Error Code:** `409` <br>\n A conflict occurred with the target extension number. Try again later. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
      - openapi_oauth:
        - phone:write:admin
        - phone:update:common_area:admin
        openapi_authorization: []
      x-extensions:
        x-permissions: []
        x-macro-scopes:
        - phone:write:admin
        x-granular-scopes:
        - phone:update:common_area:admin
  /phone/common_areas/{commonAreaId}/call_handling/settings:
    get:
      tags:
      - Common Areas
      summary: Get common area call handling setting
      description: 'Returns the call handling setting of a common area for the specified hour type.


        **Prerequisites:**

        * A Business or Enterprise account

        * A Zoom Phone license


        **[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:admin`


        **[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `phone:read:common_area_call_handling_setting:admin`


        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`'
      operationId: getCommonAreaCallHandlingSetting
      parameters:
      - name: commonAreaId
        in: path
        description: The unique identifier of the common area.
        required: true
        schema:
          type: string
          example: OJGi5xOFQPmrJbKg68-iWg
      - name: hour_type
        in: query
        description: The hour type of the call handling setting.
        required: false
        schema:
          type: string
          example: business_hours
          enum:
          - business_hours
          - closed_hours
          - holiday_hours
          - break_hours
      - name: holiday_hour_id
        in: query
        description: The holiday hour ID. Required when `hour_type` is `holiday_hours`.
        required: false
        schema:
          type: string
          example: TNxfEp2WT9emyCsAQt4qnA
      - name: break_hour_id
        in: query
        description: The break hour ID. Required when `hour_type` is `break_hours`.
        required: false
        schema:
          type: string
          example: ULfeE4mgSImyelNmTekUfg
      responses:
        '200':
          description: '**HTTP Status Code:** `200`   Common area call handling setting retrieved successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  call_distribution_setting:
                    type: object
                    properties:
                      ring_device:
                        type: boolean
                        description: Whether to ring the device when a call comes in.
                        example: true
                      ring_duration:
                        type: integer
                        description: The number of seconds the device rings before the unanswered action is triggered.
                        example: 30
                        enum:
                        - 10
                        - 15
                        - 20
                        - 25
                        - 30
                        - 35
                        - 40
                        - 45
                        - 50
                        - 55
                        - 60
                    description: The call distribution settings that control how incoming calls are routed to the user's devices.
                  call_handling_setting:
                    type: object
                    properties:
                      call_not_answer_action:
                        type: string
                        description: 'The action to take when a call is not answered:

                          * `forward_to_voicemail` — Forward to voicemail.

                          * `forward_to_extension` — Forward to an extension.

                          * `forward_to_external_contact` — Forward to an external contact.

                          * `play_message_then_disconnect` — Play a message and then disconnect.

                          * `disconnect` — Disconnect.'
                        example: forward_to_voicemail
                        enum:
                        - forward_to_voicemail
                        - forward_to_extension
                        - forward_to_external_contact
                        - play_message_then_disconnect
                        - disconnect
                      call_not_answer_action_setting:
                        description: The call handling setting based on the `call_not_answer_action` value. Only present when `call_not_answer_action` is not `disconnect`.
                        oneOf:
                        - title: Forward to Voicemail
                          type: object
                          properties:
                            allow_callers_check_voicemail:
                              type: boolean
                              description: Whether to allow callers to check voicemail.
                              example: false
                            connect_to_operator:
                              type: boolean
                              description: Whether to allow callers to reach an operator.
                              example: false
                            operator_extension:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: The operator's extension ID.
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The operator's extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The operator's display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The operator's extension type.
                                  example: user
                                  enum:
                                  - user
                                  - callQueue
                                  - autoReceptionist
                                  - commonArea
                                  - sharedLineGroup
                                  - zoomRoom
                                  - ciscoRoom/PolycomRoom
                              description: The operator's extension information. Only present when `connect_to_operator` is `true`.
                            voicemail_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: voicemail-greeting.mp3
                              description: The voicemail greeting prompt.
                            leave_voicemail_instruction:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
                                  description: The audio prompt file name.
                                  example: leave-voicemail-instruction.mp3
                              description: The leave voicemail instruction prompt. Only returned when `connect_to_operator` or `allow_callers_check_voicemail` is `true`.
                            play_callee_voicemail_greeting:
                              type: boolean
                              description: Whether to play the callee's voicemail greeting when the caller reaches the end of the forwarding sequence. Only returned when `connect_to_operator` is `true`.
                              example: false
                          description: Only returned when `call_not_answer_action` is `forward_to_voicemail`.
                        - title: Forward to Another Extension
                          type: object
                          properties:
                            forward_to_extension:
                              type: object
                              properties:
                                extension_id:
                                  type: string
                                  description: The extension ID.
                                  example: jN9mb38lQTaMgxUq3Nd6ow
                                extension_number:
                                  type: integer
                                  description: The extension number.
                                  format: int64
                                  example: 101014
                                extension_name:
                                  type: string
                                  description: The extension display name.
                                  example: user A
                                extension_type:
                                  type: string
                                  description: The extension type.
                                  example: user
                                  enum:
                                  - user
                                  - callQueue
                                  - autoReceptionist
                                  - commonArea
                                  - sharedLineGroup
                                  - zoomRoom
                                  - ciscoRoom/PolycomRoom
                              description: The extension to forward calls to.
                            play_callee_voicemail_greeting:
                              type: boolean
                              description: Whether to play the callee's voicemail greeting when the caller reaches the end of the forwarding sequence.
                              example: false
                          description: Only returned when `call_not_answer_action` is `forward_to_extension`.
                        - title: Forward to External Contact
                          type: object
                          properties:
                            forward_to_external_contact:
                              type: object
                              properties:
                                external_contact_id:
                                  type: string
                                  description: The external contact's ID.
                                  example: OJGi5xOFQPmrJbKg68-iWg
                                external_contact_name:
                                  type: string
                                  description: The external contact's name.
                                  example: Johnson
                                external_contact_email:
                                  type: string
                                  description: The external contact's email address.
                                  example: example@example.com
                                phone_numbers:
                                  type: array
                                  description: The external contact's phone numbers.
                                  items:
                                    type: string
                                    example: '+12058945656'
                              description: The external contact to forward calls to.
                          description: Only returned when `call_not_answer_action` is `forward_to_external_contact`.
                        - title: Play a Message then Disconnect
                          type: object
                          properties:
                            message_greeting:
                              type: object
                              properties:
                                audio_id:
                                  type: string
                                  description: The audio prompt file ID.
                                  example: yCT14TwySDGVUypVlKNEyA
                                audio_name:
                                  type: string
[...]
